<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.PaymentMapper">

	<sql id="paymentColumns">
	    ROW_INDEX,
		LGD_RESPCODE,
		LGD_RESPMSG,
		LGD_MID,
		LGD_OID,
		LGD_AMOUNT,
		LGD_TID,
		LGD_PAYTYPE,
		LGD_PAYDATE,
		LGD_FINANCECODE,
		LGD_FINANCENAME,
		LGD_BUYER,
		LGD_BUYERID,
		LGD_BUYERMAIL,
		LGD_PRODUCTINFO,
		LGD_CARDNUM,
		LGD_CARDINSTALLMONTH,
		LGD_CARDNOINTYN,
		LGD_FINANCEAUTHNUM,
		INSERT_DATE,
		LGD_STATUS_CODE,
		LGD_STATUS,
		LGD_IP,
		LGD_CANCEL_DATE,
		CANCEL_DATE,
		CANCEL_REQ_DATE,
		LGD_MD5
	</sql>

	<insert id="savePayment" parameterType="com.vegemil.domain.PaymentDTO" useGeneratedKeys="true" keyProperty="memNo">
		INSERT INTO m_payment (
		    LGD_RESPCODE,
			LGD_RESPMSG,
			LGD_MID,
			LGD_OID,
			LGD_AMOUNT,
			LGD_TID,
			LGD_PAYTYPE,
			LGD_PAYDATE,
			LGD_FINANCECODE,
			LGD_FINANCENAME,
			LGD_BUYER,
			LGD_BUYERID,
			LGD_BUYERMAIL,
			LGD_PRODUCTINFO,
			LGD_CARDNUM,
			LGD_CARDINSTALLMONTH,
			LGD_CARDNOINTYN,
			LGD_FINANCEAUTHNUM,
			INSERT_DATE,
			LGD_STATUS_CODE,
			LGD_STATUS,
			LGD_IP,
			LGD_CANCEL_DATE,
			CANCEL_DATE,
			CANCEL_REQ_DATE,
			LGD_MD5
		) VALUES (
		    #{rowIndex},
			#{lgdRespcode},
			#{lgdRespmsg},
			#{lgdMid},
			#{lgdOid},
			#{Double lgdAmount},
			#{lgdTid},
			#{lgdPaytype},
			#{lgdPaydate},
			#{lgdFinancecode},
			#{lgdFinancename},
			#{lgdBuyer},
			#{lgdBuyerid},
			#{lgdBuyermail},
			#{lgdProductinfo},
			#{lgdCardnum},
			#{lgdCardintallmonth},
			#{lgdCardnointyn},
			#{lgdFinanceauthnum},
			NOW(),
			#{lgdStatusCode},
			#{lgdStatus},
			#{lgdIp},
			#{lgdCancelDate},
			#{cancelDate},
			#{cancelReqDate},
			#{lgdMd5}
		)
		<selectKey keyProperty="mIdx" keyColumn="m_idx" resultType="long" >
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="getPayment" parameterType="String" resultType="com.vegemil.domain.PaymentDTO">
		SELECT
			<include refid="paymentColumns" />
		FROM
			m_payment
		WHERE
			m_is_idle != '1'
		AND
			ROW_INDEX = #{rowIndex}
	</select>
	
	<select id="selectPaymentList" parameterType="com.vegemil.domain.PaymentDTO" resultType="com.vegemil.domain.PaymentDTO">
		SELECT
			<include refid="paymentColumns" />
		FROM
			m_payment
		WHERE
		<include refid="CommonMapper.search" />
		ORDER BY
			m_joindate
		<include refid="CommonMapper.paging" />
	</select>
	
	<select id="selectPaymentCount" parameterType="long" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_payment
		WHERE
			ROW_INDEX = #{rowIndex}
	</select>

	<select id="selectPaymentTotalCount" parameterType="com.vegemil.domain.PaymentDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_payment
		WHERE
		<include refid="CommonMapper.search" />
	</select>

</mapper>