<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="en/fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="en/fragments/mainHeaderen :: headerFragmenten"></th:block>
<!-- ================================ // Header ================================ -->

<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<!-- 2023-11-09 -->
	<div class="content100 ">
	   <div class="subTopVS h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Company</p>
				<p class="white f45 fw600">Core Value</p>
			</div>
		</div>
	</div>
	<!-- //2023-11-09 -->
		<div class="subMenu">
			<p class="btnSubLeft"><a href="/en/company/profile"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/en/company/greetings"><span>Greetings from the CEO</span></a></li>
				<li class="f18 fw500"><a href="/en/company/profile"><span>Company Profile</span></a></li>
				<li class="f18 fw500 active"><a href="/en/company/valueSys"><span>Core Value</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
		<p class="f14 fw400 black mt70 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear">
    </div>
	<!-- 2023-11-09 -->
    <div class="contant100 bg_vs02 h360">
        <div class="contant1460 " >
			<div class="row">
				<div>
					<div class="vs-m-centetH">
						<p class="f20 fw500  f_sf vs_color text-left ">
							Dr. Chung’s Food Co., Ltd. is a company that contributes<br>
							to human health culture based on the founder's spirit of respect for life,<br>
							“Dedicate to human health culture.".
						</p>
						<!-- 2023-11-14 -->
						<p class="f23 fw500 mt30 f_sf vs_color text-left ">We, Dr. Chung’s Food, promise to become a global food company <br>that aims for a healthy future for humanity.</p>
						<!-- //2023-11-14 -->
					</div>
				</div>
				<div class="col-md-6 " >
					<div class="vs-copy ">
						<!--
						<div class="vs-m-centetH">
							<p class="f23 fw500  f_sf vs_color text-left mt80">
								㈜정식품은 “인류건강문화에 이 몸 바치고저” 라는<br>
								창업주의 생명존중정신을 바탕으로<br>
								인류건강문화에 기여하는 기업입니다.
							</p>
							<p class="f23 fw500 mt30 f_sf vs_color text-left ">앞으로도 ㈜정식품은 인류의 건강한 미래를 지향하는<br class="mView">Global 종합식품기업으로 정진해 <br class="mView">나아갈 것을 약속합니다.</p>
						</div>
						-->
					</div>
				</div>
				 <div class="col-md-6">
	
				</div>
			</div>
               
           
        </div>
		<br class="clear">
	</div><!-- //contant100 -->
	<div class="contant100 infoCenter vs_wrap" >

		<div class="row">
			<div class="col-md-12 center mt100 ">
				<p class="vs_title gold fw500 f38 f_pp mt50m">Mission</p>
				<p class="f45 fw600 mt30 lh120">Pursuit of a healthy future for humanity</p>
				<p class="f23 mt30">We contribute to spreading the value of respect for life and a balanced health culture
					 <br class="wView">by providing honest food that protects human health and the global environment</p>
			</div>
			
		</div>
			
    </div>
	<div class="contant100 vs_wrap" >
		<div class="row">
			<div class="col-md-12 center ">
				<p class="vs_title gold fw500 f38 f_pp mt100">Vision</p>
			</div>
		</div>
		<div class="row  mt30m">
			<div class="col-md-12 center bg_earth">
				<div class="earth-txt h730 mt50">
					<div class="centerH">
						<p class="f45 fw600 mt30 black lh120">To become a global food company by 2030</p>
						<p class="f23 mt30 black">We will become a global food company<br class="wView">that seeks for a healthy future for people all over the world by 2030</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contant100 bg_Gray2 vs_wrap" >
		<div class="row">
			<div class="col-md-12 center mt100 pb100">
				<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/en_vs_main.png" alt=""/></p>

				<ul class="vs_copy_box mt100">
					<li>
						<p class="white f27 fw500">Positive Interrelationship<br>(Authenticity)</p>
						<div class="gray f22 fw400">
							We aim to become a talented people who are sincere in relationships with others with a sense of calling that can gain the trust of internal and external customers by deeply empathizing with the corporate philosophy.
						</div>
					</li>
					<li>
						<p class="white f27 fw500">Top-notch<br>(Aim for the best)</p>
						<div class="gray f22 fw400">
							Not only do we have expertise in response to rapid changes in the business environment, but we also aim for top- notch people who can find optimal solutions in a difficult situation. <br><BR>
						</div>
					</li>
					<li>
						<p class="white f27 fw500">Innovative challenge<br>(Development/Growth)</p>
						<div class="gray f22 fw400"> 
							We look for people who put their effort in the self development without complacency by persistently making innovative attempts, considering the uncertainty of various situations. <br><BR>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="contant100 " >
		<div class="row">
			<div class="col-md-12 center  mt100 ">
				<p class="vs_title gold fw500 f38 ">Corporate Philosophy</p><br>
			</div>
			<div class="col-md-12 center  pb100">
				<p class="mt50 vs_c_title f38">Dedicate to human health culture</p>
			</div>
		</div>
	</div>

	<!-- //2023-11-09 -->
</div>
<!-- ================================ 
		// Content
================================ -->

<!-- ================================ Footer ================================ -->
<footer th:replace="en/fragments/mainFooteren :: footerFragmenten"></footer>
<!-- ================================ // Footer ================================ -->

<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType03").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->

</body>
</html>