<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="parallax one page" />
    <meta name="keyword" content="진한 콩국물, 진한 콩국물 검은콩, 정식품, 베지밀, 요리, 레시피, 950ml, 콩국수, 콩국, 콩물, 멸균팩, 정식품 오리지날, 식재료" />
    <meta property="og:type" content="website"> 
	<meta property="og:title" content="정식품 진한 콩국물"> 
	<meta property="og:url" content="https://www.vegemil.co.kr/beanSoupRecipe/index"> 
	<meta property="og:image" content="https://image.edaymall.com/images/dcf/vegemil/img/common/og.png" />
	<meta property="og:description" content="깨끗하게 손질하여 부드럽게 갈아낸, 정식품이 만든 진한 콩국물이에요. 입맛이 살아나는 콩국물을 찾고 계셨다면 정식품 진한 콩국물로 요리해보세요. 사계절 어느때나 편하고 맛있게 식물성 영양을 더할 수 있어요."/> 
     <title>정식품 진한 콩국물</title>
     <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/><!-- 파비콘 추가 -->
    <!-- Font Google -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"></noscript>

    <link rel="shortcut icon" href="https://image.edaymall.com/images/dcf/vegemil/img/beanSoupRecipe/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://image.edaymall.com/images/dcf/vegemil/img/beanSoupRecipe/favicon.ico" type="image/x-icon" />

    <link rel="preload" href="https://image.edaymall.com/images/dcf/vegemil/img/beanSoupRecipe/circle-dotted.png" type="image" />

    <!-- custom styles (optional) -->
    <link th:href="@{/beansoupRecipe/css/plugins.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/beansoupRecipe/css/style.css}">
    <script th:src="@{/beansoupRecipe/js/jquery.1.11.1.min.js}"></script>
    <script>
        //익스플로러 접근 제한
        document.addEventListener("DOMContentLoaded", function(){
            var agent = navigator.userAgent.toLowerCase();
            if(agent.indexOf('trident')>-1){
	            location.href= "/beanSoupRecipe/ie";
	            return;
            }
        });
    </script>
    <!-- Google tag (gtag.js) 구버전-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141294099-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-141294099-1');
	</script>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1YK5SP1WL"></script> 
	<script> 
	    window.dataLayer = window.dataLayer || []; 
	    function gtag(){dataLayer.push(arguments);} 
	    gtag('js', new Date()); gtag('config', 'G-S1YK5SP1WL'); 
	</script>
	<!-- // Google tag (gtag.js)-->
	
	<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "Person",
     "name": "정식품",
     "url": "https://www.vegemil.co.kr/",
     "sameAs": [
            "https://www.facebook.com/vegemilgood",
            "https://www.instagram.com/vegemil.official/",
            "https://www.youtube.com/user/vegemilgood/",
            "https://blog.naver.com/vegemilstory",
            "https://smartstore.naver.com/dcfwithedaymall"
     ]
    }
    </script>
    
</head>
</html>
