<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="description" content="정식품 간단요리사에서 빠른요리 정보와 유용한 컨텐츠를 만나 보세요">
<meta name="Keywords" content="간단요리사, 요리용 육수, 간단해지는 요리, 고민없이, 물없이, 실패없이, 시원한 채소육수, 담백한 채소육수, 냉요리용" />
<meta property="og:title" content="정식품 간단요리사"> 
<meta property="og:url" content="https://www.vegemil.co.kr:10001/Main/beanSoup/"> 
<meta property="og:image" content="https://www.vegemil.co.kr:10001/Main/beanSoup/img/og.jpg" /> 
<meta property="og:description" content="간단요리사는 소비자의 건강을 최우선으로 하는 정식품의 새로운 브랜드입니다. 누구나 간단요리사와 함께 간단하고 맛있는 요리를 경험해 보세요."/> 
<meta name="author" content="OSSE">
<title>정식품 간단요리사</title>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/reset.css" rel="stylesheet">
<!-- 추천렛피 -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<!-- 리뷰슬라이드 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/review.css" rel="stylesheet">
<!-- //리뷰슬라이드 -->
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.1.11.1.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.touchSwipe.1.6.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/prrple.slider.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/design.js"></script>



<!-- Bootstrap core CSS -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/style.css" rel="stylesheet">


</head>
<body>
<!-- ================================ 
		Header
================================ -->
<header>
<!-- 모바일 메뉴 -->

<!-- //모바일 메뉴 -->
</header>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'header' ).load( './mainHeader.html' );
  } );
</script>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->
<!-- main Visual -->
<div class="container100 clear" >
	<div class="row bg_event h500">
		<div class="hCenter03">
			<p class="f50 white fw600">생생후기</p>
		</div>
		<div class="container">
			<ul class="board_tab">
				<li><a href="video.html">영상</a></li>
				<li><a href="news.html">새소식</a></li>
				<li class="active"><a href="event.html">생생후기</a></li>
			</ul>
		</div>
	</div>
</div>  
<!-- // main Visual -->




<div class="container pb100">
	<div class="row">
		<div class="col-lg-12 mt100 mb50 boardline">
			<p class="f38 fw600 mt50m mCenter">생생후기</p>
		</div>
		
		
		<div class="round col-lg-12 dev" style=" background:#301f10; color:yellow; padding:10px; margin-bottom:50px">
			<p>[개발] 관리자에서 사진,기본텍스트, 날짜, ID를 입력할 수있게 해주세요~</p>
		</div>
		<!-- 생생후기 리뷰 2022-09-30 -->
		
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220801_132/1659321899083YwCXv_JPEG/1659321864486.jpg" /></li>
						<li>
							<p class="f14 gray4 pd2 ">간단요리사 시원한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">요리할때 너무 편해요 재구매했어요 요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd1 ">간단요리사 담백한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">글자는 51자까지 가능합니다. 글자는 51자까지 가능합니다.글자는 51자까지 가능합니다.</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review" >
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd3 ">간단요리사 구수한 사골육수</p>
							<p class="f16 over-hidden mt10 mb10">한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220801_132/1659321899083YwCXv_JPEG/1659321864486.jpg" /></li>
						<li>
							<p class="f14 gray4 pd2 ">간단요리사 시원한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">요리할때 너무 편해요 재구매했어요 요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd1 ">간단요리사 담백한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">글자는 51자까지 가능합니다. 글자는 51자까지 가능합니다.글자는 51자까지 가능합니다.</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review" >
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd3 ">간단요리사 구수한 사골육수</p>
							<p class="f16 over-hidden mt10 mb10">한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>					
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220801_132/1659321899083YwCXv_JPEG/1659321864486.jpg" /></li>
						<li>
							<p class="f14 gray4 pd2 ">간단요리사 시원한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">요리할때 너무 편해요 재구매했어요 요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요요리할때 너무 편해요 재구매했어요</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review">
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd1 ">간단요리사 담백한 채소육수</p>
							<p class="f16 over-hidden mt10 mb10">글자는 51자까지 가능합니다. 글자는 51자까지 가능합니다.글자는 51자까지 가능합니다.</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="thumbBox">
				<div class="round-review" >
					<ul>
						<li class="review-img"><img src="https://phinf.pstatic.net/checkout.phinf/20220920_208/1663653382984sqhty_JPEG/image.jpg" /></li>
						<li>
							<p class="f14 gray4 pd3 ">간단요리사 구수한 사골육수</p>
							<p class="f16 over-hidden mt10 mb10">한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열한둘셋넷다여일여아열</p>
							<span class="f14 gray4 ">2022.04.31</span><span class="f14 gray4 ml20">jade****</span>
						</li>
					</ul>					
				</div>
			</div>
		</div>
		
		
	</div><!-- //row -->

	<!-- paging -->
	<div class="paging3">
		<ol>
			<li class="pre"><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/page_left.png" alt="이전" /></li>
			<li><a href="#">1</a></li>
			<li><strong>2</strong></li><!-- 현재페이지 -->
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li class="next"><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/page_right.png" alt="다음" /></li>
		</ol>
	</div>
	<!-- paging //-->




	
</div><!-- // container -->

	




<!-- ================================ 
		// Content
================================ -->


<!-- ================================ 
		Footer
================================ -->
<footer class="container100" >
	
</footer>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'footer' ).load( './mainFooter.html' );
  } );
</script>
<!-- ================================ 
		// Footer
================================ -->


</body>
</html>