<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="description" content="Gandan Yorisa is a Korean broth brand. It takes quite a long time and needs many ingredients to make broth, but with Gandan Yorisa, all you need to do is simply pour with other ingredients. You don't need broth
ingredients, time, or water!">
<meta name="Keywords" content="Vegetable Broth for Hot dish, Vegetable Broth for cold dish, Cow bone broth" />
<meta property="og:title" content="Gandan Yorisa"> 
<meta property="og:url" content="https://www.vegemil.co.kr/beanSoup/"> 
<meta property="og:image" content="https://image.edaymall.com/images/mail/news/dcf/c/en/img/bigBanner01.jpg" /> 
<meta property="og:description" content="Gandan Yorisa is a Korean broth brand. It takes quite a long time and needs many ingredients to make broth, but with Gandan Yorisa, all you need to do is simply pour with other ingredients. You don't need broth
ingredients, time, or water!"/> 
<meta name="author" content="OSSE">
<title>Gandan Yolisa</title>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/reset.css" rel="stylesheet">
<!-- 추천렛피 -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<!-- 리뷰슬라이드 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/review.css" rel="stylesheet">
<!-- //리뷰슬라이드 -->
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.1.11.1.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.touchSwipe.1.6.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/prrple.slider.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/design.js"></script>



<!-- Bootstrap core CSS -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/style.css" rel="stylesheet">


</head>
<body>
<!-- ================================ 
		Header
================================ -->
<header>
<!-- 모바일 메뉴 -->

<!-- //모바일 메뉴 -->
</header>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'header' ).load( './mainHeader.html' );
  } );
</script>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->

<!-- main Visual -->
<div class="container100 clear" >
	<div class="row h500">
		<div class="col-lg-12 bg_list">
			<div class="hCenter02">
				<!-- subSearch -->
				<div class="mainSearch w600 ">
				  <p class="f50  white tcenter">Simple Recipe</p>
					<!--
				  <div class="search-container clear mt30">
					<form>
					  <input class="in-search" type="text" placeholder="찾으시는 레시피를 검색해보세요." name="search">
					  <button type="submit"><i class="fa fa-search"></i></button>
					</form> <div class="clear"></div>
				  </div>
				  -->
				  <div class="clear"></div>
				  <ul class="mt20 key2">
					<li>#Vegetable Broth for Hot dish</li>
					<li>#Vegetable Broth for cold dish</li>
					<li>#Cow bone broth</li>
				  </ul>
				</div>
				<!-- //subSearch -->
			</div>
		</div>
	</div>
</div>  
<!-- // main Visual -->





<div class="container mt80">
	<div class="row pb100">
		
		

		<div class="col-lg-12">
			<div class="messonry-button text-center pb30 ">
				<button data-filter="*" class="is-checked ico_pc_01"><span class="filter-text"></span><span class="filter-counter">21</span>
				<p class="f18 f500 mt10">All</p></button>
				<button data-filter=".recType01" class="ico_pc_02"><span class="filter-text"></span> <span class="filter-counter">12</span><p class="f18 f500 mt10">Everyday Cooking</p></button>
				<button data-filter=".recType02" class="ico_pc_03"><span class="filter-text"></span> <span class="filter-counter">6</span><p class="f18 f500 mt10">Special Main Dish</p></button>
				<button data-filter=".recType03" class="ico_pc_04"><span class="filter-text"></span> <span class="filter-counter">3</span><p class="f18 f500 mt10">Into the World</p></button>
			</div>

			
			<div class="listLine mt30m">
				<!--
				<div class="count"><p class="f16">검색결과 <span class="green">12건</span> 조회</p></div>
				<ul class="list-op">
					<li class="active"><a href="#">최신순</a></li>
					<li><a href="#">인기순</a></li>
				</ul>
				-->
			</div>
			
			

			<div class="portfolio-grid-metro4 mesonry-list">
				<div class="resizer"></div>



				<div class="portfolio portfolio_style--1 portfolio-25 recType03">

					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=z0rCyYsBOXA&t=1s">
							<!--pk:fileNo -->
							<div class="h220 round chef_21_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Spicy #Seafood #Noodle #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Nagasaki jjamppong</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=Kp11yhBEBIw">
							<!--pk:fileNo -->
							<div class="h220 round chef_20_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Deliciou #Hot pot #Cow bone broth</p>
								<p class="f22 fw600 mt10">Boiled Pork Slices Hot Pot</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=jR87uzbttN8"> 
							<!--pk:fileNo -->
							<div class="h220 round chef_19_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Simple and #Hearty #Cow bone broth</p>
								<p class="f22 fw600 mt10">Oxtail Seaweed Porridge</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType03">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=NLHY6o7HLlw">
							<!--pk:fileNo -->
							<div class="h220 round chef_18_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Continuously #Thought-provoking  #Cow bone broth</p>
								<p class="f22 fw600 mt10">Marathon</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=YigQznDZ16M">
							<!--pk:fileNo -->
							<div class="h220 round chef_17_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Delicious #Not spicy #Cow bone broth</p>
								<p class="f22 fw600 mt10">Ethmoid Tteokbokki</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=s1rY2a-eZEQ">
							<!--pk:fileNo -->
							<div class="h220 round chef_16_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#bountiful #one meal #Cow bone broth</p>
								<p class="f22 fw600 mt10">Budae Jjigae</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=l37C-ANGEhs">
							<!--pk:fileNo -->
							<div class="h220 round chef_15_big">
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Soft #Ethmoid Risotto #Cow bone broth</p>
								<p class="f22 fw600 mt10">Ethmoid Risotto</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=mEeWdbVBuEs">
							<!--pk:fileNo -->
							<div class="h220 round chef_14_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#new year #Cow bone broth</p>
								<p class="f22 fw600 mt10">Tteokguk</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=XPNcypdlYmU">
							<!--pk:fileNo -->
							<div class="h220 round chef_13_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Jeju food #savory #Noodles #Cow bone broth</p>
								<p class="f22 fw600 mt10">Meat Noodles</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=CfzWRJ8moGA">
							<!--pk:fileNo -->
							<div class="h220 round chef_10_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>

							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#my child #i make #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Baby food</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=brNQYIn_BkM">
							<!--pk:fileNo -->
							<div class="h220 round chef_03_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Spicy #Yukgaejang #easy #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Green Onion Yukgaejang</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=RDn_FAJKS1U">
							<!--pk:fileNo -->
							<div class="h220 round chef_01_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#thick broth #healthy food #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Galbitang</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=hxrJiXuuRaY">
							<!--pk:fileNo -->
							<div class="h220 round chef_06_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Dumpling #hearty meal #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Dumpling soup</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=UiOu_F9CvJ4">
							<!--pk:fileNo -->
							<div class="h220 round chef_09_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#very easy #mille feuille nabe #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">mille feuille nabe</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=bS1B0qHVjEg">
							<!--pk:fileNo -->
							<div class="h220 round chef_05_big">
								
									<ul class="labelBox">
										<li class="hot"><span>Hot dishes</span></li>
									</ul>
								
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#Tofu Mushroom Hotpot #Only for me #Vegetable Broth for Hot dish</p>
								<p class="f22 fw600 mt10">Tofu Mushroom Hotpot</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=HBovPVPDAJI">
							<!--pk:fileNo -->
							<div class="h220 round chef_04_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#coolly #Dongchimi Noodles #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Dongchimi Noodles</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=vIpjr_gPbfA">
							<!--pk:fileNo -->
							<div class="h220 round chef_02_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#broth only #Just add #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Cold noodles</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType03">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=7NvPNzdJ6F0">
							<!--pk:fileNo -->
							<div class="h220 round chef_11_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#myself  #restaurant #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Chinese Cold Noodles</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType02">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=SxbGamvrsjk">
							<!--pk:fileNo -->
							<div class="h220 round chef_08_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#simple #Mulhoe #sweet and sour #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Mulhoe</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=UG_kFJjSwII">
							<!--pk:fileNo -->
							<div class="h220 round chef_07_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#cool #acorn jelly #Chewy #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Acorn jelly</p>
							</div>
						</a>
					</div>
				</div>
			
				<div class="portfolio portfolio_style--1 portfolio-25 recType01">
					<div class="thumbBox" style="height:350px;">
						<a href="https://www.youtube.com/watch?v=ov83RM05SiA">
							<!--pk:fileNo -->
							<div class="h220 round chef_12_big">
								
								
									<ul class="labelBox">
										<li class="cool"><span>Cold dishes</span></li>
									</ul>
								
							</div>
							<div class="recipeTxt_white">
								<p class="f16 gray">#cold #delicacies #Vegetable Broth for cold dish</p>
								<p class="f22 fw600 mt10">Cold chicken noodle soup</p>
							</div>
						</a>
					</div>
				</div>




				
			</div>

			<!-- paging 
			<div class="paging3">
				<ol>
					<li class="pre"><img src="./img/page_left.png" alt="이전" /></li>
					<li><a href="#">1</a></li>
					<li><strong>2</strong></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="next"><img src="./img/page_right.png" alt="다음" /></li>
				</ol>
			</div>
			<!-- paging //-->



		</div>
	</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script  src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/script.js"></script>
<!-- //container -->




<!-- ================================ 
		// Content
================================ -->


<!-- ================================ 
		Footer
================================ -->
<footer class="container100" >
	<script src="https://www.vegemil.co.kr/beansoup/js/jquery.backTop.js"></script>
</footer>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'footer' ).load( './mainFooter.html' );
  } );
</script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/plugins.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/grid.js"></script>

<!-- ================================ 
		// Footer
================================ -->
</body>
</html>