



<div class="container" >
	<div class="row">
		<div class="col-lg-5 col-md-12 col-sm-12">
			<ul class="foot_ul">
				<li><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/logo_footer.gif" alt="정식품CI"/></li>
				<li>
					<p class="f20 fw600 gray3">Customer Consultation</p>
					<p class="f40 fw600 gray3">080-930-8888</p>
					<p class="f18 mt20 gray3"><a href="mailto:cs@vegemil.co.kr" target="_blank">cs@vegemil.co.kr</a><br>
					 <a href="mailto:webmaster@vegemil.co.kr" target="_blank">webmaster@vegemil.co.kr</a></p>
				</li>
			</ul>
		</div>
		<div class="col-lg-7 col-md-12 col-sm-12 f14 gray2 add">
			<p>124 Sandan-ro, Heungdeok-gu, Cheongju-si, Chungcheongbuk-do (zip code) 28446</p>
			<p>Tel : 02-3484-9300</p> 
			<p>2022 © Dr.CHUNG’S FOOD Co.LTD All right Reserved.</p> 
			<div class="btn_top" id="movetopbt"><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/btn_top.png" alt="top"/></div>
		</div>
	</div>
	
	
	<script>
		$(document).ready(function() {
			$('#movetopbt').backTop({});
		});
	</script>
	
</div>


