<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="description" content="Gandan Yorisa is a Korean broth brand. It takes quite a long time and needs many ingredients to make broth, but with Gandan Yorisa, all you need to do is simply pour with other ingredients. You don't need broth
ingredients, time, or water!">
<meta name="Keywords" content="Vegetable Broth for Hot dish, Vegetable Broth for cold dish, Cow bone broth" />
<meta property="og:title" content=""> 
<meta property="og:url" content="https://www.vegemil.co.kr/beanSoup/"> 
<meta property="og:image" content="https://www.vegemil.co.kr/Main/beanSoup/img/og.jpg" /> 
<meta property="og:description" content="Gandan Yorisa is a Korean broth brand. It takes quite a long time and needs many ingredients to make broth, but with Gandan Yorisa, all you need to do is simply pour with other ingredients. You don't need broth
ingredients, time, or water!"/> 
<meta name="author" content="OSSE">
<title>Gandan Yolisa</title>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/reset.css" rel="stylesheet">
<!-- 추천렛피 -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<!-- 리뷰슬라이드 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/review.css" rel="stylesheet">
<!-- //리뷰슬라이드 -->
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.1.11.1.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/jquery.touchSwipe.1.6.min.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/prrple.slider.js"></script>
<script src="https://image.edaymall.com/images/mail/news/dcf/c/en/common/js/design.js"></script>



<!-- Bootstrap core CSS -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="https://image.edaymall.com/images/mail/news/dcf/c/en/common/css/style.css" rel="stylesheet">


</head>
<body>
<!-- ================================ 
		Header
================================ -->
<header>
<!-- 모바일 메뉴 -->

<!-- //모바일 메뉴 -->
</header>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'header' ).load( './mainHeader.html' );
  } );
</script>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->

<!-- main Visual -->
<div class="container100 clear" >
	<div class="row bg_news h500">
		<div class="hCenter03">
			<p class="f50 white fw600">News</p>
		</div>
		<div class="container">
			<ul class="board_tab">
				<li><a href="video.html">Video</a></li>
				<li class="active"><a href="news.html">News</a></li>
			</ul>
		</div>
	</div>
</div>  
<!-- // main Visual -->




<div class="container pb100">
	<div class="row newsWrap">
		<div class="col-lg-12 mt100 mb50 boardline">
			<p class="f38 fw600 mt50m mCenter">News</p>
		</div>
		
		
		<div class="col-lg-4">
			<div class="thumbBox">
				<a href="https://www.facebook.com/vegemilgood/posts/5627455" target="_blank">
						
						<div>
							<div class="round">
								<p class='event_end'>end of event</p><p class='event_endBG'></p>
								<p class="img100"><img src="https://image.edaymall.com/images/vegemil/beansoup/news/이벤트.png" alt="뉴스이미지" /></p>
							</div>
						</div>
					<div class="recipeTxt_white">
						<p class="f16 gray" >2022-07-21</p>
						<p class="f22 fw600 mt10">[facebook] summer vacation event</p>
					</div>
				</a>
			</div>
		</div> 

		<div class="col-lg-4">
			<div class="thumbBox">
				<a href="https://www.facebook.com/vegemilgood/posts/5380914" target="_blank">
						
						<div>
							<div class="round">
								<p class='event_end'>end of event</p><p class='event_endBG'></p>
								<p class="img100"><img src="https://image.edaymall.com/images/vegemil/beansoup/news/채소육수-이벤트-001.png" alt="뉴스이미지" /></p>
							</div>
						</div>
					<div class="recipeTxt_white">
						<p class="f16 gray" >2022-04-26</p>
						<p class="f22 fw600 mt10">[facebook] Chaesoyugsu Release Celebration Event</p>
					</div>
				</a>
			</div>
		</div> 

		<div class="col-lg-4">
			<div class="thumbBox">
				<a href="https://www.instagram.com/p/CczGTgWlaP_/?utm_sourc" target="_blank">
						
						<div>
							<div class="round">
								<p class='event_end'>end of event</p><p class='event_endBG'></p>
								<p class="img100"><img src="https://image.edaymall.com/images/vegemil/beansoup/news/vegemil.official_279139583_300.jpg" alt="뉴스이미지" /></p>
							</div>
						</div>
					<div class="recipeTxt_white">
						<p class="f16 gray" >2022-04-26</p>
						<p class="f22 fw600 mt10">[instagram] Chaesoyugsu Release Celebration Event</p>
					</div>
				</a>
			</div>
		</div> 

		
	</div><!-- //row -->

	<!-- paging 
	<div class="paging3">
		<ol>
			<li class="pre"><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/page_left.png" alt="이전" /></li>
			<li><a href="#">1</a></li>
			<li><strong>2</strong></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li class="next"><img src="https://image.edaymall.com/images/mail/news/dcf/c/en/img/page_right.png" alt="다음" /></li>
		</ol>
	</div>
	<!-- paging //-->

</div><!-- // container -->

<!-- ================================ 
		// Content
================================ -->


<!-- ================================ 
		Footer
================================ -->
<footer class="container100" >
	<script src="https://www.vegemil.co.kr/beansoup/js/jquery.backTop.js"></script>
</footer>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'footer' ).load( './mainFooter.html' );
  } );
</script>
<!-- ================================ 
		// Footer
================================ -->


</body>
</html>