
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage">
			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row">
						<div class="col-md-12">
							<h3 class="center mt100-m">정식품 뉴스</h3>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<h1 class="center mt100-m2 type23-3">정식품, 균형영양식 ‘그린비아’ TV 광고 첫 공개</h1>
						</div>
					</div>
					<div class="row intxt grayLine2">
						<div class="col-md-12">
							<p class="img100 mt50-m">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q1_2025/01_03.jpg" alt="연구원 사진" />
							</p>
						</div>

						<div class="col-md-6">
							<p class="mt10-m">
								자사는 균형영양식 브랜드 ‘그린비아’의 TV 광고를 시작했다.<br>광고에는 배우 양미경, 유선, 임주환이 출연해 ‘건강 관리 하루 영양’이라는 슬로건과 함께 세 사람이 그린비아 케어 시리즈로 간편하게 아침을 챙기는 모습을 담았다.<br>유선과 임주환은 바쁜 아침에 손쉽게 균형 잡힌 영양을 보충할 수 있는 ‘그린비아 영양케어’를, 양미경은 당뇨 환자를 위한 ‘그린비아 당케어’를 통해 개인의 상황에 맞는 영양 솔루션의 중요성을 전달한다.

							</p>
						</div>
						<div class="col-md-6">
							<p class="mt10-m">
								‘그린비아 영양케어’는 식물성 중심의 영양 설계가 특징으로, 한 팩(200㎖)에 단백질, 지방, 탄수화물의 3대 영양소와 26종의 비타민과 미네랄을 담았다. ‘그린비아 당케어’는 저당, 고식이섬유, 저나트륨 설계로 식단 관리 및 혈당 조절이 필요한 당뇨 환자를 위한 제품이다. <br>자사 관계자는 “이번 TV 광고는 새로워진 그린비아의 브랜드 아이덴티티(BI)를 알리고, 일상 속 균형 잡힌 영양 솔루션을 제공하고자 기획했다”며 “앞으로도 소비자들이 손쉽게 선택할 수 있는 균형 영양식 브랜드로 자리매김할 것”이라고 말했다.

							</p>
						</div>
						<div class="col-md-12  center">
							<div class="mt50-m youtube">
								<iframe width="100%" src="https://www.youtube.com/embed/KSFMJJpkX-w?si=7HaCmRcYNP5wv6vT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<!--//row-->


					<div class="row ">
						<div class="col-md-12">
							<h1 class="center mt100-m2 type23-3">정식품, ‘그린비아’ BI 리뉴얼</h1>

							<p class="img100 mt50-m">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q1_2025/01_02.jpg" alt="유아식 베지밀 리뉴얼" />
							</p>
						</div>
					</div>
					<div class="row intxt grayLine2">
						<div class="col-md-6">
							<p class="mt30-m">
								‘베지밀’로 잘 알려진 정식품은 환자식 브랜드인 ‘그린비아’ 브랜드 아이덴티티(BI)를 리뉴얼하고, 사업 영역을 B2C까지 본격 확장한다. <br>그린비아는 1991년 출시한 국내 최초 특수의료용도식품 브랜드다. 환자용 전문 영양식을 시작으로 지난 30여 년 동안 한국인의 영양 특성을 고려한 다양한 균형 영양식을 선보였다. <br>새롭게 선보이는 BI는 그린비아의 비전인 전문성, 최초, 돌봄의 세 가지 키워드를 형상화했다. 신뢰감을 주는 짙은 그린 컬러는 오랜 연구와 전문적인 영양설계를 기반으로 한 그린비아의 전문성을 나타낸다.
						</div>
						<div class="col-md-6">
							<p class="mt30-m">
								포인트로 더한 깃발 모양은 국내 최초 특수의료용도식품 브랜드로서 그린비아의 정체성과 개발 혁신, 그리고 특수의료용도식품 시장에서의 높은 위상을 상징적으로 표현했다. <br>자사는 이번 그린비아 BI 리뉴얼에 맞춰 사업 영역도 B2B(기업 간 거래) 중심에서 B2C 영역으로 속도를 낼 방침이다. <br>자사 관계자는 “그린비아는 이번 BI 리뉴얼을 계기로 특수의료용도식품 브랜드를 넘어 남녀노소에게 영양 솔루션을 제공하는 브랜드로 새롭게 도약할 계획”이라고 말했다.

							</p>
						</div>
					</div>


					<div class="row ">
						<div class="col-md-12">
							<h1 class="center mt100-m2 type23-3">정식품, ‘사랑의 베지밀 온도계 캠페인’ 진행</h1>

							<p class="img100 mt50-m">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q1_2025/01_01.jpg" alt="베지밀 고단백 두유 검은콩" />
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="mt30-m">
								자사는 지난해 12월 7일부터 31일까지 소비자 참여형 나눔 활동 ‘사랑의 베지밀 온도계 캠페인’을 진행, 25,000℃ 달성에 성공했다. <br>2012년 시작된 사랑의 베지밀 온도계는 소비자와 함께 지역 사회의 소외 이웃에게 베지밀을 기부하는 사랑 나눔 프로젝트다. 자사는 2024년 사랑의 베지밀 온도계 캠페인 부제를 ‘10℃ 일반(십시일반)’으로 정했다. 여러 사람이 힘을 합하면 작은 힘으로도 큰 도움을 줄 수 있다는 십시일반의 뜻에, 한 사람당 온도계를 10℃ 이상 올릴 수 있다는 의미를 담았다.
							</p>
						</div>
						<div class="col-md-6">
							<p class="mt30-m">
								해당 캠페인은 정식품 공식 인스타그램, 페이스북, 블로그 등 사회관계망서비스(SNS) 채널을 통해 약 25일 동안 진행됐다. 캠페인 기간 동안 소비자들이 참여한 만큼 온도계가 상승하고, 상승한 온도계의 온도만큼 베지밀이 기부되는 방식이다. 소비자들의 참여로 모인 베지밀은 사회복지법인 대한사회복지회를 통해 소외 이웃에게 전달될 예정이다.<br>자사 관계자는 “13년째 이어오고 있는 사랑의 베지밀 온도계 캠페인은 소비자들과 함께 나눔의 가치를 전하기 위한 사회공헌활동”이라고 말했다.

							</p>
						</div>
					</div>




				</div>
			</div>
			<!-- //container -->
			<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>