<!doctype html><html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage" >
			<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row">
						<div class="col-md-12">
							<h3 class="center mt100-m">마음에서 마음으로</h3>
							<h1 class="center mt50-m">부모님께 드린 선물, 베지밀 에이스 저당 두유</h1>
							<div class="mt100-m wsBox">
								<div class="goldBox">
									<p class="type25-1 center">경기도 성남시 김민정님</p>
									<p class="mt50-m mb40">
									얼마 전 주말에 친정에 다녀왔다. 예전에는 내가 늘 부모님께 챙김을 받았는데, 이제는 부모님 건강을 내가 챙겨야 할 때가 되었음을 실감했다. 식탁에 앉으신 아버지께서 “요즘은 밥맛이 예전 같지 않다”라며 웃으셨는데, 마음이 짠했다. 숟가락이 예전만큼 오르내리지 않는 모습에서 나이의 무게가 고스란히 느껴졌다.<br><br>
									식사 후 간식은 ‘베지밀 에이스 저당 두유’로 정했다. 아버지가 평소 당분을 조심하시기에, 부담 없이 드실 수 있는 간식을 찾다 고른 것이었다. 단맛은 줄여 부담이 적은 두유라 부모님께 딱 맞을 거라 생각했다. 한 모금 드시더니 속이 편하다며 금세 얼굴에 웃음이 번졌다. 어머니도 곁에서 “이건 나도 마실 수 있겠다”라며 잔잔히 웃으셨다.<br><br> 
									그 후로는 친정에 갈 때마다 두유를 한 상자씩 챙긴다. 아침에는 식사 대신 드시기도 하고, 저녁에 약을 드시기 전 간단히 곁들이시기도 하신다고 했다. 산책을 다녀온 뒤 시원하게 한 병을 드시며 “운동 후에는 이게 제일”이라고 말씀하실 때도 있다. 어떤 날은 어머니가 두유를 컵에 나누어 아버지와 함께 드시는 모습을 보며, 두유 한 잔이 두 분의 작은 티타임이 되고 있다는 사실에 괜히 흐뭇했다. 내가 부모님께 무언가를 권해드릴 날이 올 거라 상상도 못 했는데, 어색하기도 하고 뭉클하기도 한다.<br><br>
									베지밀 두유. 부모님께 드린 작은 선물이었지만, 건강을 지켜주는 든든한 동반자가 됐다. 무엇보다 두 분이 두유 한 잔을 나누며 환하게 웃으시는 모습을 바라보는 것만으로도 내 마음이 따뜻해진다. 앞으로도 베지밀 두유가 부모님 일상을 더욱 건강하고 든든하게 지켜주리라 믿는다.
									</p>
								</div>
							 </div>
						</div>											
					</div><!--//row-->
					<div class="row mt100-m">
						<div class="col-md-2">
							<p class="type19 comment " >
								<img  src="https://image.edaymall.com/images/dcf/webzine/common/ico_comment_2.gif" alt="comment" />
							<p>												
						</div>
						<div class="col-md-10">
							<p class="type21-2">
								&lt;마음에서 마음으로&gt;는 정식품을 사랑하는 여러분들이 만들어가는 페이지입니다. 정식품 제품에 얽힌 재미있고 감동적인 사연을 들려주세요. 
								채택되신 분께는 상품권 5만원권을 선물로 드립니다. 정식품 가족 여러분의 많은 참여 바랍니다.<br>
								보내실 곳 ehyang@vegemil.co.kr (사연을 보내시는 분의 성명, 주소, 전화번호도 꼭 기재해주세요!)
							<p>												
						</div>
					</div><!--//row-->
				</div>
			</div><!-- //container -->
		<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->

		</div><!-- //wrap-inner5 -->
	</section>
</div>

</html>