<!doctype html><html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage">
			<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row intxt">
						<div class="col-md-12">
							<h3 class="center mt100-m">아는 만큼 보이는 행복 육아</h3>
							<h1 class="center mt50 relative">따돌림 당하는 아이, 어떻게 키워야 하나?</h1>
							<!-- <h2 class="center mt20">글_손석한(연세신경정신과 원장)</h1> -->
						</div>											
					</div><!--//row-->

					<div class="row intxt grayLine2">
						<div class="col-md-12 center">
							<p class="mt60-m">
								학교에서 발생하는 따돌림은 부모에게 큰 걱정거리다. 집단 따돌림, 속칭 ‘왕따’의 규모가 클수록 아이가 입는 상처와 정신적 피해는 더 깊어진다. 이러한 현상은 학교뿐 아니라 유치원이나 어린이집 같은 더 어린 또래 집단에서도 나타나기 때문에 사회적으로도 우려스럽다.집단 따돌림은 특정인을 소외시키고 반복적으로 인격적 무시나 언어·신체적 괴롭힘을 가하는 행위를 말한다. 우리나라만의 문제가 아니며, 서양에서는 ‘school bullying’, 일본에서는 ‘이지메’라는 용어로 불린다.
							</p>
							<p class="img100 mt20-m">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_01.jpg" alt="아이" />
							</p>
							<p class="mt20-m">
								문제는 따돌림을 경험한 아이가 대인관계 자신감을 잃고, 주변 사람들에 대한 신뢰 형성에 어려움을 겪으며, 또다시 따돌림을 당할 수 있다는 불안감을 안고 살아가게 된다는 점이다. 이러한 불안감은 만성적으로 이어지며 잦은 복통, 두통, 근육통, 소화기계 장애 등 다양한 신체 증상을 불러오기도 한다. 그리고 대인관계의 폭이 더욱 좁아지게 되고, 스스로 외부와 경계선을 긋고 더욱 고립적인 생활을 하거나 인터넷이나 게임에 몰입하는 등 비(非)사회화되는 방향으로 발전한다. 점점 다른 사람들과의 교류는 더욱 줄어들게 되고, 그 결과 사회적 관계를 형성하는 능력이 더욱 감퇴하게 되는 악순환의 고리로 빠져든다. 심한 경우 피해의식이나 피해망상으로까지 번지는 경우도 있다. 
							</p>
						</div>
					</div><!--//row-->

					<div class="row">
						<div class="col-md-12 mt100-m">
							<p class="center type17"><span class="fw500">따돌림 당하는 아이의 특성과 대처 방법</span></p>
						</div>
					</div>

					<div class="row intxt">
						<div class="col-md-12 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">첫째,</span> 주변으로부터 고립된 아이</span><br>
							고립은 따돌림을 당하는 원인일 수도 있고, 따돌림을 당한 결과일 수도 있다. 아이는 친구가 별로 없고, 대화를 잘 나누지 않으며, 공동의 관심사나 활동에 참여하지 않는다.<br>
							<span class="type42-4 mt10-m">대처 방법</span><br>
							부모는 어떻게 해줘야 할까? 먼저 친구들과 어울릴 기회를 자주 만들어 사회적 대화나 공동 활동의 경험을 하게끔 한다. 이처럼 아이가 혼자 있을 때보다 다른 사람들과 같이 있는 것을 더욱 친숙하게 여기거나 즐거움을 느끼게 되는 경험이 중요하다. 
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_02.jpg" alt="아이" />
							</p>	
						</div>
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">둘째,</span>산만하고 충동적인 아이</span><br>
							아이의 행동이 부산하고 주의가 산만하다. 동시에 충동적이어서 친구들에게 호감을 주지 못하고, 오히려 미움받을 만한 행동을 자주 보인다.<br>
							<span class="type42-4 mt10-m">대처 방법</span><br>
							부모는 아이에게 생각을 먼저 하고 말·행동을 하도록 지도해야 한다. 여러 명의 친구가 놀 때 곧바로 끼어들지 말고, 옆에서 충분한 시간 동안 관찰을 한 뒤 친구들에게 요청하고 놀이에 참여하는 과정을 훈련하는 것이 좋다.
							</p>
						</div>
					</div>

					<div class="row intxt">
						<div class="col-md-12 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">셋째,</span> 특이한 외모·행동 특성이 있는 아이</span><br>
							이런 아이들은 또래 아이들의 주목을 받게 되고, 동시에 놀림의 대상이 된다. 안타깝지만 신체적 장애나 핸디캡을 가진 경우도 여기에 해당된다.<br>
							<span class="type42-4 mt10-m">대처 방법</span><br>
							부모는 아이가 스스로 자아 존중감을 잃지 않도록 외모에 대한 민감성을 줄여준다. 그렇다고 외모 자체를 부인해서는 안 된다. 비록 특이한 외모나 행동 특성을 갖고 있더라도 그것은 너의 일부분일 뿐, 다른 부분들이 더 많음을 알려준다. 또한 혹시 친구들이 놀릴 수도 있다는 사실을 예상하게끔 한 다음에 무시하기, 선생님이나 부모님에게 즉각적으로 알리기, 친구들에게 나를 놀리지 말 것을 직접 말로 전달하기, 불쾌하거나 속상한 감정을 말로써 표현하기 등을 훈련한다. 
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">넷째,</span>신경질적이고 공격적인 아이</span><br>
							대수롭지 않게 넘겨 버릴 수 있는 주변의 사소한 자극에도 아이가 예민하게 반응하면 결국 친구들로부터 집단적 공격을 받게 될 수 있다. <br>
							<span class="type42-4 mt10-m">대처 방법</span><br>
							가장 필요한 것은 폭력적 언행의 방지다. 부모는 아이에게 어떠한 경우에도 남을 때리는 것은 절대로 안 된다고 가르쳐야 한다. 아이가 친구를 때리는 즉시 단호하게 안 된다고 훈육하고, 네가 남을 때리면 남이 너를 때리는 빌미가 될 수 있다는 것을 설명한다. 동시에 예·체능 활동 등을 통해 공격성을 긍정적으로 해소할 기회를 주는 것이 효과적이다.
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_03.jpg" alt="아이" />
							</p>	
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_04.jpg" alt="아이" />
							</p>	
						</div>
					</div>
					<div class="row intxt grayLine2">
						<div class="col-md-12 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">다섯째,</span> 자기주장이 약하고 유머가 부족한 아이</span><br>
							이러한 아이들은 친구들의 장난에 가만히 있거나 복종적으로 반응한다. 그렇기에 친구들은 이후에도 놀리거나 괴롭히는 행동을 계속하게 된다. 가장 필요한 것은 자기주장 능력을 키우는 것이다. 아이가 자신의 생각을 표현할 때 부모는 절대로 끊지 말고 끝까지 들어주는 것이 필요하다. 또한 아이가 감정을 말로 표현할 때 칭찬과 공감으로 지지하여 아이의 자신감을 키워주는 것이 중요하다.
							</p>
						</div>
					</div>
					
					<div class="row intxt grayLine2">
						<div class="col-md-12 mt80-m">
							<p class="center type17"><span class="fw500">따돌림으로 인한 정신적 후유증</span></p>
						</div>
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_05.jpg" alt="아이" />
							</p>	
						</div>
						<div class="col-md-6 mt40-m">
							<p>
							따돌림은 아이에게 심각한 정신적 스트레스로 작용해 불안, 우울, 대인기피, 사회적 위축, 등교 거부, 자해 행동, 주의 집중력 저하, 두통·복통 같은 신체 증상, 수면장애, 식욕 변화 등 다양한 증상을 일으킬 수 있다. 이런 경우에는 소아청소년 정신건강의학과 전문의를 찾아 적절한 진단과 치료를 받아야 한다.
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 mt80-m">
							<p class="center type17"><span class="fw500">부모가 갖춰야 할 예방적 양육 태도</span></p>
						</div>
						<div class="col-md-12 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2025/09_06.jpg" alt="아이" />
							</p>
						</div>
					</div>
					<div class="row intxt ">
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">첫째,</span> 또래 관계와 갈등 해결을 스스로 배우게 해야 한다</span><br>
							아이 스스로 또래 관계를 맺고 그 안에서 생기는 갈등을 해결하는 경험은 매우 중요하다. 부모가 매번 먼저 나서서 문제를 해결해 준다면, 아이는 성취감을 느끼지 못할 뿐 아니라 자신의 문제 해결 방식을 익히지 못하게 된다. 과잉 보호적인 태도는 결국 아이를 더 취약하게 만든다. 따라서 부모는 아이가 먼저 해결하는 과정을 지켜보다가 난관에 부딪혔을 때만 개입해야 한다. 부모의 개입이 이루어질 때도 항상 아이의 의견을 들으며 함께 논의해서 대처 방식을 결정하는 것이 바람직하다. 
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">둘째,</span> 자기주장 능력을 키울 수 있도록 귀 기울여야 한다</span><br>
							아이가 자신의 생각과 주장을 표현할 수 있으려면 부모가 먼저 들어주는 태도를 보여야 한다. 부모가 늘 일방적으로 지시하거나 아이의 말을 귀담아 듣지 않는다면, 아이의 자기주장 능력은 발달하지 않는다. 아이가 아직 미숙한 존재일지라도 자신의 생각을 말로 표현하는 과정을 통해 점차 발달하고 성숙해 간다. 부모가 진지하게 들어주고 존중할수록 아이는 자신감을 얻는다.
							</p>
						</div>
					</div>
					<div class="row intxt ">
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">셋째,</span> 충동적·공격적 행동은 반드시 단호하게 제지해야 한다</span><br>
							아이가 충동적이거나 공격적인 행동을 보일 때 “어리니까 그럴 수도 있다”라며 방치하면, 습관적인 행동 양식으로 굳어져 친구들의 공격 대상이 될 수 있다. 따라서 부모는 아이가 폭력적인 언행을 보일 때마다 단호하게 제지하고 훈육해야 한다. 동시에 부모 스스로도 갈등 상황이나 감정적으로 격해진 순간에 폭력적 언행을 절대 보이지 않아야 한다. 아이는 부모를 모델로 삼아 배우기 때문에, 부모의 태도 자체가 교육이 된다.
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p>
							<span class="fw500"><span class="txt-gr">넷째,</span> 공감과 배려를 가르쳐야 한다</span><br>
							지나치게 자기중심적이고 이기적인 아이는 또래 속에서 쉽게 따돌림의 대상이 된다. 다른 사람의 마음을 읽고 배려할 줄 아는 태도는 사회적 관계를 원만히 유지하는 데 필수적이다. 부모는 일상에서 타인의 아픔에 공감하고 존중하는 모습을 직접 보여주어야 하며, 이를 통해 아이가 자연스럽게 배려심을 체득하도록 도와야 한다.
							</p>
						</div>
					</div>

					<div class="row intxt grayLine2">
						<div class="col-md-12 mt70-m">
							<div class="row">
								<p><img src="https://image.edaymall.com/images/dcf/webzine/Q4_2024/08_m_04.png" alt="강조" /></p>
								<p class="brown3 type17 center" style="margin:20px 0px;">
									우리 아이가 따돌림을 당하지도, 또 행하지도 않으면서 서로 존중하고 함께 어울리는 관계를 배운다면 그것만큼 값진 성장은 없다. 부모의 세심한 관찰과 따뜻한 지지가 아이의 건강한 사회성 발달을 이끄는 가장 큰 힘이다.
								</p>
								<p class="right"><img src="https://image.edaymall.com/images/dcf/webzine/Q4_2024/08_m_05.png" alt="강조" /></p>
							</div>
						</div>
					</div> 

					
			


					<div class="row intxt" >
						<div class="col-md-12 mt100-m">
							<p class="type19">
								<span>글_손석한 연세신경정신과 원장</span><br><span class="type19-1">연세대학교 의과대학 및 동 대학원을 졸업한 정신건강의학과 전문의, 소아청소년정신과 전문의, 의학박사로서 현재 연세신경정신과-소아청소년정신과를 운영하고 있다. 각종 언론 매체에 칼럼을 기고하고 있으며, 저서로는 『잔소리 없이 내 아이 키우기』 등 다수가 있다. 최근 KBS의 &lt;슈퍼맨이 돌아왔다&gt;의 자문위원으로서 홈페이지에 슈퍼맨 칼럼을 연재 중이다.</span>
							</p>	
						</div>
					</div><!--//row-->
				</div>
			</div><!-- //container -->
				<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
			
		</div><!-- //wrap-inner5 -->


	</section>
</div>

</html>