<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="정식품"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/> 
	<title>정식품</title>
	<style>img {border:0}</style>
</head>
<body style="margin:0; padding:0; color:#666666; font-family:'돋움', Dotum, Arial, AppleGothic, '애플고딕', sans-serif;  line-height:1.5em; letter-spacing:-1px; ">
	<center>
		<table cellspacing="0" width="800" > 
			<thead>
				<tr>
					<td>
						<a href="https://www.vegemil.co.kr" target="_blank"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/logo.png"  alt="정식품CI" border="0" /></a>
					</td>
				</tr>
			</thead>
			<!----------------------------- tbody : 뉴스콘텐츠 ---------------------------->
			<tbody>
				<tr>
					<td style=" text-align:center; padding:80px 0 20px 0">
						<img src="http://image.edaymall.com/images/mail/news/common/infouse.gif" alt="개인정보이용" />
					</td>
				</tr>
				<tr>
					<td style=" text-align:center; padding:8px 0 0 0" >
						<h1 style="font-size:40px;color:#3d3d3d;  letter-spacing:-4px;line-height:115%; font-weight:bold">개인정보 이용내역 안내</h1>
						<p style="font-size:16px; color:#787878; letter-spacing:-2px; margin:30px 0 0 0; font-weight:500; line-height:160%">
						안녕하세요 회원님
						정식품 입니다.<br>
					「개인정보 보호법」제39조의8(개인정보 이용내역의 통지)에 근거하여<br>
						이메일 수신 동의여부와 관계없이 법적 의무 사항으로 연1회 이상 개인정보<br>
						이용내역을 안내하고 있습니다.
						
						<div style="border-bottom:4px solid #e2e6ee; height:60px; margin-top:0"></div>
						<p style="font-size:16px; color:#787878; letter-spacing:-2px; margin:30px 0 0 0; font-weight:500; line-height:160%">* 법률에 의한 통지이므로 회원님의 이메일 수신동의 여부와 관계없이 발송하고 있습니다.</p>
					</td>
				</tr>
				<tr>
					<td style="text-align:left; padding:50px 20px; ">
						<p>개인정보 수집항목</p>
						<table cellspacing="0" summary="#" style="width:780px; margin-top:10px; border-top:1px solid #e4e9ef"><!-- 2017-07-04  보더값 수정 --->
							<colgroup>
								<col width="30%">
								<col width="70%">
							</colgroup>
							<tr>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">회원 정보</p>
								</th>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">성명, 이메일, 비밀번호, 휴대전화 번호,  SMS/이메일 수신동의 여부</td>
							</tr>
							
						</table>
						<br>
						<p>개인정보 수집목적</p>
						<table cellspacing="0" summary="#" style="width:780px; margin-top:10px; border-top:1px solid #e4e9ef"><!-- 2017-07-04  보더값 수정 --->
							<colgroup>
								<col width="30%">
								<col width="70%">
							</colgroup>
							<tr>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">회원 정보</p>
								</th>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">회원관리 및 이용자 식별, 문의사항 처리 등을 위한 의사소통 경로 확보, 마케팅 활용 및 광고성 정보 전달</td>
							</tr>
							
						</table>
						<br>
						<p>개인정보 처리 위탁 내역</p>
						<table cellspacing="0" summary="#" style="width:780px; margin-top:10px; border-top:1px solid #e4e9ef"><!-- 2017-07-04  보더값 수정 --->
							<colgroup>
								<col width="33%">
								<col width="33%">
								<col width="33%">
							</colgroup>
							<tr>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">수탁자</p>
								</th>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">위탁업무</p>
								</th>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">공유정보</p>
								</th>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">㈜오쎄</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">정식품 홈페이지 및 시스템 관리</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">회원 탈퇴 시 혹은 위탁 계약 종료 시까지</td>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">서울신용평가</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">실명인증</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">회원 탈퇴 시 혹은 위탁 계약 종료 시까지</td>
							</tr>
							
							
						</table>
						<br>
						<p>제3자 개인정보 제공</p>
						<table cellspacing="0" summary="#" style="width:780px; margin-top:10px; border-top:1px solid #e4e9ef"><!-- 2017-07-04  보더값 수정 --->
							<colgroup>
								<col width="33%">
								<col width="33%">
								<col width="33%">
							</colgroup>
							<tr>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">제공대상</p>
								</th>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">제공목적</p>
								</th>
								<th style="background-color:#e4e9ef; color:#3e3e3e; padding:0px 0; text-align:left; height:60px; padding-left:50px; border-bottom:1px solid #fff">
									<p style="font-size:12px; color:#3d3d3d; font-weight:bold; ">공유정보</p>
								</th>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">㈜정식품 대리점</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">소비자 클레임사항 처리 업무</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">위탁 계약 종료시 까지</td>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">미래로직스</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">경품발송업무</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">위탁 계약 종료시 까지</td>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">(주)알에스기획</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">이벤트 및 광고성 정보 제공, 경품 당첨자 선발 및 개인정보취합</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">위탁 계약 종료시 까지</td>
							</tr>
							<tr>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">(주)케이티엠하우스</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">이벤트 경품 발송(SMS/LMS)</td>
								<td style="background-color:#fff; color:#3e3e3e; padding:0 0 0 20px; text-align:left; height:60px; font-weight:400; font-size:12px; border-bottom:1px solid #e4e9ef">위탁 계약 종료시 까지</td>
							</tr>
							
							
						</table>
					</td>
				</tr>
				
			</tbody>
			<!----------------------------- // tbody : 뉴스콘텐츠 ---------------------------->
		</table>
		<!-- 비영리 FOOTER 아웃룩2010 -->
		<table cellspacing="0" width="800" style="margin:0; border-top:1px solid #c9cace">
			<colgroup>
				<col width="20%">
				<col width="80%">
			</colgroup>
			<tbody>
				<tr>
					<td style="vertical-align:top; padding-top:20px; "><a href="https://www.vegemil.co.kr" target="_blank"><img src="https://image.edaymall.com/images/mail/news/common/mailLogo.gif" alt="정식품" border="0" /></a></td>
					<td style="padding:20px 0 40px 0 ; text-align:left; vertical-align:top; ">
						<p style="font-size:13px; color:#969696; margin:0px 0 0 0; font-weight:bold; letter-spacing:-1px">본 메일은 발신전용 메일이므로 회신되지 않습니다. 문의사항은 <a href="https://www.vegemil.co.kr/communication/ask" style="text-decoration:underline; color:#6e6e6e;font-weight:600" target="_blank">고객센터</a>로 문의해주시기 바랍니다. </p>
						<span style="font-size:15px; color:#6e6e6e; letter-spacing:-1px; background-color:#e1f1e6; border-radius:12px; border:1px solid #b5e5bf; padding:4px 9px 0px 9px; margin-top:7px; display:inline-block; line-height:120%; "><b>고객문의 080-930-8888</b> </span>
						<p style="font-size:13px; color:#969696;line-height:120%; margin:10px 0 0 0; letter-spacing:-1px ">(주)정식품ㅣ충청북도 청주시 흥덕구 산단로 124 (우)28446  <br>
						사업자등록번호: 315-81-19977 <br>
						ⓒ 2023 Dr.CHUNG'S FOOD Co., Ltd. All Right Reserved. </p>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- // 비영리 FOOTER 아웃룩2010 -->
	</center>
</body>
</html>
