<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G01009_top" >
	<div class="hcenter_right">
		<div>
			<p class="round round26">일반영양식</p>
			<p class="f_ms f60_6_w mt30">키즈</p>
     <p class="f_ms f14_4_w wview">Balanced Nutrition for<br>pediatric patients 1 to 13 years of age</p>
     <p class="f_ms f22_4_w mt30">영양불량 소아 환자를 위한<br class="none">어린이 균형 영양식</p>
    </div>
    <!-- <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="100" > -->
    <div>
     <p class="f14_4_w mt30 point_w bar-graph-web">열량 구성비</p>
     <!-- BAR-GRAPH -->
     <ul class="bar-graph move_contents"> 
       <li>
      <dl>
       <dd>단백질</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 12%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">12</span>%</dd>
      </dl>
       </li> 
       <li>
      <dl>
       <dd>지방</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 45%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">45</span>%</dd>
      </dl>
       </li> 
       <li>
      <dl>
       <dd>탄수화물</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 43%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">43</span>%</dd>
      </dl>
       </li> 
     </ul>
     <!-- //BAR-GRAPH -->
		</div>
		<div class="f_ms f14_4_w wview mt30 right" id="day">* 1일 영양 성분 기준치에 대한 비율</div>
	</div>
</div>
<div class="col-md-4 h850-2 G01009 center" >
</div>
<div class="col-md-4 h850-3 G01009_bottom">
	<div class="hcenter" >
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div  class="loader-ring list1 bar-graph-m" >
			<ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_17.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">소아환자 균형영양식</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_18.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">성장에 필요한<br>영양성분 구성</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_19.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">식물성 DHA</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_08.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">중쇄지방산 함유</li>
     </ul>
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G01009_kcal mlk2">
			<li class="f_ms">200ml</li>
			<li class="f_ms">200Kcal</li>
		</ul>
	</div>
</div>
</html>