<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G01901_top">
	<div class="hcenter_right">
		<div>
			<p class="round round26">
				전문영양식
			</p>
			<p class="f_ms f60_6_w mt30">
				TF <span class="f30_6_w">1000</span>
			</p>
			<p class="f_ms f14_4_w wview">
				Isotonic Nutrition For Tube Feeding
			</p>
			<p class="f_ms f22_4_w mt30">
				경구로 영양섭취가 곤란한 환자를 위한<br class="none">
				경관급식 전용제품
			</p>
		</div>
		<!-- <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="100" > -->
		<div>
			<p class="f14_4_w mt30 point_w bar-graph-web">
				열량 구성비
			</p>
			<!-- BAR-GRAPH -->
			<ul class="bar-graph move_contents">
				<li>
				<dl>
					<dd>단백질</dd>
					<dd>
					<div class="bar-wrap">
						<span class="bar-fill" style="width: 15%;"></span>
					</div>
					</dd>
					<dd class="f_ms"><span class="counter">15</span>%</dd>
				</dl>
				</li>
				<li>
				<dl>
					<dd>지방</dd>
					<dd>
					<div class="bar-wrap">
						<span class="bar-fill" style="width: 20%;"></span>
					</div>
					</dd>
					<dd class="f_ms"><span class="counter">20</span>%</dd>
				</dl>
				</li>
				<li>
				<dl>
					<dd>탄수화물</dd>
					<dd>
					<div class="bar-wrap">
						<span class="bar-fill" style="width: 65%;"></span>
					</div>
					</dd>
					<dd class="f_ms"><span class="counter">65</span>%</dd>
				</dl>
				</li>
			</ul>
			<!-- //BAR-GRAPH -->
		</div>
		<div class="f_ms f14_4_w wview mt30 right" id="day">
			* 1일 영양 성분 기준치에 대한 비율
		</div>
	</div>
</div>
<div class="col-md-4 h850-2 G01901 center">
</div>
<div class="col-md-4 h850-3 G01901_bottom">
	<div class="hcenter">
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div class="loader-ring list1 bar-graph-m">
			<ul>
				<li>
				<div class='loader-ring-light'>
				</div>
				<div class='loader-ring-track'>
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_05.png" alt="#"/>
				</div>
				</li>
				<li class="f17_4_w">경관 급식 전용</li>
			</ul>
			<ul>
				<li>
				<div class='loader-ring-light'>
				</div>
				<div class='loader-ring-track'>
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_09.png" alt="#"/>
				</div>
				</li>
				<li class="f17_4_w">5대 영양소 함유</li>
			</ul>
			<ul>
				<li>
				<div class='loader-ring-light'>
				</div>
				<div class='loader-ring-track'>
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_10.png" alt="#"/>
				</div>
				</li>
				<li class="f17_4_w">식이섬유 3g<br>
				(200ml 기준)</li>
			</ul>
			<ul>
				<li>
				<div class='loader-ring-light'>
				</div>
				<div class='loader-ring-track'>
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_08.png" alt="#"/>
				</div>
				</li>
				<li class="f17_4_w">중쇄지방산 함유</li>
			</ul>
			<ul>
				<li>
				<div class='loader-ring-light'>
				</div>
				<div class='loader-ring-track'>
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_07.png" alt="#"/>
				</div>
				</li>
				<li class="f17_4_w">등장성 삼투압</li>
			</ul>
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G01901_kcal mlk2">
			<li class="f_ms">1000ml</li>
			<li class="f_ms">1000Kcal</li>
		</ul>
	</div>
</div>
</html>