<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G02022_top" >
	<div class="hcenter_right">
		<!-- <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="100"> -->
		<div>
			<p class="round round08">전문영양식</p>
                  <p class="f_ms f60_6_w mt30">화이바  <span class="f30_6_w">RTH 400</span></p>
			<p class="f_ms f14_4_w wview">Closed system /<br>Ready-to-Hang for Tube Feeding    </p>
			<p class="f_ms f22_4_w mt30">장이 민감한 환자를 위한 <br>경관급식 전용제품 </p>
		</div>
		<!-- <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="100" > -->
		<div>
			<p class="f14_4_w mt30 point_w bar-graph-web">열량 구성비</p>
			<!-- BAR-GRAPH -->
			<ul class="bar-graph move_contents"> 
			  <li>
				<dl>
					<dd>단백질</dd>
					<dd><div class="bar-wrap"><span class="bar-fill" style="width: 17.5%;"></span></div></dd>
					<dd class="f_ms"><span class="counter">17.5</span> %</dd>
				</dl>
			  </li> 
			  <li>
				<dl>
					<dd>지방</dd>
					<dd><div class="bar-wrap"><span class="bar-fill" style="width: 30%;"></span></div></dd>
					<dd class="f_ms"><span class="counter">30</span> %</dd>
				</dl>
			  </li> 
			  <li>
				<dl>
					<dd>탄수화물</dd>
					<dd><div class="bar-wrap"><span class="bar-fill" style="width: 52.5%;"></span></div></dd>
					<dd class="f_ms"><span class="counter">52.5</span> %</dd>
				</dl>
			  </li> 
			</ul>
			<!-- //BAR-GRAPH -->
		</div>
	</div>
</div>
<div class="col-md-4 h850-2 G02022 center" >
</div>
<div class="col-md-4 h850-3 G02022_bottom">
	<div class="hcenter" >
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div  class="loader-ring list2 bar-graph-m" >
			<ul>
				<li>
					<div class='loader-ring-light'></div>
					<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_27.png" alt="#"/></div>
				</li>
				<li class="f17_4_w">고농축 (1.6 kcal/ml)</li>
			</ul>
			<ul>
				<li>
					<div class='loader-ring-light'></div>
					<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_34.png" alt="#"/></div>
				</li>
				<li class="f17_4_w">식이섬유 6 g (250 ml 기준)</li>
			</ul>
			<ul>
				<li>
					<div class='loader-ring-light'></div>
					<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_09.png" alt="#"/></div>
				</li>
				<li class="f17_4_w">5대 영양성분</li>
			</ul>
			<ul>
				<li>
					<div class='loader-ring-light'></div>
					<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_08.png" alt="#"/></div>
				</li>
				<li class="f17_4_w">중쇄중성지방산</li>
			</ul>
			<ul>
				<li>
					<div class='loader-ring-light'></div>
					<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_45.png" alt="#"/></div>
				</li>
				<li class="f17_4_w">간편한 사용</li>
			</ul>
			
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G02022_kcal mlk2">
			<li class="f_ms">250 ml</li>
			<li class="f_ms">400 kcal</li>
		</ul>
	</div>
</div>
</html>