<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G02007_top" >
	<div class="hcenter_right">
		<div>
			<p class="round round26">전문영양식</p>
			<p class="f_ms f60_6_w mt30">당뇨솔루션 <span class="f30_6_w">RTH</span></p>
     <p class="f_ms f14_4_w wview">Well Tolerated Enteral Formula for Patients With Diabetes Mellitus<br>or Critically Ill Patients With Hyperglycemia</p>
     <p class="f_ms f22_4_w mt30">장관계 민감도가 높은<br class="none">당뇨환자를 위한 전문영양식</p>
    </div>
    <!-- <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="100" > -->
    <div>
     <p class="f14_4_w mt30 point_w bar-graph-web">열량 구성비</p>
     <!-- BAR-GRAPH -->
     <ul class="bar-graph move_contents"> 
       <li>
      <dl>
       <dd>단백질</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 20%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">20</span>%</dd>
      </dl>
       </li> 
       <li>
      <dl>
       <dd>지방</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 40%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">40</span>%</dd>
      </dl>
       </li> 
       <li>
      <dl>
       <dd>탄수화물</dd>
       <dd><div class="bar-wrap"><span class="bar-fill" style="width: 40%;"></span></div></dd>
       <dd class="f_ms"><span class="counter">40</span>%</dd>
      </dl>
       </li> 
     </ul>
     <!-- //BAR-GRAPH -->
		</div>
		<div class="f_ms f14_4_w wview mt30 right" id="day">* 1일 영양 성분 기준치에 대한 비율</div>
	</div>
</div>
<div class="col-md-4 h850-2 G02007 center" >
</div>
<div class="col-md-4 h850-3 G02007_bottom">
	<div class="hcenter" >
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div  class="loader-ring list1 bar-graph-m" >
			<ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_34.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">발효성 당류<br>(FODMAPs)제한</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_28.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">당뇨식</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_30.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">식이섬유</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_43.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">단일 불포화지방산</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_05.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">위생적인 영양공급</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_06.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">간편한 사용</li>
     </ul>
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G02007_kcal mlk2">
			<li class="f_ms">400ml</li>
			<li class="f_ms">400Kcal</li>
		</ul>
	</div>
</div>
</html>