<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G02005_top" >
	<div class="hcenter_right">
		<div>
			<p class="round round26">연하식</p>
			<p class="f_ms f60_6_w mt30">연하솔루션</p>
     <p class="f_ms f14_4_w wview">Dysphagia Solution</p>
     <p class="f_ms f22_4_w mt30">음식물을 삼키는데<br>어려움을 겪는 분들을 위한</p>
		</div>
		<div class="f_ms f14_4_w wview mt30 right" id="day">* 1일 영양 성분 기준치에 대한 비율</div>
	</div>
</div>
<div class="col-md-4 h850-2 G02005 center" >
</div>
<div class="col-md-4 h850-3 G02005_bottom">
	<div class="hcenter" >
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div  class="loader-ring list1 bar-graph-m" >
			<ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_37.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">자유로운 점도조절</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_01.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">간편한 사용</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_02.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">무미, 무취, 무색</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_08.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">다양한 식품에 첨가</li>
     </ul>
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G02005_kcal mlk2">
			<li class="f_ms">2.7g</li>
			<li class="f_ms">8Kcal</li>
		</ul>
	</div>
</div>
</html>