<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="col-md-4 h850-1 G07001_top" >
	<div class="hcenter_right">
		<div>
			<p class="round round26">건강식품</p>
			<p class="f_ms f60_6_w mt30">멀티케어 프로틴</p>
     <p class="f_ms f14_4_w wview">Multi Care Protein</p>
     <p class="f_ms f22_4_w mt30">단백질, 칼슘, 식이섬유<br>3중 복합 기능성 건강기능식품</p>
     <p class="wview" style="height:250px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div>
		<div class="f_ms f14_4_w wview mt30 right" id="day">* 1일 영양 성분 기준치에 대한 비율</div>
	</div>
</div>
<div class="col-md-4 h850-2 G07001 center" >
</div>
<div class="col-md-4 h850-3 G07001_bottom">
	<div class="hcenter" >
		<!-- <div class="loader-ring list2 bar-graph-m" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="100"> -->
		<div  class="loader-ring list1 bar-graph-m" >
			<ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_24.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">식물성 단백질 100%</li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_35.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">1포로 건강기능식품<br>1일 섭취량 100% 충족<br><span class="f_ms f14_4_w">(단백질 12g, 칼슘 210mg,<br>식이섬유 5g</span></li>
     </ul>
     <ul>
      <li>
       <div class='loader-ring-light'></div>
       <div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_36.png" alt="#"/></div>
      </li>
      <li class="f17_4_w">간편하게 / 30g 개별 포장</li>
     </ul>
		</div>
	</div>
	<!-- <div class="kcalBox wview"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"> -->
	<div class="kcalBox wview">
		<ul class="G07001_kcal mlk2">
			<li class="f_ms">30g</li>
			<li class="f_ms">100Kcal</li>
		</ul>
	</div>
</div>
</html>