<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="bg_rightBlue pb100">
	<div class="contant1460" >
		<div class="row mt90h">&nbsp;</div>
		<div class="w1460 center0 mt80">
			<div class="row ">
				<div class="col-md-4 my pr100">
					<div class="myBox">
						<p class="f14 fw400  mebOut gray04"><a href="/mypage/withdrawal">회원 탈퇴 신청</a></p>
						<p class="f34 fw600 lh130 mt50" th:text="|${member.mName} 님,|"><br>반갑습니다.</p>
						<ul class="account_box mt40">
							<li th:text="${member.mId}"></li>
							<li th:if="${member.mAuth} == 'USER'">일반회원</li>
							<li th:if="${member.mAuth} == 'COMP'">법인회원</li>
							<li th:if="${#strings.length(member.mDi)} > 1" >본인인증완료</li>
							<li th:if="${#strings.length(member.mDi)} <= 1" >본인인증필요</li>
						</ul>
						<p class="f14 fw400 gray04 mt25">
						개인정보를 수정, 변경하실 수 있습니다.<br>
						모든 정보는 고객님의 동의없이 공개되지 않으며, 
						개인 정보 보호 방침에 의해 보호받습니다.</p>
						<a href="/mypage/myInfo"><p class="btnType12 mt30"><span class="lh140">개인정보 변경</span></p></a>
					</div>
					<ul class="mt30 myBoxFoot">
						<li class="f18"><a href="#">1:1 문의</a></li>
						<!-- <li class="f18"><a href="#">공장견학 신청</a></li> -->
						<li class="f18"><a href="#">샘플신청</a></li>
					</ul>
					
				</div>
				<div class="col-md-8 mt50m">
					<ul class="my_subTitle">
						<li><p class="f20 fw400">나의 상담내역</p></li>
						<li><a href="#"><span class="gray04 f14">문의하기 &gt;</span></a></li>
					</ul><br class="clear">
					
					<div class="myBox mt20">
						<div class="myQus f16">지난 상담내역이 <span th:text="|${qnaCount}건|"></span> 있습니다.</div>
						<table cellspacing="0" summary="나의상담" border="0" class="myT mt30">
							<caption>지난 상담</caption>
							<colgroup>
								<col width="20%">
								<col width="60%">
								<col width="20%">
							</colgroup>
							<tr>
								<th>상담분류</th>
								<th>질문내용</th>
								<th>작성일</th>
							</tr>
							<tr>
								<td><p class="cate" th:text="${qna.sCate}"></p></td>
								<td>
									<div class="titletxt" th:text="${qna.sSubject}"></div>
								</td>
								<td class="day f_pp" th:text="${qna.sWritedate}"></td>
							</tr>
							<tr>
								<td colspan="3" class="q_box lh180 " th:text="${qna.sContent}"></td>
							</tr>
						</table>
						<div class="ansBox  lh180" th:if="${qna.sAnswerYn} == 'Y'" th:utext="${qna.sAnswer}">
						</div>
					</div>
				</div>
			</div>
		</div><!-- // w1460 -->
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>