<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 ID찾기 결과</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ 
		Header
================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
		// Header
================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb200">
	<div class="contant1460" >
		<div class="row mt90h">
			<div class=" col-md-12">
				<p class="f52 fw600 mt130 black center">ID/비밀번호 찾기</p>
				<p class="f18 fw400 mt20 gray04" th:if="*{mId != null and mId != ''}">
					검색하신 아이디는 <span class="blackLine3" th:text="${mId}"></span><span class="f20 fw500 gray04">입니다.</span>
				</p>
				<p class="f18 fw400 mt20 gray04 center" th:if="*{mId == null or mId == ''}">
					검색하신 데이터가 존재하지 않습니다. <br class="mView">다시 확인해주시기 바랍니다.
				</p>
			</div>
		</div>
	</div><!-- //contant1460 -->
	<div class="contant100 mt60 grayLineM max1160 mt80"></div>
	<div class=" contant1460">
		<div class="w1160 center0 ">
			<div class="w560 center0 ">
				<ul class="joinbtnFoot mt100">
					<li class="mr10"><button type="button" onclick="location.href='/home'" class="btnType10 f20 fw500 lh140" >메인페이지</button></li>
					<li>
						<button type="button" class="btnType07 f20 fw500 lh140" onclick="location.href='/member/login'">로그인 바로가기</button>
					</li>
				</ul>
			</div>
		</div>
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ 
		Footer
================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ 
		// Footer
================================ -->
</body>
</html>