<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품</title>
<head th:replace="fragments/head :: headFragment"></head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content">
	<div class="contant1460" >
	<form th:action="@{/mypage/update}"  th:object="${member}" method="post">
		<div class="row mt90h">
			<div class=" col-md-12">
				<p class="f52 fw600 mt130 black center">개인정보 수정</p>
				<p class="f18 fw400 mt10 gray04 center">회원님의 정보룰 수정할 수 있습니다.<br>모든 정보는 고객님의 동의없이 공개되지 않으며,<br class="mView">개인정보보호방침에 의해 보호받습니다.</p>	
			</div>
			<input type="hidden" th:field="*{mDi}" />
			<input type="hidden" th:field="*{mIdx}" />
			<div class="col-md-12 ">
				<div class="w860 center0 mt80">
					<div cellspacing="0" border="0" class="joinT">
						<ul>
							<li><span>아이디</span></li>
							<li>
								<input type="text" th:field="*{mId}" class="inp02 w330" >
							</li>
						</ul>
						<!-- 
						<ul>
							<li><span>이데이몰 아이디</span></li>
							<li>
								<input type="text" readonly class="inp02 w330" placeholder="이데이몰 아이디 가져오기"><button type="button" class="btnType09 ml10">아이디 가져오기</button>
								<p class="f14 gray04 mt10">* 정식품가입시 사용한 본인증정보로 이데이몰 ID를 가져옵니다.</p>
								<p class="confirm" id="edayCheackOk" style="display: none;">아이디 확인 완료</p>
								<p class="error" id="edayCheackNo" style="display: none;">아이디 확인 불가</p>
							</li>
							
						</ul>
						 -->
						<ul>
							<li>비밀번호</li>
							<li>
								<input type="password" id="pw1" class="inp02">
								<p class="error" id="pwCheack" style="display: none;">공백 없이 영문,숫자,특수문자를 혼합하여 8자리 ~ 20자리 이내로 입력해주세요.</p>
							</li>
							
						</ul>
						<ul>
							<li>비밀번호 확인</li>
							<li>
								<input type="password" id="pw2" th:field="*{mPwd}" class="inp02">
								<p class="error" id="pwCheackNo" style="display: none;">비밀번호가 일치하지 않습니다.</p>
								<p class="confirm" id="pwCheackOk" style="display: none;">비밀번호가 일치합니다.</p>
							</li>
						</ul>
						<ul>
							<li>이름</li>
							<li><input readonly type="text" th:field="*{mName}" class="inp02" placeholder="하지숙"></li>
						</ul>
						<ul>
							<li>성별</li>
							<li><input type="text" readonly id="mSex" name="mSex" th:value="*{mSex}" class="inp02 w200"></li>
						</ul>
						<ul>
							<li>생년월일</li>
							<li><input readonly type="text" th:field="*{mYear}" class="inp02 w200" placeholder="0000-00-00"></li>
						</ul>
						<ul>
							<li></li>
							<li>
								<input type="hidden" class="inp03 w200" th:field="*{mHp}">
								<input readonly type="text" class="inp03 w120" th:value="${#strings.substring(member.mHp, 0, 3)}">
								- <input readonly type="text" class="inp03 w130" th:value="${#strings.substring(member.mHp, 3, 7)}">
								- <input readonly type="text" class="inp03 w130" th:value="${#strings.substring(member.mHp, 7, 11)}"><button type="button" onclick="joinHPCheck()" class="btnType09 ml10">번호 변경</button>
							</li>
						</ul>
						<ul>
							<li>SMS 수신동의</li>
							<li>
								<div class="boxType">
									<div class="baseRadioBox">
									
										<input type="radio" id="smsAgree1" th:attr="checked=*{mSmssend == '1' ? 'true' : 'false'}" value="1" name="mSmssend" /><label for="smsAgree1"><span></span>수신동의</label>
										<input type="radio" id="smsAgree2" th:attr="checked=*{mSmssend == '0' ? 'true' : 'false'}" value="0" name="mSmssend" /><label for="smsAgree2"><span></span>수신거부</label>
									</div>
								</div>
							</li>
							
						</ul>
						<ul>
							<li>주소</li>
							<li>
								<input name="txtZipcode" class="inp03" type="text" readonly th:field="*{mZipcode}" maxlength="5" placeholder="우편번호"><button type="button" onclick="execPostcode()" class="btnType09 ml10">우편번호 검색</button><br>
								<input name="txtAddr1" class="inp02 mt10 w700" type="text" th:field="*{mAddr1}" maxlength="50" readonly="readonly" placeholder="우편번호를 검색하시면 기본 주소가 입력됩니다.">
								<input name="txtAddr2" class="inp02 mt10 w700" type="text" th:field="*{mAddr2}" placeholder="상세주소를 입력해 주세요" maxlength="30">
							</li>
						</ul>
						<ul>
							<li>이메일</li>
							<li>
								<input  th:field="*{txtEmail}" type="text" maxlength="30" class="inp03 w200"><input name="txtEmail2" th:value="*{selEmail}" placeholder="직접입력" type="text" disabled maxlength="30" id="txtEmail2" class="inp03 ml10 w220 mr10">
								<select th:field="*{selEmail}" class="sel02 w200 mt10m">
									 <option value="1">직접 입력</option>
									 <option value="naver.com">naver.com</option>
									 <option value="hanmail.net">hanmail.net</option>
									 <option value="hotmail.com">hotmail.com</option>
									 <option value="nate.com">nate.com</option>
									 <option value="gmail.com">gmail.com</option>
								</select>
								<input type="hidden" class="inp03 w200" th:field="*{mEmail}">
							</li>
						</ul>
						<ul>
							<li>이메일 수신동의</li>
							<li>
								<div class="boxType">
									<div class="baseRadioBox">
										<input type="radio" id="emailAgree1" th:attr="checked=*{mEmailsend == '1' ? 'true' : 'false'}" name="mEmailsend" value="1" /><label for="emailAgree1"><span></span>수신동의</label>
										<input type="radio" id="emailAgree2" th:attr="checked=*{mEmailsend == '0' ? 'true' : 'false'}" name="mEmailsend" value="0"/><label for="emailAgree2"><span></span>수신거부</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="w1160 center0 grayLine mt70">
			<div class="w860 center0 mt80">
				<div cellspacing="0" border="0" class="joinT">
					<p class="mt20 f20 fw400">대리점회원은 아래내용을 추가로 입력해주세요</p>
					<ul class="mt50">
						<li><span>대리점명</span></li>
						<li><input type="text" th:field="*{mCompName}" class="inp02 w500"></li>
					</ul>
					<ul>
						<li><span>사업자등록번호</span></li>
						<li><input type="text" class="inp02 w500" th:field="*{mBizno}" placeholder="-를 제외한 숫자만 입력하세요" ></li>
					</ul>
				</div>
			</div>
			<div class="w560 center0 mb200">
				<ul class="joinbtnFoot mt50">
					<li class="mr10"><button type="button" onclick="location.href='/home'" class="btnType10 f20 fw500 lh140" >취소</button></li>
					<li><button type="submit" disabled id="joinBtn" class="btnType17 f20 fw500 lh140">수정완료</button></li>
				</ul>
			</div>
		</div>
		</form>
		<br class="clear">
		<form name="authForm" id="authForm" method="post" action="" target="">
			<input type="hidden"	name="joinType"	 id="joinType"			 />
			<input type="hidden"	name="step"		 id="step"		value="2"/>
			<input type="hidden"	name="reqURL"	 id="reqURL"			 />
			<input type="hidden"	name="firstURL"  id="firstURL"		   	 />
			<input type="hidden"	name="secondURL" id="secondURL"		   	 />
		</form>
	</div><!-- //contant1460 -->
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script th:src="@{/common/js/myInfo.js}"></script>
<script type="text/javascript">
//<![CDATA[
$(function(){
	
	var mDi = "[[ ${mDi} ]]";
	var txtStep = "[[ ${step} ]]";
	
	//DIKEY없는 회원 본인인증처리
	if(mDi == '' && txtStep == '1' ) {
		alert("본인 인증이 필요합니다.\n인증 완료후 수정완료 버튼을 꼭 눌러주세요");
		joinHPCheck();
	}
	return;
	
});
//]]>
</script>
</body>
</html>