<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 비밀번호 재설정</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ 
		Header
================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<form th:action="@{/member/resetPassword}" th:object="${member}" method="post">
	<div class="contant1460" >
		<div class="row mt90h">
			<div class=" col-md-12">
				<p class="f52 fw600 mt130 black center">비밀번호 재설정</p>
			</div>
			<div class="col-md-12 ">
				<div class="w860 center0 mt80">
					<div cellspacing="0" border="0" class="joinT">
						<input type="hidden" th:field=*{mIdx}>
						<ul>
							<li>비밀번호</li>
							<li>
								<input type="password" value="" maxlength="30" name="pw" id="pw" class="inp06 ml10 w220 mr10">
								<p class="error" id="pwCheack" style="display: none;">공백 없이 영문,숫자,특수문자를 혼합하여 8자리 ~ 20자리 이내로 입력해주세요.</p>
							</li>
						</ul>
						<ul>
							<li>비밀번호 확인</li>
							<li>
								<input type="password" value="" maxlength="30" th:field=*{mPwd} class="inp06 ml10 w220 mr10">
								<p class="error" id="pwCheackNo" style="display: none;">비밀번호가 일치하지 않습니다.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //contant1460 -->
	<div class="contant100 mt50 grayLineM max1160"></div>
	<div class=" contant1460">
		<div class="w1160 center0  mt70">
			<div class="w560 center0 mb200">
				<ul class="joinbtnFoot mt50">
					<li class="mr10"><button type="button" onclick="location.href='/home'" class="btnType10 f20 fw500 lh140" >취소</button></li>
					<li>
						<button type="submit" id="saveBtn" class="btnType17 f20 fw500 lh140">확인</button>
					</li>
				</ul>
			</div>
		</div>
		<br class="clear">
	</div><!-- //contant1460 -->
	</form>
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>

function btnAvtive() {
	
	const sPw1 = $('#pw').val();
	const sPw2 = $('#mPwd').val();
	
	if($.trim(sPw1).length > 1
	&& $.trim(sPw2).length > 1) 
	{
		$("#saveBtn").attr("disabled", false); //해제
		$("#saveBtn").addClass('active');
	} else {
		$("#saveBtn").attr("disabled", true); //설정
		$("#saveBtn").removeClass('active');		
	}
}

//비밀번호 정규식 검사
$('#pw').keyup(function () {

	const sPw1 = $('#pw').val();
	const sPw2 = $('#mPwd').val();
	var num = sPw1.search(/[0-9]/g);
	var eng = sPw1.search(/[a-z]/ig);
	var spe = sPw1.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	 
	if( sPw1.length < 8 || sPw1.length > 20 ){
		$("#pwCheack").css('display', 'inline-block');
		return false;
	} else if( sPw1.search(/\s/) != -1 ){
		$("#pwCheack").css('display', 'inline-block');
		return false;
	} else if( num < 0 || eng < 0 || spe < 0 ){
		$("#pwCheack").css('display', 'inline-block');
		return false;
	} else {
		$("#pwCheack").css('display', 'none');
		return true;
	}
	
	btnAvtive();
	 
});

//비밀번호 일치 검사
$('input[name=mPwd]').keyup(function () {
	const sPw1 = $('#pw').val();
	const sPw2 = $('#mPwd').val();

    if ( sPw1 != '' && sPw2 == '' ) {
        null;
    } else if (sPw1 != "" || sPw2 != "") {
        if (sPw1 == sPw2) {
            $("#pwCheackNo").css('display', 'none');
            $("#pw").removeClass('error');
            $("#mPwd").removeClass('error');
        } else {
            $("#pwCheackNo").css('display', 'inline-block');
            $("#pw").addClass('error');
            $("#mPwd").addClass('error');
        }
    }
    
    btnAvtive();
    
});

</script>
</body>
</html>