<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 개인정보처리방침</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="contant1460" >
		<div class="row mt90h">
			<div class=" col-md-12">
				<p class="f45 fw600 mt130 black center">개인정보처리방침</p>
			</div>
			<div class="col-md-12 mt100">
				<!------------------
				개인정보 처리방침 
				-------------------->
				<div class="person f14 lh180 gray04" >
					
				</div>
				<!------------------
				//개인정보 처리방침 
				-------------------->
				<p class="js">클릭시 버전별 노출. 버전정보 위 load에 있음</p>
				<select class="sel01 w300 floatR mt20" id="selPrivacy">
					<option value="Privacy_v60">개인정보 처리방침 Version</option>
					<option value="Privacy_v50">2017.08.31 ~ 2021.02.02</option>
					<option value="Privacy_v40">2013.12.19 ~ 2017.08.31</option>
					<option value="Privacy_v40">2013.07.01 ~ 2013.12.18</option>
					<option value="Privacy_v30">2012.07.01 ~ 2013.06.30</option>
					<option value="Privacy_v20">2008.01.01 ~ 2012.06.30</option>
				</select>
			</div>		
		</div>
	</div><!-- //contant1460 -->
	
	
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>
/* 로드방식 local 크롬에서 노출되지 않음. */
$( document ).ready( function() {

	$( '.person' ).load( './privacy/Privacy_v60.html' );

	$("#selPrivacy").change(function(){
        if($(this).val() == "Privacy_v50"){
        	$( '.person' ).load( './Privacy/Privacy_v50.html' );
        } else if($(this).val() == "Privacy_v40"){
        	$( '.person' ).load( './Privacy/Privacy_v40.html' );
        } else if($(this).val() == "Privacy_v30"){
        	$( '.person' ).load( './Privacy/Privacy_v30.html' );
        } else if($(this).val() == "Privacy_v20"){
        	$( '.person' ).load( './Privacy/Privacy_v20.html' );
        }
    });
	
});
</script>
</body>
</html>