<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 비밀번호 변경</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ 
		Header
================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
		// Header
================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb200">
	<div class="contant1460" >
		<div class="row mt90h">
			<div class=" col-md-12">
				<p class="f52 fw600 mt130 black center">비밀번호 변경</p>
				<p class="f18 fw400 mt20 gray04 center">비밀번호가 변경되었습니다.</p>	
			</div>
		</div>
	</div><!-- //contant1460 -->
	<div class="contant100 mt50  max1160"></div>
	<div class=" contant1460">
		<div class="w1160 center0  mt70">
			<div class="w560 center0 ">
				<ul class="joinbtnFoot_1 mt50">
					<li>
						<button  type="button" onclick="location.href='/member/login'" class="btnType17 active f20 fw500 lh140">로그인 바로가기</button>
					</li>
				</ul>
			</div>
		</div>
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ 
		Footer
================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ 
		// Footer
================================ -->
</body>
</html>