<!doctype html><html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
						<section>
							<div class="wrap-inner5" id="wzPage" >
								<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
								<div class="container wz-left">
									<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
										<div class="row grayLine2">
											<div class="col-md-12">
												<h3 class="center mt100-m">사계사색</h3>
												<p class="center mt60">찬 바람이 몸을 움츠리게 하는 겨울이 찾아왔습니다.<br>
												나무는 잎을 내려놓고, 거리는 한층 고요해졌죠.<br>
												괜히 마음도 느려지는 이 계절,<br>
												올 겨울엔 어떤 활동을 하면 좋을까요?<br>
												일상 속에서 겨울을 느껴볼 수 있는 활동을 소개합니다.</p>
											</div>
                                        </div>
                                        <div class="row">
											<div class="col-md-12">
												<h1 class="center mt100-m" >
													<p class="type20 center">불빛 축제 구경하기</p>
												</h1>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 mt40">
												<p class="img100"><img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_01.jpg" alt="불빛 축제" /></p>
											</div>
											<div class="col-md-6 mt40">
												<p>해가 일찍 지는 겨울에는 밤이 유난히 길게 느껴지죠. 그만큼 불빛이 다른 계절보다 더 존재감이 커진답니다. 겨울철에 왜 불빛 축제를 즐길까요? 바로 포근한 분위기 때문이 아닐까요? 따뜻한 주황빛의 조명이 공간을 가득 채워, 잠시나마 추위를 잊게 합니다.추워서 외출을 피하셨다면, 불빛 축제에 꼭 가보세요. 손끝은 시리지만 반짝이는 조명 사이를 걷다 보면 마음이 편안해지고 기분도 한결 밝아질 거예요. 단, 두꺼운 외투와 장갑, 그리고 모자는 필수랍니다!</p>
											</div>
										</div>
										<div class="row  grayLine2">
											<div class="col-md-12 mt40">
												<div class="row gray-box2">
													<div class="col-md-5 img-box">
														<p class="img"><img src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_02.png" alt="아침고요수목원 오색별빛정원전" /></p>
													</div>
													<div class="col-md-7">
														<div class="txt">
															<p class="f14">불빛 축제는 여기에서!</p>
															<p class="f20 mt8">가평 아침고요수목원 오색별빛정원전</p>
															<p class="f16 mt10">서울에서 차량으로 약 1시간 30분 거리에 있어 비교적 부담 없이 다녀올 수 있어요. 33만㎡에 달하는 정원 전체가 LED 조명으로 채워져 장관을 이룬답니다. </p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<h1 class="center mt100-m" >
													<p class="type20 center">찜질방 가기</p>
												</h1>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 mt40">
												<p>추워질수록 몸을 따뜻하게 풀어주는 곳이 당기기 마련이죠. 그런 점에서 겨울철엔 찜질방만 한 곳이 없답니다! 찜질방은 휴식도 취하고, 몸을 데우며, 맛있는 식사까지 즐길 수 있어 겨울철 인기가 많은 곳이에요. 뜨거운 방과 휴식 공간을 오가며 시간을 보내다 보면, 일상에서 쌓인 피로가 절로 풀린답니다. 가볍게 들러 몸만 데우고 나와도 좋고, 반나절 정도 여유를 두고 느긋하게 시간을 보내도 좋아요. 추운 날씨에 외출은 하고 싶은데, 너무 추워서 망설여진다면? 찜질방으로 가보세요!</p>
											</div>
											<div class="col-md-6 mt40">
												<p class="img100"><img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_03.jpg" alt="찜질방" /></p>
											</div>
										</div>
										<div class="row  grayLine2">
											<div class="col-md-12 mt40">
												<div class="row gray-box2">
													<div class="col-md-5 img-box">
														<p class="img"><img src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_04.png" alt="신촌 숲속한방랜드" /></p>
													</div>
													<div class="col-md-7">
														<div class="txt">
															<p class="f14">찜질방은 여기로!</p>
															<p class="f20 mt8">신촌 숲속한방랜드</p>
															<p class="f16 mt8">도심 한 복판에 이렇게 큰 찜질방이 있다니, 놀라실 거예요. 실내 찜질 공간뿐 아니라 야외 숯가마도 갖추어 즐길 거리가 풍부하답니다. 특히 야외 숯불에 고구마와 가래떡을 구워 먹을 수 있어, 겨울에만 느낄 수 있는 별미로 꼽힙니다.</p>
															<p class="f13 sGray">※본 이미지는 이해를 돕기 위한 예시 이미지이며, 실제 공간과는 무관합니다.</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<h1 class="center mt100-m" >
													<p class="type20 center">티 클래스 참여하기</p>
												</h1>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 mt40">
												<p class="img100"><img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_05.jpg" alt="티 클래스" /></p>
											</div>
											<div class="col-md-6 mt40">
												<p>겨울에는 활동량이 줄어드는 만큼, 정적인 프로그램에 관심이 생깁니다. 티 클래스는 차의 종류와 우리는 방법을 배우고, 직접 시음하며 차분한 분위기 속에서 시간을 보낼 수 있어요. 별도의 준비물이 필요 없고, 난이도도 높지 않아 처음 참여하는 분들도 부담 없이 참여할 수 있답니다. 여러 가지 차를 비교해 마시다 보면, 평소 무심코 마시던 차에 대해 조금 더 자세히 알게 될 거예요. 따뜻한 티와 함께하기 때문에 겨울철에 꼭 맞는 프로그램이랍니다!</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 mt40">
												<div class="row gray-box2">
													<div class="col-md-5 img-box">
														<p class="img"><img src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/05_06.png" alt="오설록 티하우스" /></p>
													</div>
													<div class="col-md-7">
														<div class="txt">
															<p class="f14">티 클래스는 여기로!</p>
															<p class="f20 mt8">청오설록 티하우스</p>
															<p class="f16 mt10">오설록에서 운영하는 티클래스로 그린티, 시즈널 티, 그리고 티 칵테일까지 다양하게 시음해 볼 수 있어요. 약 60분간 진행되며, 차와 잘 어울리는 페어링 푸드 또한 즐길 수 있답니다.</p>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div><!-- //container -->
								<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>