<!doctype html><html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

					<div class="content bg-g3">
						<section>
							<div class="wrap-inner5" id="wzPage" >
								<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
								<div class="container wz-left">
									<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
										<div class="row grayLine2">
											<div class="col-md-12">
												<h3 class="center mt100-m">Q&A</h3>
												<p class="mt80-m">대한민국 1등 두유기업, 정식품. 유당불내증을 앓던 아이들을 살리기 위해 개발한 베지밀을 시초로 53년이라는 긴 세월 동안 건강에 좋은 여러 가지 두유 등을 선보였습니다. 그동안 소비자분들이 정식품에 문의했던 단골 질문들을 모아 명쾌한 해답을 제시합니다.</p>
											</div>											
										</div><!--//row-->
										<div class="row">
											<div class="col-md-12  mt80">
												<div class="messenger3 ">
													<p class="center mesTitle"><img src="https://image.edaymall.com/images/dcf/webzine/Q4_2023/15_01.png" alt="엣지"/></p>
													<ul class="mt50">
														<li class="mesQ">
															<dl class="chat-dl">
																<dd class="chat">
																	<div class="mesType01 ">
																		<p style="font-family:'Verdana' ">Q. </p>
																		<p>간단요리사 담백한 채소 육수 제품은 오래 끓일 경우 맛이 변하나요?</p>
																	</div>
																</dd>
																<dd class="chat-edge"><p><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_qm.png" alt="엣지"/></p></dd>
															</dl>
														</li>
														<li class="mesA mt70">
															<dl class="chat-dl">
																<dd class="chat">
																	<div class="mesType02">
																		<p style="font-family:'Verdana' ">A. </p>
																		<p>
																		간단요리사 담백한 채소 육수는 다양한 요리에 잘 어울리도록 담백하면서도 맛의 균형을 맞춘 제품입니다. 다만 대부분의 육수나 소스처럼 너무 오래 끓이면 맛이 바뀔 수 있습니다. 국물이 줄어 간이 다소 진해지거나 채소의 은은한 향이 옅어질 수 있기 때문입니다. 따라서 재료가 어느 정도 익은 뒤에 넣거나 필요한 만큼만 끓여 사용하는 것이 좋습니다. 이렇게 조리하면 채소 육수 특유의 깔끔하고 담백한 맛을 더욱 잘 살릴 수 있습니다.
                                                                        </p>
																	</div>
																</dd>
																<dd class="chat-edge"><p><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_am.png" alt="엣지"/></p></dd>
															</dl>
														</li>
														
														<li class="mesQ">
															<dl class="chat-dl">
																<dd class="chat">
																	<div class="mesType01 ">
																		<p style="font-family:'Verdana' ">Q. </p>
																		<p>두유를 실온 보관해도 괜찮은 이유가 무엇인가요?</p>
																	</div>
																</dd>
																<dd class="chat-edge"><p><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_qm.png" alt="엣지"/></p></dd>
															</dl>
														</li>
														<li class="mesA mt70">
															<dl class="chat-dl">
																<dd class="chat">
																	<div class="mesType02">
																		<p style="font-family:'Verdana' ">A. </p>
																		<p>
																			베지밀 두유는 ‘멸균(UHT) 공정’을 통해 생산됩니다. 원료를 짧은 시간 동안 고온으로 가열해 미생물을 제거한 뒤, 외부 공기가 들어가지 않도록 무균 상태에서 바로 포장하는 방식입니다. 이 과정을 거친 두유는 외부 오염이 없다면 상온에서도 비교적 안정적으로 보관할 수 있습니다. 또한 빛과 공기의 영향을 줄이도록 설계된 멸균 포장을 사용해 소비기한 동안 품질을 유지할 수 있도록 했습니다. 다만 한 번 개봉한 뒤에는 공기와 접촉하게 되므로 냉장 보관하고, 가능한 한 빠르게 섭취하는 것이 좋습니다.
                                                                        </p>
																	</div>
																</dd>
																<dd class="chat-edge"><p><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_am.png" alt="엣지"/></p></dd>
															</dl>
														</li>
													</ul>

													
												</div>
												<p class="img100"><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_ui.jpg" alt="데코"/></a></p>
											</div>	
										</div><!--//row-->
										<div class="row">
											<div class="col-md-12 mt100-m">
												<p class="type19">
													<span>에디터 양은희</span>
												</p>												
											</div>
										</div><!--//row-->
									</div>
								</div><!-- //container -->
									<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>