<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage">
			<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row grayLine2">
						<div class="col-md-12">
							<h3 class="center mt100-m">정식품 스페이스</h3>
							<h1 class="center mt50-m">요즘 어디가 트렌디할까?</h1>
							<h2 class="center fw400 mt30-m">개성 넘치고 트렌디한 공간을 소개합니다.</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="center">
								<h1 class="center mt100-m">노말에이</h1>
							</div>
						</div>
					</div>
					<div class="row intxt">
						<div class="col-md-6 mt50">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_01.jpg" alt="노말에이" />
							</p>
						</div>
						<div class="col-md-6 mt50">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_02.jpg" alt="노말에이" />
							</p>
						</div>
					</div>
					<div class="row intxt">
						<div class="col-md-12 mt50">
							<p>책을 발견하는 재미를 느끼고 싶다면? 을지로의 독립서점 노말에이를 추천해요. 을지로 골목 사이에 자리한 노말에이는 넓지 않지만, 또렷한 취향이 느껴지는 매력적인 서점이에요.</p>
						</div>
					</div>
					<div class="row intxt">
						<div class="col-md-12 mt30-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_03.jpg" alt="노말에이" />
							</p>
						</div>
						<div class="col-md-12 mt50">
							<p>노말에이는 대형 서점처럼 책을 많이 쌓아두기보다, 직접 고른 책들로 공간을 채워두었어요. 디자인, 예술, 라이프스타일, 에세이 등 다양한 분야의 책들이 놓여 있어 천천히 둘러보다 보면 평소에는 지나쳤던 분야에도 자연스럽게 눈길이 가게 됩니다. 그래서 책을 고른다기보다, 눈에 들어오는 책을 따라가며 하나씩 발견하는 재미를 느낄 수 있어요.</p>
						</div>
					</div>
					<div class="row  intxt grayLine2">
						<div class="col-md-6 mt50">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q1_2026/06_04.jpg" alt="뉴뉴 기프트샵" />
							</p>
						</div>
						<div class="col-md-6 mt50">
							<p>한켠에는 엽서나 스티커, 포스터 같은 아기자기한 문구류도 함께 놓여 있어 구경하는 재미를 더해줍니다. 책과 함께 가볍게 둘러보기 좋고, 나를 위한 작은 선물이나 소소한 기념품을 고르기에도 잘 어울리는 공간이에요. 혼자 방문해도 부담 없고, 을지로에서 잠시 기분 전환이 필요할 때 가볍게 들르기 좋은 노말에이. 취향을 차곡차곡 쌓고 싶다면 한 번쯤 들러보길 추천해요.</p>
							<p class="type19-1 mt20-m">
								<span class="brown3">주소</span> 서울 중구 저동2가 70-1<br> <span class="brown3">영업시간</span> 월~토 12:00~18:00 (매주 일요일 정기 휴무)<br>
							</p>
						</div>
					</div>


					<!-- 2 -->
					<div class="row">
						<div class="col-md-12">
							<div class="center">
								<h1 class="center mt100-m">슬로우피</h1>
							</div>
						</div>
					</div>

					<div class="row intxt">
						<div class="col-md-6 mt50">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_05.jpg" alt="슬로우피" />
							</p>
						</div>
						<div class="col-md-6 mt50">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_06.jpg" alt="슬로우피" />
							</p>
						</div>
					</div>
					<div class="row intxt">
						<div class="col-md-12 mt30-m">
							<p>일상에서 벗어나, 손으로 무언가를 완성하는 시간을 가져 보고 싶다면 을지로의 가죽공방 슬로우피를 추천합니다. 슬로우피는 빠르게 소비되는 일상 속에서, ‘천천히 만들어가는 시간’을 경험할 수 있는 공간이에요.</p>
						</div>
					</div>
					<div class="row intxt">
						<div class="col-md-12 mt30-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_07.jpg" alt="슬로우피" />
							</p>
						</div>
						<div class="col-md-6 mt50">
							<p>슬로우피에서는 카드지갑, 키링, 파우치 등 비교적 가벼운 아이템부터 시작해 가죽 제품을 직접 만들어볼 수 있습니다. 난이도가 높지 않아 처음 방문하는 사람도 부담 없이 참여할 수 있어요. 재단된 가죽에 원하는 색상의 실을 고르고, 바느질을 하나씩 이어가며 하나둘 완성해 나가면 됩니다.</p>
						</div>
						<div class="col-md-6 mt50">
							<p>가죽 특유의 질감과 손에 닿는 감각을 느끼며 바느질을 하다 보면, 작업에 자연스레 집중하게 되고 마음도 한결 차분해집니다. 공방 역시 아늑한 분위기로 작업에 몰입하기 좋아요. 일상에서 잠시 속도를 늦추고 싶을 때, 혹은 새로운 취미를 시작해보고 싶을 때 슬로우피를 추천합니다.</p>
						</div>
					</div>
					<div class="row mt30-m intxt">
						<div class="col-md-6 mt30-m">
							<p class="img100">
								<img class="radiusType02" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/06_08.jpg" alt="슬로우피 " />
							</p>
						</div>
						<div class="col-md-6 mt30-m">
							<p class="type19-1">
								<span class="brown3">주소</span> 서울 중구 을지로18길 43 2층<br> <span class="brown3">영업시간</span> 월~금 9:00~21:00, 주말 10:00~19:00<br>
							</p>
						</div>
					</div>
					<!--//row-->
				</div>
			</div>
			<!-- //container -->
			<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>