<!doctype html><html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

					<div class="content bg-g3">
						<section>
							<div class="wrap-inner5" id="wzPage">
								<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
								<div class="container wz-left">
									<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
										<div class="row">
											<div class="col-md-12 center grayLine2">
												<h3 class="center mt100-m">맛있는 콩 이야기</h3>
												<h1 class="center mt50-m">작은 콩 한 알이 그려낸 세계의 식탁</h1>
											</div>
                                            <div class="col-md-12 intxt">
												<p class="mt30-m">
                                                   콩은 어디에나 있다. 정겨운 냄새가 차오르는 한국의 장독대 안에도, 올리브유가 반짝이는 중동의 후무스 접시에도, 코끝을 찌르는 인도의 커리 냄비와 서양의 싱그러운 샐러드 볼 속에도 콩은 빠지지 않고 제 자리를 지킨다. 하지만 가만히 들여다보면 참 신기하다. 분명 밭에서 갓 수확한 알맹이는 같은 모습인데, 식탁 위에 오르는 순간 전혀 다른 얼굴로 변신하기 때문이다. 이름도, 맛도, 식감도, 심지어 콩을 대하는 사람들의 태도까지 달라진다.<br>우리는 흔히 콩을 ‘건강식’이나 ‘식물성 단백질원’ 같은 기능적인 단어로만 기억한다. 하지만 콩이라는 식재료는 사실, 각 문화가 척박한 환경 속에서 살아남기 위해 선택했던 고유한 생활 방식을 고스란히 담고 있다. 어떤 곳에서는 굶주림을 견디기 위해 시간을 들여 삭혔고, 어떤 곳에서는 부족함을 채우기 위해 갈아서 나누었으며, 또 어떤 곳에서는 강렬한 향신료와 섞어 식탁의 중심으로 끌어올렸다. 콩은 그렇게 세계 곳곳에서 서로 다른 인류의 표정을 품으며 자라왔다.

                                                </p>
											</div>

										<div class="row mt30-m">
											<div class="col-md-12 mt50">
                                                <p class="center"><img class="img100" src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_line.png" alt="선" /></p>
												<p class="type20 center mt20">시간을 기다리는 법, 동아시아의 발효</p>
												<p class="mt30-m img100"><img class="radiusType01" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/03_01.jpg" alt="시간을 기다리는 법, 동아시아의 발효" /></p>
											</div>
                                            <div class="col-md-12 intxt grayLine2">
												<p class="mt30-m">
                                                   동아시아에서 콩은 단순한 채소가 아니라 ‘인내의 결정체’에 가까웠다. 한국의 된장, 일본의 미소, 중국의 두반장을 떠올려 보자. 이 지역의 콩은 늘 ‘발효’라는 길고 어두운 터널을 통과한 뒤에야 식탁 위에 올랐다. 사계절이 뚜렷하고 겨울이 긴 동아시아에서 콩은 고기를 대신해 단백질을 보충해 주는 소중한 자원이었다. 문제는 이 귀한 식량을 어떻게 상하지 않게 보존하며, 사계절 내내 먹을 수 있느냐는 것이었다.<br>
												   인류는 여기서 ‘기다림’이라는 해답을 선택했다. 콩을 삶아 메주를 띄우고, 소금을 섞어 옹기에 담은 뒤 햇볕과 바람이 제 몫을 하도록 내맡겼다. 장독대 안에서 계절을 온몸으로 품으며, 그렇게 장은 익어갔다. 자연의 순리와 인간의 노동이 겹겹이 쌓여 완성된 결과물이었다.<br>
												   그래서 동아시아에서 콩은 ‘즉시 소비하는 음식’이 아니라 ‘기다림 끝에 완성되는 맛’으로 남았다. 오늘날 우리가 장맛에서 느끼는 깊은 감칠맛은, 그 속에 스며든 수개월의 시간을 함께 음미하는 일이기도 하다.
                                                </p>
											</div>
										</div>


                                        <div class="row mt30-m">
											<div class="col-md-12">
                                                <p class="center"><img class="img100" src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_line.png" alt="선" /></p>
												<p class="type20 center mt20">나누기 위해 뭉치는 법,<br>중동의 후무스가 보여주는 연대</p>
											</div>
											<div class="col-md-12">
												<p class="mt30-m img100"><img class="radiusType01" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/03_02.jpg" alt="후무스" /></p>
											</div>
										</div>
										<div class="row intxt mt30-m grayLine2">
                                            <div class="col-md-6">
                                                <p class="mt30-m">
                                                   비행기를 타고 모래바람이 부는 중동으로 가보자. 이곳에서 콩은 전혀 다른 질감으로 우리를 맞이한다. 병아리콩을 곱게 갈아 만든 후무스는 혀끝에 닿는 순간 크림처럼 부드럽게 풀어진다. 이 질감은 우연이 아니다. 건조하고 뜨거운 태양 아래, 농사가 쉽지 않은 환경에서 단백질은 무엇보다 귀한 자원이었기 때문이다.
                                                </p>
											</div>
											<div class="col-md-6">
                                                <p class="mt30-m">
                                                   중동 사람들은 이 귀한 영양을 최대한 효율적으로, 그리고 공동체 모두가 공평하게 나누는 방법을 고민했다. 그 결과가 바로 ‘갈아내기’였다. 입자를 곱게 갈아 양을 늘리고, 올리브유와 타히니를 더해 누구나 빵에 찍어 먹을 수 있는 형태로 만들었다. 후무스는 혼자서 접시 하나를 독차지하는 음식이 아니다. 커다란 접시를 가운데 두고, 가족과 친구들이 둘러앉아 피타빵으로 함께 나눈다. 같은 맛을 나누며 대화를 이어가는 그 순간, 콩은 공동체를 잇는 매개체가 된다.
                                                </p>
											</div>
                                        </div>

                                        <div class="row mt30-m">
											<div class="col-md-12">
                                                <p class="center"><img class="img100" src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_line.png" alt="선" /></p>
												<p class="type20 center mt20">삶의 중심이 되는 식사,<br>인도의 달(Dal)과 향신료</p>
											</div>
                                            <div class="col-md-12">
												<p class="mt30-m img100"><img class="radiusType01" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/03_03.jpg" alt="달" /></p>
											</div>
                                        </div>
                                        <div class="row intxt mt30-m grayLine2">
                                            <div class="col-md-12">
                                                <p>
                                                   인도에 이르면 콩은 조연의 자리를 벗어나 당당한 주연이 된다. 렌틸콩을 푹 끓여 향신료를 더한 달(Dal)은 인도 가정식의 뿌리라 해도 과언이 아니다. 이 음식에는 종교와 수천 년에 걸친 식습관이 깊이 스며 있다. 채식 인구가 많은 인도에서 콩은 고기의 대체재가 아니다. 강황의 황금빛, 커민의 향, 마살라의 매콤함과 어우러져 식탁의 중심을 차지하는 주인공이다.<br>달을 한 숟갈 떠먹는 순간, 콩에 대한 우리의 편견은 자연스레 무너진다. 고기를 대신해 선택한 차선책이 아니라, 그 자체로 완성도 높은 한 끼이기 때문이다. 인도에서 콩은 고된 일상을 지탱하는 든든한 힘이자, 식탁 위에서 가장 화려하게 빛나는 존재다.

                                                </p>
											</div>
                                        </div>

										<div class="row intxt mt30-m grayLine2 mt30-m">
											<div class="col-md-12">
                                                <p class="center"><img class="img100" src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_line.png" alt="선" /></p>
												<p class="type20 center mt20">가치관을 선택하는 법, <br>서양의 샐러드 볼이 외치는 선언</p>
											</div>
                                            <div class="col-md-12">
												<p class="mt30-m img100"><img class="radiusType01" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/03_04.jpg" alt="샐러드" /></p>
											</div>
                                            <div class="col-md-6 mt30-m">
												<p>서양에서 콩이 걸어온 길은 다소 다르다. 유럽과 미국은 역사적으로 육류 소비가 매우 활발해 단백질 결핍을 걱정할 필요가 없었다. 그래서 오랫동안 콩은 고기 옆에 곁들여지는 보조 식재료, 혹은 가난한 이들의 음식으로 치부되기도 했다.</p>
											</div>
                                            <div class="col-md-6 mt30-m">
												<p>하지만 최근 반전이 일어났다. 콩이 현대적인 라이프스타일의 상징으로 화려하게 부활한 것이다. 샐러드 위에 올려진 병아리콩이나 렌틸 수프는 이제 단순한 한 끼가 아니다. 내가 얼마나 건강을 세심하게 챙기는지, 환경 보호와 비거니즘이라는 가치관에 얼마나 동참하고 있는지를 보여주는 일종의 선언에 가깝다. 레스토랑에서 콩 요리를 주문하는 것은 나의 몸과 지구를 돌보겠다고 말하는 행위로 해석되기도 한다. 선택의 여지가 없을 때 먹던 음식에서, 이타적인 가치관을 가진 이들이 선택하는 음식으로 지위가 바뀐 셈이다.</p>
											</div>
                                        </div>

										<div class="row intxt mt30-m">
											<div class="col-md-12">
                                                <p class="center"><img class="img100" src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_line.png" alt="선" /></p>
												<p class="type20 center mt20">콩이 보여주는 문화의 지도<br>“당신의 식탁 위에는 어떤 세계가 있나요?”</p>
											</div>
                                            <div class="col-md-12">
												<p class="mt30-m img100"><img class="radiusType01" src="https://image.edaymall.com/images/dcf/webzine/Q2_2026/03_05.jpg" alt="다양한 콩" /></p>
											</div>
                                            <div class="col-md-12 mt30-m">
												<p>이렇게 보면, 우리가 무심코 집어 올리는 콩 한 알은 단순한 알맹이가 아니다. 각 나라의 콩 음식은 그들의 환경을 닮았고 또 그들의 얼굴을 닮았다. 동아시아에서는 저장과 인내의 기술로 빚어낸 시간이었고, 중동에서는 척박함을 이겨내는 나눔이었으며, 인도에서는 삶의 중심이었고, 서양에서는 더 나은 미래를 향한 선택이 되었다.<br>오늘날 우리의 식탁에는 이 모든 세계가 공존한다. 아침에는 구수한 된장찌개로 하루를 시작하고, 점심에는 샐러드 속 콩으로 건강을 챙긴다. 저녁에는 친구들과 모여 와인 잔을 기울이며 이국적인 후무스의 부드러움에 취한다. 우리의 식탁 위에 수천 년의 역사와 수만 킬로미터의 거리가 한 상 위에 오른 셈이다.<br>이제 콩을 먹는다는 것은 단순히 영양을 섭취하는 일이 아니다. 한 문화권이 쌓아온 시간의 무게에 공감하는 일일지도 모른다. </p>
											</div>
                                        </div>

										<div class="row intxt grayLine2">
											<div class="col-md-12 mt70-m">
												<div class="row">
													<p><img src="https://image.edaymall.com/images/dcf/webzine/Q4_2024/08_m_04.png" alt="강조" /></p>
													<p class="brown3 type17 center" style="margin:20px 0px;">
														작지만 단단한 콩 한 알이 우리에게 말을 건넨다<br>지금까지 어떻게 살아왔으며, 그리고 앞으로 어떤 삶을 선택하고 싶은지.<br>그 질문에 대한 가장 맛있는 대답을 찾아가는 여정,<br>어쩌면 그것이 우리가 매일 콩을 마주하는 진짜 이유일지도 모른다.
													</p>
													<p class="right"><img src="https://image.edaymall.com/images/dcf/webzine/Q4_2024/08_m_05.png" alt="강조" /></p>
												</div>
											</div>
										</div> 


                                        <div class="row mt90" >
											<div class="col-md-12">
												<div class="bnr_bean2">
													<ul>
														<li>
															<p class="fw500">요리를 더 간편하게, 더 맛있게 즐기고 싶다면?</p>
															<p class="type07-1 fw500"><span style="color:#915430;">간단요리사 진한콩국물</span>과 함께라면<br>콩의 영양과 맛을 편하게 즐길 수 있어요</p>
															<dl class="btn_bean mt30-m">
																<dd><a href="https://www.vegemil.co.kr/beanSoup" target="_blank">브랜드사이트 바로가기</a></dd>
																<!-- <dd class="mt10m"><a href="https://dedaymall.cafe24.com/skin-skin1/product/list.html?cate_no=141" target="_blank">제품 구매하러 가기</a></dd> -->
																
															</dl>
														</li>
														<li>
															<p><img src="https://image.edaymall.com/images/dcf/webzine/Q3_2024/04_beansoup2.png" alt="진한 콩국물" /></p>
														</li>
													</ul>
												</div>
											</div>
										</div>




										<div class="row intxt mt100-m2 ">
											<div class="col-md-2">
												<p class="type19 comment " >
													<img  src="https://image.edaymall.com/images/dcf/webzine/common/ico_comment_2.gif" alt="comment" />
												<p>												
											</div>


											<div class="col-md-10">
												<p class="type21 mt20m">
													<span class="gray">더 많은 레시피를 보고 싶다면? </span><br>
													<span class="coral">정식품 공식블로그</span> <span class="black"><a href="http://blog.naver.com/vegemilstory" target="_blank">http://blog.naver.com/vegemilstory</a><br>
													<span class="coral">정식품 공식유튜브</span> <span class="black"><a href="https://www.youtube.com/vegemilgood" target="_blank">https://www.youtube.com/vegemilgood</a>
												<p>												
											</div>
										</div>

										<div class="row intxt">
											<div class="col-md-12 mt30-m">
												<p class="type19">
													<span class="type19-2">요리소개 &nbsp;<b class="fw500">푸드 칼럼니스트 이주현</b></span><br><span class="type19-1">영양사 출신의 요리 연구가 및 푸드 칼럼니스트로서 쿠킹 클래스, 인문학 강의, 방송, 심사위원까지 다채롭게 활동 중이다.<br>한국일보 <이주현의 맛있는 음식인문학>외 다양한 칼럼을 통해 음식에 대해 재미있게 알려주고 있다. </span>
												</p>												
											</div>

										</div><!--//row-->


									</div>
									</div>
								</div><!-- //container -->
									<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>