<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage">
			<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>
			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row grayLine2">
						<div class="col-md-12">
							<h3 class="center mt100-m">Q&A</h3>
							<p class="mt80-m">대한민국 1등 두유기업, 정식품. 유당불내증을 앓던 아이들을 살리기 위해 개발한 베지밀을 시초로 53년이라는 긴 세월 동안 건강에 좋은 여러 가지 두유 등을 선보였습니다. 그동안 소비자분들이 정식품에 문의했던 단골 질문들을 모아 명쾌한 해답을 제시합니다.</p>
						</div>
					</div>
					<!--//row-->
					<div class="row">
						<div class="col-md-12  mt80">
							<div class="messenger3 ">
								<p class="center mesTitle">
									<img src="https://image.edaymall.com/images/dcf/webzine/Q4_2023/15_01.png" alt="엣지" />
								</p>
								<ul class="mt50">
									<li class="mesQ">
										<dl class="chat-dl">
											<dd class="chat">
												<div class="mesType01 ">
													<p style="font-family: 'Verdana'">Q.</p>
													<p>두유는 하루에 몇 개까지 마셔도 괜찮나요?</p>
												</div>
											</dd>
											<dd class="chat-edge">
												<p>
													<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_qm.png" alt="엣지" />
												</p>
											</dd>
										</dl>
									</li>
									<li class="mesA mt70">
										<dl class="chat-dl">
											<dd class="chat">
												<div class="mesType02">
													<p style="font-family: 'Verdana'">A.</p>
													<p>두유는 식물성 단백질과 콩의 영양을 간편하게 섭취할 수 있어, 식사나 간식으로 부담 없이 즐기기 좋습니다. 다만 하루 섭취량은 개인의 식습관과 섭취 목적에 따라 달라질 수 있으며, 일반적으로는 하루 1~2팩 정도를 권합니다. 특히 당류가 들어간 제품은 하루 전체 당 섭취량도 함께 고려해, 균형 잡힌 식사와 함께 적당량을 즐기는 것을 권장합니다</p>
												</div>
											</dd>
											<dd class="chat-edge">
												<p>
													<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_am.png" alt="엣지" />
												</p>
											</dd>
										</dl>
									</li>

									<li class="mesQ">
										<dl class="chat-dl">
											<dd class="chat">
												<div class="mesType01 ">
													<p style="font-family: 'Verdana'">Q.</p>
													<p>두유를 얼려서 먹으면 영양 성분에 영향이 없을까요?</p>
												</div>
											</dd>
											<dd class="chat-edge">
												<p>
													<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_qm.png" alt="엣지" />
												</p>
											</dd>
										</dl>
									</li>
									<li class="mesA mt70">
										<dl class="chat-dl">
											<dd class="chat">
												<div class="mesType02">
													<p style="font-family: 'Verdana'">A.</p>
													<p>두유를 얼려서 먹는다고 해서 단백질이나 주요 영양 성분이 크게 사라지는 것은 아닙니다. 다만 두유는 수분과 단백질, 지방 등을 함유해 냉동과 해동 과정에서 질감이나 맛이 달라질 수 있습니다. 해동 후에는 성분이 층처럼 분리되거나 처음의 부드러운 목넘김이 다소 줄어들 수 있으므로, 충분히 흔들어 섭취하는 것이 좋습니다. 제품 본연의 고소하고 부드러운 맛을 가장 잘 느끼고 싶다면 냉장 상태로 차갑게 즐기는 방법을 추천합니다.</p>
												</div>
											</dd>
											<dd class="chat-edge">
												<p>
													<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_am.png" alt="엣지" />
												</p>
											</dd>
										</dl>
									</li>
								</ul>


							</div>
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2023/15_ui.jpg" alt="데코" /></a>
							</p>
						</div>
					</div>
					<!--//row-->
					<div class="row">
						<div class="col-md-12 mt100-m">
							<p class="type19">
								<span>에디터 양은희</span>
							</p>
						</div>
					</div>
					<!--//row-->
				</div>
			</div>
										<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>