<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="content bg-g3">
	<section>
		<div class="wrap-inner5" id="wzPage">
			<script type="text/javascript" src="https://www.vegemil.co.kr/common/js/jquery.Floater.js"></script>

			<div class="container wz-left">
				<div class="project-detail-wrap fl-wrap bg-w2 container-sub80">
					<div class="row intxt">
						<div class="col-md-12">
							<h3 class="center mt100-m">제품 이야기</h3>
							<h1 class="center mt30-m">
								여름철 시원하게 즐기는<br> <span class="green2">꼭꼭 씹히는 애플망고 두유</span>
							</h1>
						</div>
					</div>
					<div class="row intxt grayLine2">
						<div class="col-md-6 mt40">
							<p>여름은 어느 순간 갑자기 찾아온다. 아침에는 괜찮았던 날씨가 점심 무렵이면 금세 후끈해지고, 잠깐 외출한 사이에도 이마에 땀이 송글송글 맺힌다. 옷차림은 한결 가벼워졌지만 몸은 생각보다 빨리 지치고, 입맛도 조금씩 달라진다. 따뜻한 음료보다 시원한 음료를 찾게 되고, 한 모금 마셨을 때 기분까지 산뜻해지는 맛에 손이 간다. 특히 더운 날에는 시원하고 상큼한 음료를 마시며 누리는 잠깐의 휴식이 제법 만족스럽게 느껴진다.</p>
						</div>
						<div class="col-md-6 mt40">
							<p>이런 여름날, 유독 생각나는 과일들이 있다. 특히 열대과일 특유의 달콤하고 상큼한 향과 풍부한 과즙을 지닌 애플망고가 대표적이다. 여기에 원액두유의 부드러움, 탱글한 나타드코코의 식감이 더해진다면 단순히 갈증을 해소하는 음료를 넘어, 한층 든든하면서도 색다른 여름 한 잔이 완성된다. ㈜정식품의 ‘꼭꼭 씹히는 애플망고 두유’는 이름 그대로 달콤한 애플망고의 풍미와 씹는 즐거움을 담아낸 제품이다. 무더운 계절, 시원하게 즐기기 좋은 제품을 소개하고자 한다.</p>
						</div>
					</div>
					<!--//row-->
					<div class="row">
						<div class="col-md-12 mt100 center">
							<p class="type22-5 center lh150">상큼한 애플망고와 탱글한 나타드코코의 만남!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt30">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_01.jpg" alt="‘상큼한 애플망고와 탱글한 나타드코코의 만남!" />
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mt40">
							<p>두유는 건강한 음료라는 인식이 강하다. 또 한편으로는 다소 익숙하고 정적인 맛이라는 이미지도 있다. ‘베지밀 꼭꼭 씹히는 애플망고 두유’는 바로 그 익숙한 두유에 새로움을 더하기 위해 개발된 제품으로, 2014년 7월 출시 이후 지금까지 꾸준히 사랑받으며 ㈜정식품 과즙 두유의 대표 제품으로 자리 잡았다.</p>
						</div>
						<div class="col-md-6 mt40">
							<p>매일 아침 두유로 허기를 달래던 한 연구원은 무더운 여름날 문득 “좀 더 상큼하게 즐길 수 있는 두유가 있으면 어떨까?”라는 생각을 하게 됐다. 여기에 과일의 산뜻함과 씹는 식감까지 더해진다면, 기존 두유와는 전혀 다른 매력의 제품이 될 수 있다고 생각했고, 그렇게 탄생한 제품이 바로 ‘베지밀 꼭꼭 씹히는 애플망고 두유’다.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_02.jpg" alt="애플망고" />
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p>
								이 제품의 가장 큰 특징 중 하나는 이름 그대로 ‘씹히는 두유’라는 점이다. 단순히 과일 맛을 더한 두유가 아니라, 마시는 재미까지 담아낸 제품인 셈이다. 하지만 국내 최초로 ‘과일 알갱이가 들어간 두유’를 구현하는 과정은 쉽지 않았다. 음료 속 나타드코코가 한쪽으로 가라앉지 않고 균일하게 분산되도록 만드는 데 많은 시행착오가 있었고, 그 과정 끝에 ‘팩 타입 무균성 과립 음료의 제조방법’ 특허(제10-1342578호)까지 받았다.<br> 두 번째 특징은 애플망고 특유의 달콤하고 진한 풍미, 두유의 고소함, 그리고 나타드코코의 탱글한 식감까지 세 가지 요소가 하나의 음료 안에서 자연스럽게 어우러진다는 점이다. 소비자 입장에서 새롭지만 낯설 수 있는 조합인 만큼, 첫 한 모금에서 조화로운 맛이라는 인상을 줄 수 있도록 맛의 균형에 심혈을 기울였다.
							</p>
						</div>
					</div>

					<div class="row grayLine2">
						<div class="col-md-6 mt40-m">
							<p>이런 노력의 결과, ‘베지밀 꼭꼭 씹히는 애플망고 두유’는 새로운 맛의 두유를 맛보고 싶거나, 평소 두유를 선호하지 않는 소비자들에게도 호평을 받고 있다. 특히 두유는 콩 특유의 향과 고소함 때문에 아이들에게 다소 낯설고 어렵게 느껴지는 맛이기도 하다. 그래서 부모님은 늘 고민한다. “건강한 두유를 좀 더 맛있게 먹일 방법은 없을까?” 이 질문의 명쾌한 해답으로 ‘베지밀 꼭꼭 씹히는 애플망고 두유’를 자신있게 추천한다. 한 팩당(190mL) 115 kcal로, 비타민 A, C, D가 풍부해 건강하고 맛있는 간식으로 제격이다.</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_03.jpg" alt="애플망고" />
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt100 center">
							<p class="type22-5 center lh150">무더운 여름, 더욱 사랑받을 수밖에 없는 이유</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt30">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_04.jpg" alt="‘무더운 여름, 더욱 사랑받을 수밖에 없는 이유 " />
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 mt40">
							<p>‘베지밀 꼭꼭 씹히는 애플망고 두유’는 소비기한 동안 팩 그대로 실온에서 보관 가능한 제품이지만, 냉장보관 후 차갑게 마시면 더 맛있는 제품이다. 특히 이 제품이 여름철 디저트로 사랑받는 데는 두 가지 이유가 있다.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_05.jpg" alt="애플망고" />
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p>첫째, 손 쉽게 샤베트와 빙수를 만들 수 있다. 무더운 여름, 냉장고에 넣어서 시원하게 마시는 것만으로도 갈증을 해소하고, 당을 충전할 수 있지만 그보다 더 맛있게 먹는 방법은 얼려서 먹는 것이다. 냉동실에 넣어 꽁꽁 얼린 뒤, 숟가락이나 포크, 또는 믹서기로 으깨면 그 자체로 샤베트가 된다. 여기에 생과일이나 큐브치즈 등 원하는 토핑을 올리면 애플망고빙수로 즐길 수 있다. 따라서 빙수기가 없어도 간편하게 여름철 간식을 만들 수 있다.</p>
						</div>
					</div>

					<div class="row intxt grayLine2">
						<div class="col-md-6 mt40-m">
							<p>
								둘째, 유당불내증 걱정 없이 즐길 수 있는 식물성 디저트다. 여름철 대표 간식인 빙수나 아이스크림은 대부분 우유 베이스이다. 반면 이 제품은 두유를 베이스로 하기 때문에 유당을 소화하지 못해 배앓이를 하는 아이들이나 성인들도 속 편하고 맛있는 여름 디저트를 즐길 수 있다. <br>그대로 마셔도 좋고, 얼려서 디저트로 즐겨도 좋은 ‘베지밀 꼭꼭 씹히는 애플망고 두유’는 무더운 여름을 더욱 시원하고 맛있게 즐길 수 있는 특별한 선택이 될 것이다.
							</p>
						</div>
						<div class="col-md-6 mt40-m">
							<p class="img100">
								<img src="https://image.edaymall.com/images/dcf/webzine/Q3_2026/02_06.jpg" alt="애플망고" />
							</p>
						</div>
					</div>

					<div class="row intxt">
						<div class="comment-box mt60">
							<p class="fw500 red3 center">[Comment]</p>
							<p>
								매해 새로운 음료와 디저트가 등장하지만, 오랜 시간 사랑받는 제품에는 그만한 이유가 있다고 생각합니다. ‘베지밀 꼭꼭 씹히는 애플망고 두유’는 처음 출시 당시만 해도 두유와 열대과일, 그리고 나타드코코를 조합한 다소 낯선 제품이었습니다. 하지만 애플망고의 달콤한 풍미와 두유의 고소함, 여기에 씹는 즐거움까지 더한 차별화된 매력으로 소비자들의 꾸준한 사랑을 받아왔고, 지금은 정식품 과즙 두유를 대표하는 제품 중 하나로 자리 잡았습니다. <br> <br> 건강을 즐겁게 관리하는 '헬시 플레저(Healthy Pleasure)' 시대에, ‘베지밀 꼭꼭 씹히는 애플망고 두유’는 아이들에게는 맛있고 재미있게 즐길 수 있는 건강 간식으로, 어른들에게는 지친 일상에 기분 좋은 활력을 더해주는 음료로 제격입니다. 특히 유당불내증 걱정 없이 샤베트나 빙수 등 다양한 디저트로 간단히 변주할 수 있다는 점 또한 이 제품이 가진 숨은 매력입니다. 익숙한 두유에 달콤한 애플망고의 풍미와 색다른 즐거움을 더한 ‘베지밀 꼭꼭 씹히는 애플망고 두유’ 한 팩으로, 올여름 무더위를 더욱 달콤하고 건강하게 즐겨보는 건 어떨까요?
							</p>
						</div>
					</div>

					<div class="project-detail-wrap fl-wrap bg-w2 container-sub">
						<div class="row">
							<div class="col-md-12 mt30">
								<p class="type19">
									<span> 글을 쓴 김예진 연구원은</span>
								</p>
								<p class="type19-1">제품기술연구부서에서 학술 연구를 담당하고 있다. 정식품 학술연구의 중심이 되는 그는 남녀노소를 아우르는 자상함에 더하여 친절함까지 갖추고 있다.</p>
							</div>
						</div>
						<!--//row-->
					</div>
				</div>
			</div>
									<!-- 추천기사 날개버전 -->
			<div class="wz-right" th:with="bannerSize=${#lists.size('banner')}">
				<div class="wz-floting">
					<p class="wz-news-title">추천기사</p>
					<ul class="wz-news" th:if="${not #lists.isEmpty( recommandWebzineList )}" th:each="recWebzine : ${recommandWebzineList}">
						<a th:href="|javascript:moveUrl('${recWebzine.qrtYear}','${recWebzine.fileNo}');|">
							<li>
								<p class="wz-news-type01" th:text="${recWebzine.snsTitle}"></p>
								<p class="wz-news-type02" th:text="|${recWebzine.sumLine}|"></p>
						</li>
							<li>
								<p th:class="|h180-m ${recWebzine.qrtYear}_${#strings.substring(recWebzine.fileNo,3, 5)}|"></p>
						</li>
						</a>
					</ul>
					<p class="wz-bnr" th:if="${banner != null && banner.imgCount == '1'}">
						<a href="#" th:href="${banner.linkAddr}"> <img src="https://image.edaymall.com/images/dcf/webzine/Q2_2023/bnr_greenbia_brand.png" th:src="${banner.imgName}" />
						</a>
					</p>
					<div class="wz-bnr VFT01_860_01" th:if="${banner != null && banner.imgCount == '2'}">
						<ul class="wz-half-bnr">
							<li><a th:href="${banner.linkAddr}" target="_blank"><img th:src="${banner.imgName}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
							<li><a th:href="${banner.linkAddr2}" target="_blank"><img th:src="${banner.imgName2}" alt="과즙두유" />
									<p>제품소개 바로가기</p> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // 추천기사 날개 버전 -->
		</div>
		<!-- //wrap-inner2 -->
	</section>
</div>
</html>