<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/vegemilBaby/head_renew :: headFragment"></head>
<body>
<div id="wrap">
    <!-- ================================ Header ================================ -->
    <header th:insert="fragments/vegemilBaby/mainHeader_renew :: headerFragment"></header>
    <!-- ================================ // Header ================================ -->
    <!-- ------------------- content ------------------- -->
    <!-- ------------------- content ------------------- -->
    <div id="content">
        <div class="container100">
            <div class="row pd0 mg0 ">
                <div class="col-md-12" >
                    <div class="subIMG02_02 subIMG">
                        <div class="container h560">
                            <div class="subTxt">
                                <h1 class="f40 fw600 white">베지밀 킨더랜드 프리미엄</h1>
                                <p class="f20 mt20 white">콩을 직접 갈아 만든 콩 원액에<br>꼼꼼한 영양 설계로 만든 베지밀 영·유아식</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row pd0 mg0 -->
        </div>
        <div class="container100 bg_location">
            <div class="container snbMenu_hr">
                <div class="row ">
                    <div class="col-md-12">
                        <!-- snbMenu -->
                        <div class="snbMenu">
                            <dl>
                                <dd>
                                    <!-- cate_sel_01 -->
                                    <li>
                                        <div class="cate_sel_01">
                                            <div class="option-list_01" >
                                                <p class="view-btn_01" >
                                                    <a href="javascript:void(0);">Product</a>
                                                </p>
                                            </div>
                                            <div class="list_open_01">
                                                <div class="cate_content">
                                                    <ul class="cate_ul_list">
                                                        <li><a th:href="@{/vegemilBaby/brand}">Brand</a></li> <!-- 0725 -->
                                                        <li><a th:href="@{/vegemilBaby/premium}">Product</a></li>
                                                        <li><a th:href="@{/vegemilBaby/bv_event}"> Event</a></li>
                                                        <li><a th:href="@{/vegemilBaby/magazine?category=all}"> Community</a></li> <!-- 0725 -->
                                                        <li><a th:href="@{/vegemilBaby/faq}"> Support</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- // cate_sel_01 -->
                                </dd>
                                <dd>
                                    <!-- cate_sel_02 -->
                                    <li>
                                        <div class="cate_sel_02">
                                            <div class="option-list_02" >
                                                <p class="view-btn_02" >
                                                    <a href="javascript:void(0);">킨더랜드</a>
                                                </p>
                                            </div>
                                            <div class="list_open_02">
                                                <div class="cate_content">
                                                    <ul class="cate_ul_list2">
                                                        <li><a th:href="@{/vegemilBaby/premium}">인펀트·토들러</a></li>
                                                        <li><a th:href="@{/vegemilBaby/belief}">킨더랜드</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- // cate_sel_02 -->
                                </dd>
                            </dl>
                        </div>
                        <!-- snbMenu -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //container100 -->

        <div class="container100 over-hidden">
            <div class="row  pd0 mg0 ">
                <div class="container">
                    <div class="col-md-12 brandTxt">
                        <div class="subTitle">

                            <div class="subTitle">
                                <p class="f24 fw400">균형 잡힌 영양이 필요한 우리 아이를 위한 영양간식</p>
                            </div>

                        </div>
                        <p class="f55_6 mt30">베지밀 킨더랜드 프리미엄</p>
                    </div>
                </div>
                <div class="container100 mt120">
                    <div class="row pd0 mg0">
                        <div class="col-md-12 center">
                            <img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/2024/p02.jpg" alt="우리콩제품"/>
                        </div>
                    </div>
                    <div class="row mg0">
                        <div class="container">
                            <div class="col-md-12 center pt140 pb60">
                                <p class="f45_6">치밀한 영양설계</p>
                            </div>
                            <div class="row product_list01">
                                <div class="col-md-6">
                                    <p class="img100"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/2024/p_list03.jpg" alt="해썹" /></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="prd_box02" >
                                        <p class="f20_4_o">24개월부터</p>
                                        <p class="f26_6_1 clear mt15">Kinderland Premium 3</p>
                                        <ul class="prd_ul">
                                            <li>
                                                <img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/ico_bottle.png" alt="중량 및 구성" />
                                                <p class="f14_4 mt20">중량 및 구성</p>
                                                <p class="f17_6 mt10">190ml</p>
                                            </li>
                                            <li>
                                                <img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/ico_time.png" alt="중량 및 구성" />
                                                <p class="f14_4 mt20">소비기한</p> <!-- 0801 -->
                                                <p class="f17_6 mt10">7개월</p>
                                            </li>
                                            <li>
                                                <img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/ico_temperature.png" alt="중량 및 구성" />
                                                <p class="f14_4 mt20">보관방법</p>
                                                <p class="f17_6 mt10">실온보관</p>
                                            </li>
                                        </ul>
                                        <!-- 0725 -->
                                        <p class="btn_prd02">
                                            <a href="http://www.edaymall.com/display/goods.do?goods_code=10237140&category_code=20000101" class="btn hide-icon btn_type03"><i class="fa fa-angle-right "><img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/ico_arrow_w.png" /> </i><span>베지밀 킨더랜드 프리미엄 3단계 구매하기</span></a>
                                        </p>
                                        <!-- //0725 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //container100-->

                <!-- ================= [추가] 상품 상세 앵커 탭 메뉴 ================= -->
                <div class="container100 mt200">
                    <div class="product_detail_tab_wrap">
                        <div class="container">
                            <ul class="prd_detail_tab">
                                <li class="active"><a href="#detailInfo">상세 설명</a></li>
                                <li><a href="#nutritionInfo">영양정보</a></li>
                            </ul>
                            <div class="prd_box mt100"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2026/html/img/2024/prd02.jpg" alt="베지밀 영융아식 인펀트 토들러"/></div>
                        </div>
                    </div>
                </div>
                <!-- ================= //상품 상세 앵커 탭 메뉴 ================= -->


                <div class="container100 bg_g4 pt130 pb160 " id="nutritionInfo">
                    <div class="row">
                        <div class="col-md-12 center">
                            <p class="f45_6">영양분석표</p>
                        </div>
                        <!-- 제미나이 영양수정 영역 -->
                        <div class="container pdl15">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="yy_title mt50">
                                        <p class="f26_6_1">킨더랜드 프리미엄 3단계</p>
                                        <p class="f26_4">총내용량 190ml ∙ 112kcal</p>
                                    </div>
                                    <ul class="yy">
                                        <li>
                                            <table class="t_type04" summary="영양성분2_3">
                                                <caption>인펀트 우리콩 3단계</caption>
                                                <colgroup>
                                                    <col width="60%">
                                                    <col width="20%">
                                                    <col width="20%">
                                                </colgroup>
                                                <tr>
                                                    <th>나트륨(mg)</th>
                                                    <td>120</td>
                                                    <td>15%</td>
                                                </tr>
                                                <tr>
                                                    <th>탄수화물(g)</th>
                                                    <td>15</td>
                                                    <td>10%</td>
                                                </tr>
                                                <tr>
                                                    <th class="in">당류(g)</th>
                                                    <td>8</td>
                                                    <td>16%</td>
                                                </tr>
                                                <tr>
                                                    <th class="in">식이섬유(g)</th>
                                                    <td>1.6</td>
                                                    <td>11%</td>
                                                </tr>
                                                <tr>
                                                    <th>지방(g)</th>
                                                    <td>4</td>
                                                    <td>13%</td>
                                                </tr>
                                                <tr>
                                                    <th class="in">트랜스지방(g)</th>
                                                    <td>0</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th class="in">포화지방(g)</th>
                                                    <td>2</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>콜레스테롤(mg)</th>
                                                    <td>0</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>단백질(g)</th>
                                                    <td>4</td>
                                                    <td>11%</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table class="t_type04" summary="영양성분2_3">
                                                <caption>인펀트 우리콩 3단계</caption>
                                                <colgroup>
                                                    <col width="60%">
                                                    <col width="20%">
                                                    <col width="20%">
                                                </colgroup>
                                                <tr>
                                                    <th>비타민 B1(mg)</th>
                                                    <td>0.1</td>
                                                    <td>25%</td>
                                                </tr>
                                                <tr>
                                                    <th>비타민 B2(mg)</th>
                                                    <td>0.11</td>
                                                    <td>22%</td>
                                                </tr>
                                                <tr>
                                                    <th>비타민 B6(mg)</th>
                                                    <td>0.11</td>
                                                    <td>18%</td>
                                                </tr>
                                                <tr>
                                                    <th>비타민 B12(㎍)</th>
                                                    <td>0.2</td>
                                                    <td>22%</td>
                                                </tr>
                                                <tr>
                                                    <th>비타민 C(mg)</th>
                                                    <td>8.6</td>
                                                    <td>22%</td>
                                                </tr>
                                                <tr>
                                                    <th>비타민 D(㎍)</th>
                                                    <td>1.5</td>
                                                    <td>30%</td>
                                                </tr>
                                                <tr>
                                                    <th>판토텐산(mg)</th>
                                                    <td>0.43</td>
                                                    <td>22%</td>
                                                </tr>
                                                <tr>
                                                    <th>나이아신(mg NE)</th>
                                                    <td>1.2</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <th>엽산(㎍ DFE)</th>
                                                    <td>32</td>
                                                    <td>21%</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table class="t_type04" summary="영양성분2_3">
                                                <caption>인펀트 우리콩 3단계</caption>
                                                <colgroup>
                                                    <col width="60%">
                                                    <col width="20%">
                                                    <col width="20%">
                                                </colgroup>
                                                <tr>
                                                    <th>비오틴(㎍)</th>
                                                    <td>1.9</td>
                                                    <td>21%</td>
                                                </tr>
                                                <tr>
                                                    <th>칼슘(mg)</th>
                                                    <td>150</td>
                                                    <td>30%</td>
                                                </tr>
                                                <tr>
                                                    <th>인(mg)</th>
                                                    <td>75</td>
                                                    <td>17%</td>
                                                </tr>
                                                <tr>
                                                    <th>철(mg)</th>
                                                    <td>0.4</td>
                                                    <td>7%</td>
                                                </tr>
                                                <tr>
                                                    <th>칼륨(mg)</th>
                                                    <td>150</td>
                                                    <td>8%</td>
                                                </tr>
                                                <tr>
                                                    <th>리놀레산(g)</th>
                                                    <td>1</td>
                                                    <td>22%</td>
                                                </tr>
                                                <tr>
                                                    <th>알파-리놀렌산(g)</th>
                                                    <td>0.15</td>
                                                    <td>25%</td>
                                                </tr>
                                                <tr>
                                                    <th>EPA+DHA(mg)</th>
                                                    <td>24</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <!-- 0726 -->
                                    <div class="yy_bottom">
                                        <p class="f13 mt10"><b>*1일 영양성분 기준치에 대한 비율(%)</b> : 한국인 유아(1-2세) 영양섭취기준에 대한 비율</p>
                                    </div>
                                    <!-- //0726 -->
                                </div>
                            </div>
                        </div>
                        <!-- //제미나이 영양수정 영역 -->
                    </div>
                </div>

            </div><!-- //row-->
        </div><!-- //container100 -->
    </div>
    <!-- ------------------- // content ------------------- -->
    <!-- ================================ Footer ================================ -->
    <footer th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
    <!-- ================================ // Footer ================================ -->
</div>
</body>
</html>
