<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<title>달력모델</title>
<head th:replace="fragments/vegemilBaby/head :: headFragment"></head>
<body>
<div id="wrap">
<!-- ================================ Header ================================ -->
<header th:insert="fragments/vegemilBaby/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
	<div id="content">
		<div class="container100">
			<div class="row pd0 mg0 ">
				<div class="col-md-12">
					<div class="subIMG03_03 subIMG">
						<div class="container h560">
							<div class="subTxt">
								<p class="f40 fw600 white">아기모델 선발대회</p>
								<p class="f20 mt20 white">매월 달력 모델에 도전하세요!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row pd0 mg0 -->
		</div>
		<div class="container100 bg_location">
			<div class="container snbMenu_hr">
				<div class="row ">
					<div class="col-md-12">
						<!-- snbMenu -->
						<div class="snbMenu modelsubMenu">
							<dl>
								<dd>
									<!-- cate_sel_01 -->
									<li>
										<div class="cate_sel_01">
											<div class="option-list_01" >
												<p class="view-btn_01" >
													<a href="javascript:void(0);">Event</a>
												</p>
											</div>
											<div class="list_open_01">
												<div class="cate_content">
													<ul class="cate_ul_list">
														<li><a href="#">Product</a></li>
														<li><a href="#"> Event</a></li>
														<li><a href="#"> Cummunity</a></li>
														<li><a href="#"> Support</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<!-- // cate_sel_01 -->
								</dd>
								<dd>
									<!-- cate_sel_02 -->
										<li>
											<div class="cate_sel_02">
												<div class="option-list_02" >
													<p class="view-btn_02" >
														<a href="javascript:void(0);">아기모델선발대회</a>
													</p>
												</div>
												<div class="list_open_02">
													<div class="cate_content">
														<ul class="cate_ul_list2">
															<li><a href="/vegemilBaby/event">진행 중 이벤트</a></li>
															<li><a href="/vegemilBaby/event_review_best">후기 이벤트</a></li>
															<li><a href="/vegemilBaby/event_model">아기모델 선발대회</a></li>
															<li><a href="/vegemilBaby/sample">샘플신청</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<!-- // cate_sel_02 -->
								</dd>
							</dl>
						</div>
						<!-- snbMenu -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container100 -->
		<div class="container100">
			<div class="row  pd0 mg0 ">

				<!-- 탭 -->
				<script type="text/javascript">
					$(document).ready(function(){
						$('#tab_brand').basicTabs();/* 영양탭 */
					});
				</script>
				<div class="container100 mt120">
					<div class="row  pd0 mg0 ">
						<div id="tab_brand">
							<div class="container ">
								<ul class="tabs2 btn_ch19">
									<li class="li_icoBG01"><a href="#con01">아기 달력모델 선발대회</a></li>
									<li class="li_icoBG02"><a href="#con02">이달의 모델</a></li>
							
								</ul>
							</div>
							
							<script type="text/javascript">
								//custom hypark023
								
								$(".li_icoBG01").click(function(){
									
									$("#con02").hide();
									$("#con01").show();
								});
								$(".li_icoBG02").click(function(){
									
									$("#con01").hide();
									$("#con02").show();
								});
								
							</script>
							<div class="tab_content_brand ">
									<dl id="con01">
										<div class="container">					
											<div class="col-md-12 brandTxt mt70m">
												<div class="subTitle">
													<div class="side">
														<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_01.png">
													</div>
													<div class="f24_8_bg">
														<p class="f24_7_bg">Event</p>
													</div>
													<div class="side">
														<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_02.png">
													</div>
												</div>
												<p class="f55_6 mt30">아기모델선발대회</p>
												<p class="f24_4 mt10">아기모델에 선정되시면 우리 아기의 사진이 들어간 달력과 푸짐한 선물을 드립니다.</p>
											</div>
										</div>

										<div class="container pb120">
											<div class="row">
												<div class="col-md-12 mt120">
													<p><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/model_info.jpg" alt="" /></p>
													<div class="btn_model"><a href="/vegemilBaby/model/form"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/btn_model.png" alt="후기 이벤트 참여하기" /></a></div>
													<ul class="model_txt">
														<li>* 주의사항</li>
														<li>
															<p>- 상품권은 이마트 상품권으로 발송되오며, 이와 관련하여 임의변경 요청은 불가합니다.<br>         (단, 자사 내부 사정으로 인하여 변경될 수 있습니다.)</p>
															<p>- 달력모델로 선정된 아이 사진은 각 월별로 모아 제작하며 연말에 발송됩니다.</p>
															<p>- 2023년 12월, 2024년 1~11월 모델 : 2025년도 달력에 수록, 2024년 12월 모델 : 2026년도 12월에 수록</p>
															<p>- 달력모델 및 참여상은 내부 협의로 선정되며, 참여상 및 추천 혜택은 10명 시상이 진행되지 않을 수 있습니다.</p>
															<p>- 달력모델 및 참여상 사진은 정식품 홍보물로 사용할 수 있으며, 원본에 대한 저작권, 초상권은 당사에서 갖게 됩니다.</p>
															<p>- 아이 캐릭터는 선발된 모델(1,2등)만 제작 가능하며, 신청 시 기입한 이메일주소로 발송됩니다.<br>         (참여한 사진으로만 제작되며, 임의변경 요청은 불가합니다.)</p>
															<p>- 관련 문의사항이 있으신 경우 hsy5089@vegemil.co.kr 로 연락주세요.</p>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- //container-->
									</dl><!-- //con01 -->

									<dl id="con02" class="pb120" style="display:none;">
										<div class="container">					
											<div class="col-md-12 brandTxt mt70m">
												<div class="subTitle">
													<div class="side">
														<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_01.png">
													</div>
													<div class="f24_8_bg">
														<p class="f24_7_bg">Event</p>
													</div>
													<div class="side">
														<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_02.png">
													</div>
												</div>
												<p class="f55_6 mt30">이달의 모델</p>
												<p class="f24_4 mt10">아기모델에 선정되시면 우리 아기의 사진이 들어간 달력과 푸짐한 선물을 드립니다.</p>
											</div>
											
										</div>
										<!-- 최근 수상내역 -->
										<div class="container100 bg_b mt30">
											<div class="row pd0 mg0">
												<div class="col-md-12 mt80 ">
													<div class="col-md-12">
														<ul class="model_ul" id="babyList">
																												
															 <div style="clear:both"></div> 

															<!--2020 4월달 하드코딩-->
															<!-- <li class="md22_hard">
																<div class="model_month">
																	<p  class="model_box1" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n14.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt50">이달의 베지밀 달력 아기모델</p>
																	<p class="f26_4">하*형님</p>
																</div>
															</li>
															<li class="md23">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n10.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">장*영님</p>
																</div>
															</li>
															<li class="md24">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n23.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">전*혁님</p>
																</div>
															</li>
															<li class="md25">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n09.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">안*희님</p>
																</div>
															</li>
															<li class="md26">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n29.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">윤*혜님</p>
																</div>
															</li>
															<li class="md27">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n13.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">배*우님</p>
																</div>
															</li>
															<li class="md28">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n06.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">이*경님</p>
																</div>
															</li>
															<li class="md29">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n28.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">조*식님</p>
																</div>
															</li>
															<li class="md30">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n02.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">이*진님</p>
																</div>
															</li>
															<li class="md31">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n05.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">윤*진님</p>
																</div>
															</li>
															<li class="md32">
																<div class="model_month">
																	<p  class="model_box2" style="background: url(https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/model/model_202004_n22.jpg);  background-position:center;-webkit-background-size: cover; background-size: cover"></p>
																	<p class="f17_4 mt5">참여상</p>
																	<p class="f20_4">김*정님</p>
																</div>
															</li><div style="clear:both"></div> -->
															<!-- 2020 4월달 하드코딩 -->
														</ul>
													</div>													
									
												</div><!-- // col-md-12 -->
											</div><!-- // container -->
										</div><!-- // container100 최근 수상내역 -->
										</dl>

							</div><!-- //tab_content_brand -->
						</div><!-- // Tab -->
					</div><!-- //row-->
				</div><!-- //container100 -->
				<!-- //탭 -->
			</div><!-- //row-->
		</div><!-- //container100 -->

	<!-- if(document.getElementById(".md"+model.tRownum)){
										            	
	      	console.log(model.tRownum, "에 해당하는 클래스 찾음");
	      	console.log(document.getElementById(model.tRownum));
	      // let titleItem = makeTitle(model);
	       //console.log(titleItem);
	       $(".md"+model.tRownum).before(document.getElementById(model.tRownum));
	
	      	//$(".md"+model.tRownum).before('<h1>test</h1>');      //4. 당첨자 리스트 앞에 해당 타이틀을 삽입
	      } 
	      
	      console.log("test", document.getElementById(".md"+model.tRownum)); -->
		
	</div>
	<!-- ------------------- // content ------------------- -->

	<!-- 뷰저블리 -->
	<script type="text/javascript">
	// 게시글 로드하기
	let pageNum= 1;	
	function storyLoad() {
		console.log("pageNum:", pageNum)
	    $.ajax({
	        url:`/api/vegemilBaby/event/model?pageNum=${pageNum}&pageSize=30`,
	        dataType : "json",
		     async: false
	        
	    }).done(res=>{
	        console.log(res);
	        res.data.list.forEach((model) => {


	            let babyModel = makeBabyModel(model)
	            $("#babyList").append(babyModel);
	          
	            if(model.cRank == '1' && model.cTitle2nd != '1'){ 

	            	$(".md"+model.ROWNUM).before(titleLoad(model.ROWNUM));
	            }
	        })									        
	    }).fail(error => {
	        console.log("오류", error);
	    });
	}
	
	//이달의모델 생성
	function makeBabyModel(model) {
		let item =
		    `
		    <li  class="md${model.ROWNUM}" id="md${model.ROWNUM}" >
		    <div class="model_month">
		    <p class="model_box${model.cRank}"  
		    style="background: url(/web/upload/vegemilBaby/${model.cImage}); background-position:center;-webkit-background-size: cover; background-size: cover;">
			</p>											
				<p class="f17_4 mt50" >${model.cHonor}</p>
				<p class="f26_4" >*${model.cName}님</p>
				
			</li>	
		     `;									
		    return item;
	}
	
	//생성된 타이틀 로드
	function titleLoad(rownum){

		let title;
		$.ajax({
			  url:'/api/vegemilBaby/event/model/title/'+rownum,
			  method: "GET",
		      dataType : "json",
		      async: false,

			  success: function(res) {
				  let model = res.data;
		          title = makeTitle(model);
			  },
			  error: function(error) {
			      console.log(error);
			  }
			});										
	return title;
	
	} 
	
	//타이틀 생성
	function makeTitle(model){
		let title = `
			<li class="mcBox" id="${model.tRownum}">
				<div class="best_day">
					<span class="bestType01 bg_bean">${model.tMonth1}</span>
					<span>${model.tMonth1String}</span>
					`;
					if(model.tMonth2){													
						title += `
						<span class="bestType01 bg_bean">${model.tMonth2}</span>
						<span>${model.tMonth2String}</span>`;
					}
					if(model.tMonth3){													
						title += `
						<span class="bestType01 bg_bean">${model.tMonth3}</span>
						<span>${model.tMonth3String}</span>`;
					}
					title += `
					<span class="bestYear">${model.tYear}</span>
				</div>											
			</li> 
		`;
		return title;										
	}
	
	storyLoad();	
	
	 $( document ).ready( function() {			
			//이전 스크롤 좌표
			var lastScrollTop = 0;			
			//스크롤 이벤트 최초 발생
		    $(window).scroll( ()=> {
		    	
		    	let checkNum = $(window).scrollTop() - ( document.documentElement.scrollHeight - window.innerHeight );
				if(checkNum <0.5 && checkNum >-2.5){
					pageNum++;
			
					storyLoad();
					
				} 
		    });
						
			  
			/* $( '.md305' ).before( '<li class="mcBox"><div class="best_day"><span class="bestType01 bg_bean">1</span> January <span class="bestYear">2023</span></div></li>' ); 
			$( '.md298' ).before( '<li class="mcBox"><div class="best_day"><span class="bestType01 bg_bean">12</span> December <span class="bestYear">2022</span></div></li>' ); */
		    /* $( '.md287' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">10</span> October <span class="bestType01 bg_bean">11</span> November<span class="bestYear"> 2022</span></div></li>' ); */
	        /* $( '.md275' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">9</span> September <span class="bestYear">2022</span></div></li>' ); */           
		   /*  $( '.md265' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">8</span> August <span class="bestYear">2022</span></div></li>' );
		    $( '.md257' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">7</span> July <span class="bestYear">2022</span></div></li>' );
		    $( '.md247' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">6</span> June  <span class="bestYear">2022</span></div></li>' );
			$( '.md236' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">5</span> May  <span class="bestYear">2022</span></div></li>' );
		    $( '.md226' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">4</span> April  <span class="bestYear">2022</span></div></li>' );
			$( '.md221' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">3</span> March   <span class="bestYear">2022</span></div></li>' );
			$( '.md216' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">2</span> February   <span class="bestYear">2022</span></div></li>' );
	        $( '.md208' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">1</span> January <span class="bestYear">2022</span></div></li>' );
	        $( '.md197' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">12</span> December <span class="bestYear">2021</span></div></li>' );
	        $( '.md186' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">10</span> October <span class="bestType01 bg_bean">11</span> November<span class="bestYear"> 2021</span></div></li>' );
	        $( '.md175' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">9</span> September   <span class="bestYear">2021</span></div></li>' );
	        $( '.md166' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">8</span> August   <span class="bestYear">2021</span></div></li>' );
	        $( '.md155' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">7</span> July   <span class="bestYear">2021</span></div></li>' );
	        $( '.md144' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">6</span> June   <span class="bestYear">2021</span></div></li>' );
	        $( '.md133' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">5</span> May   <span class="bestYear">2021</span></div></li>' );

	        $( '.md122' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">4</span> April   <span class="bestYear">2021</span></div></li>' );
	        $( '.md111' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">3</span> March   <span class="bestYear">2021</span></div></li>' );
	        $( '.md100' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">2</span> February   <span class="bestYear">2021</span></div></li>' );
	        $( '.md89' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">1</span> January   <span class="bestYear">2021</span></div></li>' );

	        $( '.md78' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">12</span> December   <span class="bestYear">2020</span></div></li>' );
	        $( '.md67' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">10</span> October   <span class="bestYear">2020</span></div></li>' );
	        $( '.md55' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">9</span> September <span class="bestYear">2020</span></div></li>' );
	        $( '.md44' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">8</span> August   <span class="bestYear">2020</span></div></li>' );
	        $( '.md33' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">7</span> July   <span class="bestYear">2020</span></div></li>' );
	        $( '.md22' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">6</span> June   <span class="bestYear">2020</span></div></li>' );
	        $( '.md11' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">5</span> May  <span class="bestYear">2020</span></div></li>' );
	        $( '.md22_hard' ).before( '<li class=mcBox><div class="best_day"><span class="bestType01 bg_bean">4</span> April   <span class="bestYear">2020</span></div></li>' ); */
			
		  } );
		
   
   (function(w, d, a){
		w.__beusablerumclient__ = {
			load : function(src){
				var b = d.createElement("script");
				b.src = src; b.async=true; b.type = "text/javascript";
				d.getElementsByTagName("head")[0].appendChild(b);
			}
		};w.__beusablerumclient__.load(a);
	})(window, document, '//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5');
	</script>
	<!-- //뷰저블리 -->
	
		
	<!-- ================================ Footer ================================ -->
	<footer  th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
	</div>
	</body>
</html>
