<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<title>global</title>  
<head th:replace="fragments/vegemilBaby/head :: headFragment"></head>   
<body>
<!-- ================================ Header ================================ 
<header th:insert="fragments/vegemilBaby/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ --> 
  
 
<!-- ================================ Footer ================================ 
<footer  th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
  
  </body>
</html>
