<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<title>육아정보 상세</title>
<head th:replace="fragments/vegemilBaby/head :: headFragment"></head>    
<body>
<!-- ================================ Header ================================ -->
<header th:insert="fragments/vegemilBaby/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
	
	<div id="content">
		<div class="container100">
			<div class="row pd0 mg0 ">
				<div class="col-md-12">
					<div class="subIMG04_01 subIMG">
						<div class="container h640">
							<div class="subTxt">
								<p class="f40_6">육아정보</p>
								<p class="f20_4 mt20">일상 속 육아공감 스토리와<br>알아두면 유용할 알찬 정보를 전합니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row pd0 mg0 -->
		</div>
		
		
		
			<div class="container100 bg_b">
			<div class="container">
				<div class="row ">
					<div class="col-md-12">
						<!-- snbMenu -->
						<div class="snbMenu">
							<dl>
								<dd>
									<!-- cate_sel_01 -->
									<li>
										<div class="cate_sel_01">
											<div class="option-list_01" >
												<p class="view-btn_01" >
													<a>Cummunity</a>
												</p>
											</div>
											<div class="list_open_01">
												<div class="cate_content">
													<ul class="cate_ul_list">
														<li><a th:href="@{/vegemilBaby/brand}">brand</a></li>
														<li><a th:href="@{/vegemilBaby/premium}">Product</a></li>
														<li><a th:href="@{/vegemilBaby/bv_event}"> Event</a></li>
														<li><a th:href="@{/vegemilBaby/magazine}"> Cummunity</a></li>
														<li><a th:href="@{/vegemilBaby/faq}"> Support</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<!-- // cate_sel_01 -->
								</dd>
								<dd>
									<!-- cate_sel_02 -->
										<li>
											<div class="cate_sel_02">
												<div class="option-list_02" >
													<p class="view-btn_02" >
														<a>육아정보</a>
													</p>
												</div>
												<div class="list_open_02">
													<div class="cate_content">
														<ul class="cate_ul_list2">
															<li><a th:href="@{/vegemilBaby/magazine}">육아정보</a></li>
															<li><a th:href="@{/vegemilBaby/qna}">육아상담 Q&amp;A</a></li>
															<li><a th:href="@{/vegemilBaby/recipe}">베지밀 레시피</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
								    <!-- // cate_sel_02 -->
								</dd>
							</dl>
						</div>
						<!-- snbMenu -->
					</div>
				</div>
			</div>
		</div>
												
            <!-- //container100 -->
            <div class="container100" th:object="${magazineDetail}" >
                <div class="row mg0 pd0">
                    <div class="container">					
                        <div class="col-md-12 brandTxt">
                            <p class="f24_4_bg">E-Magazine</p>
                            <p class="f55_6 mt30">육아정보</p>
                            <p class="f24_4 mt10">아래 카테고리를 선택하시면 원하시 는 정보를 더 정확하게 확인할 수 있습니다.</p>
                        </div>
                                                
                        <!-- col-md-12 -->
                        <div class="col-md-12 mt120 pd0 detailBox">
                            <!-- detailTable -->
                            <div class="detailTable mb80">
                                <ul class="detail_lineT" id="detail_Position">
                                    <li class="detail_left">
                                        <a th:href="@{/vegemilBaby/magazine?p=1}">
                                            <div class="listMenu"></div>
                                            <p class="f17_4">목록으로 돌아가기</p>
                                        </a>
                                    </li>

                                    <li class="detail_right">
                                        <a th:with ="var=*{mbsIdx}" th:href="@{/vegemilBaby/magazine/detail/}+${var-1}" class="f17_4">이전</a>
                                        <a th:with ="var=*{mbsIdx}" th:href="@{/vegemilBaby/magazine/detail/}+${var+1}" class="f17_4">다음</a>
                                    </li>

                                </ul>
                                <ul class="detail_lineB">
                                    <li class="detail_left">
                                        <p class="f20_4_w" th:text="*{mbsTitle}"></p>
                                    </li>
                                  
                                    <li class="detail_right">
                                        <p class="f20_4_w" th:text="*{mbsGetdate}"></p>
                                    </li>
                                </ul>
                            </div>
                            <!--//detailTable -->

							<!-- col-md-4 -->
                            <div class="col-md-3 f-left mHide">
								<div class="cateBox_detail">
									<!-- Vetical -->
									<div id="verticalType01" >									
										
										 <h3 class="ver-title01 open"><a>임신출산</a></h3>
   										 <div>
											<div class="v_content ">
												<ul class="v_ul">
													<li>
														<dl>
															<dt>임신 주차별 정보</dt>
															<dd id="pb01"><a th:href="@{/vegemilBaby/magazine?category=pb&subCategory=pb01}">임신초기<span th:text="|(${categoryCount.pb01})|"></span></a></dd>
															<dd id="pb02"><a th:href="@{/vegemilBaby/magazine?category=pb&subCategory=pb02}">임신중기<span th:text="|(${categoryCount.pb02})|"></span></a></dd>
															<dd id="pb03"><a th:href="@{/vegemilBaby/magazine?category=pb&subCategory=pb03}">임신후기<span th:text="|(${categoryCount.pb03})|"></span></a></dd>
														</dl>
													</li>
													<li id="pb04"><a th:href="@{/magazine?category=pb&subCategory=pb04}">임신기 건강관리<span th:text="|(${categoryCount.pb04})|"></span></a></li>
													<li id="pb05"><a th:href="@{/magazine?category=pb&subCategory=pb05}">임신 준비&태교<span th:text="|(${categoryCount.pb05})|"></span></a></li>
													<li id="pb06"><a th:href="@{/magazine?category=pb&subCategory=pb06}">출산 준비&용품<span th:text="|(${categoryCount.pb06})|"></span></a></li>
													<li id="pb07"><a th:href="@{/magazine?category=pb&subCategory=pb07}">산후관리<span th:text="|(${categoryCount.pb07})|"></span></a></li>
												</ul>
											</div>
										</div>
										 <h3 class="ver-title01 open">성장/발달</h3>
   										 <div>
											<div class="v_content">
												<ul class="v_ul">
													<li>
														<dl>
															<dt>1~36개월 정보</dt>
															<dd id="gh01"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh01}">1~3개월<span th:text="|(${categoryCount.gh01})|"></span></a></dd>
															<dd id="gh02"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh02}">4~6개월<span th:text="|(${categoryCount.gh02})|"></span></a></dd>
															<dd id="gh03"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh03}">7~12개월<span th:text="|(${categoryCount.gh03})|"></span></a></dd>
															<dd id="gh04"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh04}">13~18개월<span th:text="|(${categoryCount.gh04})|"></span></a></dd>
															<dd id="gh05"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh05}">19~24개월<span th:text="|(${categoryCount.gh05})|"></span></a></dd>
															<dd id="gh06"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh06}">25~36개월<span th:text="|(${categoryCount.gh06})|"></span></a></dd>
														</dl>
													</li>
													<li id="gh07"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh07}">3세 이상<span th:text="|(${categoryCount.gh07})|"></span></a></li>
													<li id="gh08"><a th:href="@{/vegemilBaby/magazine?category=gh&subCategory=gh08}">영유아 건강관리<span th:text="|(${categoryCount.gh08})|"></span></a></li>
												</ul>
											</div>
										</div>

										<h3 class="ver-title01 open">놀이/교육</h3>
   										 <div>
											<div class="v_content">
												<ul class="v_ul">
													<li id="pe01"><a th:href="@{/vegemilBaby/magazine?category=pe&subCategory=pe01}">DIY&놀이법<span th:text="|(${categoryCount.pe01})|"></span></a></li>
													<li id="pe02"><a th:href="@{/vegemilBaby/magazine?category=pe&subCategory=pe02}">교육/훈육 노하우<span th:text="|(${categoryCount.pe02})|"></span></a></li>
												</ul>
											</div>
										</div>

										<h3 class="ver-title01 open" >리빙/헬스/트렌드</h3>
   										 <div >
											<div class="v_content">
												<ul class="v_ul">
													<li id="lh01"><a th:href="@{/vegemilBaby/magazine?category=lh&subCategory=lh01}">리빙/헬스<span th:text="|(${categoryCount.lh01})|"></span></a></li>
													<li id="lh02"><a th:href="@{/vegemilBaby/magazine?category=lh&subCategory=lh02}">트렌드<span th:text="|(${categoryCount.lh02})|"></span></a></li>
												</ul>
											</div>
										</div>
										
									</div>
									<script>
									$("#verticalType01").collapse({
									  //accordion: true,
									  open: function() {
										this.addClass("open");
										this.css({ height: this.children().outerHeight() });
									  },
									  close: function() {
										this.css({ height: "0px" });
										this.removeClass("open");
									  }
									});
									</script>
									<!-- // Vetical -->
								</div>
																
                            </div>
                            <!--// col-md-4 -->



                            <!-- col-md-8 이부분에 리스트 삽입-->
							<div class="col-md-8 underlineBox02 mb150 f-right">
								<div th:utext ="*{mbsContent}"></div>                                 
                            </div>  
                                                    
                            <!--// col-md-8 -->  
                            
                        </div>
                        <!-- //col-md-12 -->
					</div>
                        <!-- //container -->
                </div><!-- //row-->
            </div>
            <!-- //container100 -->
	    </div> <!-- //content -->
 
	
	
	
	
	
	
	
	
	
		
	<!-- ================================ Footer ================================ -->
	<footer  th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
	</body>
</html>
