<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
  <head>
    <title>후기 이벤트 양식</title>
    <head th:replace="fragments/vegemilBaby/head :: headFragment"></head>
<!-- ================================ Header ================================ -->
	<header th:insert="fragments/vegemilBaby/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->


	<script>	
	
	function photo_link(){
			window.open('/vegemilBaby/photoSNS','Photo','left=0,top=0,width=425,height=170,' +
			'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');
	}

	</script>
    </head>    
    
	<body>
	
	<div id="content">
		<div class="container100">
			<div class="row pd0 mg0 ">
				<div class="col-md-12">
					<div class="subIMG03_02 subIMG">
						<div class="container h560">
							<div class="subTxt">
								<p class="f40 fw600 white">후기 이벤트</p>
								<p class="f20 mt20 white">우리 아기의 베지밀 이야기를<br>남겨주세요!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row pd0 mg0 -->
		</div>
		<div class="container100 bg_location">
			<div class="container snbMenu_hr">
				<div class="row ">
					<div class="col-md-12">
						<!-- snbMenu -->
						<div class="snbMenu modelsubMenu">
							<dl>
								<dd>
									<!-- cate_sel_01 -->
									<li>
										<div class="cate_sel_01">
											<div class="option-list_01" >
												<p class="view-btn_01" >
													<a href="javascript:void(0);">Event</a>
												</p>
											</div>
											<div class="list_open_01">
												<div class="cate_content">
													<ul class="cate_ul_list">
														<li><a th:href="@{/vegemilBaby/brand}">Brand</a></li>
														<li><a th:href="@{/vegemilBaby/premium}">Product</a></li>
														<li><a th:href="@{/vegemilBaby/magazine?category=all}">Community</a></li>
														<li><a th:href="@{/vegemilBaby/bv_event}">Event</a></li>														
														<li><a th:href="@{/vegemilBaby/faq}">Support</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<!-- // cate_sel_01 -->
								</dd>
								<dd>
									<!-- cate_sel_02 -->
										<li>
											<div class="cate_sel_02">
												<div class="option-list_02" >
													<p class="view-btn_02" >
														<a href="javascript:void(0);">후기이벤트</a>
													</p>
												</div>
												<div class="list_open_02">
													<div class="cate_content">
														<ul class="cate_ul_list2">
															<li><a th:href="@{/vegemilBaby/bv_event}">진행 중 이벤트</a></li>
															<li><a th:href="@{/vegemilBaby/event_review_best}">후기 이벤트</a></li>
															<li><a th:href="@{/vegemilBaby/event_model}">아기 달력모델 선발대회</a></li>
															<li><a th:href="@{/vegemilBaby/sample}">샘플신청</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<!-- // cate_sel_02 -->
								</dd>
							</dl>
						</div>
						<!-- snbMenu -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container100 -->
        <div class="container100">
            <div class="row  pd0 mg0 ">
                <dl id="con01">
                   <div class="container">					
                        <div class="col-md-12 brandTxt">
                            <div class="subTitle">
								<div class="side">
										<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_01.png">
								</div>
								<div class="f24_8_bg">
									<p class="f24_7_bg">Event</p>
								</div>
								<div class="side">
										<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/subTitle_02.png">
								</div>
							</div>
                            <p class="f55_6 mt30">후기 이벤트</p>
                            <p class="f24_4 mt10">SNS에 베지밀 영&middot;유아식 체험후기 올리면, 할인쿠폰 100%발급! 우수 작성자께 드리는 온라인 상품권도 놓치지 마세요!</p>
                        </div>
                    </div>
                    <div class="container pb150">
                        <div class="row">
                            <div class="col-md-12 mt120 modelForm">
								<p class="f24_4 bestFomeTitle">후기확인</p>
								<ul class="formBox">
									  <li class="bg_y">
										<dl class="divideType05 f17_4">
											<dd>번호</dd>
											<dd>URL</dd>
											<dd>등록일</dd>
								        </dl>
								      </li>
								      <!-- 등록된 후기 없을때 -->
									  <li>
										<p class="f17_4 center">"등록된 후기가 없습니다."</p>
									  </li>
									  <!-- //등록된 후기 없을때 -->
								      <li>  									      									
							             <dl id="rptList" class="divideType05 f17_4" th:each="review : ${reviewList}">
											<dd th:text="${review.sRank}">번호</dd>
											<dd th:text="${review.sUrl}">url</dd>
											<dd th:text="${review.sWritedate}">등록일</dd>
									     </dl>	
									   </li>
								</ul>
								<p class="f24_4 bestFomeTitle mt120">등록하기</p>
      							 <form th:action=@{/vegemil/review/apply} th:object="${review}" method="post" enctype="multipart/form-data">
                                    <fieldset>
                                        <legend>입력 폼</legend>
                                        <ul class="formBox">
											<input style="display:none" type="text" name="sUid" th:value="${loggedId}">
                                           <li>
												<dl class="divideType01 f17_4">
													<dd>소개글</dd>
													<dd class="mt10m">
														<input type="text" name="sTitle" placeholder="ex)휴대하기 간편해서 외출용으로 사용해요!" required>		
													</dd>
												</dl>
                                            </li>
                                            <li>
												<dl class="divideType01 f17_4">
													<dd>공유 SNS</dd>
													<dd>
														<div class="selectbox w200"> 
															<label for="sSns">선택하세요</label> 
															<select id=sSns name="sSns" required>
																<option value="">선택하세요</option>
																<option value="카카오 스토리">카카오 스토리</option>
																<option value="인스타그램">인스타그램</option>
																<option value="페이스북">페이스북</option>
																<option value="블로그">블로그</option>
																<option value="기타">기타</option>														  
														</select>								
														</div> 
													</dd>
												</dl>
                                            </li>
                                            <li class="fileBox">
												<dl class="divideType01 f17_4">
													<dd>대표사진</dd>
													<dd>
														 <p class="f17_3 mt10m">우리아이 대표사진1장을 등록해주세요. (3M이하 이미지를 등록)</p>
														  <label for="form_pic" class="f17_4 mt10">이미지첨부</label>
														  <input id="form_pic"  type="file"  accept=".png,.gif,.jpg" name="fileName" required/>
													</dd>
												</dl>
                                            </li>
                                            <li>
												<dl class="divideType01 f17_4">
													<dd>URL</dd>
													<dd class="mt10m">
														<input type="text" name="sUrl" id="sUrl" required>
														 <p class="f17_3_g mt10">
														- 영&middot;유아식과 함께하는 모습의 사진<br>
														- 제품 이용후기<br>
														- 필수 해시태그 입력<br>
														- 전체 공개<br>
														- 대표사진 첨부</p>
														<p class="f17_3 mt10m"><img src="https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/ico_yellow4.png" alt="아이콘" />  &nbsp;SNS 업로드 시 [후기글 기본 요건]을 충족하셔야 합니다</p>
													</dd>
												</dl>
                                            </li>
                                            <li>
												<dl class="divideType01 f17_4">
													<dd>이데이몰 ID</dd>
													<dd class="mt10m">
													  <input type="text" name="sEdayId" id="sEdayId" required>
														<p class="f17_3 mt10"><img src="https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/ico_yellow4.png" alt="아이콘" />  
														&nbsp;SNS 후기 참여 선물은 담당자 확인 후 입력하신 이데이몰 ID로 자동 지급됩니다. <br>
														정식품 회원가입 시 통합 가입에 동의하지 않으신 분은 별도 가입 후 이데이몰 ID를 입력해주세요. 
														<a href="https://www.edaymall.com/customer/memberChoice.do?joinType_flag=generalMem"> [회원가입]</a></p>
													</dd>
												</dl>
                                            </li>
                                        </ul>
                                        <div class="col-md-12 center mt100">
                                            <!--<input type="button" value="제출하기" class="submitBtn f30_5">--> <!-- input type="button" -->
                                            <!-- <input type="image" src="img/p03_03_button.jpg" alt="제출하기 버튼" class="submitBtn"> input type="image -->
											<input type="image" id="uploadBtn"  th:src="@{https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/p03_03_button.jpg}" cssclass="submitBtn" alternatetext="응모하기"/>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div><!-- //container-->
                </dl><!-- //con01 -->
            </div><!-- //row-->
        </div><!-- //container100 -->

    </div>
    	
		
	<!-- ================================ Footer ================================ -->
	<footer  th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
	</body>
</html>
