<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<title>샘플신청양식</title>
<head th:replace="fragments/vegemilBaby/head :: headFragment"></head>   
<body>
<!-- ================================ Header ================================ -->
<header th:insert="fragments/vegemilBaby/mainHeader.html :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
 <div id="wrap">	
	<script>
	 function modelSelNumSam(){	  
	    if(jQuery('select[id=selCountChild]').val() == "1"){
		$('#bg_y02').attr('style', 'display:none');
		$('#bg_y03').attr('style', 'display:none');	
		}
		else if(jQuery('select[id=selCountChild]').val() == "2"){
		$('#bg_y02').attr('style', 'display:block');	
		$('#bg_y03').attr('style', 'display:none');	
		}
		else{
		$('#bg_y02').attr('style', 'display:block');	
		$('#bg_y03').attr('style', 'display:block');	
		}	   
	 }
	
	 function mmmm_write(){	 
	 }
	</script>
		
   
	<!-- ------------------- content ------------------- -->
	<div id="content">
		<div class="container100">
			<div class="row pd0 mg0 ">
				<div class="col-md-12">
					<div class="subIMG03_04 subIMG">
						<div class="container h640">
							<div class="subTxt">
								<p class="f40_6">샘플신청</p>
								<p class="f20_4 mt20">베지밀 영&middot;유아식<br>우리 아이가 잘 먹을까 고민되시나요?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row pd0 mg0 -->
		</div>
		<div class="container100 bg_b2">
			<div class="container">
				<div class="row ">
					<div class="col-md-12">
						<!-- snbMenu -->
						<div class="snbMenu modelsubMenu">
							<dl>
								<dd>
									<!-- cate_sel_01 -->
									<li>
										<div class="cate_sel_01">
											<div class="option-list_01" >
												<p class="view-btn_01" >
													<a href="javascript:void(0);">Event</a>
												</p>
											</div>
											<div class="list_open_01">
												<div class="cate_content">
													<ul class="cate_ul_list">
													<li><a th:href="@{/vegemilBaby/brand}">brand</a></li>
													<li><a th:href="@{/vegemilBaby/premium}">Product</a></li>
													<li><a th:href="@{/vegemilBaby/bv_event}"> Event</a></li>
													<li><a th:href="@{/vegemilBaby/magazine?p=1}"> Cummunity</a></li>
													<li><a th:href="@{/vegemilBaby/faq}"> Support</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<!-- // cate_sel_01 -->
								</dd>
								<dd>
									<!-- cate_sel_02 -->
										<li>
											<div class="cate_sel_02">
												<div class="option-list_02" >
													<p class="view-btn_02" >
														<a href="javascript:void(0);">샘플신청</a>
													</p>
												</div>
												<div class="list_open_02">
													<div class="cate_content">
														<ul class="cate_ul_list2">
															<li><a th:href="@{/vegemilBaby/bv_event}">진행 중 이벤트</a></li>
															<li><a th:href="@{/vegemilBaby/event_review_best}">후기이벤트</a></li>
															<li><a th:href="@{/vegemilBaby/event_model}">아기모델선발대회</a></li>
															<li><a th:href="@{/vegemilBaby/sample}">샘플신청</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<!-- // cate_sel_02 -->
								</dd>
							</dl>
						</div>
						<!-- snbMenu -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container100 -->
        <div class="container100" >
            <div class="row  pd0 mg0 ">
                <dl id="con01">
                    <div class="container">					
                        <div class="col-md-12 brandTxt">
                            <p class="f24_4_bg">무료 샘플 신청</p>
                            <p class="f55_6 mt30">샘플신청</p>
                            <p class="f24_4 mt10">회원정보 수정은 하단에 수정하기 버튼을 클릭 후, 정식품 기업 사이트 개인정보 변경 페이지에서 수정할 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="container pb150" >
                        <div class="row">
                            <div class="col-md-12 mt120 sampleForm">
                               <form role="form" th:object="${sample}" th:action="@{/vegemilBaby/sample/form}"  method="post">
                                   
                                   <div>
						            <label for="sId" style="font-weight: bolder;">아이디</label>
						            <input type="text" th:field="${sample.sId}"   placeholder="아이디" >
						          </div>  
                                   
                                   <div>
						            <label for="sMname" style="font-weight: bolder;">이름</label>
						            <input type="text"  th:field="${sample.sMname}"  placeholder="이름" >
						          </div>     
																
                                       
                                       
	                                <div class="col-md-12 center mt100">
	                                    <input type ="image" class="submitBtn f30_5" th:src=@{https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/p03_03_button.jpg}  alt="제출하기 버튼">
	                                </div>
	                                
                                </form>
                            </div>
                        </div>
                    </div><!-- //container-->
                </dl><!-- //con01 -->
            </div><!-- //row-->
        </div><!-- //container100 -->

    </div>
	<!-- ------------------- // content ------------------- -->
    <!-- ------------------- // content ------------------- -->
				
	</div>	
    
		
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/vegemilBaby/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>
