<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="admin/layout/dataLayout">
	
	<th:block layout:fragment="title">
		<title>FAQ상담 등록</title>
	</th:block>
	
	<th:block layout:fragment="add-css">
		<!-- BEGIN: Page CSS-->		
	    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/app-ecommerce.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-pickadate.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-wizard.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-toastr.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-number-input.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-quill-editor.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
		<link rel="stylesheet" th:href="@{https://fonts.gstatic.com}">
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap}">
	    <!-- END: Page CSS-->
	</th:block>
	
	<!-- BEGIN: Page Vendor JS-->
	<th:block layout:fragment="add-script">
	    <script type="text/javascript" th:src="@{/scripts/jquery.serializeObject.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
	    
	    <script th:inline="javascript">
	    /*<![CDATA[*/
	       function imageHandler(image, callback) {
	    	   const fileInput = document.createElement('input');
		       fileInput.setAttribute('type', 'file');

		       fileInput.click();

		       fileInput.addEventListener("change", function () {  // change 이벤트로 input 값이 바뀌면 실행
		    	   const formData = new FormData();
		           const file = fileInput.files[0];
		           formData.append('uploadFile', file);
		           

		           $.ajax({
		        	   type: 'post',
		               enctype: 'multipart/form-data',
		               url: '/admin/customer/faq/fileUpload',
		               data: formData,
		               processData: false,
		               contentType: false,
		               dataType: 'json',
		               success: function (data) {
		            	   
		            	   const range = quill.getSelection(); // 사용자가 선택한 에디터 범위
		            	   // uploadPath에 역슬래시(\) 때문에 경로가 제대로 인식되지 않는 것을 슬래시(/)로 변환
		                   const uploadPath = data.uploadPath.path.replace(/\\/g, '/').replace('data', '');
		                   
		                   quill.insertEmbed(range.index, 'image', uploadPath);
		               },
		               error: function (err) {
		                   console.log('err',err);
		               }
		           }).done(function(dats){
		    	       console.log('success')
		           });
		       });
		   }

	    
	       var quill = new Quill('#editor', {
	          modules: {
	    	     formula: true,
	    	     syntax: true,
	    	     toolbar: {
	    	         container: [
	    	           [{ 'header': [1, 2, false] }],
	    	           [{ color: [] }, { background: [] }],
	    	           ['bold', 'italic', 'underline','strike', 'blockquote'],
	    	           [{'list': 'ordered'}, {'list': 'bullet'}, {'indent': '-1'}, {'indent': '+1'}],
	    	           ['link', 'image'],
	    	           ['clean']
	    	         ],
	    	         handlers: { image: imageHandler }
	    	       }
	    	  },
	    	  placeholder: '게시물을 작성해주세요.',
	    	  theme: 'snow'
	       });	       
	       
	       const editContent = [[ ${support?.sAnswer} ]];
	       if(editContent) {
	    	   quill.clipboard.dangerouslyPasteHTML(0, editContent.replaceAll('&lt;', '<').replaceAll('&gt;', '>').replaceAll("&quot;",""));
	       }
	       
	       function btnSave(){
	    	   const form = document.form;
	    	   form.sAnswer.value = quill.root.innerHTML;
	    	   
	    	   if(form.sAnswer.value == "<p><br></p>") {
	    		   alert('내용을 작성해 주세요.');
	    		   return false;
	    	   }
	    	   
	    	   
	    	   form.submit();
		   }
	       
	       $('#btnDown').click( function() {	    	   
	    	   window.open("https://www.vegemil.co.kr/Upload/CUSTOMER/"+[[${support.sFile}]], "_blank");
	    	 } );
	       /*]]>*/
 	    </script> 
    </th:block>
    <!-- END: Page Vendor JS-->
	

	<th:block layout:fragment="content">
	<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">고객상담 등록</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">고객지원</a>
                                    </li>
                                    <li class="breadcrumb-item active">고객상담 등록
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>



            <div class="content-body">
                <!-- Analytics card section -->
                <section id="analytics-card">
					
					<div class="row" >
						<div class="col-12">
							<div class="card">								
								<div class="card-body ">
									<!-- 테이블 -->
									<table class="table table-bordered  f13 paddingType">
										<colgroup>
											<col width="20%">
											<col width="20%">
											<col width="40%">
										</colgroup>
										<thead>
											<tr>
												<th>ID <span class="text-warning" th:text="${support.sId}"></span></th>
												<th>작성자명 <span class="text-warning" th:text="${support.sName}"></span></th>
												<th>연락처 <span class="text-warning" th:text="${support.sHp}"></span></th>
											</tr>
											<tr>
												<th>상담분류 
													<span class="text-warning" th:text="${support.sCate}"></span>
												</th>
												<th>등록일시 <span class="text-warning" th:text="${support.sWritedate}"></span></th>
												<th>답변상태 <span class="text-warning"> 
													<span class="badge rounded-pill badge-light-info" th:if="${support.sAnswerYn == 'Y'}">완료</span> 
													<span class="badge rounded-pill badge-light-warning" th:unless="${support.sAnswerYn == 'Y'}">미완료</span> 
												</th>
											</tr>
											<tr>
												<th>이메일 <span class="text-warning" th:text="${support.sEmail}"></span></th>
												<th colspan="2">주소 <span class="text-warning" th:text="${support.sAddr}"></span></th>
											</tr>

										</thead>
									</table>
									<!-- //테이블 -->
									<!-- 고객의견 -->
									<h4 class="mt-3 mb-1">고객의견</h4>
									<div class="mb-2">
										<span class="text-muted">제목</span>
										<span class="ms-2 text-warning" th:text="${support.sSubject}"></span>
									</div>
									<div class="row">
										<div class="col-7">
											<p class="text-muted mb-1">내용</p>
											<p class="lh-lg">[[${support.sContent}]]</p>
										</div>
										<div class="col-5" th:if="${support.sFile != null or support.sFileSub != null or support.sFileThird != null}">
											<p class="text-muted mb-2">첨부파일</p>
											<div th:if="${support.sFile != null}" class="mb-2">
												<a download class="btn btn-outline-secondary btn-sm mb-1" target="_blank" th:href="|https://www.vegemil.co.kr/web/upload/${support.sFile}|">다운로드</a>
												<div><img th:src="|/web/upload/${support.sFile}|" class="img-fluid rounded" style="max-height:180px;" /></div>
											</div>
											<div th:if="${support.sFileSub != null}" class="mb-2">
												<a download class="btn btn-outline-secondary btn-sm mb-1" target="_blank" th:href="|https://www.vegemil.co.kr/web/upload/${support.sFileSub}|">다운로드</a>
												<div><img th:src="|/web/upload/${support.sFileSub}|" class="img-fluid rounded" style="max-height:180px;" /></div>
											</div>
											<div th:if="${support.sFileThird != null}" class="mb-2">
												<a download class="btn btn-outline-secondary btn-sm mb-1" target="_blank" th:href="|https://www.vegemil.co.kr/web/upload/${support.sFileThird}|">다운로드</a>
												<div><img th:src="|/web/upload/${support.sFileThird}|" class="img-fluid rounded" style="max-height:180px;" /></div>
											</div>
										</div>
									</div>
									<!-- //고객의견 -->

									<!-- 수정이력 -->
									<div th:if="${contentHistory != null and contentHistory.size() > 1}" class="mt-3 pt-2" style="border-top:1px solid #eee;">
										<a data-bs-toggle="collapse" href="#historyCollapse" role="button" style="font-size:12px; color:#aaa; text-decoration:none;">
											수정 이력 (<span th:text="${contentHistory.size()}"></span>건) ▾
										</a>
										<div class="collapse mt-2" id="historyCollapse">
											<div th:each="h, hStat : ${contentHistory}" class="mb-1 ps-2 py-1" style="border-left:2px solid #ddd;">
												<span style="font-size:11px; color:#aaa;">
													v<span th:text="${h['revision']}"></span>
													<span th:if="${hStat.last}" style="color:#8cb4ff;">(현재)</span>
													· <span th:text="${h['created_at']}"></span>
												</span>
												<br/>
												<span style="font-size:11px; color:#999;" th:text="${h['s_subject']}"></span>
												<span style="font-size:11px; color:#bbb; margin-left:8px;" th:if="${h['s_content'] != null}" th:text="${#strings.abbreviate(h['s_content'], 60)}"></span>
												<span th:if="${h['s_file'] != null or h['s_file_sub'] != null or h['s_file_third'] != null}" class="ms-1">
													<img th:if="${h['s_file'] != null}" th:src="|/web/upload/${h['s_file']}|" style="max-width:36px; max-height:36px; opacity:0.5; border-radius:3px;" />
													<img th:if="${h['s_file_sub'] != null}" th:src="|/web/upload/${h['s_file_sub']}|" style="max-width:36px; max-height:36px; opacity:0.5; border-radius:3px; margin-left:2px;" />
													<img th:if="${h['s_file_third'] != null}" th:src="|/web/upload/${h['s_file_third']}|" style="max-width:36px; max-height:36px; opacity:0.5; border-radius:3px; margin-left:2px;" />
												</span>
											</div>
										</div>
									</div>
									<!-- //수정이력 -->
								</div>

							</div>
						</div>
					</div>


                </section>
                <!--/ Analytics Card section -->

				<!-- 답변하기 -->
				<form name="form" th:if="${support.sDeleteYn != 'Y'}" th:action="@{/admin/manage/customer/saveSupportDetail}" th:object="${support}" method="POST" class="form-horizontal" role="form">
					<section id="basic-horizontal-layouts">
						<div class="row" >
							<div class="col-12">
								<div class="card">								
									<div class="card-body ">
										<!-- Form -->
	                                    <form action="javascript:;" class="mt-2">
											<h4>답변하기</h4>
											<div class="row mt-3">
	                                            <div class="col-md-1"> 내용</div>
												<div class="col-md-10 col-12 ">
													<input type="hidden" id="sAnswer" name="sAnswer" class="form-control" value="" />
	                                                <input type="hidden" id="sIdx" name="sIdx" class="form-control" th:value="${support.sIdx}" />
													<div id="blog-editor-wrapper">
														<div id="blog-editor-container">
															<div class="editor h200" id="editor">
																
															</div>
														</div>
													</div>
	                                            </div>
	                                        </div>
	                                    </form>
	                                    <!--/ Form -->
									</div>
									<div class="card center">
										<div class="card-body mb-2">
											<div class="row">
												 <div class="col-sm-12">
													<button type="button" onclick="btnSave();" class="btn btn-primary me-1">등록</button>
													<button type="reset" class="btn btn-outline-secondary">취소</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	                </section>
                </form>
				<!-- //답변하기 -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    
    </th:block>
    
</html>