<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class=" pb100">
	<div class="contant1460" >
		<div class="subMenu">
			<p class="btnSubLeft"><a href=""><img src="./img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="01_01_greetings.html"><span>보도자료</span></a></li>
				<li class="f18 fw500 active"><a href="01_02_profile.html"><span>공지사항</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="./img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
		<p class="f14 fw400 black mt70 float-right btnType03"><a href="#"><img class="mr5" src="./img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear">
    </div>
    <div class="contant1460" >
		<div class="row mb80">
			<div class="col-md-12 mt50 center">
				<p class="ing-endBox f16">진행중인 이벤트</p>
				<p class="f38 fw600 black lh140 mt20">정식품 창립 50주년 고객 감사 이벤트</p>
				<p class="gray04 fw600 f15 f_pp mt40">2023.04.09 ~ 10.24</p>
				<p class="blackLine2 mt40"></p>
			</div>
			<script>
				function timeCheck(theDay){
					var today = new Date();
					if(today >= theDay){
						 $("#resultTitle").css("display","block");
						 $("#event-vtc-1").css("display","block");
					}
				}
			
			</script>
			<script>
				$(document).ready(function(){
					$("#event-vtc-1").collapse({
						  accordion: true, //다열리고 싶을때
						  open: function() {
							this.addClass("open");
							this.css({ height: this.children().outerHeight() });
						  },
						  close: function() {
							this.css({ height: "0px" });
							this.removeClass("open");
						  }
						});
					  var theDay = new Date('2023-05-24 00:00:00'); 
					  timeCheck(theDay);
				 });
			</script>
			<div class="col-md-12 mt50  grayLine2">
				<div class="contant1160 pb100 pt50">
					<p class="event-title-50year f23 fw500 white" id="resultTitle" style="display:none;">당첨자 발표</p>
					
					<!-- Vetical -->
					 <div id="event-vtc-1" class="EventStyle mt40" style="display:none;">
						<div class="ver-title05 f23 fw500 "><p><span class="txt-box lh140">5월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>강*림	 2863</li>
										<li>강*구	 6634</li>
										<li>고*순	 2360</li>
										<li>고*녀	 7908</li>
										<li>김*운	 2676</li>
										<li>김*진	 5148</li>
										<li>김*립	 6122</li>
										<li>김*수	 2094</li>
										<li>김*경	 1813</li>
										<li>김*제	 4974</li>
									</ul>
									<ul>
										<li>김*동	 8052</li>
										<li>김*훈	 0373</li>
										<li>김*옥	 3410</li>
										<li>김*혜	 1323</li>
										<li>김*현	 9411</li>
										<li>김*연	 5565</li>
										<li>김*란	 2743</li>
										<li>나*명	 1201</li>
										<li>남*선	 1879</li>
										<li>박*미	 8171</li>
									</ul>
									<ul>
										<li>박*준	 9092</li>
										<li>박*경	 0522</li>
										<li>배*영	 4865</li>
										<li>서*만	 3277</li>
										<li>안*희	 1465</li>
										<li>안*빈	 6989</li>
										<li>엄*식	 1220</li>
										<li>오*선	 6134</li>
										<li>윤*혜	 8554</li>
										<li>이*영	 5595</li>
									</ul>
									<ul>
										<li>이*화	 2061</li>
										<li>이*명	 1368</li>
										<li>이*영	 2001</li>
										<li>이*바라 1776</li>
										<li>이*주	 7594</li>
										<li>이*성	 0010</li>
										<li>임*수	 1681</li>
										<li>임*연	 9963</li>
										<li>전*옥 2519</li>
										<li>전*윤	 2831</li>
									</ul>
									<ul>
										<li>전*현	 6236</li>
										<li>정*희	 7529</li>
										<li>정*연	 4957</li>
										<li>정*선	 5149</li>
										<li>조*연 5864</li>
										<li>지*희	 5450</li>
										<li>최*용 8026</li>
										<li>탁*연	 4242</li>
										<li>홍*숙	 1146</li>
										<li>황*복 9068</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!-- // Vetical -->
					<!-- 이벤트 본문 -->
					<p class="img100 mt100 wView"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504.jpg" alt="50주년기념이벤트" /></p>
					<p class="img100 mt100 mView"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_mo_20230504.jpg" alt="50주년기념이벤트" /></p>
					<!-- //이벤트 본문 -->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 ">
				<ul class="paging-txt">
					<li class="f23 fw500 mt20">
						<dl class="pg-left">
							<!-- <a href="">
								<dd class="ico_notice_left mr10"></dd>
								<dd>정식품 2022년 상반기 신입사원 공채 모집</dd>
							</a> -->
						</dl>
					</li>
					<li class="pg-list"><a href="/event/list"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_pg_list.png" /></a></li>
					<li class="f23 fw500 mt20">
						<dl class="pg-right">
							<!--<a href="">
								<dd>정식품 2022년 상반기 신입사원 공채 모집</dd>
								<dd class="ico_notice_right ml10"></dd>
							</a>-->
						</dl>
					</li> 
				</ul>
			</div>
		</div>
		
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- <footer class="contant100"></footer> -->
<!-- ================================ // Footer ================================ -->
<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType03").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->

<script type="text/javascript">
</script>
</body>
</html>