<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<script>
	$(document).ready(function(){
		$("#event-vtc-1").collapse({
			  accordion: true, //다열리고 싶을때
			  open: function() {
				this.addClass("open");
				this.css({ height: this.children().outerHeight() });
			  },
			  close: function() {
				this.css({ height: "0px" });
				this.removeClass("open");
			  }
		});
	 });
</script>
<div id="content" class=" pb100">

    <div class="contant1460  mt200 mt220m" >
		<div class="row mb80">
			<div class="col-md-12 mt50 center">
				<p class="ing-endBox f16">진행중인 이벤트</p>
				<p class="f38 fw600 black lh140 mt20">정식품 창립 50주년 고객 감사 이벤트</p>
				<p class="gray04 fw600 f15 f_pp mt40">2023.04.09 ~ 10.24</p>
				<p class="blackLine2 mt40"></p>
			</div>

			<div class="col-md-12 mt50  grayLine2">
				<div class="contant1160 pb100 pt50">
					<p class="event-title-50year f23 fw500 white" id="resultTitle">당첨자 발표</p>
					<!-- fifty -->
					<div class="fifty mt50 blueBox" id="closingEvent">
						<div class="row blueBoxIn">
							<div class="col-md-12 ">
								<p class="fifty_title"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_00.png"  alt=""/></p>
								<p class="center f20 mt40">*Ctrl + F를 눌러 전화번호 뒷자리를 검색해 보세요!</p>
								<!-- 2023-11-20 -->
								<div class="center mt50"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_01.png"  alt="바디프랜드 팬텀2"/>
									<p class="mt50">한*덕 6000</p>
								</div>
							</div>
							<div class="col-md-4 center">
								<div class="mt100"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_02.png"  alt="LG퓨리케어 오브제컬렉션 공기청정기"/>
									<ul class=" fiftyUL mt50">
										<li>송* 0501</li>
										<li>이*선 4442</li>
										<li>조*순 9643</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 center">
								<div class="mt100 "><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_03.png"  alt="다이슨 에어랩멀티 스타일러 컴플리트"/>
									<ul class=" fiftyUL mt50 text-left" >
										<li>김*민	2533</li>
										<li>강*혜	9086</li>
										<li>고*비	0114</li>
										<li>김*진	0817</li>
										<li>정*대	1661</li>
										<li>최*교	1029</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 center">
								<div class=" mt100"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_04.png"  alt="갤럭시워치5"/>
									<br class="wView"> <br class="wView">
									<ul class=" fiftyUL mt50 text-left">
										<li>김*경	5654</li>
										<li>김*자	2170</li>
										<li>박*연	2884</li>
										<li>박*옥	7919</li>
										<li>이*완	8219</li>
										<li>이*철	3820</li>
										<li>정*운	8344</li>
										<li>조*현	2719</li>
										<li>장*진	7069</li>
										<li>한*숙	9916</li>
									</ul>
								</div>
								<!-- 2023-11-20 -->
							</div>
							<div class="col-md-12 ">
								<div class="mt120"><p class="center"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_05.png"  alt="갤럭시워치5"/></p>
									<br class="wView"> <br class="wView">
									<ul class="fiftyUL mt20">
										<li>강*희	1877</li>
										<li>강*진	3737</li>
										<li>공*일	7890</li>
										<li>김*협	9486</li>
										<li>김*서	8751</li>
										<li>김*정 8154</li>
										<li>김*주	4664</li>
										<li>김*아	6552</li>
										<li>김*미	0903</li>
										<li>박*병	8516</li>
										<li>박*진	5777</li>
										<li>성*주	6094</li>
										<li>안*석	1399</li>
										<li>유*현	2359</li>
										<li>유*찬	6702</li>
										<li>윤*민	5400</li>
										<li>이*진	1508</li>
										<li>이*영	1966</li>
										<li>이*야	2802</li>
										<li>이*균	4033</li>
										<li>이*우	0076</li>
										<li>이*은	7443</li>
										<li>이*성	7736</li>
										<li>장*호	1101</li>
										<li>전*선	0211</li>
										<li>전*자	3775</li>
										<li>전*진	2532</li>
										<li>정*환	3598</li>
										<li>정*하	2719</li>
										<li>최*숙	0375</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="mt150"><p class="center"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504_06.png"  alt="갤럭시워치5"/></p>
									<br class="wView"> <br class="wView">
									<ul class="fiftyUL mt20">
										<li>김*석	6338</li>
										<li>김*숙	6965</li>
										<li>김*중	2045</li>
										<li>김*탁	1372</li>
										<li>김*영	1088</li>
										<li>김*형	4566</li>
										<li>김*니엘 1978</li>
										<li>김*린	7994</li>
										<li>김*빈	2223</li>
										<li>김*현	8419</li>
										<li>김*훈	0135</li>
										<li>김*애	1251</li>
										<li>김*경	9658</li>
										<li>김*영	6004</li>
										<li>김*진	6309</li>
										<li>김*진	3657</li>
										<li>김*환	3025</li>
										<li>김*환	8428</li>
										<li>김*관	6656</li>
										<li>김*경	3768</li>
										<li>김*경	0262</li>
										<li>김*란	3942</li>
										<li>김*란	3530</li>
										<li>김*루	2955</li>
										<li>김*선	1775</li>
										<li>김*선	0317</li>
										<li>김*영	0470</li>
										<li>김*영	0009</li>
										<li>김*화	0962</li>
										<li>김*솔	5558</li>
										<li>김*아	7931</li>
										<li>김*정	0210</li>
										<li>김*철	4273</li>
										<li>김*숙	7656</li>
										<li>김*수	7360</li>
										<li>김*재	9349</li>
										<li>김*수	1482</li>
										<li>김*우	1864</li>
										<li>김*경	5365</li>
										<li>김*해	8346</li>
										<li>김*가	4362</li>
										<li>김*식	0940</li>
										<li>김*준	5372</li>
										<li>김*철	6011</li>
										<li>김*연	4422</li>
										<li>김*경	4979</li>
										<li>김*순	5996</li>
										<li>김*진	9133</li>
										<li>김*윤	8412</li>
										<li>김*민	9551</li>
										<li>김*양	1705</li>
										<li>김*월	6045</li>
										<li>김*기	4520</li>
										<li>김*환	2502</li>
										<li>김*심	1408</li>
										<li>김*수	6423</li>
										<li>김*화	2439</li>
										<li>김*석	5020</li>
										<li>김*임	2681</li>
										<li>김*호	0579</li>
										<li>김*희	6837</li>
										<li>김*지	9415</li>
										<li>김*수	1777</li>
										<li>김*호	5241</li>
										<li>김*경	2107</li>
										<li>김*미	4845</li>
										<li>김*숙	9525</li>
										<li>김*정	4913</li>
										<li>김*주	1960</li>
										<li>김*채	9103</li>
										<li>김*화	5822</li>
										<li>김*기	6254</li>
										<li>김*회	3571</li>
										<li>김*회	3571</li>
										<li>김*성	1222</li>
										<li>김*림	9466</li>
										<li>김*연	3446</li>
										<li>김*윤	0079</li>
										<li>김*화	2913</li>
										<li>김*구	6485</li>
										<li>김*진	7209</li>
										<li>김*호	5645</li>
										<li>김*영	9905</li>
										<li>김*한	8205</li>
										<li>김*철	3854</li>
										<li>김*숙	9875</li>
										<li>김*용	7919</li>
										<li>김*원	5808</li>
										<li>김*윤	6643</li>
										<li>김*현	1203</li>
										<li>김*근	4512</li>
										<li>김*기	2126</li>
										<li>김*원	4799</li>
										<li>김*옥	0364</li>
										<li>김*남	5355</li>
										<li>김*균	3473</li>
										<li>김*영	1647</li>
										<li>김*옥	9437</li>
										<li>김*우	2411</li>
										<li>김*형	7709</li>									
									</ul>
									<ul class="fiftyUL mt50">
										<li>김*랑	0760</li>
										<li>김*석	8419</li>
										<li>김*옥	7426</li>
										<li>김*주	0644</li>
										<li>김*경	0542</li>
										<li>김*경	4604</li>
										<li>김*성	5955</li>
										<li>김*선	2209</li>
										<li>김*종	4913</li>
										<li>김*진	1705</li>
										<li>나*진	7870</li>
										<li>나*별	9058</li>
										<li>남*지	0342</li>
										<li>남*숙	1452</li>
										<li>노*영	9202</li>
										<li>노*연	6971</li>
										<li>도*현	2831</li>
										<li>류*학	7706</li>
										<li>류*순	9339</li>
										<li>류*하	9642</li>
										<li>류*아	2958</li>
										<li>류*형	1223</li>
										<li>목*균	7215</li>
										<li>문*숙	0544</li>
										<li>문*순	1307</li>
										<li>문*영	3952</li>
										<li>문*현	7445</li>
										<li>문*재	0706</li>
										<li>문*호	0230</li>
										<li>문*민	2279</li>
										<li>민*연	0395</li>
										<li>민*옥	4432</li>
										<li>박*은	0521</li>
										<li>박*석	1405</li>
										<li>박*수	4667</li>
										<li>박*진	1967</li>
										<li>박*희	7957</li>
										<li>박*아	7150</li>
										<li>박*성	7582</li>
										<li>박*철	0202</li>
										<li>박*현	4081</li>
										<li>박*준	5149</li>
										<li>박*나	2818</li>
										<li>박*자	3647</li>
										<li>박*훈	9037</li>
										<li>박*연	6548</li>
										<li>박*호	5906</li>
										<li>박*주	7530</li>
										<li>박*희	1831</li>
										<li>박*기	7187</li>
										<li>박*비	9640</li>
										<li>박*자	6649</li>
										<li>박*진	9545</li>
										<li>박*희	8270</li>
										<li>박*은	4430</li>
										<li>박*현	6238</li>
										<li>박*희	6500</li>
										<li>박*수	6288</li>
										<li>박*건	6677</li>
										<li>박*숙	5768</li>
										<li>박*연	9639</li>
										<li>방*란	9617</li>
										<li>방*정	0689</li>
										<li>방*영	7147</li>
										<li>배*희	8432</li>
										<li>배*덕	9617</li>
										<li>배*숙	5671</li>
										<li>배*희	4533</li>
										<li>배*주	1676</li>
										<li>배*영	7414</li>
										<li>배*호	3418</li>
										<li>백*화	0622</li>
										<li>백*경	4115</li>
										<li>백*민	7193</li>
										<li>백*태	9879</li>
										<li>백*정	1216</li>
										<li>변*우	1103</li>
										<li>변*주	6615</li>
										<li>서*석	8387</li>
										<li>서*수경 0565</li>
										<li>서*훈	2536</li>
										<li>서*형	2804</li>
										<li>석*희	9482</li>
										<li>선*아	4420</li>
										<li>성*옥	7172</li>
										<li>소*카	5475</li>
										<li>소*영	5726</li>
										<li>손*경	6255</li>
										<li>손*온	7637</li>
										<li>손*매	2957</li>
										<li>손*민	1329</li>
										<li>손*은	5343</li>
										<li>손*화	9636</li>
										<li>손*정	3923</li>
										<li>손*민	3643</li>
										<li>손*영	3750</li>
										<li>송*숙	8424</li>
										<li>송*희	6670</li>
										<li>송*길	7932</li>
										<li>송*지	9823</li>

									</ul>
									<ul class="fiftyUL mt50">
										<li>송*용	9004</li>
										<li>송*정	0332</li>
										<li>송*연	0917</li>
										<li>송*철	5550</li>
										<li>송*헌	0719</li>
										<li>신*호	6043</li>
										<li>신*경	8211</li>
										<li>신*희	9377</li>
										<li>신*라	8493</li>
										<li>신*영	3257</li>
										<li>신*혜	4270</li>
										<li>신*순	3046</li>
										<li>신*승	5698</li>
										<li>신*혜	3807</li>
										<li>신*열	4709</li>
										<li>신*섭	8506</li>
										<li>신*나	8691</li>
										<li>신*경	7446</li>
										<li>신*철	1140</li>
										<li>심*옥	4100</li>
										<li>심*정	3391</li>
										<li>심*영	2643</li>
										<li>심*정	3216</li>
										<li>안*숙	7611</li>
										<li>안*선	9801</li>
										<li>안*영	7532</li>
										<li>안*조	0658</li>
										<li>안*훈	4456</li>
										<li>안*민	0518</li>
										<li>양*훈	7749</li>
										<li>양*석	4644</li>
										<li>양*	9283</li>
										<li>양*정	2092</li>
										<li>양*원	7782</li>
										<li>여*환	6311</li>
										<li>연*경	8326</li>
										<li>염*성	3603</li>
										<li>오*신	8697</li>
										<li>왕*연	7867</li>
										<li>왕*진	6841</li>
										<li>우*선	4093</li>
										<li>우*현	8383</li>
										<li>우*환	1155</li>
										<li>우*영	2385</li>
										<li>원*선	3253</li>
										<li>유*	3546</li>
										<li>유*영	2634</li>
										<li>유*연	2650</li>
										<li>유*오	3139</li>
										<li>유*일	7530</li>
										<li>유*경	3702</li>
										<li>유*원	7564</li>
										<li>유*종	3346</li>
										<li>유*자	5186</li>
										<li>윤*은	1029</li>
										<li>윤*영	3852</li>
										<li>윤*희	3401</li>
										<li>이*연	2280</li>
										<li>이*을	8669</li>
										<li>이*림	7412</li>
										<li>이*미	4729</li>
										<li>이*헌	0171</li>
										<li>이*재	9953</li>
										<li>이*진	7971</li>
										<li>이*이	2480</li>
										<li>이*태	4157</li>
										<li>이*동	9821</li>
										<li>이*라	1103</li>
										<li>이*윤	5322</li>
										<li>이*주	5782</li>
										<li>이*연	1963</li>
										<li>이*숙	1650</li>
										<li>이*숙	4257</li>
										<li>이*영	4777</li>
										<li>이*우	2386</li>
										<li>이*석	5678</li>
										<li>이*주	3987</li>
										<li>이*엽	3126</li>
										<li>이*은	8388</li>
										<li>이*현	3852</li>
										<li>이*준	6561</li>
										<li>이*화	4544</li>
										<li>이*희	1222</li>
										<li>이*	3223</li>
										<li>이*룡	3174</li>
										<li>이*육	1767</li>
										<li>이*라	7148</li>
										<li>이*연	1610</li>
										<li>이*희	0141</li>
										<li>이*례	1508</li>
										<li>이*건	4225</li>
										<li>이*봉	5041</li>
										<li>이*실	3005</li>
										<li>이*경	6086</li>
										<li>이*재	2959</li>
										<li>이*쟈	1813</li>
										<li>이*진	3168</li>
										<li>이*정	8354</li>
										<li>이*나	5062</li>
										<li>이*진	3791</li>
										
									</ul>
									<ul class="fiftyUL mt50">
										<li>이*경	3348</li>
										<li>이*수	8000</li>
										<li>이*숙	0302</li>
										<li>이*은	1496</li>
										<li>이*호	4227</li>
										<li>이*규	7494</li>
										<li>이*연	9133</li>
										<li>이*현	3939</li>
										<li>이*호	8876</li>
										<li>이*희	9983</li>
										<li>이*대	2085</li>
										<li>이*민	2679</li>
										<li>이*미	7601</li>
										<li>이*호	4685</li>
										<li>이*영	7560</li>
										<li>이*현	2774</li>
										<li>이*현	5712</li>
										<li>이*후	7898</li>
										<li>이*수	9382</li>
										<li>이*자	8653</li>
										<li>이*영	7517</li>
										<li>이*진	9658</li>
										<li>이*봉	1275</li>
										<li>이*민	0882</li>
										<li>이*주	0735</li>
										<li>이*회	7433</li>
										<li>이*권	1579</li>
										<li>이*준	0831</li>
										<li>이*경	0432</li>
										<li>이*순	4828</li>
										<li>이*정	2811</li>
										<li>이*수	5365</li>
										<li>이*석	5251</li>
										<li>인*미	6900</li>
										<li>임*일	9060</li>
										<li>임*중	8542</li>
										<li>임*화	4948</li>
										<li>임*영	8489</li>
										<li>임*권	9198</li>
										<li>임*민	5020</li>
										<li>임*영	6632</li>
										<li>임*수	5124</li>
										<li>임*연	4188</li>
										<li>임*동	3271</li>
										<li>임*덕	7746</li>
										<li>장*수	3688</li>
										<li>장*일	9999</li>
										<li>장*영	1196</li>
										<li>장*미	3389</li>
										<li>장*아	8512</li>
										<li>장*용	3241</li>
										<li>장*숙	2437</li>
										<li>장*	6041</li>
										<li>장*형	1029</li>
										<li>장*수	8644</li>
										<li>전*헌	0002</li>
										<li>전*성	8345</li>
										<li>전*영	1224</li>
										<li>정*자	6100</li>
										<li>정*아	3337</li>
										<li>정*문	0923</li>
										<li>정*환	9559</li>
										<li>정*민	7960</li>
										<li>정*철	3731</li>
										<li>정*희	4756</li>
										<li>정*희	9690</li>
										<li>정*홍	2862</li>
										<li>정*옥	0504</li>
										<li>정*정	2571</li>
										<li>정*주	0422</li>
										<li>정*욱	8169</li>
										<li>정*찬	8570</li>
										<li>정*윤	3399</li>
										<li>정*은	7841</li>
										<li>정*수	2503</li>
										<li>정*준	1415</li>
										<li>정*나	6807</li>
										<li>정*천	7715</li>
										<li>정*정	8594</li>
										<li>정*선	2583</li>
										<li>정*진	7403</li>
										<li>제*민	5995</li>
										<li>조*현	6205</li>
										<li>조*순	2928</li>
										<li>조*훈	3287</li>
										<li>조*영	0491</li>
										<li>조*연	8957</li>
										<li>조*민	1176</li>
										<li>조*현	1562</li>
										<li>조*현	8447</li>
										<li>조*혜	3357</li>
										<li>조*원	5564</li>
										<li>조*환	9293</li>
										<li>주*자	1112</li>
										<li>주*화	0348</li>
										<li>지*성	7102</li>
										<li>차*숙	7035</li>
										<li>차*경	5228</li>
										<li>차*만	9461</li>
										<li>차*은	2333</li>
										

									<ul>
									<ul class="fiftyUL mt50">
										<li>천*숙	1737</li>
										<li>천*순	2142</li>
										<li>천*숙	0321</li>
										<li>최*욱	9374</li>
										<li>최*범	9511</li>
										<li>최*정	3814</li>
										<li>최*이	9488</li>
										<li>최*근	1826</li>
										<li>최*규	2208</li>
										<li>최*지	1925</li>
										<li>최*미	5274</li>
										<li>최*삭	1450</li>
										<li>최*순	2321</li>
										<li>최*혁	1316</li>
										<li>최*현	3854</li>
										<li>최*웅	8802</li>
										<li>최*원	0111</li>
										<li>최*은	0191</li>
										<li>최*웅	0719</li>
										<li>최*식	0033</li>
										<li>최*욱	7640</li>
										<li>최*은	4930</li>
										<li>최*희	9277</li>
										<li>최*석	0228</li>
										<li>추*철	2818</li>
										<li>하*아	7802</li>
										<li>하*희	9068</li>
										<li>하*호	2092</li>
										<li>한*돈	7277</li>
										<li>한*은	4594</li>
										<li>한*인	3217</li>
										<li>한*숙	8769</li>
										<li>한*정	7061</li>
										<li>한*영	6601</li>
										<li>한*현	9135</li>
										<li>한*수	3903</li>
										<li>한*수	4321</li>
										<li>한*전	7488</li>
										<li>한*진	9176</li>
										<li>허*연	6375</li>
										<li>허*정	0625</li>
										<li>현*수	6618</li>
										<li>홍*동	6813</li>
										<li>홍*수	2220</li>
										<li>홍*민	1513</li>
										<li>홍*서	4905</li>
										<li>황*우	7311</li>
										<li>황*준	0235</li>
										<li>황*윤	4744</li>
										<li>황*희	6670</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //fifty -->
					<!-- Vetical -->
					 <div id="event-vtc-1" class="EventStyle mt40" >
						 <!-- 10월 -->
						<div class="ver-title05 f23 fw500" id="octWinner" ><p><span class="txt-box lh140">10월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>강*민	8401</li>
										<li>고*미	2876</li>
										<li>권*희	8737</li>
										<li>김*헌	5836</li>
										<li>김*주	2061</li>
										<li>김*희	7503</li>
										<li>김*진	5507</li>
										<li>김*훈	8919</li>
										<li>김*민	1129</li>
										<li>김*남	9050</li>
									</ul>
									<ul>
										<li>김*래	8602</li>
										<li>김*충	3000</li>
										<li>김*곤	7012</li>
										<li>김*하	0860</li>
										<li>김*숙	4308</li>
										<li>김*연	3986</li>
										<li>김*혜	5760</li>
										<li>김*은	0503</li>
										<li>김*영	1588</li>
										<li>김*숙	1327</li>
									</ul>
									<ul>
										<li>노*순	5190</li>
										<li>마*희	2726</li>
										<li>신*혜	1882</li>
										<li>신*니	1756</li>
										<li>양*서	4194</li>
										<li>엄*	0135</li>
										<li>연*오	4763</li>
										<li>윤*영	7121</li>
										<li>이*용	0192</li>
										<li>이*태	7874</li>
									</ul>   
									<ul>
										<li>이*	7137</li>
										<li>이*민	3816</li>
										<li>이*리	5598</li>
										<li>이*범	9171</li>
										<li>이*재	0440</li>
										<li>이*정	8789</li>
										<li>임*정	9240</li>
										<li>장*분	1352</li>
										<li>정*숙	9597</li>
										<li>조*아	9254</li>
									</ul>
									<ul>
										<li>주*선	3250</li>
										<li>천*림	7006</li>
										<li>최*윤	7550</li>
										<li>최*원	2660</li>
										<li>표*현	1214</li>
										<li>하*희	7771</li>
										<li>하*운	8966</li>
										<li>한*혁	2560</li>
										<li>한*주	1845</li>
										<li>허*은	7936</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //10월 -->	
					 	<!-- 9월 -->
						<div class="ver-title05 f23 fw500" id="sepWinner"><p><span class="txt-box lh140">9월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>강*란 1698</li>
										<li>권*례 3265</li>
										<li>권*순 1264</li>
										<li>김*선 5724</li>
										<li>김*화 4685</li>
										<li>김*상 4016</li>
										<li>김*엽 8330</li>
										<li>김*환 2092</li>
										<li>김*랑 0687</li>
										<li>김*규 4860</li>
									</ul>
									<ul>
										<li>김*미	 8670</li>
										<li>김*원	 1348</li>
										<li>김*환	 5647</li>
										<li>김*늘	 8870</li>
										<li>김*원	 3132</li>
										<li>김*섭	 3795</li>
										<li>김*경	 4585</li>
										<li>노*아	 6642</li>
										<li>박*영	 0980</li>
										<li>박*수	 0344</li>
									</ul>
									<ul>
										<li>박*선	 0408</li>
										<li>박*민	 2285</li>
										<li>소*우	 5769</li>
										<li>송*진	 6286</li>
										<li>안*준	 1655</li>
										<li>안*강	 0443</li>
										<li>양*춘	 5236</li>
										<li>오*대	 9878</li>
										<li>이*수	 4994</li>
										<li>이*례	 5859</li>
									</ul>   
									<ul>
										<li>이*	 3561</li>
										<li>이*식  4547</li>
										<li>이*영	 1350</li>
										<li>이*열	 3775</li>
										<li>이*수	 3956</li>
										<li>이*숙	 6254</li>
										<li>이*숙	 8450</li>
										<li>임*미	 5370</li>
										<li>임*진	 1408</li>
										<li>장*봉	 4902</li>
									</ul>
									<ul>
										<li>장*철	 4827</li>
										<li>장*우	 3223</li>
										<li>정*미	 3328</li>
										<li>조*숙	 1440</li>
										<li>조*란	 6434</li>
										<li>최*현	 3635</li>
										<li>최*식	 3929</li>
										<li>최*흥	 0007</li>
										<li>최*열	 2784</li>
										<li>한*건	 0460</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //8월 -->	
					 	<!-- 8월 -->
						<div class="ver-title05 f23 fw500" id="augWinner"><p><span class="txt-box lh140">8월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>김*애 4238</li>
										<li>김*옥 8837</li>
										<li>김*환 2502</li>
										<li>김*영	 7987</li>
										<li>김*영	 5130</li>
										<li>김*옥	 4410</li>
										<li>김*지	 2457</li>
										<li>김*진 9086</li>
										<li>김*정 3073</li>
										<li>김*남	 0634</li>
									</ul>
									<ul>
										<li>박*자	 9440</li>
										<li>박*민	 1421</li>
										<li>박*필	 1100</li>
										<li>박*호	 7514</li>
										<li>백*기 6000</li>
										<li>변*정	 0734</li>
										<li>서*수	 2729</li>
										<li>심*영 0035</li>
										<li>오*혁 9194</li>
										<li>유*찬	 5601</li>
									</ul>
									<ul>
										<li>윤*범	 8820</li>
										<li>이*엽	 7370</li>
										<li>이*희	 1450</li>
										<li>이*훈	 6797</li>
										<li>이*민	 9697</li>
										<li>이*경	 6500</li>
										<li>이*정	 5753</li>
										<li>이*임	 2825</li>
										<li>이*선	 9741</li>
										<li>이*원	 2558</li>
									</ul>
									<ul>
										<li>이*숙	 8831</li>
										<li>이*노	 5898</li>
										<li>이*정	 7111</li>
										<li>장*화	 6428</li>
										<li>전*진	 8355</li>
										<li>전*진	 2069</li>
										<li>정*은	 8991</li>
										<li>정*수	 9440</li>
										<li>정*훈	 1612</li>
										<li>정*미 8475</li>
									</ul>
									<ul>
										<li>정*진	 3190</li>
										<li>조*호	 4981</li>
										<li>주*자	 5491</li>
										<li>진*령	 3850</li>
										<li>차*재	 0400</li>
										<li>최*진	 7987</li>
										<li>최*	 7766</li>
										<li>최*환	 7115</li>
										<li>하*은	 8205</li>
										<li>한*숙 2677</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //8월 -->	
					 
						<!-- 7월 -->
						<div class="ver-title05 f23 fw500 " id="julyWinners" ><span class="txt-box lh140">7월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>박*영 3982</li>
										<li>김*연 1474</li>
										<li>곽*만	 3928</li>
										<li>김*영	 9691</li>
										<li>김*영	 6368</li>
										<li>양*직	 9079</li>
										<li>이*삼 0008</li>
										<li>은*일	 7735</li>
										<li>최*원	 8003</li>
										<li>장*애	 6066</li>
									</ul>
									<ul>
										<li>유*선 6524</li>
										<li>홍*숙	 5037</li>
										<li>김*현 0395</li>
										<li>이*름 4627</li>
										<li>김*용	 7649</li>
										<li>이*자	 9058</li>
										<li>이*택	 0776</li>
										<li>이*숙	 7136</li>
										<li>이*양	 2829</li>
										<li>박*자	 8722</li>
									</ul>
									<ul>
										<li>황*연	 6470</li>
										<li>박*수	 4915</li>
										<li>이*란	 2448</li>
										<li>백*한	 5869</li>
										<li>진*은	 9676</li>
										<li>이*미	 8264</li>
										<li>고*해	 3379</li>
										<li>김*호	 8854</li>
										<li>고*순	 6273</li>
										<li>윤*재 2307</li>

										
									</ul>
									<ul>
										<li>이*애	4406</li>
										<li>김*혁	1351</li>
										<li>임*근	0958</li>
										<li>이*숙	5964</li>
										<li>김*복	9775</li>
										<li>김*만	6477</li>
										<li>정*욱	8082</li>
										<li>강*원	2910</li>
										<li>김*아	0645</li>
										<li>공*복	3621</li>
									</ul>
									<ul>
										<li>배*준	 6530</li>
										<li>김*람	 7793</li>
										<li>김*숙	 2009</li>
										<li>민*선	 1116</li>
										<li>박*수 4214</li>
										<li>김*연	 4493</li>
										<li>이*복	 1689</li>
										<li>김*희	 4898</li>
										<li>이*남	 2607</li>
										<li>박*희	 0156</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //7월 -->						 
					 
					 
					 	<!-- 6월 -->
						<div class="ver-title05 f23 fw500" id="juneWinners"><span class="txt-box lh140">6월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>노*진	9309</li>
										<li>권*희	 4377</li>
										<li>류*희	 7937</li>
										<li>이*지	 2677</li>
										<li>신*선	 0940</li>
										<li>신*철	 5808</li>
										<li>김*미	 3715</li>
										<li>이*신 2256</li>
										<li>안*희	 8317</li>
										<li>황*국	 6821</li>
									</ul>
									<ul>
										<li>장*하	 2582</li>
										<li>이*진	 6123</li>
										<li>윤*숙	 0986</li>
										<li>선*미	 9099</li>
										<li>한*희	 2193</li>
										<li>박*미	 0960</li>
										<li>조*날	 5172</li>
										<li>황*이	 7266</li>
										<li>홍*욱 4279</li>
										<li>손*주	 2124</li>
									</ul>
									<ul>
										<li>최*정	 4459</li>
										<li>이*례	 3260</li>
										<li>서*라	 2830</li>
										<li>박*열	 9665</li>
										<li>송*근	 7664</li>
										<li>우*영	 2385</li>
										<li>김*정	 9525</li>
										<li>배*정	 2597</li>
										<li>김*주	 2744</li>
										<li>배*열	 0198</li>
									</ul>
									<ul>
										<li>김*리 0377</li>
										<li>권*진 7099</li>
										<li>김*미	 4552</li>
										<li>김*혁 3349</li>
										<li>신*철 1601</li>
										<li>박*현	 7897</li>
										<li>박*규	 7124</li>
										<li>이*영 0258</li>
										<li>송*이	 3486</li>
										<li>이*연	 7301</li>
									</ul>
									<ul>
										<li>이*윤	 7984</li>
										<li>최*아	 0184</li>
										<li>장 *&nbsp;&nbsp; 0312</li>
										<li>최*향 6394</li>
										<li>홍*명	 3257</li>
										<li>정*민	 2864</li>
										<li>박*영 2536</li>
										<li>오*영	 6866</li>
										<li>조*엽 0177</li>
										<li>김*경 7530</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //6월 -->	
						<div class="ver-title05 f23 fw500" id="mayWinners"><p><span class="txt-box lh140">5월 이벤트 당첨자</span></p></div>
						<div>
							<div class="v_content">
								<div class="event_v_con">
									<ul>
										<li>강*림	 2863</li>
										<li>강*구	 6634</li>
										<li>고*순	 2360</li>
										<li>고*녀	 7908</li>
										<li>김*운	 2676</li>
										<li>김*진	 5148</li>
										<li>김*립	 6122</li>
										<li>김*수	 2094</li>
										<li>김*경	 1813</li>
										<li>김*제	 4974</li>
									</ul>
									<ul>
										<li>김*동	 8052</li>
										<li>김*훈	 0373</li>
										<li>김*옥	 3410</li>
										<li>김*혜	 1323</li>
										<li>김*현	 9411</li>
										<li>김*연	 5565</li>
										<li>김*란	 2743</li>
										<li>나*명	 1201</li>
										<li>남*선	 1879</li>
										<li>박*미	 8171</li>
									</ul>
									<ul>
										<li>박*준	 9092</li>
										<li>박*경	 0522</li>
										<li>배*영	 4865</li>
										<li>서*만	 3277</li>
										<li>안*희	 1465</li>
										<li>안*빈	 6989</li>
										<li>엄*식	 1220</li>
										<li>오*선	 6134</li>
										<li>윤*혜	 8554</li>
										<li>이*영	 5595</li>
									</ul>
									<ul>
										<li>이*화	 2061</li>
										<li>이*명	 1368</li>
										<li>이*영	 2001</li>
										<li>이*바라 1776</li>
										<li>이*주	 7594</li>
										<li>이*성	 0010</li>
										<li>임*수	 1681</li>
										<li>임*연	 9963</li>
										<li>전*옥 2519</li>
										<li>전*윤	 2831</li>
									</ul>
									<ul>
										<li>전*현	 6236</li>
										<li>정*희	 7529</li>
										<li>정*연	 4957</li>
										<li>정*선	 5149</li>
										<li>조*연 5864</li>
										<li>지*희	 5450</li>
										<li>최*용 8026</li>
										<li>탁*연	 4242</li>
										<li>홍*숙	 1146</li>
										<li>황*복 9068</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!-- // Vetical -->
					<!-- 이벤트 본문 -->
					<p class="img100 mt100 wView"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_20230504.jpg" alt="50주년기념이벤트" /></p>
					<p class="img100 mt100 mView"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/EVENT/EVENT_mo_20230504.jpg" alt="50주년기념이벤트" /></p>
					<!-- //이벤트 본문 -->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 ">
				<ul class="paging-txt">
					<li class="f23 fw500 mt20">
						<dl class="pg-left">
							<!-- <a href="">
								<dd class="ico_notice_left mr10"></dd>
								<dd>정식품 2022년 상반기 신입사원 공채 모집</dd>
							</a> -->
						</dl>
					</li>
					<li class="pg-list"><a href="/event/list"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_pg_list.png" /></a></li>
					<li class="f23 fw500 mt20">
						<dl class="pg-right">
							<!--<a href="">
								<dd>정식품 2022년 상반기 신입사원 공채 모집</dd>
								<dd class="ico_notice_right ml10"></dd>
							</a>-->
						</dl>
					</li> 
				</ul>
			</div>
		</div>
		
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- <footer class="contant100"></footer> -->
<!-- ================================ // Footer ================================ -->
<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType03").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->

<script type="text/javascript">
</script>
</body>
</html>