<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 그린비아 결제</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="bg_rightBlue pb100">
	<div class="contant1460" >
		<div class="row mt90h">&nbsp;</div>
		<div class="w1460 center0 mt80">
			<div class="row ">
				<div class="col-md-4 my pr100">
					<div class="myBox">
						<p class="f14 fw400  mebOut gray04"><a href="/mypage/withdrawal">회원 탈퇴 신청</a></p>
						<p class="f34 fw600 lh130 mt50" th:text="|${member.mName} 님,|"><br>반갑습니다.</p>
						<ul class="account_box mt40">
							<li th:text="${member.mId}"></li>
							<li th:if="${member.mCompName} != null">법인회원</li>
							<li th:if="${member.mCompName} == null">일반회원</li>
							<li th:text="${member.mCompName}"></li>
						</ul>
						<p class="f14 fw400 gray04 mt25">
						개인정보를 수정, 변경하실 수 있습니다.<br>
						모든 정보는 고객님의 동의없이 공개되지 않으며, 
						개인 정보 보호 방침에 의해 보호받습니다.</p>
						<a href="/mypage/myInfo"><p class="btnType12 mt30"><span class="lh140">개인정보 변경</span></p></a>
					</div>
				</div>
				<div class="col-md-8 mt50m">
					<ul class="my_subTitle">
						<li><p class="f20 fw400">나의 결제내역</p></li>
						<li><a href="/comp/payment/pay"><span class="gray04 f14"><b>결제하기 &gt;</b></span></a></li>
					</ul><br class="clear">
					<div class="myBox mt20">
						<div class="myQus f16">지난 결제내역이 <span th:text="|${payCount}건|"></span> 있습니다.</div>
						<table cellspacing="0" summary="나의상담" border="0" class="myT mt30">
							<caption>지난 상담</caption>
							<colgroup>
								<col width="20%">
								<col width="15%">
								<col width="10%">
								<col width="15%">
								<col width="10%">
								<col width="10%">
							</colgroup>
							<tr>
								<th>카드번호</th>
								<th>결제금액</th>
								<th>카드사(은행)</th>
								<th>결제일</th>
								<th>영수증보기</th>
								<th>결제취소</th>
							</tr>
							<tr th:if="${not #lists.isEmpty( payList )}" th:each="pay, i : ${payList}">
								<td class="day f_pp" th:text="${pay.lgdCardnum}"></td>
								<td class="day f_pp" th:text="|${pay.lgdAmount}원|"></td>
								<td class="day f_pp" th:text="${pay.lgdFinancename}"></td>
								<td class="day f_pp" th:text="${pay.insertDate}"></td>
								<td class="day f_pp">
									 <a th:href="|${pay.lgdReceiptUrl}|" target="_blank"><p class="cate">영수증</p></a>
									 <input type="hidden" th:value="${pay.lgdTid}" name="tid">
								</td>
								<td class="day f_pp" th:if="${pay.lgdRespcode} == 'CANCELED'">취소완료</td>
								<td class="day f_pp" th:unless="${pay.lgdRespcode} == 'CANCELED'">
									 <a th:href="|/comp/payment/cancel/{${pay.lgdTid}|" ><p class="cate">취소</p></a>
								</td>
							</tr>
						</table>
						<p class="center mt20"><button type="text" class="btnType13" ><span class="f14 fw400 gray04">+ 더보기</span></button></p>
					</div>
					<br class="clear">
					<br class="clear">
					<ul class="my_subTitle">
						<li><p class="f20 fw400">나의 상담내역</p></li>
						<li><a href="/mypage/qna"><span class="gray04 f14">문의하기 &gt;</span></a></li>
					</ul><br class="clear">
					<div class="myBox mt20">
						<div class="myQus f16">지난 상담내역이 <span th:text="|${qnaCount}건|"></span> 있습니다.</div>
						<table cellspacing="0" summary="나의상담" border="0" class="myT mt30">
							<caption>지난 상담</caption>
							<colgroup>
								<col width="20%">
								<col width="60%">
								<col width="20%">
							</colgroup>
							<tr>
								<th>상담분류</th>
								<th>질문내용</th>
								<th>작성일</th>
							</tr>
							<tr th:if="${not #lists.isEmpty( qnaList )}" th:each="qna : ${qnaList}">
								<td><p class="cate" th:text="${qna.sCate}"></p></td>
								<td>
									<a th:href="|/mypage/answer?sIdx=${qna.sIdx}|"><div class="titletxt" th:text="${qna.sSubject}"></div></a>
									<p class="ans" th:if="${qna.sAnswerYn} == 'Y'">답변</p>
									<p class="ans" th:unless="${qna.sAnswerYn} == 'Y'">미답변</p>
								</td>
								<td class="day f_pp" th:text="${qna.sWritedate}"></td>
							</tr>
						</table>
						<p class="center mt20"><button type="text" class="btnType13" ><span class="f14 fw400 gray04">+ 더보기</span></button></p>
					</div>
				</div>
			</div>
			
		</div><!-- // w1460 -->
		<br class="clear">
	</div><!-- //contant1460 -->
</div>
<!-- ================================  
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>