<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/beansoup/head :: headFragment"></head>
<script type="text/javascript">
	//주소복사
	function TourUrlCopy() {
	   
	   var isIE = false;
	   var agent = navigator.userAgent.toLowerCase();
	   if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
		    isIE = true;
	   }
	
	   if(isIE){
	   if(confirm("이 글의 주소를 클립보드에 복사하시겠습니까?"))
	       window.clipboardData.setData("Text",document.location.href);
	   }else{
	       temp = prompt("Ctrl+C를 눌러 주소를 클립보드로 복사하세요.",document.location.href);
	   }
	} 
</script>
<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
<body>
<!-- ================================ 
	        Header
================================ -->
<th:block class="white" th:replace="fragments/beansoup/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
	        // Header
================================ -->
<!-- ================================ 
	        Content
================================ -->
<div th:replace="|beansoup/html/${recipe}|"></div>
<!-- ================================ 
        Content
================================ -->
<div class="container mt130 detailLine">
	<div class="row recommend">
		<div class="col-lg-12 mb30 mt20">
			<p class="f28 fw600 ">이런 레시피는 어떠세요?</p>
		</div>
	</div>
	<div class="row recommend">
		<th:block th:each="item : ${beansoupList}">
			<div class="col-lg-3 col-sm-6">
				<div class="thumbBox">
					<a th:href="|/beanSoup/detail?recipe=${item.fileNo}|">
						<div class="h220 round" th:classappend="${item.cssClass}">
							<th:block th:if="${item.mCate == '온요리'}">
								<ul class="labelBox">
									<li class="hot"><span>온요리</span></li>
								</ul>
							</th:block>
							<th:block th:if="${item.mCate == '냉요리'}">
								<ul class="labelBox">
									<li class="cool"><span>냉요리</span></li>
								</ul>
							</th:block>
						</div>
						<div class="recipeTxt_white">
							<p class="f16 gray" th:text="${item.tag}">tag</p>
							<p class="f22 fw600 mt10" th:text="${item.name}">name</p>
						</div>
					</a>
				</div>
			</div>
		</th:block>
	</div>
</div>
<!-- ================================ 
	        Footer
================================ -->
<footer class="container100" th:replace="fragments/beansoup/mainFooter :: footerFragment"></footer>
<!-- ================================ 
	        // Footer
================================ -->
</body>
</html>