<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block class="white" th:replace="fragments/beansoup/head :: headFragment"></th:block>

<body>
<!-- ================================ 
	        Header
================================ -->
<th:block class="white" th:replace="fragments/beansoup/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
	        // Header
 ================================ -->
<!-- ================================ 
		Content
================================ -->

<script src="https://wowjs.uk/dist/wow.min.js"></script>
<script>
 new WOW().init();
 mobile:       true      // 기본값
</script>


<section class="mainSection ">
<!-- main Visual Slide -->
<!-- 2023.11.16 수정 -->
<!-- <div class="container100 ">
	<div class="row wView">
		<div class="col-lg-12 h800 bg_main00 mt-100 ">
			<div class="row">
				<div class="col-lg-12" >
					<div class="aniBox " >
						<div class="ani-txt container" >
							<p class="fw400 f66 lh120 wow animate__animated mt60" data-wow-delay="1.1s" style="visibility: visible;  animation-name: bounceInDown;"><span class="fw600">초록머리 대파선수</span>가 <br>언제나 꼴찌인 이유는?</p>
							<p class="mt50 btn_main_ani wow f18 fw500 animate__animated"  data-wow-delay="1.4s" style="visibility: visible;  animation-name: bounceInDown;"><a href="/beanSoup/list">더 알아보기</a></p>
						</div>
						

						<p class="wow animate__animated mvc01" data-wow-delay="0.1s" style="visibility: visible;  animation-name: bounceInLeft;"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc01.png" alt="구름1"/></p>
						<p class="wow animate__animated mvc02" data-wow-delay="0.2s" style="visibility: visible;  animation-name: bounceInLeft;"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc02.png" alt="구름2"/></p>
						<p class="wow animate__animated mvc03" data-wow-delay="0.3s" style="visibility: visible;  animation-name: bounceInLeft;"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc03.png" alt="구름3"/></p>
						<p class="wow animate__animated mvc04" data-wow-delay="0.4s" style="visibility: visible;  animation-name: bounceInLeft;"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc04.png" alt="구름4"/></p>
						
						wow 클래스제거
						<p class=" animate__animated mvc06" data-wow-delay="0.9s" style="visibility: visible;  animation-name: bounceInRight; opacity:0.5"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc06.png" alt="모자"/></p>
						<p class="wow animate__animated mvc07" data-wow-delay="1.1s" style="visibility: visible;  animation-name: bounceInRight; "><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc07.png" alt="구름7"/></p>


					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="row wView">
		Waves Container
		<div class="parallax2-wrap ">
			<div>
			<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax2">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(158,201,145,0.7" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(210,233,193,0.5)" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(223,240,211,0.3)" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
			</g>
			</svg>
			</div>
		</div>
		<div class="wow animate__animated mvc09 mt-200" data-wow-delay="1.5s"  style="visibility: visible;  animation-name: bounceInRight;">
			<p class="wow animate__animated " data-wow-delay="0.4s" data-wow-duration="5s" style="visibility: visible;  animation-name: swing;" data-wow-iteration="infinite"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc09.png" alt="대파1"/></p>
		</div>
		<div class="wow animate__animated mvc10 mt-200" data-wow-delay="1.7s"  style="visibility: visible;  animation-name: bounceInRight;">
			<p class="wow animate__animated " data-wow-delay="0.2s" data-wow-duration="5s" style="visibility: visible;  animation-name: swing;" data-wow-iteration="infinite">
			<span><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc10.png" alt="대파2"/></span>
			</p>
		</div>

		<div class="wow animate__animated mvc11 mt-180" data-wow-delay="0.1s"  style="visibility: visible;  animation-name: bounceInRight;">
			<p class="wow animate__animated " data-wow-iteration="infinite" data-wow-duration="5s"data-wow-delay="2.1s"  style="visibility: visible;  animation-name:pulse;" >
				<span><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc11.png" alt="가족"/></span>
			</p>
		</div>
		<p class="wow animate__animated mvc05 mt-100" data-wow-delay="0.3s" style="visibility: visible;  animation-name: bounceInLeft; "><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc05.png" alt="구름5"/></p>
		<p class="wow animate__animated mvc08" data-wow-delay="1.1s" style="visibility: visible;  animation-name: bounceInRight"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/mvc08.png" alt="구름8"/></p>
		Waves end
	</div>
	<div class="row mView721">
		<div>
			<div class="ani-txt " >
				<p class="fw400 f66 lh120" ><span class="fw600">초록머리 대파선수</span>가 <br>언제나 꼴찌인 이유는?</p>
				<p class="mt50 btn_main_ani f18" ><a href="/beanSoup/list">더 알아보기</a></p>
			</div>
			<p class="bg_main00_ta"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/bg_main00_ta.jpg" alt="721~"/></p>
			<p class="bg_main00_mo"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/bg_main00_mo.jpg" alt="~720"/></p>
		</div>
	</div>
</div>  -->
<!-- // 2023.11.16 수정 -->
<!-- // main Visual Slide -->

<!-- 2023-11-29 수정 -->
<!-- scroll -->
<!-- <a href="#down-section" class="a-scroll"><div class="scroll mt20">SCROLL DOWN</div></a> -->
<!-- // scroll -->
<!-- //2023-11-29 수정 -->

<!-- 2023.11.16 수정 -->
<div class="container100 bg_main01 mt40 pt200 h970" id="down-section"  >
	<div class="container mt-50"> 
		<div class="row mt24">
			<div class="col-lg-5 col-sm-12  text-left" >
				<p class="f22 orange2 fw400">SEASONAL RECIPE</p>
				<p class="f44 fw400 mt20">1년 365일 함께 하는</p>
				<p class="f44 fw600 bg_mainLine00 text-left">우리집 간단요리사</p>
				<p class="f22 fw400 gray mt30 lh140">1월부터 12월까지의 제철 요리도<br>간단요리사에게 맡겨보세요!</p>
				<p class="btn_mainType01 mt50 f18"><a href="/beanSoup/list">더 보러가기</a></p>
			</div>
			<div class="col-lg-7  mt100m">
				<!-- slide -->
				<div class="swiper-container two">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="/beanSoup/detail?recipe=recipe30" th:href="|/beanSoup/detail?recipe=${cards[0].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp11.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[0].imgName}|" alt="slide 1">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc11" 			th:text="${cards[0].desc1}"			>서늘한 날씨에 더 맛있는</p>
										<p class="f32 fw600 mt5 black"  th:text="${cards[0].recipeName}"	>배추된장국</p>
										<p class="f20 mt20 lh140 gray" 	th:utext="${cards[0].desc2}"		>은근 맛내기 어려운 집밥 메뉴<br/>중요한 건 바로 이것?</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '12'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe31" th:href="|/beanSoup/detail?recipe=${cards[1].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp12.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[1].imgName}|"alt="slide 12">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc12"				th:text="${cards[1].desc1}"		>따듯한 크리스마스를 담은</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[1].recipeName}">에그인헬</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[1].desc2}"	>낭만 가득한 크리스마스<br>홈파티 요리도 간단하게</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '1'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe22" th:href="|/beanSoup/detail?recipe=${cards[2].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp01.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[2].imgName}|"alt="slide 1">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc01"				th:text="${cards[2].desc1}"		>제철 맞은 겨울 무로 만든</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[2].recipeName}">나박김치</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[2].desc2}"	>간 맞추기 어려웠던 물김치도<br>이젠 간단하게 시원하게!</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '2'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe23" th:href="|/beanSoup/detail?recipe=${cards[3].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image" >
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp02.png" 
												th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[3].imgName}|"alt="slide 2">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc02"				th:text="${cards[3].desc1}"		>겨울에 안 먹고 넘어가면 섭섭한</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[3].recipeName}">바지락 순두부찌개</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[3].desc2}"	>오통통한 바지락을 넣어<br>시원 칼칼한 국물 맛</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '3'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe24" th:href="|/beanSoup/detail?recipe=${cards[4].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp03.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[4].imgName}|"alt="slide 3">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc03"				th:text="${cards[4].desc1}"		>향긋한 봄 내음으로 가득한 밥상 </p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[4].recipeName}">냉이된장국</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[4].desc2}"	>별 재료 없이도<br>맑고 향긋한 된장국 레시피</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '4'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe25" th:href="|/beanSoup/detail?recipe=${cards[5].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp04.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[5].imgName}|" alt="slide 4">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc04"				th:text="${cards[5].desc1}"		>일년을 지나 돌아온 4월의 재미</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[5].recipeName}">주꾸미 샤브샤브</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[5].desc2}"	>손 많이 가는 샤브샤브 육수?!<br>이렇게 준비해 보세요.</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '5'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe26" th:href="|/beanSoup/detail?recipe=${cards[6].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp05.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[6].imgName}|"alt="slide 5">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc05"				th:text="${cards[6].desc1}"		>가볍고 푸르른 맛의 정점</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[6].recipeName}">오이면 국수</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[6].desc2}"	>재료가 간단할수록<br>더욱 돋보이는 감칠맛!</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '6'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=sub_recipe16" th:href="|/beanSoup/detail?recipe=${cards[7].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp06.png"
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[7].imgName}|" alt="slide 6">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc06"				th:text="${cards[7].desc1}"		>하지감자의 특별한 변신</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[7].recipeName}">감자 옹심이</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[7].desc2}"	>쫄깃쫄깃한 감자에<br>고소한 콩국물까지!</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '7'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe27" th:href="|/beanSoup/detail?recipe=${cards[8].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp07.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[8].imgName}|"alt="slide 7">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc07"				th:text="${cards[8].desc1}"		>상큼하고 시원한 여름의 맛</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[8].recipeName}">토마토 콜드 수프</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[8].desc2}"	>스페인 국민 음식 '가스파초'를<br>나의 식탁으로 초대하세요!</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '8'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=sub_recipe05" th:href="|/beanSoup/detail?recipe=${cards[9].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp08.png"
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[9].imgName}|" alt="slide 8">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc08"				th:text="${cards[9].desc1}"		>제철 옥수수에 풍미를 더하다</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[9].recipeName}">콘치즈 그라탕</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[9].desc2}"	>8월의 옥수수를 더욱 고소하게<br>만들어줄 단 하나의 비법</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide" th:classappend="${month == '9'} ? 'swiper-slide-active' : ''">
							<a href="/beanSoup/detail?recipe=recipe28" th:href="|/beanSoup/detail?recipe=${cards[10].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp09.png"
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[10].imgName}|" alt="slide 9">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc09"				th:text="${cards[10].desc1}"		>통통한 가을 새우를 색다르게</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[10].recipeName}">새우 완탕</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[10].desc2}"	>이젠 중식 셰프 요리도<br>간단요리사에게 맡겨보세요</p>
									</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="/beanSoup/detail?recipe=recipe29" th:href="|/beanSoup/detail?recipe=${cards[11].recipeDetail}|">
								<div class="main-shadow">
									<div class="slider-image">
										<img src="https://image.edaymall.com/images/vegemil/beansoup/img/main-swp10.png" 
											th:src="|https://image.edaymall.com/images/vegemil/beansoup/img/${cards[11].imgName}|"alt="slide 10">
									</div>
									<div class="main-swt-txt">
										<p class="f24 rc10"				th:text="${cards[11].desc1}"	>가을을 즐기는 방법,</p>
										<p class="f32 fw600 mt5 black"	th:text="${cards[11].recipeName}">파개장</p>
										<p class="f20 mt20 lh140 gray"	th:utext="${cards[11].desc2}"	>>제철 맞은 대파로 깔끔담백<br>파개장 후루룩 완성!</p>
									</div>
								</div>
							</a>
						</div>
						
						<!-- Add Pagination -->
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
				<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js'></script>
				
					<!--  카드 스크립트 수정 2023-11-13 -->
					<script>
						if (document.body.clientWidth > 990) {
							var swiper = new Swiper( '.swiper-container.two', {
									pagination: '.swiper-pagination',
									paginationClickable: true,
									effect: 'coverflow',
									loop: true,
									centeredSlides: true,
									slidesPerView: '1.85',
									//slidesPerView: '2',
									coverflow: {
										rotate: 0,
										stretch: 100,
										depth: 150,
										modifier: 1.5,
										slideShadows : false,
									},

									coverflowEffect: {
										rotate: 0,
										stretch: 0,
										depth: 100,
										modifier: 5,
										slideShadows: true
									  },

							});
						}
						if (document.body.clientWidth < 989) {
							var swiper = new Swiper( '.swiper-container.two', {
									pagination: '.swiper-pagination',
									paginationClickable: true,
									effect: 'coverflow',
									loop: true,
									centeredSlides: true,
									slidesPerView: '1',
									//slidesPerView: '2',
									coverflow: {
										rotate: 0,
										stretch: 100,
										depth: 150,
										modifier: 1.5,
										slideShadows : false,
									},

									coverflowEffect: {
										rotate: 0,
										stretch: 0,
										depth: 100,
										modifier: 5,
										slideShadows: true
									  },

							});
						}
					</script>
					<!--  //카드 스크립트 수정 2023-11-13 -->
				
				
				<!-- //slide -->
			</div>
		</div><!-- /.row -->
	</div>
	<div class="bg_main01 mt-200"></div>
</div><!-- // container 카드 -->

<div class="container100 mt200">
	<div class="parallax wView">
		<div class="row">
			<div class="col-lg-7" ></div>
			<div class="col-lg-5">
				<div class="para">
					<p class="fw600 white">SIMPLE COOK</p>
					<p class="mt10 f44 green4">일품요리도, 일상요리도<br><span class="bg_mainLine02 fw600">요리가 간단해지는 비법!</span></p>
					<p class="mt30 white">간단요리사와 함께 한다면, 쉬운 요리도 어려운 요리도 금세 완성할 수 있어요!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mView"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/bnr_model_m.jpg" alt="01" /></div>
</div>


<!-- 2023.11.15 수정 -->
<div class="container100 pb200 bg_main04 ">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mt200 pb80">
				<p class="f22 fw500 orange2">PRODUCTS</p>
				<p class="f44 mt15">간단요리사 <span class="fw600 bg_mainLine03">제품 소개</span></p>
			</div>
			<div class="col-lg-6 ">
				<div class="prd_t">
					<a href=""><p class="main_prd_01 h270"></p></a>
					<div class="main_thumb_white">
						<p class="f32 fw600"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/main_num01.png" alt="01" /> <span class="bg_mainLine06">진한 콩국물 플레인</span> /  <span class="bg_mainLine05">검은콩</span></p>
						<p class="gray f20 lh140 mt20">콩을 통째로 갈아 넣어 한 층 깊은 고소함! <br class="wView">콩의 맛과 영양이 그대로 담겼어요.</p>
						<ul class="mt20">
							<li><a href="/beanSoup/list?tag=진한 콩국물">레시피 보기</a></li>
							<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10259951">구매하기</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt30m">
				<div class="prd_t">
					<a href=""><p class="main_prd_02 h270"></p></a>
					<div class="main_thumb_white">
						<p class="f32 fw600"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/main_num02.png" alt="02" /> <span class="bg_mainLine04">담백한 채소육수</span></p>
						<p class="gray f20 lh140 mt20">국산채소 4종을 우려내어 감칠맛을 살렸어요. <br class="wView">담백한 채소육수와 재료만 넣고 보글보글 끓여주면 맛있는 요리 완성!</p>
						<ul class="mt20">
							<li><a href="/beanSoup/list?tag=담백한 채소육수">레시피 보기</a></li>
							<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10275397">구매하기</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mt50">
				<div class="prd_t">
					<a href=""><p class="main_prd_03 h270"></p></a>
					<div class="main_thumb_white">
						<p class="f32 fw600"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/main_num03.png" alt="03" /> <span class="bg_mainLine07">시원한 채소육수</span></p>
						<p class="gray f20 lh140 mt20">제주 겨울무, 국산 대파와 마늘로 시원하게 우려낸 동치미 국물! <br class="wView">시원한 채소육수로 여름의 맛을 느껴보세요.</p>
						<ul class="mt20">
							<li><a href="/beanSoup/list?tag=시원한 채소육수">레시피 보기</a></li>
							<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10275392">구매하기</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt50">
				<div class="prd_t">
					<a href=""><p class="main_prd_04 h270"></p></a>
					<div class="main_thumb_white">
						<p class="f32 fw600"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/main_num04.png" alt="04" /> <span class="bg_mainLine08">구수한 사골육수</span></p>
						<p class="gray f20 lh140 mt20">24시간의 정성을 담은 구수한 사골육수! 무, 마늘, 파를 넣어 <br class="wView">깊은 맛을 더했어요.</p>
						<ul class="mt20">
							<li><a href="/beanSoup/list?tag=구수한 사골육수">레시피 보기</a></li>
							<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10277485">구매하기</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //2023.11.15 수정 -->

<!-- //2023.11.15 수정 -->
<div class="container100  bg_main02 mb200">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center gr mt180">
					<p class="center f22 fw600 gr_color mt180">RECIPE GAME</p>
					<p class="f44 fw400 mt20">이럴 땐 이 요리 어때요? <span class="fw600 bg_mainLine01"><br class="mView">간단 밸런스 게임!</span></p>
					<p class="f22 mt20">메뉴 고민 이제 끝! 내 상황에 맞는 레시피를 알려드릴게요.</p>
				</div>
			</div>
			<div class="col-lg-12 baBox">
				<div class="gallery-ba wView">
					<th:block th:if="${randNum == 1}">						
						<img onclick="location.href='/beanSoup/list?tag=겨울'"  src="https://image.edaymall.com/images/vegemil/beansoup/img/ba01_01.jpg" alt="겨울 " />
						<img onclick="location.href='/beanSoup/list?tag=여름'"  src="https://image.edaymall.com/images/vegemil/beansoup/img/ba01_02.jpg" alt="여름" />
					</th:block>
					<!-- game02 -->
					<th:block th:if="${randNum == 2}">		
						<img onclick="location.href='/beanSoup/list?tag=맑은 국물'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba02_01.jpg" alt="맑은국물" />
						<img  onclick="location.href='/beanSoup/list?tag=진한 국물'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba02_02.jpg" alt="진한국물" />
					</th:block>
					<!-- game03 -->
					<th:block th:if="${randNum == 3}">
						<img onclick="location.href='/beanSoup/list?tag=겨울'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba03_01.jpg" alt="겨울" />
						<img onclick="location.href='/beanSoup/list?tag=새로운 발견'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba03_02.jpg" alt="새로운 발견" />
					</th:block>
					<!-- game04  -->
					<th:block th:if="${randNum == 4}">
						<img onclick="location.href='/beanSoup/list?tag=고소한 간식'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba04_01.jpg" alt="고소한 간식" />
						<img onclick="location.href='/beanSoup/list?tag=우리집 파티'" src="https://image.edaymall.com/images/vegemil/beansoup/img/ba04_02.jpg" alt="우리집 파티" />
					</th:block>
				</div>
				<div class="gallery_mo mView">
					<ul class="mt100">
						<th:block th:if="${randNum == 1}">	
							<li><a href="/beanSoup/list?tag=겨울"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba01_01_mo.jpg" alt="겨울 " /></a></li>
							<li><a href="/beanSoup/list?tag=여름"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba01_02_mo.jpg" alt="여름" /></a></li>
						</th:block>
						
						<th:block th:if="${randNum == 2}">
							<li><a href="/beanSoup/list?tag=맑은 국물"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba02_01_mo.jpg" alt="맑은국물 " /></a></li>
							<li><a href="/beanSoup/list?tag=진한 국물"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba02_02_mo.jpg" alt="진한국물" /></a></li>
						</th:block>
						
						<th:block th:if="${randNum == 3}">
							<li><a href=/beanSoup/list?tag=겨울""><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba03_01_mo.jpg" alt="겨울" /></a></li>
							<li><a href="/beanSoup/list?tag=새로운 발견"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba03_02_mo.jpg" alt="새로운 발견" /></a></li>
						</th:block>
						<th:block th:if="${randNum == 4}">
							<li><a href="/beanSoup/list?tag=고소한 간식"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba04_01_mo.jpg" alt="고소한 간식 " /></a></li>
							<li><a href="/beanSoup/list?tag=우리집 파티"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ba04_02_mo.jpg" alt="우리집 파티" /></a></li>
						</th:block>
					</ul>
				</div>
				<p class="emblem_text" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/emblem_text.png" alt="맑은국물 " /></p>
				<p class="emblem" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/emblem.png" alt="맑은국물 " /></p>
			</div>
		</div>
	</div>
</div>

</section>
<!-- //container -->
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ 
	        Footer
================================ -->
<footer  th:replace="fragments/beansoup/mainFooter :: footerFragment"></footer>

<!-- ================================ 
	        // Footer
================================ -->
</body>
</html>