<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb200">
	<div class="contant1760 mt90h" >
		<div class="row prd-sel">
			<div class="col-md-8 mt50">
			<!-- 메뉴 개발 필요
				<select class="sel03 w180 mr5">
					<option>두유(베지밀)</option>
					<option>임산&middot;수유뷰 영양식(베지밀)</option>
					<option>영&middot;유아식(베지밀)</option>
					<option>특수영양식(그린비아)</option>
					<option>건강식품</option>
					<option>식재료</option>
					<option>식물성음료(라잇미닛)</option>
					<option>음료</option>
					<option>생수(심천수)</option>
				</select>
				<select class="sel03 w180 mr5">
					<option>플레인 두유</option>
					<option>프리미엄 두유</option>
					<option>플레인 두유</option>
					<option>블랙 두유</option>
					<option>곡물&견과 두유</option>
					<option>과즙&차류 두유</option>
				</select>
				<select class="sel03 w250 dep3">
					<option>담백한 베지밀 에이</option>
					<option>달콤한 베지밀 비</option>
					<option>베지밀 무첨가두유</option>
					<option>베지밀 진하고 고소한 두유</option>
					<option>베지밀에이 담백한 고칼슘 두유</option>
					<option>베지밀비 달콤한 고칼슘 두유</option>
					<option>베지밀 고칼슘 두유</option>
				</select>
				-->
			</div>
			<div class="col-md-4 mt50">
<!-- 				<p class="f14 fw400 black  float-right btnType18"><a href="#"><img  src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear"> -->
			</div>
		</div>
		<div class="row pro-top-tab">
			<div class="col-md-8 mt50 ">
				<!-- tabs4 -->
				<div class="prd_thumb">
					<ul class="tabs4">
						<li><a href="#photo01"><div th:class="|${product.productClass1} h190|"></div></a></li>
						<li><a href="#photo02"><div th:class="|${product.productClass2} h190|"></div></a></li>
						<li th:if="${product.categoryCode} != 'G'"><a href="#photo03"><div th:class="|${product.productClass3} h190|"></div></a></li>
					</ul>
				</div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('.prd_thumb').basicTabs4();/* basicTabs4 변경 */
					});
				</script>
				<!-- //tabs4 -->
				<!-- tabs4 content -->
				<div class="tab_content4">
					<div id="photo01" class="thumb_img">
						<div th:class="|${product.productClass1} h590|"></div>
						<div class="prd-txt ab-bottom">
							<span class="f14" th:text="${product.tag1}"></span>
							<span class="f14" th:text="${product.tag2}"></span>
							<span class="f14" th:text="${product.tag3}"></span>
						</div>
						<div class="ppl-label" th:if="${product.pIdx == 73}"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_ppl.png" alt="안사우면다행이야"></div>
						<div class="prd-label">
							<img th:if="${product.bestProduct == 1}" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_list_best.png" alt="베스트">
						</div>
					</div>
					<div id="photo02">
						<div th:class="|${product.productClass2} h590|"></div>
					</div>
					<div id="photo03">
						<div th:class="|${product.productClass3} h590|"></div>
					</div>
				</div><!-- //tabs4 content -->
			</div>
			<div class="col-md-4  mt50">
				<div class="prd-info-wrap">
					<div class="prd-key  text-left">
						<span class="key-green" th:text="${product.categoryName}"></span>
						<span class="key-white" th:text="${product.subCategoryName}"></span>
					</div>
					<p class="f38 fw600 lh130 mt20" th:text="${product.pName}"></p>
					<p class="mt10 gray04" th:text="${product.description}"></p>	
					<ul class="info_ul mt40" th:if="${product.capacity1} != null">
						<li th:if="${product.capacity1} != null">
							<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_info01.png" alt="용량" /></p>
							<p th:if="${product.capacity2 != null}">
								<span class="f16 fw400 gray04">용량</span><span class="f16 f_pp fw400" th:text="|${product.capacity1}, ${product.capacity2}|"></span>
							</p>
							<p th:if="${product.capacity2 == null}">
								<span class="f16 fw400 gray04">용량</span><span class="f16 f_pp fw400" th:text="|${product.capacity1}|"></span>
							</p>
						</li>
						<li th:if="${product.expirationMonth} != null">
							<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_info02.png" alt="유통기한" /></p>
							<p><span class="f16 fw400 gray04">유통기한</span><span class="f16 f_pp fw400" th:text="${product.expirationMonth}"></span></p>
						</li>
						<li th:if="${product.kcal1} != null">
							<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_info03.png" alt="칼로리" /></p>
							<p><span class="f16 fw400 gray04">칼로리</span><span class="f16 f_pp fw400" th:text="${product.kcal1}"></span></p>
						</li>
						<li th:if="${product.releaseYm} != null">
							<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_info04.png" alt="출시년도" /></p>
							<p><span class="f16 fw400 gray04">출시년도</span><span class="f16 f_pp fw400" th:text="${product.releaseYm}"></span></p>
						</li>
					</ul>
					<ul class="info_ul_bottom mt30">
						<li th:if="${product.recommender} != null">
							<p class="f16 fw400">추천인 </p>
							<p class="f14 fw400 gray04" th:text="${product.recommender}"></p>
						</li>
						<li th:if="${product.tip} != null">
							<p class="f16 fw400">활용팁</p>
							<p class="f14 fw400 gray04" th:text="${product.tip}"></p>
						</li>
					</ul>
					<ul class="info_btn_box mt40">
						<li><p class="btnType19" th:if="${product.pOnuri} != null"><a th:href="|${product.pOnuri}|">이데이몰에서 구매하기</a></p></li>
						<li><p class="btnType20"><a href="#section-02">영양정보</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- // contant1760 -->
	<div class="contant100-15 " id="section-01" >
		<div class="banner-prd green mt50 mt50m" th:if="${product.categoryName} == '두유(베지밀)'">
			<div class="contant1460">
				<div class="f16 fw500">
					<a href="/brandStory/vegemil">
						<ul class="banner-logo">
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/bi_vegemil.png" /></li>
							<li class="banner-txt">Brand Story 대한민국 두유의 기준, 베지밀 브랜드 스토리 확인하고 다른 제품도 확인하세요!</li>
						</ul>
					</a>
				</div>
			</div>
		</div>
		
		<div class="banner-prd pink  mt50 mt50m" th:if="${product.categoryName} == '식재료'">
			<div class="contant1460">
				<div class="f16 fw500">
					<a href="/brandStory/recipe">
						<ul class="banner-logo easy">
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/bi_easy_w.png" /></li>
							<li class="banner-txt">Brand Story 요리를 간단하고 맛있게! 간단요리사. 브랜드 스토리 확인하고 다른 제품도 확인하세요!</li>
						</ul>
					</a>
				</div>
			</div>
		</div>
		<div class="banner-prd blue mt50 mt50m" th:if="${product.categoryName} == '생수'">
			<div class="contant1460">
				<div class="f16 fw500">
					<a href="/brandStory/simcheonsoo">
						<ul class="banner-logo">
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/bi_sim_w.png" /></li>
							<li class="banner-txt">Brand Story 지리산에서 만들어진 자연 그대로의 깨끗함. 부드럽게 마시는 맛있는 물! 브랜드 스토리를 확인하세요!</li>
						</ul>
					</a>
				</div>
			</div>
		</div>
	</div><!-- // contant100 -->
	<div class="contant1760" >
		<div id="flotingPage">
			<div class="floting-left mt110">
				<!-- productLoad -->
				<div class="section-02">
					<div class="productLoad">
					</div>
				</div>
				<!-- //productLoad -->
				<div class="row">
					<div class="scroll  mt100" id="section-03"><!-- 2022-12-14 id 추가 -->
						<div class="row mt150 alsoLove-box" >			
							<div class="col-md-12 mb70">
								<p class="text-center f_pp f55 fw600"><span class="gold">You</span> may also <span class="gold">love</span></p>
							</div>
							<div class="col-md-3" th:each="recProduct, i : ${recProduct}">
								<div class="alsoLove">
									<a th:href="|/product/detail/${recProduct.pIdx}|">
										<p th:class="|alsoThumb ${recProduct.productClass2} h330|"><!-- <span class="recipe-green">베지밀</span> --></p>
										<p class="f20 fw500 mt30 lh140 also-name" th:text="${recProduct.pName}"></p>
										<p class="f16 gray04 mt10 also-sub-txt" th:text="${recProduct.description}"></p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="bnr-faq h230 mt160">
						<div class="centerH">
							<p class="f27 fw500 black">고객 여러분께서 자주 물으시는 질문을 모아 답변드립니다.</p>
							<div class="btnType11 mt20">							
								<a href="/faq/list">FAQ 바로가기</a>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //floting-left -->
			<div class="floting-right mt110">
				<div class="floting">
					<div class="flotingContent">
						<div class="floating-menu">
							<p class="f23 fw500 prd_subCateTitle" th:text="${product.pName}"></p>
							<!-- 2022-12-14 -->
							<ul class="prd_dCate mt40">
								<li><a href="#section-01" class="menu-01"><span>상품 상세정보</span></a></li>
								<li><a href="#section-02" class="menu-02"><span>영양정보</span></a></li>
								<li><a href="#section-03" class="menu-03"><span>추천제품</span></a></li>
							</ul>
							<!-- //2022-12-14 -->
							<script type="text/javascript" src="/common/js/floating-menu-position.js"></script>
						</div>
					</div>
					<!-- 상세 페이지 내 제품 검색 창  -->
					<div class="flotingContent mt20">
						<p class="f23 fw500 lh150 black">안녕하세요 고객님,<br>찾으시는 제품이 있으신가요?</p>
						 <div class="search-container mt30">
							 <form action="/product/list" method="get">
							 	<span class="search-img"><img src="/img/ico/ico_search.png" alt="검색" /></span><input type="text" placeholder="제품을 검색해 보세요 " name="searchKeyword">
								<button type="submit" class="btn-search">검색</button>
							 </form>
						</div>
					</div>
					
					<div class="flotingContent-bnr mt60">
						<p class="f18"><img class="mr5" src="/img/ico/ico_youtube.png" />유튜브에서 확인하세요</p>
						<div class="bnr-y-box mt20">
							<a href= "https://www.youtube.com/watch?v=-r4XFLqZ5UI" target="_blank">
								<ul>
									<li>
										<img src="https://image.edaymall.com/images/dcf/vegemil/img/product/photo/VPL01_860_01.jpg" alt="베지밀에이 레시피"/>
										<span class="y-play"><img src="/img/ico/ico_play.png" alt="플레이" /></span>
									</li>
									<li class="f18 ml10">베지밀 에이로 만든 한끼메뉴 채소 만두 레시피</li>
								</ul>
							</a>
						</div>
					</div>
					<div class="h200"></div>
				</div>
			</div><!-- //floting-right -->
		</div><!-- //flotingPage -->
		<br class="clear">
	</div><!-- //contant1760 -->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script type="text/javascript">
//<![CDATA[
$(function(){
	//html 파일 로드
	var loadHtml = "[[ ${product.pCode} ]]";
    $(".productLoad").load("/product/"+loadHtml.trim()+".html");
    
    var url = window.location.pathname;
    var pIdx = url.replace("/product/detail/", "");
    
    $.ajax({
		url: "/product/addCount?pIdx="+pIdx,
		success: function (response) {
			return;
		}
	})
    
});
//]]>
</script>
</body>
</html>