<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="Keywords" content="웹진, 정식품, 정식품웹진, webzine, 두유,베지밀,유아식,썬몬드,그린비아,우리안,콩,대두,소이,식물성,음료" />
	<meta property="og:type" content="website"> 
	<meta name="Description" content="신뢰와 믿음의 기업 (주)정식품의 웹진입니다." />
<!-- 	<meta property="og:url" content="https://www.vegemil.co.kr/">  -->
<!-- 	<meta property="og:image" content="https://image.edaymall.com/images/dcf/vegemil/img/common/og.png" /> -->
<!-- 	<meta property="og:description" content="두유 및 음료 제조업체, 베지밀, 영유아식, 그린비아, 라잇미닛, 한끼생식, 음료류 등"/> -->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/><!-- 파비콘 추가 -->
	<!--=============== css  ===============-->
	<link rel="SHORTCUT ICON" href="https://www.vegemil.co.kr/webzine/js/Vegemil.ico" />
	<link type="text/css" rel="stylesheet" href="/webzine/css/img.css">
	<link type="text/css" rel="stylesheet" href="/webzine/css/responsive.css">
	<link type="text/css" rel="stylesheet" href="https://image.edaymall.com/images/dcf/webzine/css/img2019.css">
	<link type="text/css" rel="stylesheet" href="/webzine/css/plugins2019.css">
	<link type="text/css" rel="stylesheet" href="https://image.edaymall.com/images/dcf/webzine/css/style2022_used.css">
	<!--=============== scripts  ===============-->   
	<script type="text/javascript" src="/webzine/js/jquery2019.min.js"></script>
	<script type="text/javascript" src="/webzine/js/plugins2019.js"></script>
	<script type="text/javascript" src="/webzine/js/jquery.collapse.js"></script>
	<script type="text/javascript" src="/webzine/js/prrple.slider.js"></script>
	<script type="text/javascript" src="/webzine/js/scripts2019.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

		if (window.location.protocol == "http:") {
			if(window.location.hostname == 'vegemil.co.kr' || window.location.hostname == "www.vegemil.co.kr") {
				window.location.href = window.location.href.replace('http:', 'https:');
			}
		}
	
	/*]]>*/
	</script>
	<script type="text/javascript">
		function Change (target,type) 
		{  
			if ( target.value == target.defaultValue && type==0) target.value = ''; 
			if ( !target.value && type==1) target.value = target.defaultValue; 
		} 
	</script>
	<script th:src="@{/webzine/js/instafeed.min.js}"></script>
	<script th:src="@{/webzine/js/kakao.min.js}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-141294099-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-141294099-1');
	</script>
	
	<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "Person",
     "name": "정식품",
     "url": "https://www.vegemil.co.kr/",
     "sameAs": [
            "https://www.facebook.com/vegemilgood",
            "https://www.instagram.com/vegemil.official/",
            "https://www.youtube.com/user/vegemilgood/",
            "https://blog.naver.com/vegemilstory",
            "https://smartstore.naver.com/dcfwithedaymall"
     ]
    }
    </script>
	
	<th:block layout:fragment="add-script"></th:block>
	<th:block layout:fragment="add-css"></th:block>
</head>
</html>