<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품</title>
<head th:replace="webzine/oldHead :: headFragment"></head>
<!-- Snow 효과 -->
<link rel="stylesheet" th:href="@{/webzine/css/jquery.fallingsnow.css}">
<body>
<!-- ================================ Header ================================ --> 
<th:block th:replace="webzine/mainHeader :: headerFragment"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ Content ================================ -->
	<div th:insert="|webzine/html/index/${qrtYear}_index|"></div>
       <!-- ================================ Footer ================================ -->
	<footer th:replace="webzine/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
<!-- ================================ //Content ================================ -->
<script type="text/javascript">
//<![CDATA[
$(function(){
    function moveUrl(str1, str2){
        document.location.href="/main/webzine/"+str1+"/sub"+str2+".aspx" ;
	}
});
//]]>
</script>
<script type="text/x-javascript">
(function(w, d, a){
    w.__beusablerumclient__ = {
        load : function(src){
            var b = d.createElement("script");
            b.src = src; b.async=true; b.type = "text/x-javascript";
            d.getElementsByTagName("head")[0].appendChild(b);
        }
    };w.__beusablerumclient__.load(a + "?url=" + encodeURIComponent(d.URL));
})(window, document, "//rum.beusable.net/load/b161207e112311u833");
</script>
</body>
</html>