<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>정식품 웹진</title>
<head th:replace="webzine/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ --> 
<th:block th:replace="webzine/mainHeader :: headerFragment"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ Content ================================ -->
<div id="wrapper">
	<div class="content-holder1">
	<div class="content" style="background:#f8e9d3">
		<section>
			<div class="wrap-inner41" >
				<div class="container2">
					<div class="project-detail-wrap fl-wrap container-sub160" >
						<div class="row">
							<div class="col-md-12">
								<h3 class="center mt120">WEBZINE THEME PAGE</h3>
								<h1 class="center mt40-m">웹진 테마페이지</h1>
							</div>
						</div><!--//row-->
						<div class="row pb80">
							<div class="col-md-12 mt70-m">
								<ul class="theme_ul">
									<li><a href="#con01" class="hvr-bounce-to-right">인기20</a></li>
									<li><a href="#con02"  class="hvr-bounce-to-right">임신,육아</a></li>
									<li><a href="#con03" class="hvr-bounce-to-right">레시피</a></li>
									<li><a href="#con04" class="hvr-bounce-to-right">생활 속 꿀팁</a></li>
									<li><a href="#con05" class="hvr-bounce-to-right">테마여행</a></li>
									<li><a href="#con06" class="hvr-bounce-to-right">베지밀 이야기</a></li>
								</ul>
							</div>
							<div class="col-md-12 mt50-m theme">
						        <div class="tab_content" id="con01"> <!--인기20-->
						            <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2018/sub05.aspx" >
										    <div class="Q3_2018_05 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">에어컨 전기세 절약 꿀팁...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
										<a href="/main/webzine/Q1_2018/sub05.aspx" >
											<div class="Q1_2018_05 dh-container theme-container" >																
												<div class="dh-overlay theme-overlay">
													<p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
												 </div>
											</div>
											<p class="type03-01 ">임산부에게 좋은 음식...</p>
										</a>
									</div>
									<div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q2_2018/sub04.aspx" >
										    <div class="Q2_2018_04 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">임신 중 복통의 흔한 원인과 대처...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q4_2017/sub04.aspx" >
										    <div class="Q4_2017_04 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">우리 아이에게 나는 심한 입냄새...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2018/sub10.aspx" >
										    <div class="Q3_2018_10 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">아이와 함께 비행기 탈 때 꿀팁...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q4_2018/sub10.aspx" >
										    <div class="Q4_2018_10 dh-container theme-container" >
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">옷정리 A to Z 옷 개는법부터 재활용 박스 활용 노...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2019/sub05.aspx" >
										    <div class="Q3_2019_05 dh-container theme-container" >
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">생활 속 꿀팁...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q1_2018/sub04.aspx" >
										    <div class="Q1_2018_04 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">말이 늦는 아이 어떻게 해야 하나?...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q2_2018/sub10.aspx" >
										    <div class="Q2_2018_10 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">안전하게 손톱 자르는 팁...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q4_2018/sub05.aspx" >
										    <div class="Q4_2018_05 dh-container theme-container" >
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">옷에 묻은 얼룩 효과적으로 제거하기...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q2_2018/sub05.aspx" >
										    <div class="Q2_2018_05 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">채소 보관 꿀팁...</p>
									    </a>
								    </div>
									
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q1_2019/sub04.aspx" >
										    <div class="Q1_2019_04 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">임신 중 감기 대처 및 예방법...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q4_2018/sub04.aspx" >
										    <div class="Q4_2018_04 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">임신 중 허리통증...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q4_2017/sub03.aspx" >
										    <div class="Q4_2017_03 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">낯가리는 아이 어떻게 키워야 하나?...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q1_2018/sub10.aspx" >
										    <div class="Q1_2018_10 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">드라마‘흑기사 촬영지 슬로베니아...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2019/sub10.aspx" >
										    <div class="Q3_2019_10 dh-container theme-container" >
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">신생아 목욕 방법 및 주의사항...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2018/sub06.aspx" >
										    <div class="Q3_2018_06 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">이영자 비법으로 만들어 본 쫄면 콩국수 with 국산...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q3_2018/sub03.aspx" >
										    <div class="Q3_2018_03 dh-container theme-container" >
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
										    <p class="type03-01 ">거짓말하는 아이 어떻게 해야 하나?...</p>
									    </a>
								    </div>
								    <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q1_2019/sub05.aspx" >
										    <div class="Q1_2019_05 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
								    	    <p class="type03-01 ">유통기한 지난 제품 활용하기...</p>
							    	    </a>
								    </div>
									 <div class="col-md-2 mb50 hvr-float">
									    <a href="/main/webzine/Q2_2019/sub10.aspx" >
										    <div class="Q2_2019_10 dh-container theme-container" >																
											    <div class="dh-overlay theme-overlay">
												    <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
											    </div>
										    </div>
								    	    <p class="type03-01 ">그렁그렁 신생아 코막힘 대처법..</p>
							    	    </a>
								    </div>
								    														
								</div><!--//row-->
								<div class="tab_content" id="con02"> <!--02임신,육아-->
				                   <div class="col-md-2 mb50 hvr-float" th:if="${not #lists.isEmpty( webzineList02 )}" th:each="webzine : ${webzineList02}">
						                <a th:href="|/main/webzine/${webzine.qrtYear}/${webzine.fileNo}|">
							                <div th:class="|${webzine.qrtYear}_${webzine.fileNo} dh-container theme-container|" >																
								                <div class="dh-overlay theme-overlay">
									                <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
								                </div>
							                </div>
							                <p class="type03-01 " th:text="${webzine.snsTitle}"></p>
						                </a>
					                </div>										                
							    </div>
							    <div class="tab_content" id="con03"> <!--03레시피-->
				                    <div class="col-md-2 mb50 hvr-float" th:if="${not #lists.isEmpty( webzineList03 )}" th:each="webzine : ${webzineList03}">
						                <a th:href="|/main/webzine/${webzine.qrtYear}/${webzine.fileNo}|">
							                <div th:class="|${webzine.qrtYear}_${webzine.fileNo} dh-container theme-container|" >																
								                <div class="dh-overlay theme-overlay">
									                <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
								                </div>
							                </div>
							                <p class="type03-01 " th:text="${webzine.snsTitle}"></p>
						                </a>
					                </div>
							    </div>
							    <div class="tab_content" id="con04"> <!--04생활 속 꿀팁-->
				                    <div class="col-md-2 mb50 hvr-float" th:if="${not #lists.isEmpty( webzineList04 )}" th:each="webzine : ${webzineList04}">
						                <a th:href="|/main/webzine/${webzine.qrtYear}/${webzine.fileNo}|">
							                <div th:class="|${webzine.qrtYear}_${webzine.fileNo} dh-container theme-container|" >																
								                <div class="dh-overlay theme-overlay">
									                <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
								                </div>
							                </div>
							                <p class="type03-01 " th:text="${webzine.snsTitle}"></p>
						                </a>
					                </div>
							    </div>
							    <div class="tab_content" id="con05"> <!--05테마여행-->
				                    <div class="col-md-2 mb50 hvr-float" th:if="${not #lists.isEmpty( webzineList05 )}" th:each="webzine : ${webzineList05}">
						                <a th:href="|/main/webzine/${webzine.qrtYear}/${webzine.fileNo}|">
							                <div th:class="|${webzine.qrtYear}_${webzine.fileNo} dh-container theme-container|" >																
								                <div class="dh-overlay theme-overlay">
									                <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
								                </div>
							                </div>
							                <p class="type03-01 " th:text="${webzine.snsTitle}"></p>
						                </a>
					                </div>
							    </div>
							    <div class="tab_content" id="con06"> <!--06베지밀 이야기-->
				                    <div class="col-md-2 mb50 hvr-float" th:if="${not #lists.isEmpty( webzineList06 )}" th:each="webzine : ${webzineList06}">
						                <a th:href="|/main/webzine/${webzine.qrtYear}/${webzine.fileNo}|">
							                <div th:class="|${webzine.qrtYear}_${webzine.fileNo} dh-container theme-container|" >																
								                <div class="dh-overlay theme-overlay">
									                <p><img src="https://image.edaymall.com/images/dcf/webzine/common/theme_over.png" /></p>
								                </div>
							                </div>
							                <p class="type03-01 " th:text="${webzine.snsTitle}"></p>
						                </a>
					                </div>
							    </div>
						    </div>
						</div><!--//row-->
				    </div>
				</div><!-- //container -->
			</div><!-- //wrap-inner2 -->
		</section>
	</div>
    <!-- ================================ Footer ================================ -->
	<footer th:replace="webzine/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
	</div>
</div>
<!-- ================================ //Content ================================ -->
<script type="text/javascript">
    $(document).ready(function() {

        $(".tab_content").hide(); //Hide all content
        $("ul.theme_ul li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        $("ul.theme_ul li").click(function() {

            $("ul.theme_ul li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content

            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active ID content
            return false;
        });

    });
</script>
<script type="text/javascript" src="/webzine/js/scripts2019.js"></script>
</body>
</html>