<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="special-panel" th:fragment="tourFragment">
    <p class="sp-txt01"><a href="/Main/webzine/special/sub05.aspx">스페셜 페이지</a></p>
    <p class="sp-txt02"><a href="/Main/webzine/special/sub5.aspx">해외여행</a></p>
    <ul class="subsp">
	    <li>
		    <a href="/main/webzine/Q1_2020/sub11.aspx"><p>영화 '인턴'의 뉴욕</p></a>
	    </li>
	      <li>
		    <a href="/main/webzine/Q3_2018/sub09.aspx"><p>비긴어게인2의 여정</p></a>
	    </li>
	    <li>
		    <a href="/main/webzine/Q3_2017/sub11.aspx"><p>윤식당 길리</p></a>
	    </li>
    </ul>
    <p class="sp-txt03"><a href="/Main/webzine/special/sub5.aspx">자세히 보기 <img src="https://image.edaymall.com/images/dcf/webzine/special/ico_more.gif" /></a></p>
</div>
</html>