<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>정식품 공정거래(CP)</title>
    <head th:replace="fragments/head :: headFragment"></head>
	<link rel='stylesheet' th:href="@{/common/css/swiper-bundle.min.css}"><!-- swiper(카테고리별제품 메뉴) -->
	<script src="/common/js/swiper-bundle.min.js"></script><!-- swiper(카테고리별제품 메뉴) -->
	<script src="/common/js/swiper.js"></script><!-- swiper(카테고리별제품 메뉴) -->
</head>
<body>
<!-- ================================ 
		Header
================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100 subCategoryBg">
	<div class="content100 ">
	   <div class="subTopCp h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Communication</p>
				<p class="white f45 fw600">공정거래(CP)</p>
			</div>
		</div>
	</div>
	<div class="contant1460">
		<div class="subMenu">
			<p class="btnSubLeft"><a href=""><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/communication/ccm"><span>CCM이란?</span></a></li>
				<li class="f18 fw500 active"><a href="/communication/cp"><span>공정거래(CP)</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png"alt="왼쪽"/></a></p>
		</div>
    </div>
    <div class="contant100 bg_Gray ">
		<div class="contant1460" >
			<div class="row">
				<div class="col-md-10">
					<div class="swiper-box mt80 mt30m">
					  <div class="swiper-container" id="scroll-tags">
						<ul class="swiper-wrapper">
						  <li class="swiper-slide"><a th:href="@{/communication/cp/}">CP도입선언문</a></li>
						  <li class="swiper-slide"><a th:href="@{/communication/cp/cpProgram}">자율준수 프로그램 소개</a></li>
						  <li class="swiper-slide"><a th:href="@{/communication/cp/cpProgramStatus}">자율준수 운영현황</a></li>
						  <li class="swiper-slide active"><a th:href="@{/communication/cp/cpHandbook}">자율준수 편람</a></li>
						  <li class="swiper-slide"><a th:href="@{/communication/cp/cpDeclaration}">불공정거래 신고</a></li>
						</ul>
					  </div>
					</div>
				</div>
				<div class="col-md-2 ">
<!-- 					 <p class="f14 fw400 black  btnType03 mt65 float-right wView"> -->
<!--                         <a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a> -->
<!--                     </p> -->
				</div>
			</div>
		</div>
	</div><!-- //contant100 -->
    <div class="contant100_01 whiteBg">
        <div class="contant1460">
            <div class="row mt150">
              <div class="col-md-12 center">
                  <p class="f52 fw600 black">자율준수 편람</p>
                  <p class="mt60 f18 gray04">
                        "자율준수 편람"은 당사가 공정거래관계 법령의 자율준수를 위한 "자율준수프로그램(Compliance Program)" 을 도입,<br class="wView">
                        운영하기로 함에 따라 내부적으로는 당사의 모든 임직원이 공정거래 관계법령을 숙지, 준수하도록 하고 외부적으로는 시장에서의 자유롭고 공정한 경쟁을 유도,<br class="wView">
                        촉진하도록 함으로써 공정거래 풍토조성에 앞장서고 공정거래관계법령을 위반할 경우 막대한 피해와 손실을 사전에 예방하는 한편,<br class="wView">
                        [인류건강문화에 이바지하는 회사]로서의 당사 이미지를 제고하는 것을 목적으로 하고 있습니다.
                  </p>
              </div>
                <div class="col-md-12 mt120">
                    <table class="cpHandBook">
                        <caption>문서 관리</caption>
                        <tbody>
                           <tr class="f18">
                                <th class="f23 fw500">
                                    공정거래 자율준수<br class="mView">
                                    <span class="f16 gray04">편람</span>
                                </th>
                                <td class="">
                                    <a href="void(0);" onclick="alertNot();return false;">
                                        <p class="btnType12"><span class="lh140 gray04">E-Book 바로가기</span></p>
                                    </a>
                                </td>
                            </tr>
                            <tr class="f18">
                                <th class="f23 fw500">
                                    공정거래 자율준수 가이드<br class="mView">
                                    <span class="f16 gray04">공통부분</span>
                                </th>
                                <td class="">
                                    <a href="void(0);" onclick="alertNot(); return false;">
                                        <p class="btnType12"><span class="lh140 gray04">E-Book 바로가기</span></p>
                                    </a>
                                </td>
                            </tr>
                            <tr class="f18">
                                <th class="f23 fw500">
                                    공정거래 자율준수 가이드<br class="mView">
                                    <span class="f16 gray04">영업/구매부문</span>
                                </th>
                                <td class="">
                                     <a href="void(0);" onclick="alertNot(); return false;">
                                        <p class="btnType12"><span class="lh140 gray04">E-Book 바로가기</span></p>
                                    </a>
                                </td>
                            </tr>
                            <tr class="f18">
                                <th class="f23 fw500">
                                    공정거래 자율준수 가이드<br class="mView">
                                    <span class="f16 gray04">하도급부문</span>
                                </th>
                                <td class="">
                                     <a href="void(0);" onclick="alertNot(); return false;">
                                        <p class="btnType12"><span class="lh140 gray04">E-Book 바로가기</span></p>
                                    </a>
                                </td>
                            </tr>
                            <tr class="f18">
                                <th class="f23 fw500">
                                    공정거래 자율준수 가이드<br class="mView">
                                    <span class="f16 gray04">표시,광고/약관/온라인</span>
                                </th>
                                <td class="">
                                     <a href="void(0);" onclick="alertNot(); return false;">
                                        <p class="btnType12"><span class="lh140 gray04">E-Book 바로가기</span></p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--1460 끝-->
    </div>
    <br class="clear">
		
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ 
		Footer
================================ -->
<th:block class="white" th:replace="fragments/mainFooter :: footerFragment"></th:block>
<!-- ================================ 
		// Footer
================================ -->
<script>
	//EBook 스크립트
	function CpOpenEbook(fileName){
		var winWidth = 400;
	    var winHeight = 300;
	    var popupOption= "width="+winWidth+", height="+winHeight;  
		window.open("/communication/cp/cpEbookView?fileName=" + fileName,'pop',popupOption);
	}
	
	// 준비중
	
	function alertNot(){
		alert("준비중입니다.");
	}
</script>
</body>
</html>