<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>정식품 공정거래(CP)</title>
    <head th:replace="fragments/head :: headFragment"></head>
	<link rel='stylesheet' href='./common/css/swiper-bundle.min.css' th:href="@{/common/css/swiper-bundle.min.css}"><!-- swiper(카테고리별제품 메뉴) -->
	<script th:src="@{/common/js/swiper-bundle.min.js}"></script><!-- swiper(카테고리별제품 메뉴) -->
	<script th:src="@{/common/js/swiper.js}"></script><!-- swiper(카테고리별제품 메뉴) -->
</head>
<body>
<!-- ================================ 
		Header
================================ -->
<th:block class="white" th:replace="fragments/mainHeader :: headerFragment"></th:block>
<!-- ================================ 
		// Header
================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100 subCategoryBg">
	<div class="content100 ">
	   <div class="subTopCp h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Communication</p>
				<p class="white f45 fw600">공정거래(CP)</p>
			</div>
		</div>
	</div>
	<div class="contant1460">
		<div class="subMenu">
			<p class="btnSubLeft"><a href=""><img th:src="@{/img/ico/ico_grayLeft.png}" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="#"><span>CCM이란?</span></a></li>
				<li class="f18 fw500 active"><a href="#"><span>공정거래(CP)</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img th:src="@{/img/ico/ico_grayRight.png}" alt="왼쪽"/></a></p>
		</div>
    </div>
   <div class="contant100 bg_Gray ">
		<div class="contant1460" >
			<div class="row">
				<div class="col-md-10">
					<div class="swiper-box mt80 mt30m">
					  <div class="swiper-container" id="scroll-tags">
						<ul class="swiper-wrapper">
						  <li class="swiper-slide"><a href="javascript:void(0);" th:href="@{/communication/cp/}">CP도입선언문</a></li>
						  <li class="swiper-slide active"><a href="javascript:void(0);" th:href="@{/communication/cp/cpProgram}">자율준수 프로그램 소개</a></li>
						  <li class="swiper-slide"><a href="javascript:void(0);" th:href="@{/communication/cp/cpProgramStatus}">자율준수 운영현황</a></li>
						  <li class="swiper-slide"><a href="javascript:void(0);" th:href="@{/communication/cp/cpHandbook}">자율준수 편람</a></li>
						  <li class="swiper-slide"><a href="javascript:void(0);" th:href="@{/communication/cp/cpDeclaration}">불공정거래 신고</a></li>
						</ul>
					  </div>
					</div>
				</div>
				<div class="col-md-2 ">
					 <p class="f14 fw400 black  btnType03 mt65 float-right wView">
                        <a href="#"><img class="mr5" th:src="@{/img/ico/ico_share.png}" alt="공유"/>공유</a>
                    </p>
				</div>
			</div>
		</div>
	</div><!-- //contant100 -->
    <div class="contant100_01 whiteBg">
        <div class="contant1460">
            <div class="row mt160">
                <div class="col-md-12 center">
                    <p class="f52 fw600 black">공정거래 자율준수<br class="mView"> 프로그램이란?</p>
                    <div class="mt100">
                        <p class="f18 f_pp gray04">Compliance Program</p>
                        <p class="f60 f_pp fw700 gold mt20">CP</p>
                        <p class="f66 fw600 mt10">자율준수프로그램</p>
                        <p class="f14 gray04 mt50">
                            공정거래법의 "공정거래 자율준수 프로그램 운영 및 유인 부여 등에 관한 규정"으로서 기업들이 공정거래 관련<br class="wView">
                            법규를 준수하기 위해서 자체적으로 제정, 운영하는 교육, 감독 등 내부준법 시스템을 말한다.
                        </p>
                    </div>
                </div>
            </div>
        </div><!--1460 끝-->
        <div class="content100 mt110 center">
            <div class="cpProgramBg">
                <p class="white f45 fw600">CP가 도입 된다면?</p>
            </div>
        </div><!--//content100 끝-->
        <ul class="contant1460 center cpProgramList">
            <li>
               <div>
                    <img th:src="@{/img/communication/ico_cpP_01.png}" alt="대내외 신인도 제고">
                    <p class="f23 mt50">대내외<br>신인도 제고</p>
               </div>
            </li>
            <li>
               <div>
                   <img th:src="@{/img/communication/ico_cpP_02.png}" alt="과징금 감경 등의 인센티브">
                    <p class="f23 mt50">과징금 감경 등의 <br>인센티브</p>
               </div>
            </li>
            <li>
               <div>
                   <img th:src="@{/img/communication/ico_cpP_03.png}" alt="기업손실 사전예방">
                    <p class="f23 mt50">기업손실 <br>사전예방</p>
               </div>
            </li>
            <li>
               <div>
                    <img th:src="@{/img/communication/ico_cpP_04.png}" alt="글로벌 스탠다드">
                    <p class="f23 mt50">글로벌 <br>스탠다드</p>
               </div>
            </li>
            <li>
               <div>
                   <img th:src="@{/img/communication/ico_cpP_05.png}" alt="위험관리">
                    <p class="f23 mt50">위험관리</p>
               </div>
            </li>
        </ul>
        <div class="contant1460">
            <div class="row">
                <div class="col-md-6">
                    <p class="f27 fw500">공정거래 관련법규</p>
                    <p class="f18 mt50">경쟁촉진과 공정거래질서 유지를 위해 제정된 제반 법규.</p>
                    <p class="gray04 f16 mt30">
                        1) 독점규제 및 공정거래에 관한 법률<br>
                        2) 표시·광고의 공정화에 관한 법률<br>
                        3) 하도급거래공정화에 관한 법률<br>
                        4) 약관의 규제에 관한 법률<br>
                        5) 가맹사업 공정화에 관한 법률<br>
                        6) 전자 상거래 등 에서의 소비자보호에 관한 법률 등<br>
                        7) 대규모 유통업에서의 거래 공정화에 관한 법률<br>
                        8) 대리점거래의 공정화에 관한 법률
                    </p>
                </div>
                <div class="col-md-6 mt50m">
                    <p class="f27 fw500">도입의 필요성</p>
                    <ul class="cpProgramInfo01 mt50">
                        <li class="f16">
                            <p class="gray04">1) 업계 Leader에 걸맞는 공정경쟁 System 구축</p>
                            <span></span>
                            <p>세계적으로도 CP도입 추세</p>
                        </li>
                        <li class="f16 mt10">
                            <p class="gray04">2) 법 위반에 따른 손실을 사전에 예방</p>
                            <span></span>
                            <p>과징금, 손해배상 등 경제적 손실 예방</p>
                        </li>
                        <li class="f16 mt10">
                            <p class="gray04">3) 기업의 대내외 신인도 제고?</p>
                            <span></span>
                            <p>투명 경영, 윤리경영 실천기업으로 이미지 제고</p>
                        </li>
                        <li class="f16 mt10">
                            <p class="gray04">4) 법 위반에 따른 벌칙의 최소화?</p>
                            <span></span>
                            <p>과징금 경감, 형사조치 제재경감 혜택</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 mt160 mb160">
                    <p class="f27 fw500">운영핵심 7대 요소</p>
                    <p class="f18 mt50">공정거래 준수 핵심요소 7가지를 실효성있게 실천하기 위하여 다음과 같이 운영하고자 한다</p>
                    <ul class="cpProgramInfo02 mt20">
                        <li class="">
                           <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">01</span>
                                CEO의 자율준수에 대한 의지와 방침 천명
                                </p>
                                <p class="f16 gray04">
                                    &middot; CEO로 부터 일반 직원까지 자율준수에 대한 관심과 실천의지 표명<br>
                                    &middot; 최고경영자의 의지를 대내외에 단호한 메시지로 공표
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">02</span>
                                자율준수 관리자의 지정&middot;운영
                                </p>
                                <p class="f16 gray04">
                                    &middot; 실질적인 권한과 책임을 가진 자율준수관리자 지정<br>
                                    &middot; 임원등 고위직급자중에서 이사회에서 임명
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">03</span>
                                자율준수 편람의 작성&middot;배포
                                </p>
                                <p class="f16 gray04">
                                    &middot; 업무수행의 지침서로 준수사항을 이해하기 쉽게 작성<br>
                                    &middot; 법률중심보다 사례중심으로 가능/불가능 명확히 제시
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">04</span>
                                지속적이고 체계적인 자율준수 교육 실시
                                </p>
                                <p class="f16 gray04">
                                    &middot; 부서 및 직책을 고려하여 사전예방 차등화된 교육 바람직<br>
                                    &middot; 임직원 대상 6개월마다 2시간 이상 실시
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">05</span>
                                내부 감독체제 구축 [모니터링 제도]
                                </p>
                                <p class="f16 gray04">
                                    &middot; 위법행위의 예방, 조기발견 및 시정을 위한 시스템 구축<br>
                                    &middot; 자율준수관리자가 감독, 감사한 실적 및 계획을 6개월 마다 1회 이상 이사회 보고 사실
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">06</span>
                                공정거래관련 법규위반 임직원에 대한 제재
                                </p>
                                <p class="f16 gray04">
                                    &middot; 공정거래관련 법규를 위반한 임직원에게 위반 정도에 상응하는 제재조치를 규정한 사규를 마련, 운용하여야 함
                                </p>
                           </div>
                        </li>
                        <li class="mt20">
                            <div>
                               <p class="f20 fw500">
                                <span class="f_pp gray03 fw600 f30">07</span>
                                문서 관리 체계의 구축
                                </p>
                                <p class="f16 gray04">
                                    &middot; CP관련 문서관리 책임자를 지정하여 작성 보관<br>
                                    &middot; 효율적이고 체계적인 관리체계를 구축
                                </p>
                           </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="f27 fw500">과징금 경감</p>
                    <p class="f18 mt50">과징금부과 세부기준 등에 관한 고시(2014.5.30 시행)</p>
                    <p class="gray04 f16 mt20">
                        행위자요소 등에 의한 가중&middot;감경 → 2차 조정<br>
                        자율준수 노력, 위부 법률 자문 등 위법행위를 하지 아니하기 위하여 상당한 주의를 기울였으나<br class="wView">
                        예상하기 어려운 사정으로 인하여 위반행위가 발생한 경우 → 100분의 10 이내 감경
                    </p>
                </div>
                <div class="col-md-6 cpProgramTable mt50m">
                    <p class="f27 fw500">CP 등급별 차등 인센티브</p>
                    <p class="f18 mt50">
                        <span>대상 : </span>
                        <span>대규모소매점 고시, 신문고시, 경품고시 위반행위, 표시 광고법, 방문 판매법, 
                        전자상거래보호법, 약관법 등 위반행위, 가맹사업법 위반행위</span>
                    </p>
                    <table class="center mt30">
                       <caption>CP 등급별 차등 인센티브</caption>
                       <tbody class="f14">
                           <tr>
                                <td >CP경감</td>
                                <td class="gray04">AAA</td>
                                <td class="gray04">AA</td>
                                <td class="gray04">A</td>
                            </tr>
                            <tr>
                                <td>직권조사 <br class="mView">면제</td>
                                <td class="gray04">2년</td>
                                <td class="gray04">1년6개월</td>
                                <td class="gray04">1년</td>
                            </tr>
                            <tr>
                                <td>공표명령 <br class="mView">하향조정</td>
                                <td class="gray04" colspan="3">간행물 공표 : 공표크기 및 매체 수 1단계 하향/사업장 및 전자매체 공표:공표기간 단축</td>
                            </tr>
                            <tr>
                                <td>
                                    등급평가증 수여<br class="wView">
                                    (2011년 6월 도입)
                                </td>
                                <td class="gray04" colspan="3">
                                    CP등급평가 우수기업(A등급 이상)에 대해서는 평가년도, 등급,<br class="wView">
                                    유효기간이 기재된 "등급평가증"을 수여
                                </td>
                            </tr>
                       </tbody>
                    </table>
                    <p class="f16 gray04 mt40">
                        <span class="gold fw500">※ 직권조사 면제 대상 법규</span><br>
                        공정거래법 23조(부당지원행위 제외), 소비자보호관련법(표시광고법, 방문판매법, 전자상거래법, 약관법)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br class="clear">
		
	</div><!-- //contant1760 -->
</div>
<!-- ================================ 
		// Content
================================ -->


<!-- ================================ 
		Footer
================================ -->
<th:block class="white" th:replace="fragments/mainFooter :: footerFragment"></th:block>
<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType02").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->


<script>
  /* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'footer' ).load( './mainFooter.html' );
  });
</script>
<!-- ================================ 
		// Footer
================================ -->


</body>
</html>