<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 청주공장 소개</title>
<head th:replace="fragments/head :: headFragment"></head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel='stylesheet' href='/common/css/swiper.min.css'><!-- swiper 공통css -->
<script src='/common/js/swiper.min.js'></script><!-- swiper 공통JS -->
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="content100 ">
	   <div class="subTopExcursions h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">R&amp;D</p>
				<p class="white f45 fw600">견학 신청</p>
			</div>
		</div>
	</div>
	<div class="contant1460" >
		<div class="subMenu">
			<p class="btnSubLeft"><a href=""><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/rnd/factory"><span>청주공장 소개</span></a></li>
				<li class="f18 fw500 active"><a href="/rnd/factoryTour"><span>견학신청</span></a></li>
				<li class="f18 fw500"><a href="/rnd/tourReview"><span>견학 후기</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
<!-- 		<p class="f14 fw400 black mt70 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear"> -->
        <div class="center mt50">            
            <p class="f45 fw600 mt50">정식품 청주공장<br class="mView"> 오프라인 견학</p>
        </div>
    </div><!--//contant1460-->
    <div class="contant1160 mt80">
	    <div>
			<div class="col-md-12 mt100">
				<p class="f27 fw500">견학 신청</p>
				<div class="grayLine mt10"></div>
				<div class="w860 center0 mt80">
					<form th:action="@{/rnd/factoryTour}" method="post" id="frm">
						<input type="hidden" name="vWritedate" th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}">
                        <input id="vEmail" name="vEmail" type="hidden" maxlength="60">
                        <input id="vTel" name="vTel"  type="hidden">
                        <input id="vHp" name="vHp"  type="hidden">
                        <input id="vAddr" name="vAddr"  type="hidden">
						<div cellspacing="0" border="0" class="joinT">
							<ul>
								<li>견학 희망일자</li>
								<li>
									<input type="date" class="inp02 w200" name="vAppdate" id="vAppdate" th:value="${date}" readonly>
								</li>
							</ul>
							<ul>
								<li>시간대</li>
								<li>
									<div class="boxType">
										<div class="baseRadioBox">
											<input type="radio" id="time1" name="vApptime" value="1"/><label for="time1"><span></span>오전</label>
											<input type="radio" id="time2" name="vApptime" value="2"/><label for="time2"><span></span>오후</label>
										</div>
									</div>
									<p class="error" id="vApptimeCheck" style="display: none;">시간대를 입력해 주세요</p>
								</li>
							</ul>
							<ul>
								<li>신청자명</li>
								<li>
									<input type="text" class="inp02 " name="vName" id="vName" maxlength="10" th:value="${member.mName}" readonly>
								</li>
							</ul>
							<ul>
								<li>단체 및 모임</li>
								<li><input type="text" class="inp02 " name="vOrg" id="vOrg" maxlength="15">
								<p class="error" id="vOrgCheck" style="display: none;">단체 및 모임을 입력해 주세요</p>
								</li>
							</ul>
							<ul>
								<li>인원</li>
								<li>
									<dl class="fac_people">
										<dd>
											<input type="text" class="inp02 pr5  w70 text-right " name="vPcount" id="vPcount" maxlength="2"> <span>명</span>
											<p class="error" id="vPcountCheck" style="display: none;">인원을 입력해 주세요</p>
	
										</dd>
									</dl>
								</li>
							</ul>
							<ul>
								<li>휴대전화</li>
								<li>
									<input  type="text" class="inp03 w120 " id="hp01" th:value="${#strings.substring(member.mHp, 0, 3)}" readonly>
									- <input  type="text" class="inp03 w130 "  id="hp02" th:value="${#strings.substring(member.mHp, 3, 7)}" readonly>
									 - <input  type="text" class="inp03 w130 " id="hp03" th:value="${#strings.substring(member.mHp, 7, 11)}" readonly> 
								</li>
							</ul>
							<ul>
								<li>이메일</li>
								<li>
									<input id="email01" type="text" th:value="${#strings.substringBefore(member.mEmail,'@')}" maxlength="50" class="inp03 w180 " >
									<input id="email02" type="text" th:value="|@${#strings.substringAfter(member.mEmail,'@')}|" maxlength="50" class="inp03 ml10 w220 mr10">
									<select name="selEmail" id="selEmail" class="sel02 w200 mt10m">
										<option value="선택하세요">선택하세요</option>
										<option value="@naver.com">naver.com</option>
										<option value="@nate.com">nate.com</option>
										<option value="@gmail.com">gmail.com</option>
										<option value="@hanmail.net">hanmail.net</option>
										<option value="1">직접 입력</option>
									</select>
									<input type="hidden" name="vEmail">
								</li>
							</ul>
							<ul>
								<li>지역</li>
								<li>
									<select class="sel01" id="vArea" name="vArea">
										<option>선택</option>
										<option value="강원">강원</option>
										<option value="경기">경기</option>
										<option value="경남">경남</option>
										<option value="경북">경북</option>
										<option value="광주">광주</option>
										<option value="대구">대구</option>
										<option value="대전">대전</option>
										<option value="부산">부산</option>
										<option value="서울">서울</option>
										<option value="울산">울산</option>
										<option value="인천">인천</option>
										<option value="전남">전남</option>
										<option value="전북">전북</option>
										<option value="제주">제주</option>
										<option value="충남">충남</option>
										<option value="충북">충북</option>
									</select>
									<p class="error" id="vAreaCheck" style="display: none;">지역을 선택해 주세요</p>
								</li>
							</ul>
							<ul>
								<li>주소</li>
								<li>
									<input name="txtZipcode" class="inp03 " type="text" th:value="${member.mZipcode}" maxlength="5" id="cZipcode"  onclick="javascript:execPostcode();" readonly="readonly" placeholder="우편번호입력">
									<button type="button" class="btnType09 ml10"  onclick="javascript:execPostcode();" id=imgZipcode >우편번호검색</button>
									<!--<img style="CURSOR:pointer" id="imgZipcode" class="veM" name="imgZipcode" onclick="javascript:EditZipcodeNew();" alt="우편번호검색" align="top" src="../images/btn/btn_zip.gif">-->
									<br>
									<input name="txtAddr1" id="cAddr1" class="inp02 mt10 w700 " type="text" th:value="${member.mAddr1}" maxlength="150" placeholder="우편번호를 검색하시면 기본 주소가 입력됩니다." readonly>
									<input name="txtAddr2" id="cAddr2" class="inp02 mt10 w700 " type="text" th:value="${member.mAddr2}" maxlength="150" placeholder="상세주소를 입력해 주세요"  >
									<p class="error" id="cAddrCheack" style="display: none;">주소를 입력해 주세요</p>
								</li>
							</ul>
							<ul>
								<li>메모</li>
								<li>
									<textarea class="fac-textarea f16 h200" placeholder="견학신청관련 내용을 작성해 주세요." name="vMemo"  id="vMemo" maxlength="50"></textarea>
								</li>
							</ul>
							<ul>
								<li>개인정보 수집 및<br>이용 동의</li>
								<li class="gray04 mt10 ">
									<div class="fac-txt">
										<p class="f14">1. 수집하는 개인정보 항목 - 이름, 성별, 연령대, 연락처, 이메일, 주소, 직업, 단체 및 모임 정보</p>
										<p class="f14">2. 개인정보의 수집 및 이용 목적 - 개인 식별, 견학 안내 및 확정 통보, 무분별한 중복접수 방지</p>
										<p class="f14">3. 개인정보의 보유 및 이용 기간 - “정식품” 개인정보처리방침에 따름</p>
									</div>
									<p class="checkStyle f14 mt10"><input type="checkbox" id="agree" name="agree" /><label for="agree"><span></span> 개인정보 수집 및 이용에 동의합니다.</label> </p>
								</li>
								
							</ul>
						</div>
					</form>
						<div class="w560 center0 mt20  text-right" >
						<p class="mt50 center"><button type="button" id="submitForm" class="btnType17 f20 fw500 lh140"  onclick ="submitFormCheck();" disabled="disabled">신청하기</button></p>
					</div>
				</div><!-- //w860 -->
			</div>
		</div>
	</div><!--//contant1160-->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<script th:src="@{/common/js/modelForm.js}"></script>
<script>

	function btnActive() {
		
		const vAppdate = $('#vAppdate').val();
		const vOrg = $('#vOrg').val();
		const vPcount = $('#vPcount').val();
		const vArea = $("#vArea option:selected").val();
		
		if($.trim(vAppdate).length > 0
		&& $.trim(vOrg).length > 0
		&& $.trim(vPcount).length > 0
		&& $.trim(vArea).length > 0 
		&& $("input:radio[name='vApptime']").is(":checked") == true
		&& $("input:checkbox[name='agree']").is(":checked") == true
		) 
		{
			alert("활성");
			$("#submitForm").attr("disabled", false); //해제
			$("#submitForm").addClass('active');
		} else {
			alert("비활");
			$("#submitForm").attr("disabled", true); //설정
			$("#submitForm").removeClass('active');		
		}
	}
	
	$("input:text[vPcount]").on("keyup", function() {
		$(this).val($(this).val().replace(/[^0-9]/g,""));
	});
	
	//이메일 입력방식 선택
	$('#selEmail').change(function(){
	   $("#selEmail option:selected").each(function () {
			
			if($(this).val()== '1'){ //직접입력일 경우
				 $("#email02").val('');                        //값 초기화
				 $("#email02").attr("disabled",false); //활성화
			}else{ //직접입력이 아닐경우
				 $("#email02").val($(this).text());      //선택값 입력
				 $("#email02").attr("disabled",true); //비활성화
			}
			
			$("#vEmail").val($("#email01").val()+ $("#email02").val());
	   });
	   btnAvtive();
	   
	});
	
	$('#vAppdate').change(function () {
		btnActive();
	});
	
	$('#vArea').change(function () {
		btnActive();
	});
	
	$('#vOrg').keyup(function () {
		if ($('#vOrg').length < 2 ) {
		    $("#vOrgCheack").css('display', 'inline-block');
		}
		btnActive();
	});
	
	$('input:radio[name=vApptime]').change(function(){
		btnActive();
	});
	
	$('#email01').keyup(function () {
		var retVal = false;
		const vId = $("#email01").val();
		if (!/^[A-Za-z0-9]{1,20}$/i.test(vId) && vId.length > 0) {
			$("#email01Cheack").css('display', 'inline-block');
		} else {
			$("#email01Cheack").css('display', 'none');
		    retVal = true;
		    btnActive();
		}
		
		return retVal;
	});
	
	$('#vPcount').keyup(function () {
		if ($('#vPcount').length < 1 ) {
		    $("#vPcountCheack").css('display', 'inline-block');
		}
		btnActive();
	});
	
	$('#agree').change(function(){
		
		if($("input:radio[name='check']").is(":checked") != true) {
			$("#agreeCheack").css('display', 'inline-block');
		}
		btnActive();
	});

</script> 
<script>
	function submitFormCheck(){
	
		buildData();
		document.getElementById('frm').submit();
	}
	
	function buildData(){
		
        var email = $('#email01').val() + $('#email02').val();
        $('input[name=vEmail').attr('value',email);
        
		var hp = $("#hp01").val()  + "-" +  $('#hp02').val() + "-" + $('#hp03').val();
		$('input[name=vHp]').attr('value',hp);
        
		var addr = $("#cZipcode").val()  + ")" +  $('#cAddr1').val() + " " + $('#cAddr2').val();
		$('input[name=vAddr]').attr('value',addr);
	}
	
</script>

<!-- ================================ // Footer ================================ -->
</body>
</html>