<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Product Introduction</title>
<head th:replace="vn/fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="vn/fragments/mainHeadervn :: headerFragmentvn"></th:block>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb200">
	<div class="contant1760 mt90h" ><!-- 2022-12-14 id추가 -->
		<div class="row pro-top-tab">
			<p class="js">🡇 그린비아만 썸네일 2개만 노출</p>
			<div class="col-md-8 mt50 ">
				<!-- tabs4 -->
				<div class="prd_thumb">
					<ul class="tabs4">
						<li><a href="#photo01"><div th:class="|${product.productClass1} h190 eng|"></div></a></li>
						<li th:if="${not #strings.isEmpty(product.productClass2)}"><a href="#photo02"><div th:class="|${product.productClass2} h190|"></div></a></li>
						<li th:if="${not #strings.isEmpty(product.productClass3)}"><a href="#photo03"><div th:class="|${product.productClass3} h190|"></div></a></li>
					</ul>
				</div>
	
				<!-- //tabs4 -->
				<!-- tabs4 content -->
				<div class="tab_content4">
					<div id="photo01" class="thumb_img">
						<div th:class="|${product.productClass1} h590|"></div>
						<div class="prd-txt ab-bottom">
							<span class="f14" th:utext="${product.tag1}"></span>
							<span class="f14" th:utext="${product.tag2}"></span>
							<span class="f14" th:if="${not #strings.isEmpty(product.tag3)}"  th:utext="${product.tag3}"></span>
						</div>						
					</div>
					<div id="photo02">
						<div th:class="|${product.productClass2} h590|"></div>
					</div>
					<div id="photo03">
						<div th:class="|${product.productClass3} h590|"></div>
					</div>
				</div><!-- //tabs4 content -->
			</div>
			<div class="col-md-4  mt50">
				<div class="prd-info-wrap">
					<!-- <div class="prd-key  text-left">
						<span class="key-green" th:text="${product.categoryName}">Vegemil</span> 
						<span class="key-white" th:text="${product.subCategoryName}">Premium Soymilk</span>
					</div> -->
					<p class="f38 fw600 lh130 mt20"  th:utext="${product.pName}">Plain Vegemil A</p>
					<p class="mt10 gray04" th:text="${product.descProduct}">Original plain taste soymilk </p>	
					<ul class="info_ul mt40">
						<li>
							<p><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_info01.png" alt="용량" /></p>
							<p>
								<span class="f16 fw400 gray04">Dung tích</span>
								<span class="f16 f_ka fw400" th:text="|${product.capacity1}|">190ml</span>
							</p>
						</li>
						<li>
							<p><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_info02.png" alt="유통기한" /></p>
							<p>
								<span class="f16 fw400 gray04">Hạn sử dụng</span>
								<span class="f16 f_ka fw400" th:text="${product.expirationMonth}">7month</span>
							</p>
						</li>
						<li>
							<p><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_info03.png" alt="칼로리" /></p>
							<p>
								<span class="f16 fw400 gray04">Calo</span>
								<span class="f16 f_ka fw400" th:text="${product.kcal1}">115kcal</span>
							</p>
						</li>
						
					</ul>
					<ul class="info_ul_bottom mt30">

						<li th:if="${product.recommender} != null">
							<p class="f16 fw400">Đối tượng khách</p>
							<p class="f14 fw300 gray04" th:text="${product.recommender}"></p>
						</li>
						
						<li th:if="${product.tip} != null">
							<p class="f16 fw400">Mẹo sử dụng</p>
							<p class="f14 fw300 gray04" th:text="${product.tip}"></p>
						</li>
					</ul>
					
					<ul class="info_btn_box_vn mt40" th:if="${product.pOnuri} != null">
						<li><p class="btnType19" ><a th:href="|${product.pOnuri}|">BUYING</a></p></li>
						<li><p class="btnType20"><a href="#section-02">Thông tin dinh dưỡng</a></p></li>
					</ul>
					<ul class="info_btn_box_vn mt40" th:if="${product.pOnuri} == null">						
						<li><p class="btnType20"><a href="#section-02">Thông tin dinh dưỡng</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- // contant1760 -->

	<div class="contant1760" >
		<div id="flotingPage">
			<div class="floting-left mt110">
				<!-- productLoad -->
				<div class="section-02">
					<div class="productLoad"></div>
				</div>
				<!-- //productLoad -->					
			</div><!-- //floting-left -->
		<br class="clear">
	</div><!-- //contant1760 -->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer th:replace="vn/fragments/mainFootervn :: footerFragmentvn"></footer>
<!-- ================================ // Footer ================================-->
<script type="text/javascript">
//<![CDATA[
$(function(){
	
	$('.prd_thumb').basicTabs4();/* basicTabs4 변경 */
	
	//html 파일 로드
	var loadHtml = "[[ ${product.pCode} ]]";
	console.log(loadHtml)
    $(".productLoad").load("/product/vn/"+loadHtml.trim()+"_vn.html");
    

});
//]]>
</script>
</body>
</html>