<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="en/fragments/head :: headFragment"></head>
<title>Dr.Chung's food FSSC Certificate</title>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="en/fragments/mainHeaderen :: headerFragmenten"></th:block>
<!-- ================================ // Header ================================ -->

<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="content100 ">
	   <div class="subTopFssc h440 mt90h">
			<div class="centerH">
				<p class="f_ka white f18 fw300">Nghiên cứu phát triển</p>
				<p class="white f45 fw500">Chứng nhận FSSC 22000</p>
			</div>
		</div>
	</div>
	<div class="contant1460" >
		<div class="subMenu viet">
			<p class="btnSubLeft"><a href=""><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL d3">
				<li class="f18 fw400"><a href="vn_03_12_rndIntroduce.html"><span>Giới thiệu viện<br>nghiên cứu</span></a></li>
				<li class="f18 fw400"><a href="vn_03_31_haccp.html"><span>Chứng nhận<br>HACCP</span></a></li>
				<li class="f18 fw400 active"><a href="vn_03_32_fssc.html"><span>Chứng nhận<br>FSSC 22000</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
		<p class="f14 fw400 black mt70 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear">
        <div class="center mt50 fsscInfo01">
            <p class="f45 fw500">FSSC 22000 là gì?</p>
            <p class="f18 fw300 mt100 f_ka gray04">Chứng nhận hệ thống an toàn thực phẩm 22000</p>
            <p class="mt40">
                <img src="https://image.edaymall.com/images/dcf/vegemil/img/R&D/fssc_01.jpg" alt="fssc이미지" class="fssc_01">
            </p>
            <p class="f18 mt60 fw300 gray04">
                FSSC 22000 là một chứng nhận do GFSI phê duyệt và được công nhận bởi các tổ chức công nhận trên toàn thế giới.
            </p>
        </div>
    </div><!--//contant1460-->
    <div class="content100 mt200">
	   <div class="fsscBg">
			<div>
				<p class="gold f_ka f18">An toàn thực phẩm</p>
				<p class="f45 fw500 white mt40">Sản xuất thực phẩm tốt cho sức khỏe và đáng tin cậy</p>
				<p class="f18 fw300 white mt30">
				    Dr. Chung’s Food đã được cấp chứng nhận FSSC22000<br>và đang sản xuất các loại thực phẩm an toàn được chứng nhận quốc tế.
				</p>
				<p class="gold f_ka f18 mt130">FSSC 22000</p>
				<p class="f27 white fw500">Hệ thống an toàn thực phẩm</p>
				<img src="https://image.edaymall.com/images/dcf/vegemil/img/R&D/en_fssc_02.png" alt="식품안전시스템이미지" class="mt50 imgPc">
				<ul class="row mt30m">
				    <li class="col-md-4 white">
				        <p class="gold f_ka">HACCP</p>
				        <!-- <p class="f23">식품안전관리인증기준</p> -->
				    </li>
				    <li class="col-md-4 white">
				        <p class="gold f_ka">ISO 22000</p>
				        <!-- <p class="f23">식품안전경영시스템</p> -->
				    </li>
				    <li class="col-md-4 white">
				        <p class="gold f_ka">ISO TS 22002-1</p>
				        <!-- <p class="f23">식품안전에 대한 선행요건 프로그램</p> -->
				    </li>
				</ul>
			</div>
		</div>
	</div><!--//content100-->
	<div class="contant1460 mt200 mb200">
        <div class="row">
            <div class="col-md-6">
                <p class="f38 fw500 lh130">
                    Hoàn thành xin cấp chứng nhận<br>
					Tiêu chuẩn an toàn thực phẩm quốc tế<br>
					FSSC22000
                </p>
                <p class="f14 fw300 gray04 mt40">
                    Ngày nhận FSSC22000 (04.12.2017)
                </p>
                <p class="f27 mt100">Chứng nhận FSSC22000</p>
                <div class="fsscInfo02 centerMo mt40 row">
                    <div class="col-md-6">
                        <img src="https://image.edaymall.com/images/dcf/vegemil/img/R&D/fssc_03.jpg" alt="fssc 인증서" >
                    </div>
                    <div class="col-md-6">
                        <img src="https://image.edaymall.com/images/dcf/vegemil/img/R&D/fssc_04.jpg" alt="fssc 인증서">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt50m">
                <img src="https://image.edaymall.com/images/dcf/vegemil/img/R&D/fssc_05.jpg" alt="서류 보는 이미지">
            </div>
        </div>
    </div><!--//contant1460-->
</div>
<!-- ================================ 
		// Content
================================ -->

<!-- ================================ Footer ================================ -->
<footer th:replace="en/fragments/mainFooteren :: footerFragmenten"></footer>
<!-- ================================ // Footer ================================ -->

<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType03").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->

</body>
</html>