<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>Dr. Chung’s Food opened the first chapter of Soymilk in Korea.</title>
<head th:replace="vn/fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<th:block class="white" th:replace="vn/fragments/mainHeadervn :: headerFragmentvn"></th:block>
<!-- ================================ // Header ================================ -->

<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb200">
	<div class="video" >
		<div class="videoCopy viet">
			<p class="f80 fw600 f_ka white lh110">Đúng loại thực phẩm<br>Đúng người</p>
			<p class="f23 fw300 white mt40">Chúng tôi góp phần vào văn hóa vì sức khỏe con người<br>trên tinh thần tôn trọng sự sống </p><br>
			<p class="btnType01 mt100 "><a href="/vn/company/profile">Xem thêm</a></p>
		</div>
		
		<video autoplay loop muted playsinline class="wView">
			<source src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/main/part_01.mp4" type="video/mp4" class="wView">
		</video>
		<video autoplay loop muted playsinline class="mView">
			<source src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/main/part_01_mo.mp4" type="video/mp4" class="mView">
		</video>
	</div>
	<div class="contant1760" >
		<div id="flotingPage">
			<div class="floting-left mt110" >
				<div class="row">
					<div class=" col-md-12">
						<!-- 슬라이드 -->
						<div class="" id="slider0">
							<div class="slider" >
								<div class="slider_area">
									<div class="slides">
										<div class="slide">
											<div class="slidetitle bnr_brand01 h520" >
												<div class="bgDark">
													<div class="centerH ">
														<p class="f_ka f18 fw500 lh120">Thương hiệu 01</p>
														<p class="f45 fw500 lh120 mt20">Vegemil</p>
														<p class="f20 fw300 mt20">Thương hiệu sữa đậu nành chính thống của Hàn Quốc có lịch sử <br class="wView">50 năm, giữ nguyên hương vị và dinh dưỡng của đậu nành!</p>
														<!-- <p class="btnType01 mt100 "><a href="#flotingPage">Xem chi tiết</a></p> -->
														<!-- <div class="btnType25 mt30"><a href="/brandStory/vegemil"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/btn/btnType25.png" /></a></div> -->
													</div>
												</div>
											</div>
										</div>
									
										<div class="slide">
											<div class="slidetitle bnr_brand02 h520">
												<div class="bgDark">
													<div class="centerH ">
														<p class="f_ka f18 fw500 lh120">Thương hiệu 02</p>
														<p class="f45 fw500 lh120 mt20">Greenbia</p>
														<p class="f20 fw300 mt20">Greenbia là thương hiệu tiên phong về thực phẩm dinh <br class="wView">dưỡng nhẹ đầu tiên của Hàn Quốc, ra đời với công <br class="wView">nghệ của Hàn Quốc vào năm 1991</p>
														<!-- <p class="btnType01 mt100 "><a href="#flotingPage">Xem chi tiết</a></p> -->
														<!-- <div class="btnType25 mt30"><a href="/brandStory/greenbia"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/btn/btnType25.png" /></a></div> -->
													</div>
												</div>
												
											</div>
										</div>
										<!-- <div class="slide">
											<div class="slidetitle bnr_brand04 h520" >
												<div class="bgDark">
													<div class="centerH ">
														<p class="f_ka f18 fw500 lh120">Brand 03</p>
														<p class="f45 fw600 lh120 mt20">Gandan yorisa</p>
														<p class="f20 fw500 mt20">Your reliable kitchen companion!<br class="wView">Gandan yorisa helps to add the rich flavor to the dishes.</p>
													</div>
												</div>												
											</div>
										</div> -->
									</div>
								</div>
								<!-- 2022-12-30 이미지 오류 -->
								<a class="slider_left"></a>
								<a class="slider_right"></a>
								<!-- 2022-12-30 이미지 오류 -->
							</div>
						</div>  
						<!-- //슬라이드 -->
					</div>
				</div>
				
				<div class="row">
					<div class=" col-md-12">
						
						<p class="f23 fw500 mt80 black">Hoạt động R&D</p>
						<ul class="baseList_vn mt20">
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_bus01.png" alt="제품개발"/><p class="f15 mt10">Phát triển sản phẩm</p></li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_bus04-1.png" alt="연구정보"/><p class="f15 mt10">Thông tin nghiên cứu</p></li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_bus02-1.png" alt="연구개발"/><p class="f15 mt10">Nghiên cứu phát triển</p></li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_bus04.png" alt="안전 및 분석"/><p class="f15 mt10">An toàn và phân tích</p></li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_bus05.png" alt="기술 인증 및 특허"/><p class="f15 mt10">Bằng sáng chế và <br>chứng nhận kỹ thuật</p></li>
						</ul>
						
					</div>
				</div>
				<!-- BREND TAB -->
				<div class="row mt70m mt70">
					<div class="col-md-12">
						<p class="f23 fw500 black"><img src="./img/ico/ico_best.png" alt="엄지척" /> Sản phẩm hàng đầu</p>
						<!-- tab -->
						<div class="bestTab mt20">
							<div class="tab_content2 tab_content2_vn ">
								<div id="best01">
									<div class="row">
										<div class="col-md-6 mb50m">
											<a href="/vn/product/detail/36" class="hNone">
												<div class="VBK01_vn_860_01 h420 round10"></div> <!-- 0821 수정 -->
												<p class="f36 fw500 black mt50 lh130">Vegemil cho trẻ sơ sinh / <br class="vnView">trẻ nhỏ</p>
												<p class="f18 fw300 gray04 mt30 lh150 ">Thực phẩm với công thức giúp cân bằng dinh <br>dưỡng thực vật cần thiết cho sự phát triển của trẻ.</p>
											</a>
										</div>
										<div class="col-md-6">
											<ul class="bestBox">
												<li>
													<a href="/vn/product/detail/69">
														<dd class="CHD03_860_03 h200 round10"></dd>
														<p class="f20 fw400 black mt20 lh150">Greenbia Kids More</p>
														<p class="f14 fw300 gray04 lh150 best-subCopy mt10">Chế độ dinh dưỡng cân bằng cho trẻ trong giai đoạn phát triển.</p><!-- 2023-01-09 카피수정 -->
													</a>
												</li>
												<li>
													<a href="/vn/product/detail/33" >
														<dd class="VMO01_860_02 h200 round10"></dd>
														<p class="f20 fw400 black mt20 lh150">Vegemil dành cho mẹ</p>
														<p class="f14 fw300 gray04 lh150 best-subCopy mt10">Cân bằng chế độ dinh dưỡng cho mẹ bầu & mẹ sau sinh.</p>
													</a>
												</li>
												<!-- 2024-10-30 베스트-->
												<li>
													<a href="/vn/product/detail/111" >
														<dd class="CDR05_860_01 h200 round10"></dd>
														<p class="f20 fw400 black mt20 lh150">Nước gạo Dr.Chung's Food</p>
														<p class="f14 fw300 gray04 lh150 best-subCopy mt10">Chứa trọn dinh dưỡng từ hạt gạo thơm mềm.</p>
													</a>
												</li>
												<!-- //2024-10-30 베스트 -->
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.bestTab').basicTabs2();
							});
						</script>

					</div>
				</div>
				<!-- //BREND TAB -->
				<!-- 제품음용후기 web  2023-02-13(2) -->
				<div class="row rivewWrap wView" >
					<div class="col-md-12" >
						<div class="grayLine pb120"></div>
						<p class="f23 fw500 black">Đánh giá sản phẩm</p>
					</div>
					
					<div class="col-md-12 wView768" >
						<div class="row">
							<div class="col-md-6">
								<ul class="reviewBox mt30">
									<li><p><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/product/thumb/VBK01_vn_600_01.png" /></p></li>
									<li>
										<p class="f23 fw400  black">Vegemil cho trẻ sơ sinh / trẻ nhỏ</p>
										<p class="reviewLine mt20"></p>
										<dl class="mt40">
											<dd class="f14 gray04 fw300">"Dù mới cho bé uống thử lần đầu nhưng bé uống rất ngon."</dd>
											<dd class="f14 gray04 fw300">"Tôi đã được các mẹ xung quanh mình giới thiệu."</dd>
											<dd class="f14 gray04 fw300">"Bé thích nên tôi cho bé uống thường xuyên."</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="reviewBox mt30">
									<li><p><img src="https://image.edaymall.com/images/dcf/vegemil/img/product/thumb/CHD03_600_01.png" /></p></li>
									<li>
										<p class="f23 fw400  black">Greenbia Kids More / Kids More Choco</p>
										<p class="reviewLine mt20"></p>
										<dl class="mt40">
											<dd class="f14 gray04 fw300">"Bé chỉ muốn cái này thôi."</dd>
											<dd class="f14 gray04 fw300">"Mình đã cho bé uống liên tục hơn 2 năm rồi"</dd>
											<dd class="f14 gray04 fw300">"Mỗi ngày cho bé uống 2 hộp. Cho bé uống, tôi cảm thấy yên tâm."</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="reviewBox mt30">
									<a href="/vegemilBaby/event_best_review">
										<li><p><img src="https://image.edaymall.com/images/dcf/vegemil/img/product/thumb/VMO01_600_01.png" /></p></li>
										<li>
											<p class="f23 fw400  black">Vegemil dành cho mẹ</p>
											<p class="reviewLine mt20"></p>
											<dl class="mt40">
												<dd class="f14 gray04 fw300">"Tôi uống bất cứ khi nào cảm thấy đói trong lúc cho bé bú."</dd>
												<dd class="f14 gray04 fw300">"Nó ngon đến mức sau khi sinh, tôi coi đó như một bữa ăn nhẹ."</dd>
												<dd class="f14 gray04 fw300">"Nó có chứa thành phần sắt nên rất tốt."</dd>
											</dl>
										</li>
									</a>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<!-- //제품음용후기 web 2023-02-13(2) -->

			</div>
			<!-- //floting-left -->
			<div class="floting-right mt110" style="height:2800px">
				<div class="floting">
					<div class="flotingContent viet">
						<!-- //2023-02-14 (1) -->
						<p class="f23 fw400 f_ka">Tất cả hàng hóa</p>
						<ul class="f_ul_middle01">
							<li><a href="/vn/product/detail/36" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_01_vn.png" alt="베지밀"/><p class="f15 gray04 lh130 center">Vegemil<br>cho trẻ nhỏ 1<br><br></p></a></li>
							<li><a href="/vn/product/detail/35" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_02_vn.png" alt="임산수유부"/><p class="f15 gray04 lh130 center">Vegemil<br>cho trẻ nhỏ 2<br><br></p></a></li>
							<li><a href="/vn/product/detail/33" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_05_vn.png" alt="건강식품"/><p class="f15 gray04 lh130 center">Vegemil<br>Sữa cho mẹ<br><br></p></a></li>
							<li><a href="/vn/product/detail/69" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_03_vn.png" alt="유아식"/><p class="f15 gray04 lh130 center">Greenbia<br>Kids More<br><br></p></a></li>
							<li><a href="/vn/product/detail/109" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_04_vn.png" alt="건강식품"/><p class="f15 gray04 lh130 center">Greenbia<br>Kids More Choco<br><br></p></a></li>
							<!-- 2024-10-30 -->
							<li><a href="/vn/product/detail/111" class="hvr-float-shadow"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_all_06_vn.png" alt="건강식품"/><p class="f15 gray04 lh130 center">Dr.Chung's Food<br>Nước gạo<br><br></p></a></li>
							<!-- //2024-10-30 -->
						</ul>
						<!-- // 2023-01-05 -->
					</div>
				</div>
			</div><!-- //floting-right -->
		</div><!-- //flotingPage -->
		<br class="clear">
		
	</div><!-- //contant1760 -->
</div>
<!-- ================================ 
		// Content
================================ -->

<!-- ================================ Footer ================================ -->
<footer th:replace="vn/fragments/mainFootervn :: footerFragmentvn"></footer>
<!-- ================================ // Footer ================================ -->

<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType02").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
<!-- //main > 자주묻는질문+SNS -->

</body>
</html>