<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 심천수 브랜드관</title>
<head th:replace="fragments/head :: headFragment"></head>
<!-- CSS -->
<link rel="stylesheet" th:href="@{/common/css/swiper-bundle.min.css}"><!-- swiper(카테고리별제품 메뉴) -->
<!-- JS -->
<script src="/common/js/swiper-bundle.min.js"></script><!-- swiper(카테고리별제품 메뉴) -->
<script src="/common/js/swiper.js"></script>
<body>
<!-- ================================ Header ================================ -->
<header id="backHead" class="blueHeader" th:insert="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content">
	<div class="mt90h" >
		<div class="bg_Blue2 h530" id="backGround">
			<div class="contant1460">
				<div class="row">
					<div class="col-md-12 mt150">
						<p class="f52 fw600 lh150 white">건강하고 올바른 먹거리를 위해<br> 사람과 진심이 함께합니다</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row  pb120">
			<!-- brand_big -->
			<div class="col-md-12">
				<div class="brand_big">
					<div class="contant1460">
						<div class="visual-slide">
							 <div class="swiper-wrapper"> 
							 	<div class="swiper-slide bnr_brand09">
									<div class="slBox">
										<div class="centerH ">
											<p class="f_pp f18 fw500 lh120">Brand 04</p>
											<p class="f45 fw600 lh120 mt20">심천수</p>
											<p class="f20 fw500 mt20">지리산에서 만들어진 자연 그대로의 깨끗함.<br class="wView">부드럽게 마시는 맛있는 물!</p>
											<div class="btnType25 mt30"><a href="/product/detail/81"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btnType25.png" /></a></div>
										</div>
									</div>
								</div>
								<div class="swiper-slide bnr_brand01">
									<div class="slBox">
										<div class="centerH ">
											<p class="f_pp f18 fw500 lh120">Brand 01</p>
											<p class="f45 fw600 lh120 mt20">베지밀</p>
											<p class="f20 fw500 mt20">50여년 역사를 지닌 대한민국 정통두유 브랜드.<br class="wView">콩의 맛과 영양을 그대로!</p>
											<div class="btnType25 mt30"><a href="/product/list#flotingPage"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btnType25.png" /></a></div>
										</div>
									</div>
								</div>                    
								<div class="swiper-slide bnr_brand02">
									<div class="slBox">
										<div class="centerH ">
											<p class="f_pp f18 fw500 lh120">Brand 02</p>
											<p class="f45 fw600 lh120 mt20">그린비아</p>
											<p class="f20 fw500 mt20">그린비아는 1991년 국내기술력으로 탄생한<br class="wView">국내최초 경장영양식 선도 브랜드입니다.</p>
											<div class="btnType25 mt30"><a href="/greenbia/index"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btnType25.png" /></a></div>
										</div>
									</div>
								</div>
								 
								<div class="swiper-slide bnr_brand04">
									<div class="slBox">
										<div class="centerH ">
											<p class="f_pp f18 fw500 lh120">Brand 03</p>
											<p class="f45 fw600 lh120 mt20">간단요리사</p>
											<p class="f20 fw500 mt20">주방의 든든한 지원군! <br class="wView">간단요리사는 밋밋한 요리에 깊은 맛을 더해줍니다.</p>
											<div class="btnType25 mt30"><a href="/beanSoup"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btnType25.png" /></a></div>
										</div>
									</div>
								</div>    
								
							</div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<script>
					jQuery(document).ready(function() {
						var swiper1 = new Swiper(".visual-slide", {
							speed: 1000,
							autoplay: {
								delay: 5000,
							},
							 pagination: {
								el: '.swiper-pagination',
								clickable: true,
							  },
							navigation: {
								nextEl: ".visual-slide .swiper-button-next",
								prevEl: ".visual-slide .swiper-button-prev",
							},
							spaceBetween: 152,
							loop: true,
						});
						swiper1.on('activeIndexChange', function () {
						  if(this.realIndex == '1') {
							  $("#backHead").attr('class','greenHeader');
							  $("#backGround").attr('class','bg_Green h530');
						  }else if(this.realIndex == '2') {
							  $("#backHead").attr('class','puppleHeader');
							  $("#backGround").attr('class','bg_Pupple h530');
						  }else if(this.realIndex == '3') {
							  $("#backHead").attr('class','pinkHeader');
							  $("#backGround").attr('class','bg_Pink h530');
						  }else if(this.realIndex == '0') {
							  $("#backHead").attr('class','blueHeader');
							  $("#backGround").attr('class','bg_Blue2 h530');
						  }
						});
						return;
					})
				</script>
			</div>
			<!-- //brand_big -->
		</div>
	</div>
	<div class="contant100 ">
		<div class="contant1460" >
			<div class="row">
				<div class="col-md-12">
					<p class="gold f_pp f18 fw500 center ">Pure Mineral Water</p>
					<p class="f52 fw600 black lh140 mt30 center">안전한 천연 미네랄워터</p>
					<p class="f23 fw500 lh140 mt30 center">지하 암반수를 취수하여 일체의<br>화학처리 과정 없이<br>정수된 천연 미네랄입니다.</p>
				</div>
			</div>
		</div><!-- //contant1460 -->

	
		<div class="row  mt110">
			<div class="col-md-12 bnr_brand10 h700">
				<ul class="simBox centerH">
					<li>
						<div class="sim">
							<div class="centerH">
								<p class="f_pp fw700 white f80">40</p>
								<p class="f_pp fw500 white f23">year</p>
							</div>
						</div>
						<p class=" white f23 fw500 mt20">40년간 건강한 <br>마실 거리 만을 위해<br>연구해 온 정식품</p>
					</li>
					<li>
						<div class="sim">
							<div class="centerH">
								<p class="f_pp fw700 white f80">1</p>
								<p class="f_pp fw500 white f23">first</p>
							</div>
						</div>
						<p class=" white f23 fw500 mt20">국내 제1의 청정지역인<br class="wView">오염되지 않은<br>지리산 산림</p>
					</li>
					<li>
						<div class="sim">
							<div class="centerH">
								<p class="f_pp fw700 white f60">250</p>
								<p class="f_pp fw500 white f23">meter</p>
							</div>
						</div>
						<p class=" white f23 fw500 mt20">해발 510m 지대 <br>지하 250미터에서<br>찾아낸 천연 암반수</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="contant1460" >
			<div class="row">
				<div class="col-md-6 mt150">
					<p class="f52 fw600 lh140">
					정식품만의 엄격한 품질 기준에  <br>
					맞추어 생산하고 제조되어 <br>
					깨끗하고 믿을 수 있습니다.</p>
				</div>
				<div class="col-md-6 mt150 ">
					<div class="mt40">
						<ul class="east_info w560 lh120 mb20 floatR">
							<li class="f23 fw400 ">깨끗한 물</li>
							<li class="f17 gray04 lh140">pH7.1~7.8 약알칼리수</li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_blue.png" /></li>
						</ul>
						<ul class="east_info mt10 w560 lh120 mb20 floatR">
							<li class="f23 fw400 ">맛있는 물</li>
							<li class="f17 gray04 lh140">경도 40~60mg/L 부드러운 목넘김</li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_blue.png" /></li>
						</ul>
						<ul class="east_info mt10 w560 lh120 mb20 floatR">
							<li class="f23 fw400 ">믿을 수 있는 물</li>
							<li class="f17 gray04 lh140">일체의 화학처리가 없는 암반 천연 필터</li>
							<li><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_blue.png" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="contant1760">
		<div class="row  mt150 wView center">
			<div class="col-md-12 "><div class="img100 center"><img class="center" src="https://image.edaymall.com/images/dcf/vegemil/img/brand/barnd_all_sim.png" /></div></div>
			
		</div>
		<div class="row brand_bnr_m mt200 mView pb100">
			<div class="col-md-12"><p class="img100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/brand/barnd_all_sim_m.png" /></p></div>
		</div>
	</div><!-- //contant1760 -->

	<div class="contant100_01 mt200">
		<div class="prd_acd_m mView">
			<ul>
				<li class="h400 bnr_s_acd01">
					<div class="centerH">
						<div class="whiteBox">
							<p class="f18 fw600 f_pp">pH 7.1~7.8 weakly alkaline</p>
							<p class="mt30 f45 fw500">약알칼리성의 건강한 물</p>
							<p class="mt30 f18 fw400 gray04 lh160">수소이온농도 pH 7.1~7.8내외의<br class="wView">약알칼리수로 현대인의 산성화된 체질을<br class="wView">중화시키는데 도움을 줍니다.</p>
						</div>
					</div>
				</li>
				<li class="h400 bnr_s_acd02">
					<div class="centerH">
						<div class="whiteBox">
							<p class="f18 fw600 f_pp">Great taste</p>
							<p class="mt30 f45 fw500">경도 40~60mg/L 부드러운 목넘김</p>
							<p class="mt30 f18 fw400 gray04 lh160">경도 45~58mg/L로 음용 시<br class="wView">목 넘김이 부드러운 물 맛을<br class="wView">느끼실 수 있습니다.</p>
						</div>
					</div>
				</li>
				<li class="h400 bnr_s_acd03">
					<div class="centerH">
						<div class="whiteBox">
							<p class="f18 fw600 f_pp">Pure mineral water</p>
							<p class="mt30 f45 fw500">안전한 천연 미네랄워터</p>
							<p class="mt30 f18 fw400 gray04 lh160">지하 암반수를 취소하여 일체의<br class="wView">화학처리 과정 없이<br class="wView">정수된 천연 미네랄입니다.</p>


						</div>
					</div>
				</li>
			</ul>
		</div>
		<ul class="prd_acd wView" >
			<li class="bnr_s_acd01 h800">
				<!-- 기본노출 -->
				<div class="outType">
					<div class="centerH2">
						<div class="mt170"><span class="f18 fw600 f_pp white lh140">pH 7.1~7.8 weakly alkaline </span></div>
						<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/brandLine.png" /></p>
						<p class="f27 fw600 mt20 white">약알칼리성의 건강한 물</p>
						<p class="mt20"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_brand_more.png" /></p>
					</div>
				</div>
				<!-- 마우스오버노출 -->
				<div class="inType centerH">
					<div class="whiteBox">
						<p class="f18 fw600 f_pp">pH 7.1~7.8 weakly alkaline </p>
						<p class="mt50 inType_ico"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_sim01.png" /></p>
						<p class="mt30 f27 fw500">약알칼리성의 건강한 물</p>
						<p class="mt30 f18 fw400 gray04 lh160">수소이온농도 pH 7.1~7.8내외의<br>약알칼리수로 현대인의 산성화된 체질을<br>중화시키는데 도움을 줍니다.</p>
					</div>
				</div>
			</li>
			<li class="bnr_s_acd02 h800">
				<!-- 기본노출 -->
				<div class="outType">
					<div class="centerH2">
						<div class="mt170"><span class="f18 fw600 f_pp white lh140">Great taste</span></div>
						<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/brandLine.png" /></p>
						<p class="f27 fw600 mt20 white">부드럽고 맛있는 물</p>
						<p class="mt20"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_brand_more.png" /></p>
					</div>
				</div>
				<!-- 마우스오버노출 -->
				<div class="inType centerH">
					<div class="whiteBox">
						<p class="f18 fw600 f_pp">Great taste</p>
						<p class="mt50 inType_ico"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_sim02.png" /></p>
						<p class="mt30 f27 fw500">부드럽고 맛있는 물</p>
						<p class="mt30 f18 fw400 gray04 lh160">경도 45~58mg/L로 음용 시<br>목 넘김이 부드러운 물 맛을<br class="wView">느끼실 수 있습니다.</p>
					</div>
				</div>
			</li>
			<li class="bnr_s_acd03 h800">
				<!-- 기본노출 -->
				<div class="outType">
					<div class="centerH2">
						<div class="mt170"><span class="f18 fw600 f_pp white lh140">Pure mineral water</span></div>
						<p><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/brandLine.png" /></p>
						<p class="f27 fw600 mt20 white">안전한 천연 미네랄워터</p>
						<p class="mt20"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_brand_more.png" /></p>
					</div>
				</div>
				<!-- 마우스오버노출 -->
				<div class="inType centerH">
					<div class="whiteBox">
						<p class="f18 fw600 f_pp">Pure mineral water</p>
						<p class="mt50 inType_ico"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_sim03.png" /></p>
						<p class="mt30 f27 fw500">안전한 천연 미네랄워터</p>
						<p class="mt30 f18 fw400 gray04 lh160">지하 암반수를 취소하여 일체의<br class="wView">화학처리 과정 없이<br class="wView">정수된 천연 미네랄입니다.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="contant1460 mt100" >
		<div class="row brand-recipe-box">
			<div class="col-md-6">
				<p class="f52 fw600 black mt10">왜 심천수를 먹어야 할까?</p>
				<p class="f18 lh140 gray04 mt20">심천수는 값이 클수록 맛있는 물을 나타내는 
				OI지표값이 6.3, 값이 클수록 건강한 물을 나타내는<br> KI지표값이 8.5로 맛과 건강을 모두 챙길 수 있는 깨끗한 물입니다.</p>
				<p class="mt50">
					<table cellspacing="0" border="0" class="table-sim">
					<colgroup>
						<col width="23%">
						<col width="43%">
						<col width="43%">
					</colgroup>
					<tr>
						<td>구분</td>
						<td>OI(O-index) : 맛있는 물</td>
						<td>KI(K-indes) : 건강한 물</td>
					</tr>
					<tr>
						<td>기준</td>
						<td>2.0 이상부터 맛있는 물</td>
						<td>5.2 이성부터 건강한 물</td>
					</tr>
					<tr class="last-td">
						<td>심천수</td>
						<td>6.3</td>
						<td>6.3</td>
					</tr>
					</table>
				</p>
				<p class="mt70 f23 fw500 black lh140">pH7.4~8.5의 약알칼리수는 소화불량, 만성설사, <br>장내 이상 발표 등의 증상에 도움이 될 수 있습니다.</p>
				<p class="mt40 img100"><img style="max-width:710px; "src="https://image.edaymall.com/images/dcf/vegemil/img/brand/brand_sim01.jpg" alt="심천수 알칼리성 표"/></p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<p class="mt20 f23 fw500 lh140 ">천연 미네랄 워터, 안전한 물 심천수</p>
				<p class="mt30 img100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/brand/brand_sim02.jpg" alt="정식품 심천수"/></p>
				<p class="mt50 f23 fw500 lh140 ">믿을 수 있는 정수 제조 공정</p>
				<p class="mt30 img100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/brand/brand_sim03.jpg" alt="정식품 심천수"/></p>
			</div>
		</div>
	</div><!-- //contant1460 -->
	
	<div class="contant100_1 bg_Blue mt250">
		<div class="row">
			<div class="col-md-12 pt50 pb50">
				<div class="contant1460">
					<div class="row">
						<div class="col-md-6">
							<p class="f38 fw600 white lh140">공식 온라인스토어 [이데이몰] 브랜드관</p>
						</div>
						<div class="col-md-4 mt10m">
							<p class="f18 fw400 white lh160">정식품 공식 인터넷 쇼핑몰인 이데이몰은<br class="mView">고품질의 제품들은 물론, 뷰티-헬스 전문관을 운영하고 있습니다.</p>
							</p>
						</div>
						<div class="col-md-2 mt10m">
							<div class="btnType06"><span><a href="https://www.edaymall.com" target="_blank">View More</a></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>