<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/greenbia/head_greenbia :: headFragment"></head>
<body>
<header class="white" th:insert="fragments/greenbia/mainHeader_greenbia :: headerFragment"></header>
<!--------------------- 
		//Header
------------------- -->
<!--------------------- 
		content
------------------- -->
<div class="container100">
	<div class="quick wview">
		<a th:href="@{/greenbia/search}"><p class="hvr-bounce-to-bottom">제품검색</p></a>
		<a th:href="@{/greenbia/guide}"><p class="hvr-bounce-to-bottom">제품 선택가이드</p></a>				
	</div>
</div>
<div class="container100_15">
	<div class="row">
		<div class="col-md-12 h800 bg_plate">
			<div class="hcenter center" >
				<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
					<p class="f_ms f34_5">The First, Greenbia</p>
					<p class="mt30 plate_logo"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/plate_logo_renewal.png" alt="그린비아"/></p><!-- 2024 그린비아 리뉴얼 -->
					<H1 class="f24_4 mt40">그린비아는 1991년 국내기술력으로 탄생한<br>국내 최초 특수의료용도식품 브랜드입니다.</H1><!-- 2차 수정 -->
					<a th:href="@{/greenbia/history01}"><div class="btn_type01 mt50 f_ms">Read More</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 2024 그린비아 리뉴얼 -->
<div class="container100 FBS">
	<div class="container ">
		<div class="row">
			<div class="col-md-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
				<div class="FBS_box">
					<p class="FBS_img"><img class="img100" src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_first.jpg" alt="유액"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_first.png" alt="별"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">First</p>
						<p class="f22_4 mt20">한국인의 영양요구량에 맞게<br>국내 최초로 개발된</p>
						<!-- <p class="f28_4">국내 최초 경장 영양식</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4 " data-aos="fade-up" data-aos-duration="1000">
				<div class="FBS_box">
					<p class="FBS_img"><img class="img100" src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_specialized.jpg" alt="현미경"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_balance.png" alt="현미경"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">Specialized</p>
						<p class="f22_4 mt20">체계적이고 과학적인<br>영양학적 연구를 통한</p>
						<!-- <p class="f28_4">균형적인 영양 공급</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
				<div class="FBS_box">
					<p class="FBS_img"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_selfcare.jpg" alt="유액"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_selfcare.png" alt="방패"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">Self-Care</p>
						<p class="f22_4 mt20">오늘 더<br>건강한 나를 위해</p>
						<!-- <p class="f28_4">제품 안전성 검증</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //2024 그린비아 리뉴얼 -->

<main class="bgGray"> <!-- 2024 그린비아 리뉴얼 -->
<div class="container">
	<div class="row">
		<!-- 2024 그린비아 리뉴얼 -->
		<!--
		<div class="mh">
			개발확인 : Product Categories 세부내용 클릭시 제품검색화면에서 제품노출해주세요.
		</div>
		-->
		<!-- //2024 그린비아 리뉴얼 -->
		<div class="col-md-12">
			<div class="center" >
				<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
					<p class="f_ms f38_6 mt120">Product Categories</p>
					<p class="f22_4 mt10">그린비아의 더 많고 다양한 제품을 확인해보세요.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-12 mt90">
			<!-- Start Verical Slider Area -->
			<div class="vertical-slider-area">
				<div class="brook-element-carousel slick-arrow-center btn_PC slick-arrow-triggle slick-arrow-trigglestyle-2"
					data-slick-options='{
					"spaceBetween": 0, 
					"slidesToShow": 4, 
					"slidesToScroll": 1, 
					"arrows": true, 
					"infinite": true,
					"centerMode": true,
					"adaptiveHeight": true,
					"dots": false
			
					}'
					data-slick-responsive='[
						{"breakpoint":1367, "settings": {"slidesToShow": 3}},
						{"breakpoint":770, "settings": {"slidesToShow": 2}},
						{"breakpoint":577, "settings": {"slidesToShow": 1}}
					]'>

					<!-- Start Single Slide -->
					<div class="single-vertical-slide d-flex align-items-end">
						<div class="pcBox">
							<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc01_off.png" onmouseover="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc01_on.png'" onmouseout="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc01_off.png'" alt="일반영양식" ></a></p>
							<p class=" mt50 pc_line01">일반영양식</p>
							<ul class="pc mt50">
								<a th:href="@{/greenbia/search?searchKeyword=일반식사가}"><li>균형 영양식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=소아}"><li>어린이 균형 영양식</li></a>
								<!-- <a href="sub_02_02_product.html"><li>단백질 / 미네랄 보충식</li></a> -->
							</ul>
						</div>
					</div>
					<!-- End Single Slide -->

					<!-- Start Single Slide -->
					<div class="single-vertical-slide d-flex align-items-end">
						<div class="pcBox">
							<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" ><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc02_off.png" onmouseover="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc02_on.png'" onmouseout="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc02_off.png'" alt="전문영양식" ></a></p>
							<p class=" mt50 pc_line02">전문영양식</p>
							<ul class="pc mt50">
								<a th:href="@{/greenbia/search?searchKeyword=당뇨}"><li>당뇨 환자를 위한 균형 영양식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=신장}"><li>신장 질환자를 위한 균형 영양식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=장이}"><li>장이 민감한 환자를 위한 균형 영양식</li></a>
								<!-- 2024-04-29 -->
								<a th:href="@{/greenbia/search?searchKeyword=암 환자를}"><li>암 환자를 위한 전문영양식</li></a> 
								<!-- //2024-04-29 -->
								<a th:href="@{/greenbia/search?searchKeyword=고담백식}"><li>고단백식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=외상 수술}"><li>외상 및 수술 환자식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=단일영양식}"><li>단일영양식</li></a>
								<a th:href="@{/greenbia/search?searchKeyword=알티에이치TF}"><li>TF/RTH</li></a>
							</ul>
						</div>
					</div>
					<!-- End Single Slide -->

					<!-- Start Single Slide -->
					<div class="single-vertical-slide  d-flex align-items-end">
						<div class="pcBox">
							<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" ><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc03_off.png" onmouseover="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc03_on.png'" onmouseout="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc03_off.png'" alt="전문영양식" ></a></p>
							<p class=" mt50 pc_line03">연하식</p>
							<ul class="pc mt50">
								<a th:href="@{/greenbia/search?searchKeyword=점도증진제}"><li>점도증진제</li></a>
							</ul>
						</div>
					</div>
					<!-- End Single Slide -->

					<!-- Start Single Slide -->
					<div class="single-vertical-slide   d-flex align-items-end">
						<div class="pcBox">
							<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc04_off.png" onmouseover="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc04_on.png'" onmouseout="javascript:this.src='https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc04_off.png'" alt="전문영양식" ></a></p>
							<p class=" mt50 pc_line04">건강식품</p>
							<ul class="pc mt50">
								<a th:href="@{/greenbia/search?searchKeyword=균형영양음료}"><li>균형영양음료</li></a>
							</ul>
						</div>
					</div>
					<!-- End Single Slide -->

					
				</div>
			</div>
			<!-- End Verical Slider Area -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="center bestBox mt110" >
				<p class="f28_4">베스트판매 인기상품</p>
				<ul class="mt30">
					<a href="/greenbia/product/detail/103" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">1</span>영양 케어</li></a>
					<!-- 2024-04-29 베스트 -->
					<a href="/greenbia/product/detail/69" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">2</span>키즈모아</li></a>
					<!-- //2024-04-29 베스트 -->
					<a href="/greenbia/product/detail/104" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">3</span>당케어</li></a>
					<a href="/greenbia/product/detail/67" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">4</span>프로틴밀 아몬드와 호두</li></a>
					<a href="/greenbia/product/detail/46" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">5</span>플러스케어 당뇨식</li></a>
				</ul>
				<!--
				<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
					<p class="f_ms f38_6 mt120">Produc t Categories</p>
					<p class="f22_4 mt10">그린비아의 더 많고 다양한 제품을 확인해보세요.</p>
				</div>
				-->
			</div>
		</div>
	</div>
</div>
<!-- //2024 그린비아 리뉴얼 -->

<div class="container100_15  bg_pcg mt100 wview">
	<div class="container">
		<div class="row h600 BU01">
			<div class="col-md-3">
				<div class="pcgTextBox">
					<div class="hcenter" >
						<p class="f38_6 f_ms">Product<br>Choice guide</p>
						<p class="f22_4 mt40">환자, 보호자가 제품을 선택하기 전에 <br>도움을 드리기 위한 안내입니다.</p>
					</div>
				</div>
			</div>
			<div class="col-md-9 mt30">
				<div class="ieView">
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pc_ie.png" />
				</div>
				<!-- partial:index.partial.html -->
				<div class="slider-wrap">
					<div id="card-slider" class="slider">
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum01.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">간편한 식사대용식 또는<br>균형잡힌 영양보충<br>간식이 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum02.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">저작 능력 저하, 식욕부진 등으로<br>영양보충이 전적으로<br>필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum03.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">수술 후 또는 화상환자,<br>항암치료 등 고열량 및<br>고단백식이가 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum01.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">간편한 식사대용식 또는<br>균형잡힌 영양보충<br>간식이 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum02.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">저작 능력 저하, 식욕부진 등으로<br>영양보충이 전적으로<br>필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- partial -->	
			</div>
		</div>
	</div>
</div>
<div class="container100_15 bgPupple mt50m">
	<div class="container">
		<div class="row bottomBox">
			<div class="col-md-6">
				<div class="" >
					<ul class="bottomInfo">
						<li><p class="f24_4_w mt10">제품별 섭취시 주의사항을 확인하세요.</p></li>
						<li><a th:href="@{/greenbia/safety}"><div class="btn_type02 f_ms">Read More</div></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="" >
					<ul class="bottomInfo">
						<li><p class="f24_4_w mt10">그린비아를 구매해 보세요</p></li>
						<li><a href="https://edaymall.com/product/list.html?cate_no=24"><div class="btn_type02 f_ms">Read More</div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</main> <!-- 2024 그린비아 리뉴얼 -->
<!--------------------- 
		//content
------------------- -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/greenbia/mainFooter_greenbia :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<!-- countUp -->
<script>
$('.counter').countUp();
</script>
<script type="text/javascript">
    (function(w, d, a){
    w.__beusablerumclient__ = {
    load : function(src){
    var b = d.createElement("script");
    b.src = src; b.async=true; b.type = "text/javascript";
    d.getElementsByTagName("head")[0].appendChild(b);
    }
    };w.__beusablerumclient__.load(a);
    })(window, document, "//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5");
</script>
</body>
</html>