<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<title>그린비아브랜드사이트</title>
	<head th:replace="fragments/greenbia/head_greenbia :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:insert="fragments/greenbia/mainHeader_greenbia.html :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div class="container100">
	<div class="quick wview">
		<a th:href="@{/greenbia/search}"><p class="hvr-bounce-to-bottom"/>제품검색</p></a>
		<a th:href="@{/greenbia/guide}"><p class="hvr-bounce-to-bottom">제품 선택가이드</p></a>		
	</div>
	
	<!-- Start Verical Slider Area -->	
	<div class="vertical-slider-area">
		<div class="brook-element-carousel slick-arrow-center slick-arrow-triggle slick-arrow-trigglestyle-2 slick-carousel-0 slick-initialized slick-slider" data-slick-options="{
			&quot;spaceBetween&quot;: 0, 
			&quot;slidesToShow&quot;: 4, 
			&quot;slidesToScroll&quot;: 1, 
			&quot;arrows&quot;: true, 
			&quot;infinite&quot;: true,
			&quot;centerMode&quot;: true,
			&quot;adaptiveHeight&quot;: true,
			&quot;dots&quot;: false,
			&quot;prevArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-btn slick-prev&quot;, &quot;iconClass&quot;: &quot;fas fa-angle-left&quot; },
			&quot;nextArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-btn slick-next&quot;, &quot;iconClass&quot;: &quot;fas fa-angle-right&quot; }
			}" data-slick-responsive="[
				{&quot;breakpoint&quot;:1367, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},
				{&quot;breakpoint&quot;:770, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2}},
				{&quot;breakpoint&quot;:577, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1}}
			]">

			<div class="slick-list draggable" style="padding: 0px;"><div class="slick-track" style="opacity: 1; width: 100%; ">
			
			<div class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 25%;">
				<div>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G01004}" tabindex="0" style="width: 100%; display: inline-block;">
						<div class="single-vertical-slide fullscreen G01004_s  d-flex align-items-end">
							<div class="slide-inner">
								<div class="info">
									<p class="f30_6_w f_ms">Greenbia</p>
									<p class="f40_6_w f_ms">마일드케어 구수한맛</p>
									<p class="f17_4_w f_ms mt30">균형영양식</p>
									<p class="f22_4_w mt60">일반영양식</p>						
								</div>
								<ul class="G01004_kcal mlk">
									<li class="f_ms">200ml</li>
									<li class="f_ms">200kcal</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 25%">
				<div>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G01010}" tabindex="0" style="width: 100%; display: inline-block;">								
						<div class="single-vertical-slide fullscreen G01010_s d-flex align-items-end">
							<div class="slide-inner">
								<div class="info">
									<p class="f30_6_w f_ms">Greenbia</p>
									<p class="f40_6_w f_ms mt10">장(腸)솔루션</p>
									<p class="f17_4_w f_ms mt30">경관 전용 환자식</p>
									<p class="f22_4_w mt50">전문영양식</p>
								</div>
								<ul class="G01010_kcal mlk">
									<li class="f_ms">200ml</li>
									<li class="f_ms">200kcal</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 25%;">
				<div>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G02001}" tabindex="-1" style="width: 100%; display: inline-block;">
						<div class="single-vertical-slide fullscreen G02001_s d-flex align-items-end">
							<div class="slide-inner">
								<div class="info">
									<p class="f30_6_w f_ms">Greenbia</p>
									<p class="f40_6_w f_ms mt10">디엠 당뇨환자용</p>
									<p class="f17_4_w f_ms mt30">당뇨환자용 균형영양식</p>
									<p class="f22_4_w mt50">전문영양식</p>
								</div>
								<ul class="G02001_kcal mlk">
									<li class="f_ms">200ml</li>
									<li class="f_ms">200kcal</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			
			<div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 25%;">
				<div>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G06003}" tabindex="-1" style="width: 100%; display: inline-block;">
						<div class="single-vertical-slide fullscreen G06003_s  d-flex align-items-end">
							<div class="slide-inner">
								<div class="info">
									<p class="f30_6_w f_ms">Greenbia</p>
									<p class="f40_6_w f_ms mt10">프로틴밀 <br>아몬드와호두</p>
									<p class="f17_4_w f_ms mt50">고단백 균형영양</p>
									<p class="f22_4_w mt30">건강식품</p>						
								</div>
								<ul class="G06003_kcal mlk">
									<li class="f_ms">250ml</li>
									<li class="f_ms">200kcal</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			</div>
			</div>

			<!-- End Single Slide -->
			
		</div>
			<!--End Verical Slider Area -->		
	</div>	
</div>



<div class="container100_15">
	<div class="row">
		<div class="col-md-12 h800 bg_plate">
			<div class="hcenter center" >
				<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
					<p class="f_ms f34_5">The First, Greenbia</p>
					<p class="mt30 plate_logo"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/plate_logo.png" alt="그린비아"/></p>
					<p class="f24_4 mt40">그린비아는 1991년 국내기술력으로 탄생한<br>국내최초 경장영양식 선도 브랜드입니다.</p>
					<a th:href="@{/greenbia/history01}"><div class="btn_type01 mt50 f_ms">Read More</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container100 FBS">
	<div class="container ">
		<div class="row">
			<div class="col-md-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
				<div class="FBS_box">
					<p class="FBS_img"><img class="img100" src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_first.jpg" alt="유액"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_first.png" alt="별"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">First</p>
						<p class="f20_4 mt20">한국인의 영양요구량에 맞게 개발된</p>
						<p class="f28_4">국내 최초 경장 영양식</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 " data-aos="fade-up" data-aos-duration="1000">
				<div class="FBS_box">
					<p class="FBS_img"><img class="img100" src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_balance.jpg" alt="유액"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_balance.png" alt="현미경"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">Balance</p>
						<p class="f20_4 mt20">체계적이고 과학적인 영양학적 연구를 통한</p>
						<p class="f28_4">균형적인 영양 공급</p>
					</div>
				</div>
			</div>
			<div class="col-md-4" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
				<div class="FBS_box">
					<p class="FBS_img"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/main_safety.jpg" alt="유액"/></p>
					<p class="FBS_icon"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/icon_safety.png" alt="방패"/></p>
					<div class="FBS_txt">
						<p class="f_ms f34_7">Safety</p>
						<p class="f20_4 mt20">끊임 없는 임상 연구와 눈문으로 &nbsp;&nbsp;&nbsp;</p>
						<p class="f28_4">제품 안전성 검증</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container100_15">
	<div class="row">
		<div class="col-md-12 h550 bg_bigbanner" >
			<div class="hcenter center" >
				<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
					<p class="f_ms f60_7_w">FOOD + SCIENCE</p>
					<p class="f30_4_w mt20">임상연구로 검증된 전문적인 영양설계로 <br class="noneM">균형적인 영양을 공급합니다.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 2021-11-16 -->
<div class="container100">
	<div class="row G06005 BU01">
		<div class="col-md-4 h850-1 G06005_top" >
			<div class="hcenter_right">
				
				<div>
					<p class="round round05">건강식품</p>
                    <p class="f_ms f60_6_w mt30">키즈모아</p>
					<p class="f_ms f14_4_w wview">Balanced Nutrition for growing kids<br>during the growth period</p>
					<p class="f_ms f22_4_w mt30">성장기 어린이를 위한<br> 어린이 음료</p>
				</div>
				
				<div>
					<p class="f14_4_w mt30 point_w bar-graph-web">열량 구성비</p>
					
					<ul class="bar-graph move_contents"> 
					  <li>
						<dl>
							<dd>단백질</dd>
							<dd><div class="bar-wrap"><span class="bar-fill" style="width: 12%;"></span></div></dd>
							<dd class="f_ms"><span class="counter">12</span>%</dd>
						</dl>
					  </li> 
					  <li>
						<dl>
							<dd>지방</dd>
							<dd><div class="bar-wrap"><span class="bar-fill" style="width: 45%;"></span></div></dd>
							<dd class="f_ms"><span class="counter">45</span>%</dd>
						</dl>
					  </li> 
					  <li>
						<dl>
							<dd>탄수화물</dd>
							<dd><div class="bar-wrap"><span class="bar-fill" style="width: 43%;"></span></div></dd>
							<dd class="f_ms"><span class="counter">43</span>%</dd>
						</dl>
					  </li> 
					</ul>
					
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G06005}"><div class="btn_type02  f_ms mt30 mt40m">Read More</div></a>

				</div>
			</div>
		</div>
		<div class="col-md-4 h850-2 G06005 center" >
				<p class="mt80 f_ms f38_6_w wview">New Product</p>
		</div>
		
		<div class="col-md-4 h850-3 G06005_bottom">
			<div class="hcenter" >
				
				<div  class="loader-ring list1 bar-graph-m" >
					<ul>
						<li>
							<div class='loader-ring-light'></div>
							<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_24.png" alt="#"/></div>
						</li>
						<li class="f17_4_w">초유 단백질 CBP 9mg<br>특허 제 10-0509681호</li>
					</ul>
					<ul>
						<li>
							<div class='loader-ring-light'></div>
							<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_44.png" alt="#"/></div>
						</li>
						<li class="f17_4_w">비타민 13종 중<br>비타민D 3㎍</li>
					</ul>
					<ul>
						<li>
							<div class='loader-ring-light'></div>
							<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_35.png" alt="#"/></div>
						</li>
						<li class="f17_4_w">미네랄 12종 중<br>칼슘 150mg</li>
					</ul>
					<ul>
						<li>
							<div class='loader-ring-light'></div>
							<div class='loader-ring-track'><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_26.png" alt="#"/></div>
						</li>
						<li class="f17_4_w">150ml 소용량 패키지</li>
					</ul>
					
				</div>
			</div>
			
			<div class="kcalBox wview">
				<ul class="G06005_kcal mlk2">
					<li class="f_ms">150ml</li>
					<li class="f_ms">150kcal</li>
				</ul>
			</div>
		</div>
	</div>
	</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center">
				<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" class="aos-init aos-animate">
					<p class="f_ms f38_6 mt120">Product Categories</p>
					<p class="f22_4 mt10">그린비아의 더 많고 다양한 제품을 확인해보세요.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-12 mt90">
			<!-- Start Verical Slider Area -->
			<div class="vertical-slider-area">
				<div class="brook-element-carousel slick-arrow-center btn_PC slick-arrow-triggle slick-arrow-trigglestyle-2 slick-carousel-1 slick-initialized slick-slider" data-slick-options="{
					&quot;spaceBetween&quot;: 0, 
					&quot;slidesToShow&quot;: 4, 
					&quot;slidesToScroll&quot;: 1, 
					&quot;arrows&quot;: true, 
					&quot;infinite&quot;: true,
					&quot;centerMode&quot;: true,
					&quot;adaptiveHeight&quot;: true,
					&quot;dots&quot;: false,
					&quot;prevArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-btn slick-prev&quot;, &quot;iconClass&quot;: &quot;fas fa-angle-left&quot; },
					&quot;nextArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-btn slick-next&quot;, &quot;iconClass&quot;: &quot;fas fa-angle-right&quot; }
					}" data-slick-responsive="[
						{&quot;breakpoint&quot;:1367, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},
						{&quot;breakpoint&quot;:770, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2}},
						{&quot;breakpoint&quot;:577, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1}}
					]">
			
					<div class="slick-list draggable" style="padding: 0px;">
					<div class="slick-track" style="opacity: 1; width: 4644px; transform: translate3d(-1161px, 0px, 0px);">
					
						<div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 387px;">
							<div>						
								<div class="single-vertical-slide d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" tabindex="-1"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc01_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc01_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc01_off.png'" alt="일반영양식"></a></p>
										<p class=" mt50 pc_line01">일반영양식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=일반식사가" tabindex="-1"><li>일반영양식</li></a>
											<a href="./search.aspx?contents=소아" tabindex="-1"><li>어린이 일반영양식</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 387px;">
							<div>
								<div class="single-vertical-slide d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a href="./newProduct.aspx" tabindex="-1"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc02_off.png" onmouseover="javascript:this.src'/img/greenbia/ico_pc02_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc02_off.png'" alt="전문영양식"></a></p>
										<p class=" mt50 pc_line02">전문영양식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=당뇨" tabindex="-1"><li>당뇨 환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=신장" tabindex="-1"><li>신장 질환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=장이" tabindex="-1"><li>장이 민감한 환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=고단백식" tabindex="-1"><li>고단백식</li></a>
											<a href="./search.aspx?contents=외상 수술" tabindex="-1"><li>외상 및 수술 환자식</li></a>
											<a href="./search.aspx?contents=단일영양식" tabindex="-1"><li>단일영양식</li></a>
											<a href="./search.aspx?contents=알티에이치 TF" tabindex="-1"><li>TF/RTH</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 387px;">
							<div>
								<div class="single-vertical-slide  d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a href="./newProduct.aspx" tabindex="-1"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc03_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc03_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc03_off.png'" alt="전문영양식"></a></p>
										<p class=" mt50 pc_line03">연하식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=점도증진제" tabindex="-1"><li>점도증진제</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide slick-current slick-active slick-center" data-slick-index="-1" aria-hidden="false" style="width: 387px;">
							<div>
								<div class="single-vertical-slide d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" tabindex="0"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc01_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc01_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc01_off.png'" alt="일반영양식"></a></p>
										<p class=" mt50 pc_line01">일반영양식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=일반식사가" tabindex="0"><li>일반영양식</li></a>
											<a href="./search.aspx?contents=소아" tabindex="0"><li>어린이 일반영양식</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" style="width: 387px;">
							<div>
								<div class="single-vertical-slide d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" tabindex="0"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc02_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc02_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc02_off.png'" alt="전문영양식"></a></p>
										<p class=" mt50 pc_line02">전문영양식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=당뇨" tabindex="0"><li>당뇨 환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=신장" tabindex="0"><li>신장 질환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=장이" tabindex="0"><li>장이 민감한 환자를 위한 전문영양식</li></a>
											<a href="./search.aspx?contents=고단백식" tabindex="0"><li>고단백식</li></a>
											<a href="./search.aspx?contents=외상 수술" tabindex="0"><li>외상 및 수술 환자식</li></a>
											<a href="./search.aspx?contents=단일영양식" tabindex="0"><li>단일영양식</li></a>
											<a href="./search.aspx?contents=알티에이치 TF" tabindex="0"><li>TF/RTH</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 387px;">
							<div>
								<div class="single-vertical-slide  d-flex align-items-end" style="width: 100%; display: inline-block;">
									<div class="pcBox">
										<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" tabindex="0"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc03_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc03_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc03_off.png'" alt="전문영양식"></a></p>
										<p class=" mt50 pc_line03">연하식</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=점도증진제" tabindex="-1"><li>점도증진제</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="slick-slide slick-cloned slick-active" data-slick-index="2" aria-hidden="true"  style="width: 387px;">
							<div>
								<div class="single-vertical-slide   d-flex align-items-end" style="width: 100%; display: inline-block; text-align: center;" >
									<div class="pcBox">
										<p class="hvr-float-shadow"><a th:href="@{/greenbia/product/list}" tabindex="0"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/ico_pc04_off.png" onmouseover="javascript:this.src='/img/greenbia/ico_pc04_on.png'" onmouseout="javascript:this.src='/img/greenbia/ico_pc04_off.png'" alt="전문영양식"></a></p>
										<p class=" mt50 pc_line04" >건강식품</p>
										<ul class="pc mt50">
											<a href="./search.aspx?contents=균형영양음료" tabindex="0"><li>균형영양음료</li></a>
											<a href="./search.aspx?contents=건강기능식품" tabindex="0"><li>건강기능식품</li></a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					</div>
			</div>
			<!-- End Verical Slider Area -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="center bestBox mt110">
				<p class="f28_4">베스트판매 인기상품</p>
				<ul class="mt30">
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G06003}" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">1</span>프로틴밀 아몬드와 호두</li></a>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G06004}" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">2</span>프로틴밀 검은참깨</li></a>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G01014}" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">3</span>플러스 케어 화이바</li></a>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G02007}" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">4</span>당뇨솔루션 RTH</li></a>
					<a th:href="@{https://www.vegemil.co.kr/main/brandgreenbia/detail.aspx?p_code=G02010}" class="hvr-bounce-to-right"><li class="f18_4"><span class="f_ms">5</span>이뮨 포르테</li></a>
				</ul>
				
			</div>
		</div>
	</div>
</div>

<div class="container100_15  bg_pcg mt100 wview">
	<div class="container">
		<div class="row h600 BU01">
			<div class="col-md-3">
				<div class="pcgTextBox">
					<div class="hcenter" >
						<p class="f38_6 f_ms">Product<br>Choice guide</p>
						<p class="f22_4 mt40">환자, 보호자가 제품을 선택하기 전에 <br>도움을 드리기 위한 안내입니다.</p>
					</div>
				</div>
			</div>
			<div class="col-md-9 mt30">
				<div class="ieView">
					<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pc_ie.png" />
				</div>
				<!-- partial:index.partial.html -->
				<div class="slider-wrap">
					<div id="card-slider" class="slider">
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum01.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">환자를 위한 간편한 식사대용식 또는<br>균형잡힌 영양보충<br>간식이 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum02.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">저작 능력 저하, 식욕부진 등으로<br>영양보충이 전적으로<br>필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum03.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">수술 후 또는 화상환자,<br>항암치료 등 고열량 및<br>고단백식이가 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum01.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">환자를 위한 간편한 식사대용식 또는<br>균형잡힌 영양보충<br>간식이 필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
						<div class="slider-item">
							<div class="animation-card_image">
								<img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/pcg_thum02.jpg" alt="">
							</div>
							<div class="animation-card_content">
								<p class="f16_4">저작 능력 저하, 식욕부진 등으로<br>영양보충이 전적으로<br>필요하신가요?</p>
								<a th:href="@{/greenbia/search}"><p class="f_ms f15_6">Search</p></a>
							</div>
						</div>
					</div>
				</div>
				<!-- partial -->	
			</div>
		</div>
	</div>
</div>

<div class="container100_15 bgPupple mt50m">
	<div class="container">
		<div class="row bottomBox">
			<div class="col-md-6">
				<div class="" >
					<ul class="bottomInfo">
						<li><p class="f24_4_w mt10">제품별 섭취시 주의사항을 확인하세요.</p></li>
						<li><a th:href="@{/greenbia/safety}"><div class="btn_type02 f_ms">Read More</div></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="" >
					<ul class="bottomInfo">
						<li><p class="f24_4_w mt10">그린비아를 구매해 보세요</p></li>
						<li><a th:href="@{https://www.edaymall.com/display/specialBrandViewDetail.do?brandCodeYn=10&level=5&cateCode=20000034&pCateCode=20000002}"><div class="btn_type02 f_ms">Buy Now</div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--------------------- 
		//content
------------------- -->
<!-- Brook Slider -->
<!--  <script th:src="@{/common/js/vendor.min.js}"></script>  -->
 <script th:src="@{/common/js/plugins.min.js}"></script>
<!-- Brook Slider -->
<script th:src="@{/common/js/main.js}"></script>
<script th:src="@{/common/js/card-slider.js}"></script><!-- card-slider.js를 main.js에 취합시 상단 슬라이드 IE에서 오류로 분리시킴 -->
<!-- AOS -->
<script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<!-- countUp -->
<script>
$('.counter').countUp();
</script>
<script type="text/javascript">
    (function(w, d, a){
    w.__beusablerumclient__ = {
    load : function(src){
    var b = d.createElement("script");
    b.src = src; b.async=true; b.type = "text/javascript";
    d.getElementsByTagName("head")[0].appendChild(b);
    }
    };w.__beusablerumclient__.load(a);
    })(window, document, "//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5");
</script>
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/greenbia/mainFooter_greenbia :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>