<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<title>그린비아 주의사항</title>
	<head th:replace="fragments/greenbia/head_greenbia :: headFragment"></head>	
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:insert="fragments/greenbia/mainHeader_greenbia :: headerFragment"></header>
<!--------------------- 
		content
------------------- -->
<div class="container100">
	<div class="row h500 bg_faq">
		<div class="hcenter center">
			<p class="f26_4_w f_ms">FAQ</p>
			<p class="f50_5_w mt20">고객상담</p>
		</div>
		<div class="col-md-12 subNav">
			<div class="subNavBox">
				<ul>
					<li><a th:href="@{/greenbia/newfaq}">고객지원</a></li>
					<li><a th:href="@{/greenbia/newFaq}">FAQ</a></li>
				</ul>
				<div class="btn_back"><a href="javascript:history.back()"><img src="https://image.edaymall.com/images/dcf/vegemil/img/greenbia/btn_back.png" /></a></div>
			</div>
		</div>
		
	</div>
</div>
<div class="container100">
	<div class="container">
		<div class="row ">
			<div class="col-md-12" >
				<!-- 2022-09-27 -->
				<ul class="tabMenu2">
					<li class="active hvr-underline-from-center"><a th:href="@{/greenbia/newfaq}">고객상담</a></li>
					<li class="hvr-underline-from-center"><a th:href="@{/greenbia/mall}">온라인구매</a></li>
					<!--<li class="hvr-underline-from-center"><a href="./sampleKidsmore.aspx">샘플신청</a></li> -->
				</ul>
				<!-- //2022-09-27 -->
			</div>
		</div>
	</div>
</div>


<div class="container100 mt120 pb200">
	<div class="container1400_15" >

		<!-- 2024 그린비아 리뉴얼 -->
		<div class="row">
			<div class="col-md-12">
				<ul class="faq">
					<li>
						<dl class="f30_5">환자가 아닌 일반인이 먹어도 되나요?</dl>
						<dd class="f20_4 gray01">그린비아는 일반 식사를 할 수 없거나, 적절한 영양공급이 필요한 환자들이 식사 대용 및 영양 보충식으로 드실 수 있도록 만든 균형영양식입니다. 환자식이지만 일반인 분들이 섭취하셔도 무방합니다. 다만, 음용하시는 분의 상태나 질환, 식이요법 등에 따라 제품의 종류가 달라질 수 있으므로 보다 정확한 제품 섭취를 위해서는 의사와의 상담을 통해 선택하시길 권유해 드립니다.</dd>
					</li>
					<li>
						<dl class="f30_5">주스, 요구르트 같은 산성음료와 섞어 먹지 말라고 표시되어 있는데 왜 그런 건가요?</dl>
						<dd class="f20_4 gray01">그린비아를 산성음료와 섞어서 이용하실 경우 산성 성분에 의해 제품의 단백질 성분이 응고될 수 있으므로 가급적 단독으로 이용하시기 바랍니다.</dd>
					</li>
					<li>
						<dl class="f30_5">소비기한이 길던데 보존료가 들어있나요?</dl>
						<dd class="f20_4 gray01">그린비아는 전 제품에 보존료를 사용하지 않고 첨단의 설비로 제품에 존재할 수 있는 미생물을 완전히 사멸하는 멸균 공정을 거쳐 생산되므로 보존료 첨가 없이도 개봉하기 전까지 실온(1~35℃) 보관이 가능합니다.<br class="none">
						다만, 개봉한 제품은 미생물에 의해 쉽게 변질될 수 있으므로 반드시 밀봉하여 냉장 보관을 하시고 가능한 한 빨리 드시기를 바랍니다.</dd>
					</li>
					<li>
						<dl class="f30_5">당뇨식 제품은 종류가 여러가지인데 무슨 차이가 있나요?</dl>
						<dd class="f20_4 gray01">
							그린비아 당뇨식은 디엠(DM), 당뇨솔루션, 플러스케어 당뇨식, 당케어, 당뇨식 RTH400 제품이 있으며,<br class="none">
							모두 당 섭취 조절이 필요하거나 양질의 영양 섭취가 필요하신 분들을 위한 특수의료용도식품입니다.<br class="none"><br class="none">

							① 그린비아 디엠(DM): 천천히 소화, 흡수되는 당 성분인 팔라티노스가 함유되어 있어 당 섭취 조절이 필요한 분들이 이용 가능<br class="none"> 
							② 그린비아 당뇨솔루션: 체내에서 가스를 생성하여 장을 자극할 수 있는 발효성 당류(FODMAPs) 함량을 최소화하여<br class="wview">장이 민감한 환자분들도 음용할 수 있도록 설계<br class="none">
							③ 플러스케어 당뇨식: 캔 제품인 디엠, 당뇨솔루션과 달리 가볍고 편리한 팩 제품으로 스트로가 부착되어 간편하게 음용 가능<br class="none">
							④ 당케어: 뚜껑을 개봉해서 간편하게 음용하실 수 있는 팩 제품으로 식물성 위주의 혼합 단백질(식물성8:동물성2) 구성으로 설계되었으며, 식후 혈당을 최소화할 수 있는 '바나바잎 추출분말' 함유<br class="none">
							⑤ 당뇨식 RTH400: 고농축 설계된 제품으로 더욱 단시간에 효율적인 영양 공급이 필요한 환자분들께 권장
						</dd>
					</li>
					<li>
						<dl class="f30_5">그린비아 화이바는 설사와 변비 두 가지 모두 조절하는 식이섬유를 가지고 있나요?</dl>
						<dd class="f20_4 gray01">“그린비아 화이바” 는 수용성과 불용성 식이섬유소를 모두 함유하는 대두 식이섬유소를 4.3g/200ml (1L 기준 21.5g) 포함하도록 설계하였습니다.<br><br>
						식이섬유소는 설사와 변비 조절에 관여하는 물질이며, 식이섬유소는 수용성 섬유소와 불용성 섬유소로 구분할 수 있습니다. 특히 수용성 섬유소는 대장 미생물에 의해 발효되어 단쇄 지방산을 생성하며 이때 생성된 특정 단쇄지방산이 대장에서 나트륨과 수분의 흡수를 촉진하므로 설사의 발생을 줄이는 역할을 합니다. 또한 수용성 섬유소의 높은 수분 보유력은 장내 내용물의 점성을 높여 위 배출속도와 장 통과시간을 늦추는 역할을 하므로 설사를 개선하며, 설사의 발생 빈도를 낮출 수 있습니다. <br>반면, 불용성 식이섬유소는 장내 미생물에 의해 분해되지 않고 배설되므로 배변량을 증가시켜 변비에 효과적이라고 할 수 있습니다. 따라서 “그린비아 화이바”는 경관 급식 시 요구되는 영양소를 충분히 공급받으면서 설사와 변비 개선에 효과가 있다고 알려진 식이섬유소를 섭취하시길 원하는 분들께 추천할 수 있는 제품입니다.
						</dd>
					</li>
					<li>
						<dl class="f30_5">캔과 팩 제품의 농도, 색깔 등이 다른 것 같은데 영양성분의 차이가 있는 건가요?</dl>
						<dd class="f20_4 gray01">용기 및 제조공정 차이로 색, 맛의 차이가 있을 수는 있으나 영양성분 등은 모두 동일하므로 안심하고 이용하시기를 바랍니다.</dd>
					</li>
					<li>
						<dl class="f30_5">그린비아는 어디에서 구입할 수 있나요?</dl>
						<dd class="f20_4 gray01">그린비아는 정식품 대리점 및 공식 온라인 몰인 이데이몰을 통해 주문하실 수 있습니다.<br class="none"><br>
						<a href ="https://edaymall.com/product/list.html?cate_no=137" style="color:#7f99e2">이데이몰 바로 가기</a><br>
						<a href ="https://brand.naver.com/dcfwithedaymall/category/d6ef46e43ee04512bfa7eae66afb50ad?cp=2" style="color:#7f99e2">네이버 스토어 바로 가기</a><br><br>
						이 외에 대형 약국이나 의료기상사, 대학병원 매점 등에서 구입하실 수 있습니다.<br class="none">
						정식품 고객지원팀(080-930-8888)으로 연락해 주시면 가까운 대리점 연락처를 안내해 드리고 있사오니, 참고 부탁드립니다.</dd>
					</li>
				</ul>
			</div> 
		</div>
		<!-- //2024 그린비아 리뉴얼 -->
	</div>
</div>
<!--------------------- 
		//content
------------------- -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/greenbia/mainFooter_greenbia :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<script type="text/javascript">
    (function(w, d, a){
    w.__beusablerumclient__ = {
    load : function(src){
    var b = d.createElement("script");
    b.src = src; b.async=true; b.type = "text/javascript";
    d.getElementsByTagName("head")[0].appendChild(b);
    }
    };w.__beusablerumclient__.load(a);
    })(window, document, "//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5");
</script>
</body>
</html>