<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<title>그린비아 연혁</title>
	<head th:replace="fragments/greenbia/head_greenbia :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:insert="fragments/greenbia/mainHeader_greenbia.html :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!--------------------- 
		content
------------------- -->
<div class="container100">
	<div class="row h500 bg_thesis">
		<div class="hcenter center">
			<p class="f26_4_w f_ms">Journal</p>
			<p class="f50_5_w mt20">논문</p>
		</div>
		<div class="col-md-12 subNav">
			<div class="subNavBox">
				<ul>
					<li><a href="">그린비아 소개</a></li>
					<li><a href="">논문</a></li>
				</ul>
				<div class="btn_back"><a href="javascript:history.back()"><img th:src="@{/img/greenbia/btn_back.png}" /></a></div>
			</div>
		</div>
		
	</div>
</div>

<div class="container100">
	<div class="container">
		<div class="row ">
			<div class="col-md-12" >
				<ul class="tabMenu4">
					<li class="hvr-underline-from-center"><a th:href="@{/greenbia/newInfo}">그린비아는?</a></li>
					<li class="hvr-underline-from-center"><a th:href="@{/greenbia/features}">특징</a></li>
					<li class="hvr-underline-from-center"><a th:href="@{/greenbia/history01}">연혁</a></li>
					<li class="active hvr-underline-from-center"><a th:href="@{/greenbia/thesis}">논문</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container1660_15 mt150 bgGray" >
	<div class="container1400_15 ">
		<div class="row">
			<div class="col-md-6 mt80 ">
				<p class="dna01"><img th:src="@{/img/greenbia/bg_dna01.png}" alt="dna" /></p>
				<p class="f50_6 mt20">그린비아<br>임상 연구논문 현황<span class="pupple">.</span></p>
				<p class="f22_41 mt50">
				국내 우수대학들과 공동연구를 진행하여<br>
				전국 900여개 유명병원 공급과 더불어 학술적 교류를 활발히 하고 있습니다.<br><br>
				또한, 미국 및 유럽 경장영양학회, 한국인 영양섭취기준에 맞춘 <br>
				세심한 제품 설계로 국내 경장영양식 업계를 선두하고 있습니다.</p>
				<a th:href="@{/img/greenbia/jn/all.zip}"><p class="btn_type05 mt50 hvr-glow">전체 논문 모두 다운받기 <img th:src="@{/img/greenbia/ico_down.png}" alt="다운로드"/></p></a>
			</div>
			<div class="col-md-6" >
				<p class="thesis01"><img th:src="@{/img/greenbia/thesis01.jpg}"/></p>
				<p class="dna02"><img th:src="@{/img/greenbia/bg_dna02.png}" alt="dna" /></p>
			</div>
		</div>
	</div>
</div>

<div class="container1400_15 ">
	<div class="row pb200">
		<div class="col-md-4 mt80">
			<a th:href="@{/img/greenbia/jn/1991_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1991</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</ span> 한국영양학회지 24(6) : 496~505</p>
					<p class="jnTitle mt30">저체중 환자를 대상으로한<br>영양보충 효과에 관한 연구</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80">
			<a th:href="@{/img/greenbia/jn/1992_01.pdf}" target="_blank"> 
				<div class="jn hvr-glow">
					<p class="jnYear">1992</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 당뇨병 : 제16권 제1호</p>
					<p class="jnTitle mt30">저체중 인슐린 비의존형 당뇨병 환자를 대상으로 한 영양 보충 효과</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80">
			<a th:href="@{/img/greenbia/jn/1992_02.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1992</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 연세대학교 생활과학논집 Vol. 6. </p>
					<p class="jnTitle mt30">저체중의 갑상선 기능항진증 환자를 대상으로 한 영양보충효과</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>

		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1994_04.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1994</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 대한구급의학회지 제9권 제1호</p>
					<p class="jnTitle mt30">중환자실에 입원한 환자중 경관급식을 공급 받는 환자의 영양상태와 영양액의 종류 및 주입속도에 따른 설사발생에 관한 연구</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1994_03.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1994</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 한국영양학회지 27(8) : 805~818</p>
					<p class="jnTitle mt30">인슐린비의존형 당뇨병환자에서 당질 및 지방 섭취량의 변화가 혈당 및 지질에 미치는 영향</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1994_02.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1994</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 한국영양학회지 27(3) : 281~291</p>
					<p class="jnTitle mt30">암 환자에서의 경구 영양 보충 효과에 관한 연구</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1994_05.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1994 </p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span> 당뇨병 : 제18권 제1호</p>
					<p class="jnTitle mt30">체중과다 인슐린비의존형 당뇨병 환자에서 체중감소가 당질 및 지질 대사에 미치는 영향</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1994_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1994</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>  한국영양학회지 27(10) : 1048~1057</p>
					<p class="jnTitle mt30">비비만형 인슐린 비의존형 당뇨병 환자에서 영양음료를 사용한 체중 증가의 효과</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1995_02.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1995</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>  당뇨병 : 제19권 제2호</p>
					<p class="jnTitle mt30">인슐린 비의존형 당뇨병 환자에서 영양음료 섭취가 혈청 당질에 미치는 영향</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>



		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1995_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1995</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>  한국영양학회지 28(4) : 345~354</p>
					<p class="jnTitle mt30">의식불명 환자에서 경관급식에 의한 혼합형 식사와 상업용 조합식이의 효과 비교</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/1997_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">1997</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>  대한신장학회지 : 제17권 제2호</p>
					<p class="jnTitle mt30">지속성 외래 복막투석 환자에서 경구 영양음료 투여에 의한 영양보충의 효과</p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/2015_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">2015</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>  Nutrition Journal (2015) 14:116</p>
					<p class="jnTitle mt30">LOW-FODMAP formula improves 
						diarhea and nutritional status in 
						hospitalized patients receiving 
						enteral nutrition: randomized, 
						multicenter, double-blind clinical trial </p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt80" data-aos="fade-up" data-aos-duration="1000">
			<a th:href="@{/img/greenbia/jn/2017_01.pdf}" target="_blank">
				<div class="jn hvr-glow">
					<p class="jnYear">2017</p>
					<p class="jnNumber"><span class="pupple">저널  ㅣ</span>   Nutrients (2016) 8 : 336</p>
					<p class="jnTitle mt30">Effect of immune-enhancing enteral 
					nutrition enriched with or without 
					beta-glucan on immunomodulation 
					in critically ill patients </p>
					<div class="btn_type06 mt80">논문 PDF파일 다운받기</div>
				</div>
			</a>
		</div>
	</div>
</div>
<!--------------------- 
		Footer
------------------- -->
<!--------------------- 
		//content
------------------- -->
<!-- Brook Slider -->
<script src="./common/js/vendor.min.js"></script>
<script src="./common/js/plugins.min.js"></script>
<!-- Brook Slider -->
<script src="./common/js/main.js"></script>
<script src="./common/js/card-slider.js"></script><!-- card-slider.js를 main.js에 취합시 상단 슬라이드 IE에서 오류로 분리시킴 -->
<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
<script type="text/javascript">
    (function(w, d, a){
    w.__beusablerumclient__ = {
    load : function(src){
    var b = d.createElement("script");
    b.src = src; b.async=true; b.type = "text/javascript";
    d.getElementsByTagName("head")[0].appendChild(b);
    }
    };w.__beusablerumclient__.load(a);
    })(window, document, "//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5");
</script>
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/greenbia/mainFooter_greenbia :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>