@charset "utf-8";
/*==============================================

    ----------------------------------------------------------------
	* Date		:	2022.06.08
	* Modify		:   
	* Name		:	reset.css
	----------------------------------------------------------------
	
	- Description -

	00. reset			:	css 초기화

==============================================*/


/* ===========================
	00. reset
=========================== */
html, body, /*div,*/ span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong,  tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0px; padding:0px; /*vertical-align:top; */}
body {width:100%;  color:#222;  font-size:15px; line-height:1; letter-spacing:-0.025em; word-break:break-all;font-family:'Noto Sans KR'; }
ul, ol, dl {list-style-type:none; margin:0; padding:0}
h1, h2, h3, h4, h5, h6, th { font-weight:normal;}
table {border-collapse:collapse; border-spacing:0; word-break:break-all;}
table th { font-weight:normal;}
img, button, fieldset, abbr, acronym {border:0;}
label {cursor:pointer;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
strong { font-weight:normal;}
caption, legend {width:0px; height:0px; font-size:0px; line-height:0px; visibility:hidden;}
img {max-width:100%;}
q:before, q:after {content:'';}
hr {display:none;}
iframe {border:none; outline:none;}
br{font-family:dotum}
sup {vertical-align:top}
/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; padding:0; margin:0;}

a {text-decoration:none;color:#222;cursor:pointer;}
a:link, a:visited {text-decoration:none;color:#222;}
a:hover, a:focus, a:active {text-decoration:none !important; color:#222}
br.clear {clear:both;height:1px}
dl,
dd,ul {margin-bottom:0 !important;}
label {margin-bottom:0 !important;}

body {overflow-x: hidden;}

/*
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face{font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),  	url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
*/

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/*
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
*/




/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.f_pp {font-family: 'Poppins'; letter-spacing:0}
.fw500 {font-weight:500; }
.fw600 {font-weight:600} /*영문 semibold, medium */
.fw700 {font-weight:700} /*영문 bold */

.round2 {border-radius:2px}
.round5 {border-radius:5px}
.round10 {border-radius:10px}
.round15 {border-radius:15px}
.round20 {border-radius:20px}

/* ===========================
	01. font / color / margin / padding 
=========================== */
@media (max-width: 3000px) {
	.f1 {font-size:1px}
	.f2 {font-size:2px}
	.f3 {font-size:3px}
	.f4 {font-size:4px}
	.f5 {font-size:5px}
	.f6 {font-size:6px}
	.f7 {font-size:7px}
	.f8 {font-size:8px}
	.f9 {font-size:9px}
	.f10 {font-size:10px}
	.f11 {font-size:11px}
	.f12 {font-size:12px}
	.f13 {font-size:13px}
	.f14 {font-size:14px}
	.f16 {font-size:16px}
	.f18 {font-size:18px}
	.f20 {font-size:20px}
	.f22 {font-size:22px} 
	.f23 {font-size:23px}
	.f27 {font-size:27px}
	.f30 {font-size:30px}
	.f34 {font-size:34px}
	.f36 {font-size:36px}
	.f38 {font-size:38px}
	.f45 {font-size:45px}
	.f47 {font-size:47px}
	.f52 {font-size:52px}
	.f55 {font-size:55px}
	.f60 {font-size:60px}
	.f66 {font-size:66px}
	.f70 {font-size:70px}
	.f80 {font-size:80px;}
	.white {color:#fff}
	.blue {color:#23A3EB}
	.green {color:#00A256}
	.red {color:#E35234}
	.gold {color:#E3A62C}
	.black {color:#222222}
	.gray01 {color:#F1F4F5}
	.gray02 {color:#DCDCDC}
	.gray03 {color:#B7B7B7}
	.gray04 {color:#787878}

	.mt-15 {margin-top:-15px !important}
	.mt-20 {margin-top:-20px !important}
	.mt-30 {margin-top:-30px !important}
	.mt-50 {margin-top:-50px}
	.mt-70 {margin-top:-70px !important}
	.mt-120 {margin-top:-120px !important}
	.mt-200 {margin-top:-200px !important}
	/* margin-top */
	.mt0 {margin-top:0 }
	.mt1 {margin-top:1px !important }
	.mt2 {margin-top:2px !important }
	.mt3 {margin-top:3px !important }
	.mt4 {margin-top:4px !important }
	.mt5 {margin-top:5px !important }
	.mt6 {margin-top:6px !important }
	.mt7 {margin-top:7px !important }
	.mt8 {margin-top:8px !important}
	.mt9 {margin-top:9px !important}
	.mt10 {margin-top:10px !important}
	.mt13 {margin-top:13px !important}
	.mt15 {margin-top:15px !important}
	.mt17 {margin-top:17px !important}
	.mt20 {margin-top:20px !important}
	.mt25 {margin-top:25px !important}
	.mt30 {margin-top:30px !important}
	.mt40 {margin-top:40px !important}
	.mt50 {margin-top:50px !important}
	.mt55 {margin-top:55px !important}
	.mt60 {margin-top:60px !important}
	.mt65 {margin-top:65px !important}
	.mt70 {margin-top:70px !important}
	.mt80 {margin-top:80px !important}
	.mt90 {margin-top:90px !important}
	.mt100 {margin-top:100px !important}
	.mt110 {margin-top:110px !important}
	.mt120 {margin-top:120px !important}
	.mt130 {margin-top:130px !important}
	.mt140 {margin-top:140px !important}
	.mt150 {margin-top:150px !important}
	.mt160 {margin-top:160px !important}
	.mt170 {margin-top:170px !important}
	.mt180 {margin-top:180px !important}
	.mt190 {margin-top:190px !important}
	.mt200 {margin-top:200px !important}
	.mt210 {margin-top:210px !important}
	.mt220 {margin-top:220px !important}
	.mt230 {margin-top:230px !important}
	.mt240 {margin-top:240px !important}
	.mt250 {margin-top:250px !important}
	.mt260 {margin-top:260px !important}
	.mt270 {margin-top:270px !important}
	.mt280 {margin-top:280px !important}
	.mt290 {margin-top:290px !important}
	.mt300 {margin-top:300px !important}
	.mt350 {margin-top:350px !important}
	/* margin-bottom */
	.mb10{margin-bottom:10px !important}
	.mb20{margin-bottom:20px !important}
	.mb30{margin-bottom:30px !important}
	.mb40{margin-bottom:40px !important}
	.mb50{margin-bottom:50px !important}
	.mb60{margin-bottom:60px !important}
	.mb70{margin-bottom:70px !important}
	.mb80{margin-bottom:80px !important}
	.mb90{margin-bottom:90px !important}
	.mb100{margin-bottom:100px !important}
	.mb110{margin-bottom:110px !important}
	.mb120{margin-bottom:120px !important}
	.mb130{margin-bottom:130px !important}
	.mb140{margin-bottom:140px !important}
	.mb150{margin-bottom:150px !important}
	.mb160{margin-bottom:160px !important}
	.mb170{margin-bottom:170px !important}
	.mb180{margin-bottom:180px !important}
	.mb190{margin-bottom:190px !important}
	.mb200{margin-bottom:200px !important}
	.mb300{margin-bottom:300px !important}
	.mb400{margin-bottom:400px !important}
	.mb500{margin-bottom:500px !important}
	/* margin-let */
	.ml5{margin-left:5px !important}
	.ml10{margin-left:10px !important}
	.ml20{margin-left:20px !important}
	.ml30{margin-left:30px !important}
	.ml40{margin-left:40px !important}
	.ml50{margin-left:50px !important}
	.ml60{margin-left:60px !important}
	.ml70{margin-left:70px !important}
	.ml80{margin-left:80px !important}
	.ml90{margin-left:90px !important}
	.ml100{margin-left:100px !important}
	.ml110{margin-left:110px !important}
	.ml120{margin-left:120px !important}
	.ml130{margin-left:130px !important}
	.ml140{margin-left:140px !important}
	.ml150{margin-left:150px !important}
	.ml160{margin-left:160px !important}
	.ml170{margin-left:170px !important}
	.ml180{margin-left:180px !important}
	.ml190{margin-left:190px !important}
	.ml200{margin-left:200px !important}

	/* margin-right */
	.mr5{margin-right:5px !important}
	.mr10{margin-right:10px !important}
	.mr20{margin-right:20px !important}
	.mr30{margin-right:30px !important}
	.mr40{margin-right:40px !important}
	.mr50{margin-right:50px !important}
	.mr60{margin-right:60px !important}
	.mr70{margin-right:70px !important}
	.mr80{margin-right:80px !important}
	.mr90{margin-right:90px !important}
	.mr100{margin-right:100px !important}
	.mr110{margin-right:110px !important}
	.mr120{margin-right:120px !important}
	.mr130{margin-right:130px !important}
	.mr140{margin-right:140px !important}
	.mr150{margin-right:150px !important}
	.mr160{margin-right:160px !important}
	.mr170{margin-right:170px !important}
	.mr180{margin-right:180px !important}
	.mr190{margin-right:190px !important}
	.mr200{margin-right:200px !important}
	/* padding-top */
	.pt10{padding-top:10px !important}
	.pt20{padding-top:20px !important}
	.pt30{padding-top:30px !important}
	.pt40{padding-top:40px !important}
	.pt50{padding-top:50px !important}
	.pt60{padding-top:60px !important}
	.pt70{padding-top:70px !important}
	.pt80{padding-top:80px !important}
	.pt90{padding-top:90px !important}
	.pt100{padding-top:100px !important}
	.pt110{padding-top:110px !important}
	.pt120{padding-top:120px !important}
	.pt130{padding-top:130px !important}
	.pt140{padding-top:140px !important}
	.pt150{padding-top:150px !important}
	.pt160{padding-top:160px !important}
	.pt170{padding-top:170px !important}
	.pt180{padding-top:180px !important}
	.pt190{padding-top:190px !important}
	.pt200{padding-top:200px !important}
	/* padding-bottom */
	.pb10{padding-bottom:10px !important}
	.pb20{padding-bottom:20px !important}
	.pb30{padding-bottom:30px !important}
	.pb40{padding-bottom:40px !important}
	.pb50{padding-bottom:50px !important}
	.pb60{padding-bottom:60px !important}
	.pb70{padding-bottom:70px !important}
	.pb80{padding-bottom:80px !important}
	.pb90{padding-bottom:90px !important}
	.pb100{padding-bottom:100px !important}
	.pb110{padding-bottom:110px !important}
	.pb120{padding-bottom:120px !important}
	.pb130{padding-bottom:130px !important}
	.pb140{padding-bottom:140px !important}
	.pb150{padding-bottom:150px !important}
	.pb160{padding-bottom:160px !important}
	.pb170{padding-bottom:170px !important}
	.pb180{padding-bottom:180px !important}
	.pb190{padding-bottom:190px !important}
	.pb200{padding-bottom:200px !important}


	.pl10{padding-left:10px !important}
	.pl20{padding-left:20px !important}
	.pl30{padding-left:30px !important}
	.pl40{padding-left:40px !important}
	.pl50{padding-left:50px !important}
	.pl60{padding-left:60px !important}
	.pl70{padding-left:70px !important}
	.pl80{padding-left:80px !important}
	.pl90{padding-left:90px !important}
	.pl100{padding-left:100px !important}
	.pl110{padding-left:110px !important}
	.pl120{padding-left:120px !important}
	.pl130{padding-left:130px !important}
	.pl140{padding-left:140px !important}
	.pl150{padding-left:150px !important}
	.pl160{padding-left:160px !important}
	.pl170{padding-left:170px !important}
	.pl180{padding-left:180px !important}
	.pl190{padding-left:190px !important}
	.pl200{padding-left:200px !important}

	.pr10{padding-right:10px !important}
	.pr20{padding-right:20px !important}
	.pr30{padding-right:30px !important}
	.pr40{padding-right:40px !important}
	.pr50{padding-right:50px !important}
	.pr60{padding-right:60px !important}
	.pr70{padding-right:70px !important}
	.pr80{padding-right:80px !important}
	.pr90{padding-right:90px !important}
	.pr100{padding-right:100px !important}
	.pr110{padding-right:110px !important}
	.pr120{padding-right:120px !important}
	.pr130{padding-right:130px !important}
	.pr140{padding-right:140px !important}
	.pr150{padding-right:150px !important}
	.pr160{padding-right:160px !important}
	.pr170{padding-right:170px !important}
	.pr180{padding-right:180px !important}
	.pr190{padding-right:190px !important}
	.pr200{padding-right:200px !important}



	.lh100 {line-height:100%}
	.lh110 {line-height:110%}
	.lh120 {line-height:120%}
	.lh130 {line-height:130%}
	.lh140 {line-height:140%}
	.lh150 {line-height:150%}
	.lh160 {line-height:160%}
	.lh170 {line-height:170%}
	.lh180 {line-height:180%}
	.lh190 {line-height:190%}
	.lh200 {line-height:200%}
	.lh210 {line-height:210%}
	.lh220 {line-height:220%}
	.imgMo{display: none}
}


@media (max-width: 1760px) {
	.f13 {font-size:13px}
	.f14 {font-size:14px}
	.f16 {font-size:16px}
	.f18 {font-size:18px}
	.f20 {font-size:20px}
	/* 폰트사이즈 10% 다운 */
	.f23 {font-size:21px}
	.f27 {font-size:24px}
	.f30 {font-size:27px}
	.f34 {font-size:30px}
	.f36 {font-size:33px}
	.f38 {font-size:34px}
	.f45 {font-size:40px}
	.f47 {font-size:44px}
	.f52 {font-size:46px}
	.f55 {font-size:50px}
	.f60 {font-size:64px}
	.f66 {font-size:60px}
	.f70 {font-size:63px}
	.f80 {font-size:72px}

}


@media (max-width: 1200px) {
	/* 폰트사이즈 20% 다운 */
	.f13 {font-size:12px}
	.f14 {font-size:13px}
	.f16 {font-size:15px}
	.f18 {font-size:15px}
	.f20 {font-size:16px}
	.f23 {font-size:18px}
	.f27 {font-size:22px}
	.f30 {font-size:24px}
	.f34 {font-size:27px}
	.f36 {font-size:28px}
	.f38 {font-size:30px}
	.f45 {font-size:36px}
	.f47 {font-size:38px}
	.f52 {font-size:41px; letter-spacing:-1.5px; }
	.f55 {font-size:44px}
	.f60 {font-size:48px}
	.f66 {font-size:52px}
	.f70 {font-size:56px}
	.f80 {font-size:64px}



	/* padding-top */
	.pt10{padding-top:5px !important}
	.pt20{padding-top:10px !important}
	.pt30{padding-top:15px !important}
	.pt40{padding-top:20px !important}
	.pt50{padding-top:25px !important}
	.pt60{padding-top:30px !important}
	.pt70{padding-top:35px !important}
	.pt80{padding-top:40px !important}
	.pt90{padding-top:45px !important}
	.pt100{padding-top:50px !important}
	.pt110{padding-top:55px !important}
	.pt120{padding-top:60px !important}
	.pt130{padding-top:65px !important}
	.pt140{padding-top:70px !important}
	.pt150{padding-top:75px !important}
	.pt160{padding-top:80px !important}
	.pt170{padding-top:85px !important}
	.pt180{padding-top:90px !important}
	.pt190{padding-top:95px !important}
	.pt200{padding-top:100px !important}
	/* padding-bottom */
	.pb10{padding-bottom:5px !important}
	.pb20{padding-bottom:10px !important}
	.pb30{padding-bottom:15px !important}
	.pb40{padding-bottom:20px !important}
	.pb50{padding-bottom:25px !important}
	.pb60{padding-bottom:30px !important}
	.pb70{padding-bottom:35px !important}
	.pb80{padding-bottom:40px !important}
	.pb90{padding-bottom:45px !important}
	.pb100{padding-bottom:50px !important}
	.pb110{padding-bottom:55px !important}
	.pb120{padding-bottom:60px !important}
	.pb130{padding-bottom:65px !important}
	.pb140{padding-bottom:70px !important}
	.pb150{padding-bottom:75px !important}
	.pb160{padding-bottom:80px !important}
	.pb170{padding-bottom:85px !important}
	.pb180{padding-bottom:90px !important}
	.pb190{padding-bottom:95px !important}
	.pb200{padding-bottom:100px !important}



}



@media (max-width: 992px) {
	/* 폰트사이즈 20% 다운 */
	.f13 {font-size:12px}
	.f14 {font-size:13px}
	.f16 {font-size:15px}
	.f18 {font-size:15px}
	.f20 {font-size:16px}
	.f23 {font-size:18px}
	.f27 {font-size:22px}
	.f30 {font-size:24px}
	.f34 {font-size:27px}
	.f36 {font-size:28px}
	.f38 {font-size:30px}
	/* 폰트사이즈 30% 다운 */
	.f45 {font-size:32px}
	.f47 {font-size:33px}
	.f52 {font-size:37px}
	.f55 {font-size:39px}
	.f60 {font-size:42px}
	.f66 {font-size:46px}
	.f70 {font-size:50px}
	.f80 {font-size:56px}


	.mt-120 {margin-top:0px !important}
	.mt-150 {margin-top:-50px !important}
	.mt-200 {margin-top:-50px !important}
	/* margin-top */
	.mt0 {margin-top:0 !important}
	.mt1 {margin-top:1px !important}
	.mt2 {margin-top:2px !important}
	.mt3 {margin-top:3px !important}
	.mt4 {margin-top:4px !important}
	.mt5 {margin-top:5px !important}
	.mt6 {margin-top:6px !important}
	.mt7 {margin-top:7px !important}
	.mt8 {margin-top:8px !important}
	.mt9 {margin-top:9px !important}
	.mt10 {margin-top:5px !important}
	.mt13 {margin-top:6px !important}
	.mt15 {margin-top:7px !important}
	.mt17 {margin-top:8px !important}
	.mt20 {margin-top:10px !important}
	.mt25 {margin-top:12px !important}
	.mt30 {margin-top:15px !important}
	.mt40 {margin-top:20px !important}
	.mt50 {margin-top:25px !important}
	.mt55 {margin-top:27px !important}
	.mt60 {margin-top:30px !important}
	.mt70 {margin-top:35px !important}
	.mt80 {margin-top:40px !important}
	.mt90 {margin-top:45px !important}
	.mt100 {margin-top:50px !important}
	.mt110 {margin-top:55px !important}
	.mt120 {margin-top:60px !important}
	.mt130 {margin-top:65px !important}
	.mt140 {margin-top:70px !important}
	.mt150 {margin-top:75px !important}
	.mt160 {margin-top:80px !important}
	.mt170 {margin-top:85px !important}
	.mt180 {margin-top:90px !important}
	.mt190 {margin-top:95px !important}
	.mt200 {margin-top:100px !important}
	.mt210 {margin-top:105px !important}
	.mt220 {margin-top:110px !important}
	.mt230 {margin-top:115px !important}
	.mt240 {margin-top:120px !important}
	.mt250 {margin-top:125px !important}
	.mt260 {margin-top:130px !important}
	.mt270 {margin-top:135px !important}
	.mt280 {margin-top:140px !important}
	.mt290 {margin-top:145px !important}
	.mt300 {margin-top:150px !important}
	.mt350{margin-top:150px !important}


	/* margin-top 모바일전용 */
	.mt0m {margin-top:0 !important}
	.mt1m {margin-top:1px !important}
	.mt2m {margin-top:2px !important
	.mt3m {margin-top:3px !important}
	.mt4m {margin-top:4px !important}
	.mt5m {margin-top:5px !important}
	.mt6m {margin-top:6px !important}
	.mt7m {margin-top:7px !important}
	.mt8m {margin-top:8px !important}
	.mt9m {margin-top:9px !important}
	.mt10m {margin-top:10px !important}
	.mt13m {margin-top:13px !important}
	.mt15m {margin-top:15px !important}
	.mt17m {margin-top:17px !important}
	.mt20m {margin-top:20px !important}
	.mt25m {margin-top:25px !important}
	.mt30m {margin-top:30px !important}
	.mt40m {margin-top:40px !important}
	.mt50m {margin-top:50px !important}
	.mt55m {margin-top:55px !important}
	.mt60m {margin-top:60px !important}
	.mt70m{margin-top:70px !important}
	.mt80m {margin-top:80px !important}
	.mt90m {margin-top:90px !important}
	.mt100m {margin-top:100px !important}
	.mt110m {margin-top:110px !important}
	.mt120m {margin-top:120px !important}
	.mt130m {margin-top:130px !important}
	.mt140m {margin-top:140px !important}
	.mt150m {margin-top:150px !important}
	.mt160m {margin-top:160px !important}
	.mt170m {margin-top:170px !important}
	.mt180m {margin-top:180px !important}
	.mt190m {margin-top:190px !important}
	.mt200m {margin-top:200px !important}
	.mt210m {margin-top:210px !important}
	.mt220m {margin-top:220px !important}
	.mt230m {margin-top:230px !important}
	.mt240m {margin-top:240px !important}
	.mt250m {margin-top:250px !important}
	.mt260m {margin-top:260px !important}
	.mt270m {margin-top:270px !important}
	.mt280m {margin-top:280px !important}
	.mt290m {margin-top:290px !important}
	.mt300m {margin-top:300px !important}
	.mt350m {margin-top:350px !important}



	/* margin-bottom */
	.mb10{margin-bottom:5px !important}
	.mb20{margin-bottom:10px !important}
	.mb30{margin-bottom:15px !important}
	.mb40{margin-bottom:20px !important}
	.mb50{margin-bottom:25px !important}
	.mb60{margin-bottom:30px !important}
	.mb70{margin-bottom:35px !important}
	.mb80{margin-bottom:40px !important}
	.mb90{margin-bottom:45px !important}
	.mb100{margin-bottom:50px !important}
	.mb110{margin-bottom:55px !important}
	.mb120{margin-bottom:60px !important}
	.mb130{margin-bottom:65px !important}
	.mb140{margin-bottom:70px !important}
	.mb150{margin-bottom:75px !important}
	.mb160{margin-bottom:80px !important}
	.mb170{margin-bottom:85px !important}
	.mb180{margin-bottom:90px !important}
	.mb190{margin-bottom:95px !important}
	.mb200{margin-bottom:100px !important}
	/* padding-top */
	.pt10{padding-top:5px !important}
	.pt20{padding-top:10px !important}
	.pt30{padding-top:15px !important}
	.pt40{padding-top:20px !important}
	.pt50{padding-top:25px !important}
	.pt60{padding-top:30px !important}
	.pt70{padding-top:35px !important}
	.pt80{padding-top:40px !important}
	.pt90{padding-top:45px !important}
	.pt100{padding-top:50px !important}
	.pt110{padding-top:55px !important}
	.pt120{padding-top:60px !important}
	.pt130{padding-top:65px !important}
	.pt140{padding-top:70px !important}
	.pt150{padding-top:75px !important}
	.pt160{padding-top:80px !important}
	.pt170{padding-top:85px !important}
	.pt180{padding-top:90px !important}
	.pt190{padding-top:95px !important}
	.pt200{padding-top:100px !important}
	/* padding-bottom */
	.pb10{padding-bottom:5px !important}
	.pb20{padding-bottom:10px !important}
	.pb30{padding-bottom:15px !important}
	.pb40{padding-bottom:20px !important}
	.pb50{padding-bottom:25px !important}
	.pb60{padding-bottom:30px !important}
	.pb70{padding-bottom:35px !important}
	.pb80{padding-bottom:40px !important}
	.pb90{padding-bottom:45px !important}
	.pb100{padding-bottom:50px !important}
	.pb110{padding-bottom:55px !important}
	.pb120{padding-bottom:60px !important}
	.pb130{padding-bottom:65px !important}
	.pb140{padding-bottom:70px !important}
	.pb150{padding-bottom:75px !important}
	.pb160{padding-bottom:80px !important}
	.pb170{padding-bottom:85px !important}
	.pb180{padding-bottom:90px !important}
	.pb190{padding-bottom:95px !important}
	.pb200{padding-bottom:100px !important}

}

@media (max-width:768px) {
	/* 폰트사이즈 30% 다운 */
	.f13 {font-size:11px}
	.f14 {font-size:12px}
	.f16 {font-size:13px}
	.f18 {font-size:13px}
	.f20 {font-size:14px}
	/* 폰트사이즈 40% 다운 */
	.f23 {font-size:18px} /* 타이틀 특성*/
	.f27 {font-size:16px}
	.f30 {font-size:18px}
	.f34 {font-size:20px}
	.f36 {font-size:21px}
	.f38 {font-size:22px}
	.f45 {font-size:24px}
	.f47 {font-size:28px}
	.f52 {font-size:31px}
	.f55 {font-size:33px}
	.f60 {font-size:36px}
	.f66 {font-size:40px}
	.f70 {font-size:42px}
	.f80 {font-size:48px}


	/* 모바일전용 : margin-top */
	.mt10m {margin-top:10px !important}
	.mt13m {margin-top:13px !important}
	.mt15m {margin-top:15px !important}
	.mt17m {margin-top:17px !important}
	.mt20m {margin-top:20px !important}
	.mt25m {margin-top:25px !important}
	.mt30m {margin-top:30px !important}
	.mt40m {margin-top:40px !important}
	.mt50m {margin-top:50px !important}
	.mt55m {margin-top:55px !important}
	.mt60m {margin-top:60px !important}
	.mt70m {margin-top:70px !important}
	.mt80m {margin-top:80px !important}
	.mt90m {margin-top:90px !important}
	.mt100m {margin-top:100px !important}
	.mt110m {margin-top:110px !important}
	.mt120m {margin-top:120px !important}
	.mt130m {margin-top:130px !important}
	.mt140m {margin-top:140px !important}
	.mt150m {margin-top:150px !important}

	.mb10m {margin-bottom:10px !important}
	.mb13m {margin-bottom:13px !important}
	.mb15m {margin-bottom:15px !important}
	.mb17m {margin-bottom:17px !important}
	.mb20m {margin-bottom:20px !important}
	.mb25m {margin-bottom:25px !important}
	.mb30m {margin-bottom:30px !important}
	.mb40m {margin-bottom:40px !important}
	.mb50m {margin-bottom:50px !important}
	.mb55m {margin-bottom:55px !important}
	.mb60m {margin-bottom:60px !important}
	.mb70m {margin-bottom:70px !important}
	.mb80m {margin-bottom:80px !important}
	.mb90m {margin-bottom:90px !important}
	.mb100m {margin-bottom:100px !important}
	.mb110m {margin-bottom:110px !important}
	.mb120m {margin-bottom:120px !important}
	.mb130m {margin-bottom:130px !important}
	.mb140m {margin-bottom:140px !important}
	.mb150m {margin-bottom:150px !important}
	 /* sh 추가*/
    .pl100{padding-left:15px !important}
    .pr100{padding-right:15px !important}
}