<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bgIv" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle chef_20_big h800"></div>
			</div>
			<!--
			<div class="slide">
			  <div class="slidetitle sbg01 h800"></div>
			</div>
			-->
		  </div>
		</div>
		<a class="slider_left"><img src="./assets/img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="./assets/img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBox">
		  <div class="card">
				<p class="f38 fw600">수육전골</p>
				<p class="mt30">
					고기, 버섯, 부추를 쌓고 육수 부어 끓이면 수육전골이 뚝딱!
				</p>
				<div class="cardLine mt40">
					<span>Tag</span> #내맘으로 #슉들어온 #수육전골
				</div>
				<ul class="cardInfo mt40">
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_20m.png" alt="20분" /><p class="f16 mt10">조리시간</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_p2.png" alt="" /><p class="f16 mt10">분량</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_s2.png" alt="" /><p class="f16 mt10">난이도</p></li>
				</ul>
			</div>
			<ul class="cardBtn">
				<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10277485" target="_blank">간단요리사 구매하러 가기</a></li>
				<li><a href="#" onclick="javascript:TourUrlCopy(); return false;">레시피 URL 복사하기</a></li>
			</ul>
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b> 구수한 사골육수 500ml(약 1/2팩), 쇠고기 양지 400g, 부추 150g, 팽이버섯 150g</p>
		</div>
	</div><!-- //row -->
	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box">
							<p class="f28 fw600 mt30">레시피 관련제품</p>
							<div class="product-Box-img mt20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_03.jpg" alt="제품"/></p>
								<p class="f20 fw400  mt30">간단요리사 구수한 사골육수 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10277485" target="_blank"><p class="f16 fw600 btnType01 mt10">구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<script>
			$(document).ready(function(){
				$( '.sidebar_right' ).fixedsticky();
			});
			</script>
		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					
					<p class="f28 fw600 mt30">레시피 영상</p>
					<div class="mt20">
						<iframe width="100%" height="424" src="https://www.youtube.com/embed/Kp11yhBEBIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30">
						 <p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_20_01.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 01</p>
						<p class="f20 fw500 mt20">핏물을 제거한 쇠고기 양지를 끓는 물에 삶아 준 다음 얇게 편으로 썰어 준비해 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_20_02.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 02</p>
						<p class="f20 fw500 mt20">팽이버섯은 밑동을 잘라 주시고 부추는 먹기 좋은 크기로 잘라 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_20_03.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 03</p>
						<p class="f20 fw500 mt20">냄비에 부추와 팽이버섯을 돌려 담고 준비해둔 고기를 올려 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_20_04.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 04</p>
						<p class="f20 fw500 mt20">구수한 사골육수를 부어 주고 부추와 팽이버섯이 익을 때까지 끓여 주시면 수육전골이 완성됩니다.</p>
					</div>
					<!--<div class="recipe_content mt70 bgGray  material">
						<p class="f20 fw500"><b>[Tip]</b><br>기호에 따라 참기름, 참깨, 겨자 등을 곁들여 드세요.<br>더욱 시원하게 드시려면 채소육수를 3~5시간 미리 냉동실에 넣어 주세요.</p>
					</div>-->

				</div>
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
		<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
	</div>
	<!-- //제품상세 -->
</div><!-- // container -->

<!-- //container -->

<!-- ================================ 
		// Content
================================ -->

</html>