<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bgIv" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle chef_09_big h800"></div>
			</div>
			<!--
			<div class="slide">
			  <div class="slidetitle sbg01 h800"></div>
			</div>
			-->
		  </div>
		</div>
		<a class="slider_left"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBox">
		  <div class="card">
				<p class="f38 fw600">밀푀유나베</p>
				<p class="mt30">
					배추와 고기를 차곡차곡 쌓아 육수 붓고 끓이면 밀푀유나베 완성!
				</p>
				<div class="cardLine mt40">
					<span>Tag</span> #사실 #정말쉬운 #밀푀유나베
				</div>
				<ul class="cardInfo mt40">
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_15m.png" alt="15분" /><p class="f16 mt10">조리시간</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_p2-3.png" alt="2~3인분" /><p class="f16 mt10">분량</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_s1.png" alt="" /><p class="f16 mt10">난이도</p></li>
				</ul>
			</div>
			<ul class="cardBtn">
				<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10275397&category_code=20000301" target="_blank">간단요리사 구매하러 가기</a></li>
				<li><a href="#" onclick="javascript:TourUrlCopy(); return false;">레시피 URL 복사하기</a></li>
			</ul>
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->




<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b> 담백한 채소육수 950ml(1팩), 샤브샤브용 쇠고기 200g, 알배추 1개, 깻잎 100g, 숙주 200g, 청경채 100g, 팽이버섯 50g, 표고버섯 2개</p>
		</div>
	</div><!-- //row -->



	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box">
							<p class="f28 fw600 mt30">레시피 관련제품</p>
							<div class="product-Box-img mt20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_01.jpg" alt="제품"/></p>
								<p class="f20 fw400  mt30">간단요리사 담백한 채소육수 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10275397&category_code=20000301" target="_blank"><p class="f16 fw600 btnType01 mt10">구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<script>
			$(document).ready(function(){
				$( '.sidebar_right' ).fixedsticky();
			});
			</script>



		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					
					<p class="f28 fw600 mt30">레시피 영상</p>
					<div class="mt20">
						<iframe width="100%" height="424" src="https://www.youtube.com/embed/UiOu_F9CvJ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_09_01.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 01</p>
						<p class="f20 fw500 mt20">배추, 깻잎, 고기 순으로 차곡차곡 쌓은 다음 냄비 높이에 맞춰서 잘라 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_09_02.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 02</p>
						<p class="f20 fw500 mt20">냄비 바닥에 숙주나물을 깔아준 후, 바깥부터 준비해둔 재료를 결이 보이도록 겹겹이 담아 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_09_03.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 03</p>
						<p class="f20 fw500 mt20">냄비 가운데에 청경채와 버섯을 채워 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_09_04.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 04</p>
						<p class="f20 fw500 mt20">담백한 채소육수를 붓고 고기가 익을때 까지 끓여주시면 됩니다.</p>
					</div>
					<div class="recipe_content mt70 bgGray  material">
						<p class="f20 fw500"><b>[Tip]</b><br>취향에 맞게 폰즈 소스 등과 곁들여 드시면 좋습니다.</p>
					</div>
				</div>
				
				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
		<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
	</div>
	<!-- //제품상세 -->

</div><!-- // container -->

<!-- //container -->

<!-- ================================ 
		// Content
================================ -->

</html>