<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bgIv" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle chef_15_big h800"></div>
			</div>
			<!--
			<div class="slide">
			  <div class="slidetitle sbg01 h800"></div>
			</div>
			-->
		  </div>
		</div>
		<a class="slider_left"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBox">
		  <div class="card">
				<p class="f38 fw600">사골 리조또</p>
				<p class="mt30">
					한식과 양식의 만남, 사골리조또!
				</p>
				<div class="cardLine mt40">
					<span>Tag</span> #또또또 #먹고싶은 #사골리조또
				</div>
				<ul class="cardInfo mt40">
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_20m.png" alt="20분" /><p class="f16 mt10">조리시간</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_p1.png" alt="" /><p class="f16 mt10">분량</p></li>
					<li><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_s1.png" alt="" /><p class="f16 mt10">난이도</p></li>
				</ul>
			</div>
			<ul class="cardBtn">
				<li><a href="https://www.edaymall.com/display/goods.do?goods_code=10277485" target="_blank">간단요리사 구매하러 가기</a></li>
				<li><a href="#" onclick="javascript:TourUrlCopy(); return false;">레시피 URL 복사하기</a></li>
			</ul>
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->




<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b> 구수한 사골육수 300ml(약 1/3팩), 밥 150g, 베이컨 30g, 양송이 1개, 양파 1/4개(50g), 마늘 1쪽, 파마산 치즈가루 1큰술, 올리브유 1큰술, 후추 약간</p>
		</div>
	</div><!-- //row -->



	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box">
							<p class="f28 fw600 mt30">레시피 관련제품</p>
							<div class="product-Box-img mt20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_03.jpg" alt="제품"/></p>
								<p class="f20 fw400  mt30">간단요리사 구수한 사골육수 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10277485" target="_blank"><p class="f16 fw600 btnType01 mt10">구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<script>
			$(document).ready(function(){
				$( '.sidebar_right' ).fixedsticky();
			});
			</script>



		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					
					<p class="f28 fw600 mt30">레시피 영상</p>
					<div class="mt20">
						<iframe width="100%" height="424" src="https://www.youtube.com/embed/l37C-ANGEhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30">
						 <p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_15_01.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 01</p>
						<p class="f20 fw500 mt20">마늘은 편으로, 양송이와 양파는 채 썰어 주시고 베이컨은 먹기 좋은 크기로 잘라주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_15_02.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 02</p>
						<p class="f20 fw500 mt20">올리브유 두른 팬에 마늘, 양파, 양송이, 베이컨을 넣고 볶아 주세요.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_15_03.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 03</p>
						<p class="f20 fw500 mt20">양파가 약간 투명해지면 밥을 넣고 볶다가 구수한 사골육수를 부어 주고 밥이 퍼질 때까지 끓여 줍니다.</p>
					</div>
					<div class="recipe_content mt70">
						<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/chef/chef_15_04.jpg" alt="레시피이미지"/></p>
						<p class="btnType02 f22 mt30">Step 04</p>
						<p class="f20 fw500 mt20">그릇에 덜어 파마산 치즈가루와 후추를 뿌려 주면 사골 리조또 완성입니다.</p>
					</div>
					<!--<div class="recipe_content mt70 bgGray  material">
						<p class="f20 fw500"><b>[Tip]</b><br>기호에 따라 참기름, 참깨, 겨자 등을 곁들여 드세요.<br>더욱 시원하게 드시려면 채소육수를 3~5시간 미리 냉동실에 넣어 주세요.</p>
					</div>-->

				</div>
				
				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
		<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
	</div>
	<!-- //제품상세 -->
</div><!-- // container -->

<!-- //container -->

<!-- ================================ 
		// Content
================================ -->
</html>