<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bg_wave04" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle recipe_14_big  h800"></div>
			</div>
			
		  </div>
		</div>
		<a class="slider_left"><img src="./img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="./img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBoxRound">
		  <div class="cardRound">
				<p class="f35 fw600 box_shadow">명란 리조또</p>
				<p class="mt20 f22 lh150 gray">
					고소한 콩국물로 만든 감칠맛 나는 명란의 조합
				</p>
				<ul class="cradTime mt30">
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_time.png" alt="시간" /> 조리시간</p>
						<p class="f32 fw600 gray">15분</p>
					</li>
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_food.png" alt="분량" /> 분량</p>
						<p class="f32 fw600 gray">2인분</p>
					</li>
				</ul>
				<ul class="cardBtnRound mt30">
					<li><a href="javascript:void(0)" onclick="TourUrlCopy(); return false;" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_copy.png" alt="공유" /></a></li>
					<li class="btn_orange"><a href="https://www.edaymall.com/display/goods.do?goods_code=10259951" target="_blank">제품 구매하기</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->

<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b> 진한 콩국물 400ml, 명란젓 1개, 밥 2인분, 팽이버섯 1/2봉, 양파 1/2개, 마늘 5알, 파마산 치즈가루 적당량, 후추 약간, 깻잎 1장, 파가루 조금</p>
            <!--<p class="f20 fw500 mt10m"><b>[양념김치]</b> 신김치 1컵, 송송 썬 대파 1T, 다진 마늘 1t, 설탕 2T, 2배 식초 1T, 고춧가루 3t, 참기름 2T, 통깨 적당량</p>-->
		</div>
	</div><!-- //row -->
	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine2">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box ">
							<p class="f28 fw600 mt50">레시피 관련제품</p>
							<div class="product-Box-img mt20 radius20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_04.jpg" alt="진한 콩국물"/></p>
								<p class="f20 fw400  mt30">진한 콩국물 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10259951"><p class="f16 fw600 btnType05 mt30">제품 구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					<p class="f28 fw600 mt50">레시피 영상</p>
					<div class="mt20 recipe-youBox">
						<iframe width="100%"  src="https://www.youtube.com/embed/y6fZEZD_kr0?si=4lbMgRrnM8FYTnSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30 ">
						<ul class="recipe_half">
							<li class="h310  recipe_14_01 "></li>
							<li>
								<p class="btnType04 f18">Step 01</p>
								<p class="f20 fw500 mt20">마늘은 편을 썰어주시고 양파, 팽이버섯도 적당한 크기로 썰어주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_02 "></li>
							<li>
								<p class="btnType04 f18">Step 02</p>
								<p class="f20 fw500 mt20">명란은 가운데 칼집을 내서 숟가락을 이용해 안쪽에 있는 알만 긁어내 주시고</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_03 "></li>
							<li>
								<p class="btnType04 f18">Step 03</p>
								<p class="f20 fw500 mt20">팬에 기름을 적당량 두르고 마늘과 양파를 먼저 볶아주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_04 "></li>
							<li>
								<p class="btnType04 f18">Step 04</p>
								<p class="f20 fw500 mt20">양파가 익으면 팽이버섯도 넣고 볶아주시면 됩니다./p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_05 "></li>
							<li>
								<p class="btnType04 f18">Step 05</p>
								<p class="f20 fw500 mt20">콩국물 400ml를 넣고 보글보글 끓기 시작하면 명란을 넣고 섞어주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_06 "></li>
							<li>
								<p class="btnType04 f18">Step 06</p>
								<p class="f20 fw500 mt20">밥 2인분을 넣고 밥알이 부드럽게 퍼질 때까지 섞다가</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_07 "></li>
							<li>
								<p class="btnType04 f18">Step 07</p>
								<p class="f20 fw500 mt20">후추와 파마산 치즈가루를 넣고 간을 맞춰주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_08 "></li>
							<li>
								<p class="btnType04 f18">Step 08</p>
								<p class="f20 fw500 mt20">이제 그릇에 담고 깻잎을 채 썰어 올리고 파가루도 살짝 뿌려주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_14_09 "></li>
							<li>
								<p class="btnType04 f18">Step 09</p>
								<p class="f20 fw500 mt20">맛있는 콩국물 명란 리조또가 완성 됩니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="topBox">
						<p class="f15 fw500"><b>[Tip]</b><br>명란의 짭조름한 맛과 콩국물의 구수한 맛이 더해져 맛있게 먹었던 리조또 </p>
					</div>
				</div>
				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
	</div>
	<!-- //제품상세 -->
</div><!-- // container -->

<!-- ================================ 
		// Content
================================ -->
</html>