<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="description" content="정식품 간단요리사에서 빠른요리 정보와 유용한 컨텐츠를 만나 보세요">
<meta name="Keywords" content="간단요리사, 요리용 육수, 간단해지는 요리, 고민없이, 물없이, 실패없이, 시원한 채소육수, 담백한 채소육수, 냉요리용" />
<meta property="og:title" content="정식품 간단요리사"> 
<meta property="og:url" content="https://www.vegemil.co.kr/beanSoup/"> 
<meta property="og:image" content="https://image.edaymall.com/images/vegemil/beansoup/img/og02.jpg" /> 
<meta property="og:description" content="간단요리사는 소비자의 건강을 최우선으로 하는 정식품의 새로운 브랜드입니다. 누구나 간단요리사와 함께 간단하고 맛있는 요리를 경험해 보세요."/> 
<meta name="author" content="OSSE">
<title>정식품 간단요리사</title>
<link href="./common/css/reset.css" rel="stylesheet">
<!-- 추천렛피 -->
<link rel='stylesheet' href='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.css'>
<!-- 리뷰슬라이드 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link href="./common/css/review.css" rel="stylesheet">
<!-- //리뷰슬라이드 -->
<script src="./common/js/jquery.1.11.1.min.js"></script>
<script src="./common/js/jquery.touchSwipe.1.6.min.js"></script>
<script src="./common/js/prrple.slider.js"></script>
<script src="./common/js/design.js"></script>



<!-- Bootstrap core CSS -->
<link href="./common/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="./common/css/style.css" rel="stylesheet">


</head>
<body>
<!-- ================================ 
		Header
================================ -->
<header>
<!-- 모바일 메뉴 -->

<!-- //모바일 메뉴 -->
</header>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'header' ).load( './mainHeader.html' );
  } );
  //주소복사
 function TourUrlCopy() {
    
    var isIE = false;
    var agent = navigator.userAgent.toLowerCase();
    if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
	    isIE = true;
    }

    if(isIE){
    if(confirm("이 글의 주소를 클립보드에 복사하시겠습니까?"))
        window.clipboardData.setData("Text",document.location.href);
    }else{
        temp = prompt("Ctrl+C를 눌러 주소를 클립보드로 복사하세요.",document.location.href);
    }
 }  
</script>
<!-- ================================ 
		// Header
================================ -->

<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bg_wave04" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle recipe_49_big  h800"></div>
			</div>
			
		  </div>
		</div>
		<a class="slider_left"><img src="./img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="./img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBoxRound">
		  <div class="cardRound">
				<p class="f35 fw600 box_shadow">우무콩국</p>
				<p class="mt20 f22 lh150 gray">
					든든한 콩국물과 탱탱한 우무묵의 조화
				</p>
				<ul class="cradTime mt30">
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_time.png" alt="시간" /> 조리시간</p>
						<p class="f32 fw600 gray">5분</p>
					</li>
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_food.png" alt="분량" /> 분량</p>
						<p class="f32 fw600 gray">1인분</p>
					</li>
				</ul>
				<ul>

				<ul class="cardBtnRound mt30">
					<li><a href="" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_copy.png" alt="공유" /></a></li>
					<li class="btn_orange"><a href="https://edaymall.com/product/detail.html?product_no=42950&cate_no=114&display_group=1" target="_blank">제품 구매하기</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->




<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b>   특등급 국산콩 콩국물 1/3팩(300mL), 우무묵 100g, 오이 1/4개(50g), 소금, 설탕 약간</p>
			<!--
			<p class="f20 fw500 mt10m"><b>[양념재료]</b> 국간장 2큰술, 다진마늘 0.5큰술, 소금 0.5큰술, 후춧가루 약간, 썬 대파 약간</p>
			-->
		</div>
	</div><!-- //row -->



	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine2">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box ">
							<p class="f28 fw600 mt50">레시피 관련제품</p>
							<div class="product-Box-img mt20 radius20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_06.jpg" alt="특등급 국산콩 콩국물 950ml"/></p>
								<p class="f20 fw400  mt30">특등급 국산콩 콩국물 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10259951"><p class="f16 fw600 btnType05 mt30">제품 구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<script>
			$(document).ready(function(){
				$( '.sidebar_right' ).fixedsticky();
			});
			</script>



		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					<p class="f28 fw600 mt50">레시피 영상</p>
					<div class="mt20 recipe-youBox">
						<iframe width="100%" src="https://www.youtube.com/embed/957NRhmg5U4?si=8z6j25jVp6Ta5K0X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30 ">
						<ul class="recipe_half">
							<li class="h310  recipe_49_01 "></li>
							<li>
								<p class="btnType04 f18">Step 01</p>
								<p class="f20 fw500 mt20">우무묵은 찬물에 헹군 후, 채 썰어 준비해 주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_49_02 "></li>
							<li>
								<p class="btnType04 f18">Step 02</p>
								<p class="f20 fw500 mt20">오이도 채 썰어 준비해 주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_49_03 "></li>
							<li>
								<p class="btnType04 f18">Step 03</p>
								<p class="f20 fw500 mt20">그릇에 채 썬 우무묵을 넣고 준비한 차가운 콩국물을 부어 주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_49_04 "></li>
							<li>
								<p class="btnType04 f18">Step 04</p>
								<p class="f20 fw500 mt20">채 썬 오이를 고명으로 올리고 취향껏 소금과 설탕을 더해 드셔 보세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>


				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
		<script src='https://cdn.rawgit.com/filamentgroup/fixed-sticky/master/fixedsticky.js'></script>
	</div>
	<!-- //제품상세 -->






	
</div><!-- // container -->
<div class="container mt130 detailLine2">
	<div class="row recommend">
		<div class="col-lg-12 mb30 mt50">
			<p class="f28 fw600 ">이런 레시피는 어떠세요?</p>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="thumbBox">
				<a href="#">
					<div class="chef_03_big h220 round">
					<ul class="labelBox">
						<li class="new"><span>NEW</span></li>
						<li class="hit"><span>HIT</span></li>
					</ul>
					</div>
					<div class="recipeTxt_white">
						<p class="f16 gray">#집밥  #한식 #국요리</p>
						<p class="f22 fw600 mt10">대파육계장</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="thumbBox">
				<a href="#">
					<div class="chef_04_big h220 round">
					<ul class="labelBox">
						<li class="new"><span>NEW</span></li>
						<li class="hit"><span>HIT</span></li>
					</ul>
					</div>
					<div class="recipeTxt_white">
						<p class="f16 gray">#김치  #면요리 #간단요리</p>
						<p class="f22 fw600 mt10">동치미국수</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="thumbBox">
				<a href="#">
					<div class="chef_05_big h220 round">
					<ul class="labelBox">
						<li class="new"><span>NEW</span></li>
						<li class="hit"><span>HIT</span></li>
					</ul>
					</div>
					<div class="recipeTxt_white">
						<p class="f16 gray">#두부  #단백질  #전골 </p>
						<p class="f22 fw600 mt10">두부버섯전골</p>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-6">
			<div class="thumbBox">
				<a href="#">
					<div class="chef_07_big h220 round">
					<ul class="labelBox">
						<li class="new"><span>NEW</span></li>
						<li class="hit"><span>HIT</span></li>
					</ul>
					</div>
					<div class="recipeTxt_white">
						<p class="f16 gray">#한식  #건강식</p>
						<p class="f22 fw600 mt10">묵사발</p>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>
	

<!-- //container -->




<!-- ================================ 
		// Content
================================ -->


<!-- ================================ 
		Footer
================================ -->
<footer class="container100" >
	
</footer>
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( 'footer' ).load( './mainFooter.html' );
  } );
</script>
<!-- ================================ 
		// Footer
================================ -->


</body>
</html>