<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ================================ 
		Content
================================ -->

<!-- main Visual Slide -->
<div class="container100 bg_wave04" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle recipe_36_big  h800"></div>
			</div>
			
		  </div>
		</div>
		<a class="slider_left"><img src="./img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="./img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBoxRound">
		  <div class="cardRound">
				<p class="f35 fw600 box_shadow">츄러스</p>
				<p class="mt20 f22 lh150 gray">
					아이들 간식으로 딱 좋은 바삭한 건강 간식
				</p>
				<ul class="cradTime mt30">
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_time.png" alt="시간" /> 조리시간</p>
						<p class="f32 fw600 gray">60분</p>
					</li>
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_food.png" alt="분량" /> 분량</p>
						<p class="f32 fw600 gray">2인분</p>
					</li>
				</ul>
				<ul class="cardBtnRound mt30">
					<li><a href="javascript:void(0)" onclick="TourUrlCopy(); return false;" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_copy.png" alt="공유" /></a></li>
					<li class="btn_orange"><a href="https://www.edaymall.com/display/goods.do?goods_code=10259951" target="_blank">제품 구매하기</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b>  진한 콩국물 130g, 중력분 80g , 버터 20g , 소금 1/4t , 계란 20g , 카놀라유 400g~ 500g, 설탕 30g, 시나몬파우더 1g</p>
			<!--
			<p class="f20 fw500 mt10m"><b>[양념재료]</b> 국간장 2큰술, 다진마늘 0.5큰술, 소금 0.5큰술, 후춧가루 약간, 썬 대파 약간</p>
			-->
		</div>
	</div><!-- //row -->
	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine2">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box ">
							<p class="f28 fw600 mt50">레시피 관련제품</p>
							<div class="product-Box-img mt20 radius20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_04.jpg" alt="진한 콩국물"/></p>
								<p class="f20 fw400  mt30">진한 콩국물 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10259951"><p class="f16 fw600 btnType05 mt30">제품 구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					<p class="f28 fw600 mt50">레시피 영상</p>
					<div class="mt20 recipe-youBox">
						<iframe width="100%"  src="https://www.youtube.com/embed/F1JRGnYNLZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30 ">
						<ul class="recipe_half">
							<li class="h310  recipe_36_01 "></li>
							<li>
								<p class="btnType04 f18">Step 01</p>
								<p class="f20 fw500 mt20">츄러스를 만들기 위해 재료들을 계량해 준비하시고</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_02 "></li>
							<li>
								<p class="btnType04 f18">Step 02</p>
								<p class="f20 fw500 mt20">대추와 잣, 들깨가루, 진한 콩국물 2컵을 넣고 잘 갈아주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_03 "></li>
							<li>
								<p class="btnType04 f18">Step 03</p>
								<p class="f20 fw500 mt20">소금 1/4t를 넣고 끓이시면서 버터도 함께 넣어 녹여주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_04 "></li>
							<li>
								<p class="btnType04 f18">Step 04</p>
								<p class="f20 fw500 mt20">소금과 버터를 넣은 콩국물이 끓으면 타지 않게 약불로 호화 시켜주시고</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_05 "></li>
							<li>
								<p class="btnType04 f18">Step 05</p>
								<p class="f20 fw500 mt20">호화 시킨 반죽은 살짝 식힌 뒤 미리 풀어둔 계란을 넣어</p>
							</li>
						</ul>
						<div class="clear"></div>
						<div class="recipe_tip">
						<p class="btnType06 f16">TIP</p>가계란이 익지 않게 호화 시킨 반죽은 식혀서 사용해주세요.
					</div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_06 "></li>
							<li>
								<p class="btnType04 f18">Step 06</p>
								<p class="f20 fw500 mt20">되기의 정도를 조절해주시면서 반죽을 만들어줍니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_07 "></li>
							<li>
								<p class="btnType04 f18">Step 07</p>
								<p class="f20 fw500 mt20">이제 짤주머니에 담아둔 반죽을 180도의 끓는 기름에</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_08 "></li>
							<li>
								<p class="btnType04 f18">Step 08</p>
								<p class="f20 fw500 mt20">막대모양으로 짜내면서 노릇노릇 튀겨주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
						<div class="recipe_tip">
						<p class="btnType06 f16">TIP</p>별깍지를 낀 짤주머니를 사용하시면 모양이 잘 나옵니다.
					</div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_09 "></li>
							<li>
								<p class="btnType04 f18">Step 09</p>
								<p class="f20 fw500 mt20">2-3분 정도 튀겨낸 츄러스를 건져내서 기름을 살짝 빼주시고</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_36_10 "></li>
							<li>
								<p class="btnType04 f18">Step 10</p>
								<p class="f20 fw500 mt20">설탕과 시나몬가루를 섞은 후 튀겨낸 츄러스에 골고루 묻혀주시면 츄러스가 완성 됩니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<!-- 수정한 코드 -->
					<div class="topBox">
						<p class="f15 fw500"><b>[Tip]</b><br>튀김유는 반죽이 충분히 잠길 수 있도록 넉넉하게 사용해주세요. 짤주머니에 반죽은 짜기 쉽게 2~3번에 나누어 담는 것이 좋습니다.</p>
					</div>
					<!-- 수정 전 코드 -->
					<!-- <p class="topBox">[Tip]<br>기호에 따라 대파, 후추, 지단 등을 더해 드셔도 좋습니다. </p> -->
				</div>
				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
	</div>
	<!-- //제품상세 -->
</div><!-- // container -->

<!-- ================================ 
		// Content
================================ -->
</html>