<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ================================ 
		Content
================================ -->
<!-- main Visual Slide -->
<div class="container100 bg_wave04" >
	<div class="container" id="slider0">
	  <div class="slider">
		<div class="slider_area">
		  <div class="slides ">
			<div class="slide">
			  <div class="slidetitle recipe_03_big  h800"></div>
			</div>
			
		  </div>
		</div>
		<a class="slider_left"><img src="./img/btn_ppl_left.png" alt="왼쪽" /></a>
		<a class="slider_right"><img src="./img/btn_ppl_right.png" alt="오른족" /></a>
	  </div>
	  <div class="cardBoxRound">
		  <div class="cardRound">
				<p class="f35 fw600 box_shadow">버섯 들깨찜</p>
				<p class="mt20 f22 lh150 gray">
					육수 필요없이 고소하고 담백하게
				</p>
				<ul class="cradTime mt30">
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_time.png" alt="시간" /> 조리시간</p>
						<p class="f32 fw600 gray">30분</p>
					</li>
					<li>
						<p class="f18 fw500"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_food.png" alt="분량" /> 분량</p>
						<p class="f32 fw600 gray">4인분</p>
					</li>
				</ul>
				<ul class="cardBtnRound mt30">
					<li><a href="javascript:void(0)" onclick="TourUrlCopy(); return false;" ><img src="https://image.edaymall.com/images/vegemil/beansoup/img/ico_copy.png" alt="공유" /></a></li>
					<li class="btn_orange"><a href="https://www.edaymall.com/display/goods.do?goods_code=10259951" target="_blank">제품 구매하기</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>	
</div>
<!-- // main Visual Slide -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 tcenter mt100">
			<p class="f28 fw600 center mt50m">재료</p>
		</div>
		<div class="col-lg-12 col-sm-12 bgGray material" >
			<p class="f20 fw500"><b>[재료]</b> 새송이버섯 200g ,표고버섯 100g ,느타리 버섯 180g ,팽이버섯 150g, 대파 60g ,양파 1개 ,홍고추 1~2개 ,참나물 20g ,콩국물 950ml , 국간장 3T ,들깨가루 65g ,들기름 3T</p>
			<!--
			<p class="f20 fw500 mt10m"><b>[양념재료]</b> 국간장 2큰술, 다진마늘 0.5큰술, 소금 0.5큰술, 후춧가루 약간, 썬 대파 약간</p>
			-->
		</div>
	</div><!-- //row -->
	<!-- 제품상세 -->
	<div class="row mt100 ">
		<section class="candy-wrapper detailLine2">
			<aside class="sidebar_right fixedsticky">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-Box ">
							<p class="f28 fw600 mt50">레시피 관련제품</p>
							<div class="product-Box-img mt20 radius20">
								<p><img src="https://image.edaymall.com/images/vegemil/beansoup/img/pd_04.jpg" alt="진한 콩국물"/></p>
								<p class="f20 fw400  mt30">진한 콩국물 950ml</p>
								<a href="https://www.edaymall.com/display/goods.do?goods_code=10259951"><p class="f16 fw600 btnType05 mt30">제품 구매하기</p></a>
							</div>
						</div>
					</div>
				</div>
			</aside>
		  <article class="main_left" >
			<div class="row">
				<div class="col-lg-12">
					<p class="f28 fw600 mt50">레시피 영상</p>
					<div class="mt20 recipe-youBox">
						<iframe width="100%"  src="https://www.youtube.com/embed/c5rTL-oKsl8?si=UNuoyHG9sC8B6B0d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="f28 fw600 mt70">조리순서</p>
					<div class="recipe_content mt30 ">
						<ul class="recipe_half">
							<li class="h310  recipe_03_01 "></li>
							<li>
								<p class="btnType04 f18">Step 01</p>
								<p class="f20 fw500 mt20">버섯은 한 가지만 종류별로 섞어 사용해도 좋습니다. 콩물도 반반 섞어 사용해도 좋아요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_02 "></li>
							<li>
								<p class="btnType04 f18">Step 02</p>
								<p class="f20 fw500 mt20">새송이 버섯은 이등분해서 너무 두껍지 않게 썰어 주세요. 표고버섯은 밑둥을 떼어내고 채썰어 주세요. 느타리 버섯과 팽이버섯도 밑둥을 자르고 찢어 줍니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_03 "></li>
							<li>
								<p class="btnType04 f18">Step 03</p>
								<p class="f20 fw500 mt20">양파도 적당한 두깨로 채썰어 주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<!--
					<div class="recipe_tip">
						<p class="btnType06 f16">TIP</p>후추 1/2t은 선택이다. 소금을 넣지만 고소함을 원하면 X 되직하면 콩국물 10ml넣으면 된다.
					</div>
-->
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_04 "></li>
							<li>
								<p class="btnType04 f18">Step 04</p>
								<p class="f20 fw500 mt20">대파는 어슷 썰어주세요</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_05 "></li>
							<li>
								<p class="btnType04 f18">Step 05</p>
								<p class="f20 fw500 mt20">홍고추도 가늘게 어슷 썰어주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_06 "></li>
							<li>
								<p class="btnType04 f18">Step 06</p>
								<p class="f20 fw500 mt20">참나물은 잎부분만 떼어서 사용합니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_07 "></li>
							<li>
								<p class="btnType04 f18">Step 07</p>
								<p class="f20 fw500 mt20">들깨가루는 물 1컵에 미리 풀어서 준비해 주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_08 "></li>
							<li>
								<p class="btnType04 f18">Step 08</p>
								<p class="f20 fw500 mt20">진한 콩국물도 잘 흔들어 미리 준비해 둡니다</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_09 "></li>
							<li>
								<p class="btnType04 f18">Step 09</p>
								<p class="f20 fw500 mt20">팬을 달구고 들기름을 둘러 양파를 먼저 볶아줍니다. 양파가 살짝 익었으면 버섯을 넣고 들기름 향이 배이도록 볶아줍니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_10 "></li>
							<li>
								<p class="btnType04 f18">Step 10</p>
								<p class="f20 fw500 mt20">버섯이 부드러워 질때까지 볶아주세요</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_11 "></li>
							<li>
								<p class="btnType04 f18">Step 11</p>
								<p class="f20 fw500 mt20">콩국물을 부어 줍니다.</p>
							</li>
						</ul>
						<div class="clear"></div>
						<div class="recipe_tip">
							<p class="btnType06 f16">TIP</p>눌지 않도록 저어 주면서 계속 끓입니다
						</div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_12 "></li>
							<li>
								<p class="btnType04 f18">Step 12</p>
								<p class="f20 fw500 mt20">국간장으로 간을합니다</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_13 "></li>
							<li>
								<p class="btnType04 f18">Step 13</p>
								<p class="f20 fw500 mt20">바글바글 끓어 오르면 대파 홍고추 넣고 한 번 더 끓이고 물에 풀어 놓은 들깨가루 넣어주세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_14 "></li>
							<li>
								<p class="btnType04 f18">Step 14</p>
								<p class="f20 fw500 mt20">마지막으로 참나물 넣고 마무리하세요.</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="recipe_content">
						<ul class="recipe_half">
							<li class="h310  recipe_03_15 "></li>
							<li>
								<p class="btnType04 f18">Step 15</p>
								<p class="f20 fw500 mt20">고소하고 단백한 영양 만점 콩국물 버섯 들깨찜입니다!</p>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<!-- // 수정한 코드 -->
					<div class="topBox">
						<p class="f15 fw500"><b>[Tip]</b><br>농도는 물로 조절하시고 국물을 넉넉히 잡고 간을 추가해서 탕으로도 충분히 드실 수 있습니다. 검은콩국물로 만드셔도 좋습니다.</p>
					</div>
					<!-- // 수정 전 코드 -->
					<!-- <p class="topBox">[Tip]<br>기호에 따라 대파, 후추, 지단 등을 더해 드셔도 좋습니다. </p> -->
				</div>
				
			</div>
			
		  </article><!-- Leave No Space 
		  -->
		</section>
		<div style=" border:1"><br><br><br></div>
	</div>
	<!-- //제품상세 -->
</div><!-- // container -->
</html>