<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="subMenu" th:fragment="companySubMenuFragment">
	<p class="btnSubLeft"><a href=""><img th:src="@{/img/ico/ico_grayLeft.png}" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
	<ul class="submenuUL">
		<li class="f18 fw500"><a href="/company/greetings"><span>대표이사 인사말</span></a></li>
		<li class="f18 fw500"><a href="/company/profile"><span>프로필</span></a></li>
		<li class="f18 fw500"><a href="/company/history"><span>연혁</span></a></li>
		<li class="f18 fw500"><a href="/company/nnp"><span>관련사</span></a></li>
		<li class="f18 fw500"><a href="/company/finance"><span>공시</span></a></li>
	</ul>
	<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img th:src="@{/img/ico/ico_grayRight.png}" alt="왼쪽"/></a></p>
</div>
</html>	