<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="admin/layout/dataLayout">
	
	<th:block layout:fragment="title">
		<title>그림동시대회</title>
	</th:block>
	
	<th:block layout:fragment="add-css">
		<!-- BEGIN: Page CSS-->
	    <!-- END: Page CSS-->
	</th:block>
	
	<!-- BEGIN: Page Vendor JS-->
	<th:block layout:fragment="add-script">
	    <script th:src="@{/app-assets/admin/beanSoup/paintingPoetCon.js}"></script>
	    <script th:src="@{/app-assets/admin/common/jquery.serializeObject.min.js}"></script>
	    <script th:src="@{/app-assets/admin/common/common.js}"></script>
	    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css}">
		<script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </th:block>
    <!-- END: Page Vendor JS-->
	

	<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
        	<div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">그림동시대회 지원서 관리</h2>                            
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">간단요리사 콘테스트</a>
                                    </li>
                                    <li class="breadcrumb-item active">그림동시대회
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
            	<form id="frm" name="frm" method="POST">
                	<!-- Analytics card section -->
	                <section id="analytics-card">
						<div class="row">
							<!-- 조회 -->
							<div class="col-md-12 col-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">조회</h4>
									</div>
									
									<div class="card-body">
										<div class="row mb-1">
											<div class="col-6">
												<div class="row mt-1">
													<div class="col-md-2 col-3 mt-1">
														부문
													</div>
													<div class="col-md-10 col-6">
			                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
			                                                <input type="radio" class="btn-check" name="section" id="btnradio1-1" value="유치부문"/>
			                                                <label class="btn btn-outline-primary" for="btnradio1-1">유치부문</label>
			
			                                                <input type="radio" class="btn-check" name="section" id="btnradio1-2" value="저학년"/>
			                                                <label class="btn btn-outline-primary" for="btnradio1-2">저학년</label>
			
			                                                <input type="radio" class="btn-check" name="section" id="btnradio1-3" value="고학년"/>
			                                                <label class="btn btn-outline-primary" for="btnradio1-3">고학년</label>

			                                            </div>
													</div>
												</div>
												<div class="row mt-1">
													<div class="col-md-2 col-3 mt-1">
														제철재료
													</div>			
													<div class="col-md-10 col-6">
														<div class="row">
				                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				                                                <input type="radio" class="btn-check" name="material" id="material1-1" value="무"/>
				                                                <label class="btn btn-outline-primary" for="material1-1">무</label>
				
				                                                <input type="radio" class="btn-check" name="material" id="material1-2" value="바지락"/>
				                                                <label class="btn btn-outline-primary" for="material1-2">바지락</label>
				
				                                                <input type="radio" class="btn-check" name="material" id="material1-3" value="봄나물"/>
				                                                <label class="btn btn-outline-primary" for="material1-3">봄나물</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-4" value="주꾸미"/>
				                                                <label class="btn btn-outline-primary" for="material1-4">쭈꾸미</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-5" value="오이"/>
				                                                <label class="btn btn-outline-primary" for="material1-5">오이</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-6" value="토마토"/>
				                                                <label class="btn btn-outline-primary" for="material1-6">토마토</label>			      
				                                            </div>
														</div>
														<div class="row mt-1">
				                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				                                                <input type="radio" class="btn-check" name="material" id="material1-7" value="옥수수"/>
				                                                <label class="btn btn-outline-primary" for="material1-7">옥수수</label>
				
				                                                <input type="radio" class="btn-check" name="material" id="material1-8" value="새우"/>
				                                                <label class="btn btn-outline-primary" for="material1-8">새우</label>
				
				                                                <input type="radio" class="btn-check" name="material" id="material1-9" value="대파"/>
				                                                <label class="btn btn-outline-primary" for="material1-9">대파</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-10" value="배추"/>
				                                                <label class="btn btn-outline-primary" for="material1-10">배추</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-11" value="감자"/>
				                                                <label class="btn btn-outline-primary" for="material1-11">감자</label>
				                                                
				                                                <input type="radio" class="btn-check" name="material" id="material1-12" value="크리스마스"/>
				                                                <label class="btn btn-outline-primary" for="material1-12">크리스마스</label>
	      
				                                            </div>
														</div>
													</div>
												</div>
												<div class="row mt-1">
													<div class="col-md-2 col-3 mt-1">
														상세검색
													</div>
													<div class="col-md-6 col-6">
														<input type="text" id="searchKeyword" class="form-control" name="searchKeyword" placeholder="제목, 내용, 이름에 포함된 단어를 입력하세요" />
													</div>
												</div>
											</div>
											<!-- 차트 -->
											<div class="col-md-3 col-6 ">
												<canvas class="mx-5" id="bar-chart1" width="300" height="230"></canvas>												
											</div>
											<div class="col-md-3 col-3">
												<canvas id="bar-chart2" width="300" height="230"></canvas>												
											</div>
										</div>
										<hr />
										<div class="row">
											 <div class="col-sm-12">
												<button type="button" onclick="javascript:createTable();" class="btn btn-primary me-1">조회</button>
												<button type="reset" class="btn btn-outline-secondary" id="">초기화</button>												
												<!-- <input type="hidden" class="form-control" name="material" id="material" value=""/> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //조회 -->
						
	                    </div>
	                </section>
	                <!--/ Analytics Card section -->
	            </form>
				<form id="form" name="form" method="POST">
					<section id="basic-horizontal-layouts">
						<div class="row" >
							<div class="col-12">
								<div class="card">								
									<div class="table-responsive">
										<table class="datatables-basic table table-bordered text-center f13 paddingType">
											<colgroup>
												<col width="1%">
												<col width="5%"> <!-- 부문 -->
												<col width="6%"> <!-- 키워드 -->
												<col width="5%"> <!-- 보호자 이름 -->
												<col width="5%"> <!-- 참가자 이름 -->
												<col width="5%"> <!-- 연락처 -->
												<col width="20%"><!-- 주소 -->
												<col width="15%"><!-- 인지경로 -->
												<col width="9%"> <!-- 제품사전인지 -->
												<col width="7%"> <!-- 등수 -->
												<col width="8%"> <!--작품보기 -->
											</colgroup>
											<thead>
												<tr>
													<th>No.</th>
													<th>부문</th>
													<th>키워드</th>
													<th>보호자</th>
													<th>참가자</th>
													<th>연락처</th>
													<th>주소</th>
													<th>인지경로</th>
													<th>제품사전인지</th>
													<th>등수</th>
													<th>작품보기</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
	                </section>
	            </form>
            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <form id="prizePost" method="POST">
    	<input type="hidden" id="id" name="id" />
    	<input type="hidden" id="prize" name="prize" />
    	<input type="hidden" id="action" name="action" />
    </form>
    
    </th:block>
    
</html>