<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="admin/layout/dataLayout">
	
	<th:block layout:fragment="title">
		<title>보도자료 수정</title>
	</th:block>

	<th:block layout:fragment="add-css">
		<!-- BEGIN: Page CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/app-ecommerce.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-pickadate.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-wizard.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-toastr.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-number-input.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-quill-editor.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
		<link rel="stylesheet" th:href="@{https://fonts.gstatic.com}">
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap}">
	    <!-- END: Page CSS-->
	</th:block>
    
	<th:block layout:fragment="add-script">
		<!-- BEGIN: Page JS-->
	    <script th:src="@{/app-assets/admin/common/jquery.serializeObject.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
	    <script th:inline="javascript">
	       /*<![CDATA[*/
	    		       
	        function btnSave(){
	    	   const form = document.form;	    	
	    	   const formData = new FormData(form);
	    	   
	    	   if(form.mSubject.value == "") {
	    		   alert('제목을 작성해 주세요.');
	    		   return false;
	    	   }	    	   
	    	   if(form.mDate.value == "") {
	    		   alert('일자를 선택해 주세요.');
	    		   return false;
	    	   }
	    	   
	    	   console.log('form', formData);
               $.ajax({
            	   url: '/admin/manage/publicCenter/mediaNewsAdd',
				   processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
				   contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
				   data: formData,  //위에서 선언한 fromdata
				   type: 'POST'
			   }).done(function(data){
		    	   console.log('form', formData);

	    	       console.log('done', data)
	    	       if(data.result) {
	    	    	   alert('저장되었습니다.');
	    	    	   window.location.href = "/admin/manage/publicCenter/mediaNews";
	    	       }else{
	    	    	   alert('저장에 실패하였습니다.\n잠시 후 다시 시도해주세요.');
	    	       }
	           }).fail(function() {
	        	   console.log('fail')
	           })
				
		   } 
	       /*]]>*/
	    </script>
	    <!-- END: Page JS-->
    </th:block>
    
	<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">보도자료 수정</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">홍보</a>
                                    </li>
                                    <li class="breadcrumb-item active">보도자료 수정
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            
            <div class="content-body" th:object="${mediaNewsDto}">
            	<form name="form" th:action="@{/admin/manage/publicCenter/mediaNewsAdd}" method="POST" class="form-horizontal" role="form">
	               	
					<!-- 보도자료 등록 -->
					<section id="basic-horizontal-layouts">
						<div class="row" >
							<div class="col-12">
								<div class="card">								
									<div class="card-body ">
										<!-- Form -->
	                                    <form action="javascript:;" class="mt-2" onsubmit>
	                                       
	                                        <div class="row">	                                            
	                                            <div class="col-md-1 col-12">제목</div>
	                                            <div class="col-md-5 col-12">
	                                                <input type="text" id="mSubject" name="mSubject" class="form-control" placeholder="제목을 작성해주세요"  th:value="${mediaNewsDto?.mSubject}"/>
	                                                <!-- <input type="hidden" id="mbsContent" name="mbsContent" class="form-control" value="" />
	                                                <input type="hidden" id="mbsIdx" name="mbsIdx" class="form-control" th:value="${babyQna?.mbsIdx}" /> --> 
	                                            </div>
											</div>
											
											<div class="row mt-1">
												<div class="col-md-1 col-12">일자</div>
												<div class="col-md-5 col-12">
												<input type="date" class="form-control" id="mDate" name="mDate" max="2033-01-11" min="2021-01-11" th:value="${mediaNewsDto?.mDate}" >	                                                
												</div>
											</div>
	                                        											
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 01</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname1" name="mAdname1" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname1}"/>
	                                                <input type="text" id="mAduri1" name="mAduri1" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri1}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 02</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname2" name="mAdname2" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname2}"/>
	                                                <input type="text" id="mAduri2" name="mAduri2" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri2}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 03</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname3" name="mAdname3" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname3}"/>
	                                                <input type="text" id="mAduri3" name="mAduri3" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri3}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 04</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname4" name="mAdname4" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname4}" />
	                                                <input type="text" id="mAduri4" name="mAduri4" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri4}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 05</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname5" name="mAdname5" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname5}"/>
	                                                <input type="text" id="mAduri5" name="mAduri5" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri5}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 06</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname6" name="mAdname6" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname6}"/>
	                                                <input type="text" id="mAduri6" name="mAduri6" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri6}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 07</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname7" name="mAdname7" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname7}"/>
	                                                <input type="text" id="mAduri7" name="mAduri7" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri7}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 08</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname8" name="mAdname8" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname8}"/>
	                                                <input type="text" id="mAduri8" name="mAduri8" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri8}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 09</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname9" name="mAdname9" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mAdname9}"/>
	                                                <input type="text" id="mAduri9" name="mAduri9" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mAduri9}"/>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-1 col-12">매체 10</div>
												<div class="col-md-5 col-12" style="display: flex">
	                                                <input type="text" id="mAdname10" name="mAdname10" class="form-control"  placeholder="매체 이름을 작성해주세요" th:value="${mediaNewsDto?.mAdname10}"/>
	                                                <input type="text" id="mAduri10" name="mAduri10" class="form-control"  placeholder="매체 uri를 작성해주세요" th:value="${mediaNewsDto?.mAduri10}"/>
												</div>
											</div>
											
											
	                                    </form>
	                                    <!--/ Form -->
									</div>
									<div class="card center">
										<div class="card-body mb-2">
											<div class="row">
												 <div class="col-sm-12">
													<!-- <button type="button"  class="btn btn-primary me-1">등록</button> -->
													<button type="button" onclick="btnSave();" class="btn btn-primary me-1">등록</button>
													<button type="reset" class="btn btn-outline-secondary">취소</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	                </section>
					<!-- 보도자료 등록 -->
				</form>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    
    </th:block>

</html>