<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="admin/layout/dataLayout">
	
	<th:block layout:fragment="title">
		<title>홍보센터 공모전 동영상</title>
	</th:block>

	<th:block layout:fragment="add-css">
		<!-- BEGIN: Page CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/app-ecommerce.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/pickers/form-pickadate.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-wizard.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/extensions/ext-component-toastr.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-number-input.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-quill-editor.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/katex.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/monokai-sublime.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.snow.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/editors/quill/quill.bubble.css}">
		<link rel="stylesheet" th:href="@{https://fonts.gstatic.com}">
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Roboto+Slab&amp;family=Slabo+27px&amp;family=Sofia&amp;family=Ubuntu+Mono&amp;display=swap}">
	    <!-- END: Page CSS-->
	</th:block>
    
	<th:block layout:fragment="add-script">
		<!-- BEGIN: Page JS-->
	    <script th:src="@{/app-assets/admin/common/jquery.serializeObject.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/katex.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/highlight.min.js}"></script>
	    <script type="text/javascript" th:src="@{/app-assets/vendors/js/editors/quill/quill.min.js}"></script>
	    <script th:inline="javascript">
	       /*<![CDATA[*/
	        function btnSave(){
	        	
        		var checked = $('#tOnair').is(':checked');
        		console.log("checked : " + checked);
        		
		   	    if(checked){
		   	        $('#tOnair').val('1');
		   	    }else{
		   	        $('#tOnair').val('0');
		   	    } 
		   	    
		   	   console.log("tOnair : " +  $('#tOnair').val());
	    	   const form = document.form;	    	
	    	   const formData = new FormData(form);
		   	  	
		   	  console.log("--------------------"+$('#tOnair').val());
	    	  if(form.tSubject.value == "") {
	    		   alert('제목을 작성해 주세요.');
	    		   return false;
	    	   }	    
	    	  
	    	   if(form.tYoutube.value == "") {
	    		   alert('유튜브 영상 url을 입력해 주세요.');
	    		   return false;
	    	   } 
	    	   
	    	   console.log('form', formData);
               $.ajax({
            	   url: '/admin/manage/publicCenter/saveVideoContest',
				   processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
				   contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
				   data: formData,  //위에서 선언한 fromdata
				   type: 'POST'
			   }).done(function(data){
		    	   console.log('form', formData);

	    	       console.log('done', data)
	    	       if(data.result) {
	    	    	   alert('저장되었습니다.');
	    	    	   window.location.href = "/admin/manage/publicCenter/videoContestList";
	    	       }else{
	    	    	   alert('저장에 실패하였습니다.\n잠시 후 다시 시도해주세요.');
	    	       }
	           }).fail(function() {
	        	   console.log('fail')
	           })
		   } 
	       /*]]>*/
	       
	    </script>
	    <!-- END: Page JS-->
    </th:block>
    
	<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">공모전 동영상 수정</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">홍보</a>
                                    </li>
                                    <li class="breadcrumb-item active">공모전 동영상 수정
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            
            <div class="content-body" th:object="${AdminVideoContestDTO}">
            	<form name="form" th:action="@{/admin/manage/publicCenter/saveVideoContest}" method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">
					<!-- 보도자료 등록 -->
					<section id="basic-horizontal-layouts">
						<div class="row" >
							<div class="col-12">
								<div class="card">								
									<div class="card-body ">
										<!-- Form -->
	                                    <form action="javascript:;" class="mt-2" onsubmit>                                 
	                                        <div class="row text-start mt-1">	
	                                        	<div class="col-md-3">
	                                        		<label class="form-check-label pb-2" for="tSubject">제목</label>
													<input type="text" class="form-control" id="tSubject" name="tSubject" placeholder="제목" th:value="${videoContest.tSubject}" />
		                                        </div>  
	                                        	<div class="col-md-3">
	                                        		<label class="form-check-label pb-2" for="tYoutube">Youtube url</label>
												<input type="text" class="form-control" id="tYoutube" name="tYoutube" placeholder="영상url" th:value="${videoContest.tYoutube}"/>
		                                        </div>  
	                                        	<div class="col-md-3">
		                                        	<label class="form-check-label pb-2" for="uploadFile">메인 이미지</label>
													<input type="file" class="form-control" id="uploadFile" name="uploadFile" placeholder="이미지코드" th:value="${videoContest.tYoutubeImg}"/>
		                                        </div>  
		                                        
	                                        	<div class="col-md-1">
		                                        	<label class="form-check-label pb-2" for="active">진열여부</label>
		                                        	
													<div class="form-check form-switch">
														<div th:if="${videoContest.tOnair}=='1'">
															<input type="checkbox" class="form-check-input" id="tOnair" name="tOnair" checked />
														</div>
														<div th:unless="${videoContest.tOnair}=='1'">
															<input type="checkbox" class="form-check-input" name="tOnair" id="tOnair"/>
														</div>
													</div>
												</div>
												<div class="col-md-2">
			                                        <img id="img" width="100%" height="100%" th:src="|https://image.edaymall.com/images/dcf/vegemil/upload/VC/${videoContest.tYoutubeImg}|"/>
	                                        	</div>
											</div>											
	                                    </form> 
	                                    <!--/ Form -->
									<hr/>
									</div>
									<div class="card center">
										<div class="row">
											 <div class="col-sm-12">
											 	<input type="text" id="tIdx" name="tIdx" hidden="hidden" th:value="${videoContest.tIdx}">
											 	<input type="text" id="action" name="action" hidden="hidden" value="U">
												<button type="button" onclick="btnSave();" class="btn btn-primary me-1">수정</button>
												<button type="reset"  onclick="history.back()" class="btn btn-outline-secondary">취소</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	                </section>
					<!-- 보도자료 등록 -->
				</form>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    
    </th:block>

</html>