<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<div id="gnb" th:fragment="headerFragment">
	<script type="text/javascript">
		$(document).ready(function(){
	
		  var theDay = new Date('2023-08-23 08:00:00'); 
		  timeCheck(theDay);
	
		  
		});
		
		function timeCheck(theDay){
			var today = new Date();
			if(today >= theDay){
				 // 제어하고 싶은 코드 그때그떄 변경// 			 
				 $("#seasons").css("display","block");
			}
		}
		
	</script>		
	<div class="gnbBG"></div>
	<div class="logo">
		<a href="/beanSoup"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/logo.png"  alt="로고"></a>
	</div>
	<ul>
		<li style="display:none;" id="seasons"><a href="/beanSoup/season" class="dep01">제철요리</a></li>
		<li><a href="/beanSoup/mall" class="dep01">구매처</a></li>
		<li class="mView">
			<a href="/beanSoup/video" class="dep01">소식</a>
		</li>
		<li class="drop wView ab" id=""><a href="/beanSoup/video" class="dep01">소식</a>
			<ul class="mView" style="display: none;">
				<li><a href="/beanSoup/event">생생후기</a></li>
				<li><a href="/beanSoup/news">뉴스</a></li>
				<li><a href="/beanSoup/video">영상</a></li>
			</ul>
		</li>
		<li><a href="/beanSoup/list" class="dep01 ">간단레시피</a></li>
		<!-- <li><a href="void(0);" onclick="alert('준비중입니다.');return false;"  class="dep01 ">간단 레시피</a></li> -->
		<li class="first"><a href="/beanSoup/brand" class="dep01">브랜드소개</a></li>
	</ul>
	<div class="side-quick-menu">
	  <a href="/beanSoupRecipe/index" class="bean"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/q_bean.png"> 콩국물 브랜드사이트</a>
	  <a href="/" class="dcf"><img src="https://image.edaymall.com/images/vegemil/beansoup/img/q_dcf.png"> 정식품사이트</a>
	</div>
</div>

</html>
