<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.AdminMapper">

	<sql id="memberColumns">
	   m_idx,
	   m_id,
	   m_pwd,
	   m_name,
	   m_year,
	   m_sex,
	   m_hp,
	   m_tel,
	   m_zipcode,
	   m_addr1,
	   m_addr2,
	   m_email,
	   SUBSTRING_INDEX(m_email, '@', 1) as txt_email,
	   SUBSTRING_INDEX(m_email, '@', -1) as sel_email,
	   m_smssend,
	   m_emailsend,
	   m_joindate,
	   m_logincount,
	   m_ip,
	   m_active,
	   m_auth,
	   m_leavedate,
	   m_leavememo,
	   m_cybermonitor,
	   m_stipver,
	   m_last_logindate,
	   m_comp_name,
	   m_bizno,
	   m_type,
	   m_greenbia_pay,
	   m_terms_ok,
	   m_receive_modifydate,
	   m_idle_date,
	   m_recovery_date,
	   m_is_idle,
	   m_dual_yn,
	   m_di
	</sql>

	<insert id="insertAdmin" parameterType="com.vegemil.domain.MemberDTO"  useGeneratedKeys="true" keyProperty="mIdx">
		/* insertAdmin by AdminMapper.xml */
		INSERT INTO m_member (
		   m_id,
		   m_pwd,
		   m_auth,
		   m_name,
		   m_joindate,
		   m_location
		) VALUES (
		   #{mId},
		   #{mPwd},
		   #{mAuth},
		   #{mName},
		   NOW(),
		   #{mLocation}
		)
	</insert>

	<select id="findAdminById" parameterType="string" resultType="com.vegemil.domain.MemberDTO">
		/* findAdminById by AdminMapper.xml */
		SELECT 
			<include refid="memberColumns" />
		  FROM m_member
		 WHERE m_id = #{mId}
		   AND m_active = 1
	</select>

	<update id="updateAdminPwd" parameterType="com.vegemil.domain.MemberDTO">
		/* updateAdminPwd by AdminMapper.xml */
		UPDATE m_member
		SET
			m_pwd = #{mPwd}
		WHERE
			m_id = #{mId}
	</update>

	<select id="selectAdminList" parameterType="com.vegemil.domain.MemberDTO" resultType="com.vegemil.domain.MemberDTO">
	    /* selectAdminList by AdminMapper.xml */
		SELECT
			<include refid="memberColumns" />
		FROM
			m_member
		WHERE
	</select>
	
	<select id="selectAdminCount" parameterType="com.vegemil.domain.MemberDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_member
		WHERE
			m_id = #{mId, jdbcType=VARCHAR}
		AND
		    m_name = #{mName, jdbcType=VARCHAR}
	</select>

	<select id="selectAdminTotalCount" parameterType="com.vegemil.domain.MemberDTO" resultType="int">
		/* selectAdminTotalCount by AdminMapper.xml */
		SELECT
			COUNT(*)
		FROM
			m_member
		WHERE
		<include refid="CommonMapper.search" />
	</select>
	
	<select id="checkMember" parameterType="com.vegemil.domain.MemberDTO" resultType="int">
		/* checkMember by AdminMapper.xml */
		SELECT COUNT(*)
		  FROM m_member
		 WHERE m_id = #{mId, jdbcType=VARCHAR}
	</select>
	
	<update id="activeAdmin" parameterType="com.vegemil.domain.MemberDTO">
		UPDATE m_member
		SET
			 m_active 	  = 1,
			 m_auth		  = 'ADMIN'
		WHERE
			m_id = #{mId, jdbcType=VARCHAR}
	    AND
	        m_name = #{mName, jdbcType=VARCHAR}
	</update>
	
	<update id="updateAgentCount" parameterType="hashMap">
		UPDATE m_user_agent_count
		SET
			<if test="mType == 'mobile'">
				mobile = mobile + 1
			</if>
			<if test="mType == 'pc'">
				pc = pc + 1
			</if>
			<if test="mAgent == 'android'">
				, android = android + 1
			</if>
			<if test="mAgent == 'ios'">
				, ios = ios + 1
			</if>
			<if test="mAgent == 'etc'">
				, etc = etc + 1
			</if>
			<if test="mAgent == 'tablet'">
				, tablet = tablet + 1
			</if>
		WHERE
			date_format(yymm, '%y-%m') = #{yymm}
	</update>
	
	<insert id="insertUrl" parameterType="map"  useGeneratedKeys="true" >
		INSERT INTO 
			<if test="table == '01'">
				m_url_01
			</if>
			<if test="table == '02'">
				m_url_02
			</if>
			<if test="table == '03'">
				m_url_03
			</if>
			<if test="table == '04'">
				m_url_04
			</if>
			<if test="table == '05'">
				m_url_05
			</if>
			<if test="table == '06'">
				m_url_06
			</if>
			<if test="table == '07'">
				m_url_07
			</if>
			<if test="table == '08'">
				m_url_08
			</if>
			<if test="table == '09'">
				m_url_09
			</if>
			<if test="table == '10'">
				m_url_10
			</if>
			<if test="table == '11'">
				m_url_11
			</if>
			<if test="table == '12'">
				m_url_12
			</if>
		(
		   url,
		   title,
		   count,
		   insert_date
		) VALUES (
		   #{url},
		   #{title},
		   1,
		   NOW()
		)
	</insert>
	
	<select id="selectUrlCount" parameterType="map" resultType="int">
		SELECT 
				COUNT(*)
		  FROM 
	  		<if test="table == '01'">
				m_url_01
			</if>
			<if test="table == '02'">
				m_url_02
			</if>
			<if test="table == '03'">
				m_url_03
			</if>
			<if test="table == '04'">
				m_url_04
			</if>
			<if test="table == '05'">
				m_url_05
			</if>
			<if test="table == '06'">
				m_url_06
			</if>
			<if test="table == '07'">
				m_url_07
			</if>
			<if test="table == '08'">
				m_url_08
			</if>
			<if test="table == '09'">
				m_url_09
			</if>
			<if test="table == '10'">
				m_url_10
			</if>
			<if test="table == '11'">
				m_url_11
			</if>
			<if test="table == '12'">
				m_url_12
			</if>
		 WHERE 
		 		url = #{url}
	</select>
	
	<update id="updateUrl" parameterType="map">
		UPDATE 
			<if test="table == '01'">
				m_url_01
			</if>
			<if test="table == '02'">
				m_url_02
			</if>
			<if test="table == '03'">
				m_url_03
			</if>
			<if test="table == '04'">
				m_url_04
			</if>
			<if test="table == '05'">
				m_url_05
			</if>
			<if test="table == '06'">
				m_url_06
			</if>
			<if test="table == '07'">
				m_url_07
			</if>
			<if test="table == '08'">
				m_url_08
			</if>
			<if test="table == '09'">
				m_url_09
			</if>
			<if test="table == '10'">
				m_url_10
			</if>
			<if test="table == '11'">
				m_url_11
			</if>
			<if test="table == '12'">
				m_url_12
			</if>
		SET
				count = count + 1,
				title = #{title}
		WHERE
			url = #{url}
	</update>
	
	<select id="selectMemCount" resultType="com.vegemil.domain.MemberDTO">
		select
			count(*) as total,
		    sum(if(m_auth='USER',1,0)) as live,
		    sum(if(m_auth='USER',0,1)) as comp
		from 
			m_member
	</select>
	
	<select id="selectSexRate" resultType="com.vegemil.domain.MemberDTO">
	<![CDATA[
		SELECT * 
		FROM  
			(SELECT
				FLOOR((date_format(now(),'%Y')-substring(m_year,1,4))/10)*10 as m_age, 
				sum(if(m_sex='남',1,0)) as man,
			    sum(if(m_sex='여',1,0)) as women
			 FROM m_member
			 GROUP BY m_age 
			) S
		 WHERE S.m_age >= 0 AND S.m_age <= 70
		 order by S.m_age
	]]>
	</select>
	
	<select id="selectMonthlyJoinCount" resultType="com.vegemil.domain.MemberDTO">
		SELECT 
			MID(m_joindate,3,5) m_joindate, COUNT(*) as m_count
		FROM 
			m_member 
		where 
			m_auth='USER'
		and 
			m_joindate is not null
		GROUP BY 
			MID(m_joindate,1,7)
		order by 
			m_joindate desc
		Limit 
			12
	</select>
	
	<select id="selectMonthlyMobileAgent" resultType="com.vegemil.domain.UserAgentDTO">
	<![CDATA[
		select 
			ios, android, etc, date_format(yymm, '%y-%m') as yymm
		from
			m_user_agent_count
		where 
			date_format(yymm, '%y-%m') <= date_format(now(), '%y-%m')
        order by 
        	yymm desc
    ]]>
	</select>
	
	<select id="selectUserAgent" resultType="com.vegemil.domain.UserAgentDTO" parameterType="String">
		select 
			pc, mobile, tablet, date_format(yymm, '%y-%m') as yymm
		from 
			m_user_agent_count
		where
			date_format(yymm, '%y-%m') = #{yymm}
	</select>
	
	<select id="selectUrlList" resultType="com.vegemil.domain.UrlDTO">
	<![CDATA[
		select * 
		from
			m_url_03
		where 
			url != '/'
		and 
			url != '/member/login'
		and
			url not like '%/product/detail%'
		order by 
			count desc
		limit 10
	]]>
	</select>
	
	<select id="selectProductList" resultType="com.vegemil.domain.ProductDTO">
		select
			p_idx, sub_category_name, p_name, count 
		from
			m_product
		order by
			count desc
		limit 10
	</select>
	
</mapper>