<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.AuthMapper">


	<select id="selectAuthListByMemId" parameterType="long"
		resultType="string">
		SELECT
			a.auth_domain
		FROM
			v_auth_map m JOIN v_auth a 
		ON 
			m.auth_id = a.id
		WHERE
			m.member_id = #{memberId}
	</select>


</mapper>