<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.ProductMapper">

	<sql id="productColumns">
		p_idx,
		p_cate,
		p_code,
		p_name,
		p_active,
		p_onactive,
		p_onuri,
		p_onclick,
		category_code,
		display_priority,
		remark,
		link_url,
		s_categorycode,
		p_capacity,
		p_capacity2,
		p_capacity3,
		DATE_FORMAT(insert_date,'%Y-%m') as insert_date,
		DATE_FORMAT(modify_date,'%Y-%m') as modify_date,
	</sql>

	<select id="selectProductDetail" parameterType="long" resultType="com.vegemil.domain.ProductDTO">
		SELECT
			<include refid="productColumns" />
		FROM
			M_Product
		WHERE
			p_idx = #{pIdx}
	</select>


	<select id="selectProductList" parameterType="String" resultType="com.vegemil.domain.ProductDTO">
		SELECT p_idx, category_code, category_name, p_cate, p_code, p_name, display_priority, link_url, p_onuri, p_capacity, p_capacity2, p_capacity3 , DATE_FORMAT(insert_date,'%Y-%m') as insert_date
		  FROM          
			  (                   
			  SELECT ca.category_code, ca.category_name, pr.p_code, pr.p_name , pr.display_priority , pr.link_url, pr.p_onuri, pr.p_capacity, pr.p_capacity2, pr.p_capacity3, pr.insert_date
			  FROM M_Category ca INNER JOIN  M_Product pr              
			  	ON ca.category_code = pr.category_code            
			  WHERE pr.p_active = '1'
			  <if test="searchKeyword != null and searchKeyword != ''">  
			  	and pr.p_name = #{searchKeyword}
			  </if>          
			  ) T          
	     ORDER BY display_priority
		
	</select>

	<select id="selectProductTotalCount" parameterType="com.vegemil.domain.ProductDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			M_Product
		WHERE
			p_active = '1'
	</select>

</mapper>