<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.ProductGlobalMapper">

	<sql id="productColumns">
		p_idx,
		p_name,
		ko_name,
		p_code,
		p_onuri,
		p_active,
		p_onactive,
		category_code,
		category_name,
		sub_category_name,
		sub_category_code,		
		thumbnail1,
		thumbnail2,
		thumbnail3,
		replace(thumbnail1, '.png', '') as product_class1,
		replace(thumbnail2, '.jpg', '') as product_class2,
		replace(thumbnail3, '.jpg', '') as product_class3,
		display_priority,
		capacity1,
		capacity2,
		capacity3,
		kcal1,
		kcal2,
		kcal3,
		release_ym,
		desc_product,
		expiration_month,
		recommender,
		tip,
		tag1,
		tag2,
		tag3,
		DATE_FORMAT(insert_date,'%Y-%m') as insert_date
	</sql>
	
	
	<sql id="productColumns1">
		p_idx,
		category_code, 
		category_name, 
		sub_category_code, 
		sub_category_name, 
		sub_category_ico, 
		best_product,
		p_code, 
		thumbnail1, 
		thumbnail2, 
		thumbnail3, 
		replace(thumbnail1, '.png', '') as product_class1,
		replace(thumbnail2, '.jpg', '') as product_class2,
		replace(thumbnail3, '.jpg', '') as product_class3,
		p_name, 
		ko_name, 
		count, 
		display_priority, 
		p_active, 
		p_onactive, 
		p_onuri, 
		capacity1, 
		capacity2, 
		capacity3, 
		kcal1, 
		kcal2, 
		kcal3, 
		release_ym, 
		desc_product,
		expiration_month, 
		recommender, 
		tip, 
		tag1, 
		tag2, 
		tag3, 
		DATE_FORMAT(insert_date,'%Y-%m') as insert_date

	</sql>
	
	<select id="selectProductDetail" parameterType="long" resultType="com.vegemil.domain.global.ProductEnDTO">
		SELECT
			<include refid="productColumns1" />
		FROM
			m_product_G
		WHERE
			p_idx = #{pIdx}
	</select>

	<select id="selectProductList" parameterType="String" resultType="com.vegemil.domain.global.ProductEnDTO">
		SELECT 
			 <include refid="productColumns1" />
		FROM          
			 m_product_G           
		WHERE p_active = 1
		  <if test="searchKeyword != null and searchKeyword != ''">  
		  AND p_name like CONCAT('%',#{searchKeyword},'%')
		  OR desc_product like CONCAT('%',#{searchKeyword},'%')
		  </if>                 
	    ORDER BY p_idx ASC
	</select>
	
	<select id="selectRecProduct" parameterType="com.vegemil.domain.global.ProductEnDTO" resultType="com.vegemil.domain.global.ProductEnDTO">
		SELECT 
			 <include refid="productColumns1" />
		FROM          
			 m_product_G           
		WHERE p_active = 1
			  AND p_idx != 18 
			  AND p_idx != 21
			  AND p_idx != 12
		  <if test="categoryCode != null and categoryCode != ''">
		  	AND category_code = #{categoryCode}
		  	AND p_idx != #{pIdx}
		  </if>
		Order by
        	rand()
		Limit
			4 
	</select>

	<select id="selectProductTotalCount" parameterType="com.vegemil.domain.global.ProductEnDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_product_G
		WHERE
			p_active = '1'
	</select>
	
	
	<select id="selectBrandStroyCount" parameterType="com.vegemil.domain.global.ProductEnDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_product
		WHERE
			p_active = '1'
		 and
		   new_product_all != 0
		 or
		   rep_product_all != 0
		 or
		   new_product_cate != 0
		 or
		   rep_product_cate != 0
	</select>
	
	<update id="updateAddCount" parameterType="Long">
		UPDATE
			m_product
		SET
			count = count + 1
		WHERE
			p_idx = #{pIdx}
	</update>

</mapper>