<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.QnaMapper">

	<sql id="qnaColumns">
		s_idx,
		s_cate,
		s_id,
		s_name,
		s_hp,
		s_email,
		s_addr,
		s_subject,
		s_content,
		s_file,
		DATE_FORMAT(s_writedate,'%Y-%m') as s_writedate,
		DATE_FORMAT(s_updatedate,'%Y-%m') as s_updatedate,
		s_activeuser,
		s_hit,
		s_active,
		s_answer_yn,
		s_answer,
		s_gory,
		s_delete_yn
	</sql>

	<insert id="insertQna" parameterType="com.vegemil.domain.QnaDTO">
		INSERT INTO m_support_faq (
			s_cate,
			s_id,
			s_name,
			s_hp,
			s_email,
			s_addr,
			s_subject,
			s_content,
			s_file,
			s_writedate,
			s_activeuser,
			s_hit,
			s_active,
			s_gory
		) VALUES (
			<if test="sGory != null and sGory != ''"> 
			   <choose>
			      <when test="sGory.equalsIgnoreCase('11')">
		          	'제품 관련 문의',
			      </when>
			      <when test="sGory.equalsIgnoreCase('22')">
		          	'고객의 소리',
			      </when> 
			      <when test="sGory.equalsIgnoreCase('33')">
		          	'불편 사항 접수',
			      </when> 
			      <when test="sGory.equalsIgnoreCase('44')">
		          	'기타 문의',
			      </when> 
			   </choose> 
			</if>
			#{sId},
			#{sName},
			#{sHp},
			#{sEmail},
			#{sAddr},
			#{sSubject},
			#{sContent},
			#{sFile},
			NOW(),
			#{sActiveuser},
			0,
			'1',
			#{sGory}
		)
	</insert>

	<select id="selectQnaDetail" parameterType="com.vegemil.domain.QnaDTO" resultType="com.vegemil.domain.QnaDTO">
		SELECT
			<include refid="qnaColumns" />
		FROM
			m_support_faq
		WHERE
			s_idx = #{sIdx} and s_id = #{sId}
	</select>

	<update id="updateQna" parameterType="com.vegemil.domain.QnaDTO">
		UPDATE m_support_faq
		SET
			  s_updatedate = NOW()
			, s_subject = #{sSubject}
			, s_content = #{sContent}
			, s_cate = #{sCate}
			, s_gory = #{sGory}
		WHERE
			s_idx = #{sIdx} and s_id = #{sId}
	</update>

	<update id="deleteQna" parameterType="long">
		UPDATE m_support_faq
		SET
			  s_delete_yn = 'Y'
			, r_delete_date = NOW()
		WHERE
			s_idx = #{sIdx} and s_id = #{sId}
	</update>

	<select id="selectQnaList" parameterType="String" resultType="com.vegemil.domain.QnaDTO">
		SELECT
			<include refid="qnaColumns" />
		FROM
			m_support_faq
		WHERE
			s_delete_yn = 'N'
		AND
			s_id = #{sId}
		ORDER BY
			s_writedate DESC
	</select>

	<select id="selectQnaTotalCount" parameterType="com.vegemil.domain.QnaDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			m_support_faq
		WHERE
			s_id = #{sId}
	</select>

</mapper>