<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegemil.mapper.RndMapper">
	
	<sql id="visitColumns">
		v_idx,
		v_writedate,
		v_name,
		v_tel, 
		v_hp, 
		v_email, 
		v_area, 
		v_addr, 
		v_org, 
		v_pcount, 
		DATE_FORMAT(v_appdate, '%Y-%m-%d') as v_appdate, 
		v_apptime, 
		v_memo, 
		v_confstat, 
		DATE_FORMAT(v_confdate, '%Y-%m-%d') as v_confdate,
		v_conftime, 
		v_adminmemo
	</sql>
	
	<sql id="tourSceduleColumns">
		v_idx as id,
		CONCAT( if(v_apptime = '1','(오전)','(오후)'),' ',v_org) as title,
		v_memo as content,
		DATE_FORMAT(v_appdate, '%Y-%m-%d') as start
<!-- 		DATE_FORMAT(DATE_ADD(v_appdate, INTERVAL 1 DAY), '%Y-%m-%d 00:00:00') as end -->
	</sql>
	
	<insert id="insertMvisit" parameterType="com.vegemil.domain.VisitDTO" useGeneratedKeys="true" keyProperty="vIdx">
		insert into m_visit (
			v_writedate,
			v_name,
			v_tel, 
			v_hp, 
			v_email, 
			v_area, 
			v_addr, 
			v_org, 
			v_pcount, 
			v_appdate, 
			v_apptime, 
			v_memo, 
			v_confstat, 
			v_confdate, 
			v_conftime,
			v_adminmemo 
		) values (
			NOW(),
			#{vName},
			#{vTel},
			#{vHp},
			#{vEmail},
			#{vArea},
			#{vAddr},
			#{vOrg},
			#{vPcount},
			#{vAppdate},
			#{vApptime},
			#{vMemo},
			'',
			'0000-00-00 00:00:00',
			'',
			''
		)
	</insert>
	
	<select id="selectVisitList" resultType="com.vegemil.domain.VisitDTO">
		select
			<include refid="visitColumns" />
		from
			m_visit
		where
		<![CDATA[
			v_confstat = '2'
		and
			v_appdate >= (LAST_DAY(NOW() - interval 1 month) + interval 1 DAY)
		and
			v_appdate <= LAST_DAY(NOW())
		]]>
	</select>
	
	<select id="selectTourScheduleList" resultType="com.vegemil.domain.ScheduleDTO">
		select
			<include refid="tourSceduleColumns" />
		from
			m_visit
		where
			v_appdate >= MAKEDATE(YEAR(NOW()),1)
	</select>
	
</mapper>