<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegemil.mapper.RndMapper">
	
	<sql id="visitColumns">
		v_idx,
		v_writedate,
		v_name,
		v_tel, 
		v_hp, 
		v_email, 
		v_area, 
		v_addr, 
		v_org, 
		v_pcount, 
		DATE_FORMAT(v_appdate, '%Y-%m-%d') as v_appdate, 
		v_apptime, 
		v_memo, 
		v_confstat,
		DATE_FORMAT(v_confdate, '%Y-%m-%d') as v_confdate,
		v_conftime, 
		v_adminmemo
	</sql>
	
	<sql id="reviewColumns">
		s_idx,
		s_cate, 
		s_id, 
		s_name, 
		s_hp, 
		s_email, 
		s_addr, 
		s_best,
		s_subject, 
		s_content,
		s_file,
		DATE_FORMAT(s_writedate,'%Y-%m-%d') as s_writedate,
		DATE_FORMAT(s_writedate,'%Y-%m') as s_year_month,
		DATE_FORMAT(s_writedate,'%d') as s_day, 
		s_activeuser, 
		s_hit, 
		s_active, 
		s_url, 
		s_icon
	</sql>
	
	<sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            AND s_subject LIKE CONCAT('%', #{searchKeyword}, '%')
            OR s_content LIKE CONCAT('%', #{searchKeyword}, '%')
        </if>
    </sql>
	
	<sql id="tourSceduleColumns">
		v_idx as id,
		CONCAT( if(v_apptime = '1','(오전)','(오후)'),' ',v_org, CASE
																	WHEN v_confstat = 1
																	THEN ' [신청중]'
																	WHEN v_confstat = 2
																	THEN ' [확정]'
																	ELSE ''
																END) as title, 
		v_memo as content,
		DATE_FORMAT(v_appdate, '%Y-%m-%d') as start
<!-- 		DATE_FORMAT(DATE_ADD(v_appdate, INTERVAL 1 DAY), '%Y-%m-%d 00:00:00') as end -->
	</sql>
	
	<insert id="insertMvisit" parameterType="com.vegemil.domain.VisitDTO" useGeneratedKeys="true" keyProperty="vIdx">
		insert into m_visit (
			v_writedate,
			v_name,
			v_tel,
			v_hp,
			v_email,
			v_area,
			v_addr,
			v_org,
			v_pcount,
			v_confstat,
			v_appdate,
			v_apptime,
			v_memo
		) values (
			NOW(),
			#{vName},
			#{vTel},
			#{vHp},
			#{vEmail},
			#{vArea},
			#{vAddr},
			#{vOrg},
			#{vPcount},
			1,
			STR_TO_DATE(#{vAppdate}, '%Y-%m-%d'),
			#{vApptime},
			#{vMemo}
		)
	</insert>
	
	<select id="selectApplyCount" parameterType="com.vegemil.domain.VisitDTO" resultType="int">
		select
			count(*)
		from
			m_visit
		where
			v_email = #{vEmail}
		and
			DATE_FORMAT(v_appdate,'%Y-%m') = #{vAppdate}
	</select>
	
	<select id="selectConfirmApplyCount" parameterType="String" resultType="int">
		select
			count(*)
		from
			m_visit
		where
			v_confstat = 2
		and
			DATE_FORMAT(v_appdate,'%Y-%m-%d') = #{date}
	</select>
	
	<select id="selectVisitList" resultType="com.vegemil.domain.VisitDTO">
		select
			<include refid="visitColumns" />
		from
			m_visit
		where
			v_confstat != 0
		and
			v_email = #{vEmail}
		and
			v_appdate >= MAKEDATE(YEAR(NOW()),1)
	</select>
	
	<select id="selectTourScheduleList" resultType="com.vegemil.domain.ScheduleDTO">
		select
			<include refid="tourSceduleColumns" />
		from
			m_visit
		where
			v_confstat != 0
		and
			v_appdate >= MAKEDATE(YEAR(NOW()),1)
	</select>
	
	
	<select id="selectTourReviewList" parameterType="com.vegemil.domain.SearchDTO" resultType="com.vegemil.domain.FactpostDTO" >
	
		SELECT
            <include refid="reviewColumns" />
        FROM
            m_factpost
        WHERE
        	1=1
            <include refid="search" />
        ORDER BY
            s_idx DESC
       	LIMIT
		#{paginationInfo.firstRecordIndex}, #{paginationInfo.lastRecordIndex}
	</select>
	
	<select id="selectTourReviewByIdx" parameterType="String" resultType="com.vegemil.domain.FactpostDTO" >
	
		SELECT
            <include refid="reviewColumns" />
        FROM
            m_factpost
        WHERE
        	s_idx = #{sIdx}
	</select>
	
	<insert id="insertReview" parameterType="com.vegemil.domain.FactpostDTO" useGeneratedKeys="true" keyProperty="sIdx">
		INSERT INTO m_factpost (
			s_cate,
			s_id,
			s_name,
			s_hp,
			s_email,
			s_addr,
			s_subject,
			s_content,
			s_url
			)
		VALUES (
			'기타',
			#{sId},
			#{sName},
			#{sHp},
			#{sEmail},
			#{sAddr},
			#{sSubject},
			#{sContent},
			#{sUrl}
			)
	</insert>
	
	<select id="selectTourReviewCount" parameterType="com.vegemil.domain.SearchDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            m_factpost
        WHERE
        	1=1
            <include refid="search" />
    </select>
	
</mapper>