<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>정식품</title>
    <head th:replace="fragments/head :: headFragment"></head>
</head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<script>
	/* 로드방식 local 크롬에서 노출되지 않음. */
  $( document ).ready( function() {
	$( '.vpd01' ).load( './load/vpd01.html' );
	$( '.vpd02' ).load( './load/vpd02.html' );
	$( '.vpd03' ).load( './load/vpd03.html' );
	$( '.vpd04' ).load( './load/vpd04.html' );
	$( '.vpd05' ).load( './load/vpd05.html' );
	$( '.vpd06' ).load( './load/vpd06.html' );
	$( '.VPL01X262' ).load( './load/VPL01X262.html' );
	$( '.VPM01X262' ).load( './load/VPM01X262.html' );
	$( '.SCI04X262' ).load( './load/SCI04X262.html' );
	$( '.VBB01X262' ).load( './load/VBB01X262.html' );
  } );
</script>

<!-- ================================ 
		Content
================================ -->
<div class="content100">
	
   <div class="video">
		<div class="videoCopy">
			<p class="f80 fw700 f_pp white lh110">Right Food<br>Right Person</p>
			<p class="f23 fw400 white mt40">생명 존중 정신을 바탕으로<br>건강한 식문화 발전에 이바지 하겠습니다.</p>
			<p class="btnType01 mt100"><a href="">View More</a></p>
		</div>
		<video autoplay loop muted>
			<source src="https://image.edaymall.com/images/mail/news/dcf/v3/part_01.mp4" type="video/mp4">
		</video>
	</div>
</div>
<div id="content">
	<div class="contant1760" >
		<div id="flotingPage">
			<div class="floting-left mt110">
				<div class="row">
					<div class=" col-md-12">
						<!-- 슬라이드 -->
						<div th:replace="fragments/slider :: sliderFragment"></div>
						<!-- //슬라이드 -->
					</div>
				</div>
				<div class="row contactBox mt30">
					<div class="col-md-3 col-6">
						<ul class="contactDetail">
							<li><p class="f14 fw400"><span><img th:src="@{/img/ico/ico_mic.png}" alt="고객상담" /></span> 고객상담 080-930-8888</p></li>
						</ul>
					</div>
					<div class="col-md-3 col-6">
						<ul class="contactDetail">
							<li><p class="f14 fw400"><span><img th:src="@{/img/ico/ico_mail.png}" alt="메일" /></span> cs@vegemil.co.kr</p></li>
						</ul>
					</div>
					<div class="col-md-3 col-6">
						<ul class="contactDetail">
							<li><p class="f14 fw400"><span><img th:src="@{/img/ico/ico_call.png}" alt="전화번호" /></span> 02-3484-9300</p></li>
						</ul>
					</div>


					<div class="col-md-3 col-6">
						<!-- 자주 묻는 질문 -->
						<div class="verticalType02" >
							<div class="ver-title02"><p class="f14 fw400"><img th:src="@{/img/ico/ico_mic.png}" alt="오른족" /> 자주 묻는 질뭇</p></div>
							<div>
								<div class="v_content">
									<p><a href="#">제품일반</a></p>
									<p><a href="#">음료류</a></p>
									<p><a href="#">유아동두유</a></p>
									<p><a href="#">베지밀</a></p>
									<p><a href="#">그린비아</a></p>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class=" col-md-12">
						<p class="f23 fw500 mt80 black">사업영역</p>
						<ul class="baseList mt20">
							<li><a href="#"><img th:src="@{/img/ico/ico_bus01.png}" alt="제품개발"/><p class="f18 mt10">제품 개발</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ico_bus02.png}" alt="연구개발"/><p class="f18 mt10">연구 개발</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ico_bus03.png}" alt="제품생산"/><p class="f18 mt10">제품 생산</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ico_bus04.png}" alt="안전 및 분석"/><p class="f18 mt10">인잔 및 분석</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ico_bus05.png}" alt="기술 인증 및 특허"/><p class="f18 mt10">기술 인증 및 특허</p></a></li>
						</ul>
					</div>
				</div>
				<div class="row mt80">
					<div class=" col-md-8">
						<p class="f23 fw500  black">기업이념</p>
						<!-- tab -->
						<div class="cp_iden mt20">
							<ul class="tabs1">
								<li class="li_icoBG01"><a href="#spf_tab01">건강한 문화</a></li>
								<li class="li_icoBG02"><a href="#spf_tab02">건강한 사회</a></li>
								<li class="li_icoBG03"><a href="#spf_tab03">건강한 세상</a></li>
							</ul>
							<div class="tab_content1 ">
								<div id="spf_tab01" class="idenBG01 h460">
									<div class="iden_txt">
										<p class="f23 fw500 white lh160">인류 건강문화에 기여하고자 <br>건강식품의 보급에 힘쓰고 있습니다.</p>
										<p class="f52 fw600 white mt40">건강한 문화</p>
									</div>
								</div>
								<!-------------------------- Mom&Baby ------------------------->
								<div id="spf_tab02" class="idenBG02 h460">
									<div class="iden_txt">
										<p class="f23 fw500 white lh160">유능한 인재를 양성하고 기업의<br>사회적 책임을 다하며 국가발전에 기여합니다.</p>
										<p class="f52 fw600 white mt40">건강한 사회</p>
									</div>
								</div>
								<!-------------------------- // Mom&Baby ------------------------->

								<!-------------------------- Food ------------------------->
								<div id="spf_tab03" class="idenBG03 h460">
									<div class="iden_txt">
										<p class="f23 fw500 white lh160">지구와 자연환경을 훼손하지 않도록<br>믿을 수 있는 제품을 생산합니다.</p>
										<p class="f52 fw600 white mt40">건강한 세상</p>
									</div>
								</div>
								<!-------------------------- // Food ------------------------->
							</div>
						</div>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.cp_iden').basicTabs1();/* basicTabs1 변경 */
							});
						</script>
					
						<!-- //tab -->
					</div>
					<div class=" col-md-4">
						<p class="f23 fw500">&nbsp;</p>
						<!-- news -->
						<div class="newsLine mt20">
							<p class="f18 fw600 newsIco f_pp black">NEWS<a href=""><img th:src="@{/img/ico/ico_newsMore.png}" alt="more"></a></p>
							<ul class="newsBox mt10">
								<li>
									<dl>
										<dd class="newsImg"><img th:src="@{/img/product/photo/VP01.jpg}" alt="제품사진"/></dd>
										<dd class="newsTxt f14">무더운 여름 더위 시원하게 극복 가능! 라잇미닛 아몬드 & 코코넛출시 무더운 여름 더위 시원하게 극복 가능! 라잇미닛 아몬드 & 코코넛출시 무더운 여름 더위 시원하게 극복 가능! 라잇미닛 아몬드 & 코코넛출시</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd class="newsImg"><img th:src="@{/img/product/photo/VP01.jpg}" alt="제품사진"/></dd>
										<dd class="newsTxt f14">무더운 여름 더위 시원하게 극복 가능! 라잇미닛 아몬드 & 코코넛출시</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dd class="newsImg"><img th:src="@{/img/product/photo/VP01.jpg}" alt="제품사진"/></dd>
										<dd class="newsTxt f14">무더운 여름 더위 시원하게 극복 가능! 라잇미닛 아몬드 & 코코넛출시</dd>
									</dl>
								</li>
							</ul>
						<!-- //news -->
						</div>
					</div>
					<div class=" col-md-12 col-sm-6 col-6 col-mt3 ">
						<ul class="dv5 mt50">
							<li class="f18 fw400 black">사회공헌</li>
							<li class="f14 fw400"><a href="#">혜춘장학회</a></li>
							<li class="f14 fw400 "><a href="#">굿네이버스</a></li>
							<li class="f14 fw400"><a href="#">한국심장재단</a></li>
							<li class="f14 fw400"><a href="#">혈액암협회</a></li>
						</ul>
						
					</div>
					<div class=" col-md-12 col-sm-6 col-6 ">
						<ul class="dv6 mt10">
							<li class="f18 fw400 black">식품안전인증현황</li>
							<li class="f14 fw400"><a href="#">한국식품안전관리인증</a></li>
							<li class="f14 fw400"><a href="#">식품안전시스템인증</a></li>
							<li class="f14 fw400"><a href="#">환경성적표지인증</a></li>
							<li class="f14 fw400"><a href="#">한국인정기구</a></li>
							<li class="f14 fw400"><a href="#">소비자중심경영</a></li>
						</ul>
					</div>
				</div>
				<div class="row mt80">
					<div class="col-md-12">
						<p class="f23 fw500  black">샘플신청</p>
						<ul class="middleBanner wView">
							<li><a href=""><img th:src="@{/img/bnr/bnr_main_sample.png}" alt="샘플신청" /></a></li>
							<li><a href=""><img th:src="@{/img/bnr/bnr_main_kidmore.png}" alt="키즈모아" /></a></li>
						</ul>
						<ul class="middleBanner_m mView">
							<li class="mt20"><a href=""><img th:src="@{/img/bnr/bnr_main_sample_m.png}" alt="샘플신청" /></a></li>
							<li class="mt20"><a href=""><img th:src="@{/img/bnr/bnr_main_kidmore_m.png}" alt="키즈모아" /></a></li>
						</ul>
					</div>
				</div>

				<!-- 슬라이드PC -->
				<div class="row mt80 wView">
					<div class="col-md-12" ><div class="grayLine pb140"></div></div>
					<div class="col-md-4 mb110"><div class="vpd01"></div></div>
					<div class="col-md-4 mb110"><div class="vpd02"></div></div>
					<div class="col-md-4 mb110"><div class="vpd03"></div></div>
					<div class="col-md-4 mb110"><div class="vpd04"></div></div>
					<div class="col-md-4 mb110"><div class="vpd05"></div></div>
					<div class="col-md-4 mb110"><div class="vpd06"></div></div>
				</div>
				<!-- //슬라이드PC -->


				<!-- 슬라이드모바일 -->
				<div class="row mt80">
					<div class="col-md-12" >
						<div id="slider1" class="mView">
							<div  class="slider">
								<div class="slider_area">
									<div class="slides">
										<div class="slide"><div class="vpd01"></div></div>
										<div class="slide"><div class="vpd02"></div></div>
										<div class="slide"><div class="vpd03"></div></div>
										<div class="slide"><div class="vpd04"></div></div>
										<div class="slide"><div class="vpd05"></div></div>
										<div class="slide"><div class="vpd06"></div></div>
									</div>
								</div>
								<a class="slider_left"><img th:src="@{/img/btn_ppl_left.png}" alt="왼쪽" /></a>
								<a class="slider_right"><img th:src="@{/img/btn_ppl_right.png}" alt="오른족" /></a>
							</div>
						</div>
					</div>
				</div><br class="clear">
				<!-- //슬라이드모바일 -->

				<!-- BREND TAB -->
				<div class="row mt70m">
					<div class="col-md-12">
						<p class="f23 fw500 black"><img th:src="@{/img/ico/ico_best.png}" alt="엄지척" /> Brand Best Product</p>


						<!-- tab -->
						<div class="bestTab mt20">
							<ul class="tabs2">
								<li class="f16 fw400"><a href="#best01">베지밀</a></li>
								<li class="f16 fw400"><a href="#best02">그린비아</a></li>
								<li class="f16 fw400"><a href="#best03">심천수</a></li>
								<li class="f16 fw400"><a href="#best04">콩국물</a></li>
								<li class="f16 fw400"><a href="#best05">식재료</a></li>
							</ul>
							<div class="tab_content2 ">
								<div id="best01">
									<div class="row">
										<div class="col-md-6 mb50m">
											<a href="#" class="hNone">
												<div class="VBP01 h420 round10"></div>
												<p class="f36 fw600 black mt50 lh130">베지밀 5060 시니어 두유 검은콩</p>
												<p class="f18 fw400 gray04 mt30 lh150 ">신체활력과 건강증진에 필요한 영양성분을<br>공급하는 균형영양두유</p>
											</a>
										</div>
										<div class="col-md-6">
											<ul class="bestBox">
												<li>
													<a href="#">
														<dd class="VBP01 h200 round10"></dd>
														<p class="f20 fw500 black mt20 lh150">담백한 베지밀 에이</p>
														<p class="f18 fw400 gray04  lh150">40여년 역사를 지닌 베지밀 정통두유</p>
													</a>
												</li>
												<li>
													<a href="#" >
														<dd class="VBP01 h200 round10"></dd>
														<p class="f20 fw500 black mt20 lh150">담백한 베지밀 에이</p>
														<p class="f18 fw400 gray04  lh150">40여년 역사를 지닌 베지밀 정통두유</p>
													</a>
												</li>
												<li>
													<a href="#">
														<dd class="VBP01 h200 round10"></dd>
														<p class="f20 fw500 black mt20 lh150">담백한 베지밀 에이</p>
														<p class="f18 fw400 gray04  lh150">40여년 역사를 지닌 베지밀 정통두유</p>
													</a>
												</li>
												<li>
													<a href="#">
														<dd class="VBP01 h200 round10"></dd>
														<p class="f20 fw500 black mt20 lh150">담백한 베지밀 에이</p>
														<p class="f18 fw400 gray04  lh150">40여년 역사를 지닌 베지밀 정통두유</p>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div id="best02">
									2222222222222
								</div>
								<div id="best03">
									333333333333333
								</div>
								<div id="best04">
									44444
								</div>
								<div id="best05">
									555555
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.bestTab').basicTabs2();/* basicTabs2 변경 */
							});
						</script>

					</div>
				</div>
				
				<!-- //BREND TAB -->
				
				<!-- Now  Tab 
				<div class="row">
					<div class="col-md-12" ><div class="grayLine pb120"></div></div>
					<div class="col-md-12" >
						<p class="f23 fw500 black"><img th:src="@{/img/ico/ico_smail.png}" alt="엄지척" /> Now, New Hit Item Top 5</p>
					</div>
					<div class="col-md-12" >
						<ul class="tabs3 mt30">
							<li class="f16 fw400"><a href="#now01">01</a></li>
							<li class="f16 fw400"><a href="#now02">02</a></li>
							<li class="f16 fw400"><a href="#now03">03</a></li>
							<li class="f16 fw400"><a href="#now04">04</a></li>
							<li class="f16 fw400"><a href="#now05">05</a></li>
						</ul>
						<div class="tab_content3">
							<div id="now01">
								11111111
							</div>
							<div id="now02">
								2222222
							</div>
							<div id="now03">
							3333333
							</div>
							<div id="now04">
								44444
							</div>
							<div id="now05">
								555555
							</div>
						</div>
					</div> 
				</div>
				<!-- // Now Tab -->

				<!-- 제품음용후기 web -->
				<div class="row rivewWrap ">
					<div class="col-md-12" >
						<div class="grayLine pb120"></div>
						<p class="f23 fw500 black">제품음용후기</p>
					</div>
					
					<div class="col-md-12 wView768" >
						<div class="row">
							<div class="col-md-6"><div class="VPL01X262"></div></div>
							<div class="col-md-6"><div class="SCI04X262 pl80"></div></div>
							<div class="col-md-6"><div class="VBB01X262 "></div></div>
							<div class="col-md-6"><div class="VPM01X262 pl80"></div></div>
						</div>
					</div>
					
				</div>
				<!-- //제품음용후기 web -->

				<!-- 제품음용후기 mobile -->
				<div class="row">
					<div class="col-md-12" >
						<div id="slider2" class="mView768">
							<div  class="slider">
								<div class="slider_area">
									<div class="slides">
										<div class="slide"><div class="VPL01X262"></div></div>
										<div class="slide"><div class="SCI04X262"></div></div>
										<div class="slide"><div class="VBB01X262"></div></div>
										<div class="slide"><div class="VPM01X262"></div></div>
									</div>
								</div>
								<a class="slider_left"><img th:src="@{/img/btn_ppl_left.png}" alt="왼쪽" /></a>
								<a class="slider_right"><img th:src="@{/img/btn_ppl_right.png}" alt="오른족" /></a>
							</div>
						</div>
					</div>
				</div><br class="clear">
				<!-- //제품음용후기 mobile -->

				<!-- 제품음용후기 mobile -->
				<div class="row  mt100">
					<div class="col-md-12 wView">
						<p class="img100"><img th:src="@{/img/bnr/bnr_main_middle.png}" /></p>
					</div>
					<div class="col-md-12 mView">
						<p class="img100"><img th:src="@{/img/bnr/bnr_main_middle_m.png}" /></p>
					</div>
				</div>
				<!-- //제품음용후기 mobile -->

				<!-- 맛있고 건강한 레시피 -->
				<div class="row mt120">
					<div class="col-md-12" >
						<p class="f27 fw500 black">맛있고 건강한 레시피</p>
					</div>
					<div class="col-md-6 mb70 mb70m" >
						<a href="#"><div class="round20 SCI04 h320 mt20"></div></a>
						<p class="f23 fw500 black mt30">식물성 소이 베이스, <br>맛도 좋고 건강에도 좋은 진한 콩국물 2종</p>
						<ul class="recipe_btn round10 mt40">
							<li class="f18 fw400 "><a href=""><span class="black">진한 콩국물 레시피 사이트</span></a></li>
							<li class="f14 gray03"><a href=""><span class="gray04">제품소개</span></a></li>
							<li class="f14 gray04"><a href=""><span class="gray04">특별 레시피</span></a></li>
						</ul>
						<ul class="recipeBox mt40">
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_01.png}" /><p class="f18 fw400 black mt10">콩스프 오리말이</p></a></li>
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_02.png}" alt="버섯 들깨찜" /><p class="f18 fw400 black mt10">버섯 들깨찜</span></p></li>
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_03.png}" alt="콘치즈 새우 그라탕" /><p class="f18 fw400 black mt10">콘치즈 새우 그라탕</p></a></li>
						</ul>

					</div>
					<div class="col-md-6 mb70" >
						<a href="#"><div class="round20 SCI02 h320 mt20"></div></a>
						<p class="f23 fw500 black mt30">밋밋한 요리에 깊은 맛을 더하는, <br>요리 초보 필수템, 간단요리사 채소육수 2종</p>
						<ul class="recipe_btn round10 mt40">
							<li class="f18 fw400 "><a href=""><span class="black">간단요리사 레시피 사이트</span></a></li>
							<li class="f14 gray03"><a href=""><span class="gray04">제품소개</span></a></li>
							<li class="f14 gray04"><a href=""><span class="gray04 mt5">특별 레시피</span></a></li>
						</ul>
						<ul class="recipeBox mt40">
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_04.png}" alt="만둣국" /><p class="f18 fw400 black mt10">만둣국</p></a></li>
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_05.png}" alt="두부버섯전골" /><p class="f18 fw400 black mt10">두부버섯전골</p></a></li>
							<li><a href="#"><img th:src="@{/img/product/photo/recipe_06.png}" alt="냉면" /><p class="f18 fw400 black mt10">냉면</p></a></li>
						</ul>
					</div>
				</div>
				<!-- //맛있고 건강한 레시피 -->

				<!-- 웹진배너 -->
				<div class="row  mt100">
					<div class="col-md-12 wView">
						<p class="img100"><a href="#"><img th:src="@{/img/bnr/bnr_main_webzine.png}" alt="웹진배너" /></a></p>
					</div>
					<div class="col-md-12 mView">
						<p class="img100"><a href="#"><img th:src="@{/img/bnr/bnr_main_webzine_m.png}" alt="웹진배너" /></a></p>
					</div>
				</div>
				<!-- //웹진배너 -->

				<!-- SNS+관련사 -->
				<div class="row  mt100">
					<div class="col-md-3 mb70" >
						<p class="f23 fw500 black">SNS</p>
						<ul class="snsUL mt20">
							<li class="sli"><a href=""><img th:src="@{/img/ico/ico_f.png}" alt="페이스북"/>페이스북</a></li>
							<li class="sli"><a href=""><img th:src="@{/img/ico/ico_b.png}" alt="페이스북"/>정식품 블로그</a></li>
							<li class="sli"><a href=""><img th:src="@{/img/ico/ico_y.png}" alt="페이스북"/>정식품 유튜브</a></li>
							<li>
								<div class="verticalType02" >
									<div class="ver-title02"><p class="f14 fw400"><img th:src="@{/img/ico/ico_i.png}" alt="인스타그램" />인스타그램</p></div>
									<div>
										<div class="v_content">
											<p><a href="#">베지밀 인스타그램</a></p>
											<p><a href="#">영&middot;유아식 인스타그램</a></p>
										</div>
									</div>
								</div>
	
							</li>
						</ul>
					</div>
					
					<div class="col-md-9 mb70">
						<p class="f23 fw500 black">관련사 및 이용안내</p>
						<ul class="fcFamily mt20">
							<li><a href="#"><img th:src="@{/img/ico/ci_nnp.png}" alt="자연과사람들"/><p class="f18 fw400 mt10">자연과사람들</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ci_osse.png}" alt="오쎄"/><p class="f18 fw400 mt10">오쎄</p></a></li>
							<li><a href="#"><img th:src="@{/img/ico/ci_hc.png}" alt="혜춘장학회"/><p class="f18 fw400 mt10">혜춘장학회</p></a></li>
						</ul>
						<ul class="fcLinbox">
							<li><a href="">대리점 모집</a></li>
							<li><a href="">개인정보 처리방침</a></li>
							<li><a href="">이용약관</a></li>
							<li><a href="">고객의 소리</a></li>
						</ul>
					</div>
				</div>
				<!-- //SNS+관련사 -->
			</div><!-- //floting-left -->
			<div class="floting-right mt110">
				<div class="floting">
					<p class="f23 fw500">정식품 브랜드</p>
					<ul class="f_ul mt30">
						<li>
							<a href="#">
							<div class="bg01"><img th:src="@{/img/product/thumb/VPL01X262.png}" alt="베지밀병"/><span class="count01">89</span>	</div>	
							<p class="f16 fw400 glay04">베지밀</p>
							</a>
						</li>
						<li>
							<a href="#">
							<div class="bg02"><img th:src="@{/img/product/thumb/VPL01X262.png}" alt="베지밀병"/><span class="count02">89</span>	</div>	
							<p class="f16 fw400 glay04">그린비아</p>
							</a>
						</li>
						<li>
							<a href="#">
							<div class="bg03"><img th:src="@{/img/product/thumb/VPL01X262.png}" alt="베지밀병"/><span class="count03">89</span>	</div>	
							<p class="f16 fw400 glay04">심천수</p>
							</a>
						</li>
						<li>
							<a href="#">
							<div class="bg04"><img th:src="@{/img/product/thumb/VPL01X262.png}" alt="베지밀병"/><span class="count04">89</span>	</div>	
							<p class="f16 fw400 glay04">진한콩국물</p>
							</a>
						</li>
						<li>
							<a href="#">
							<div class="bg05"><img th:src="@{/img/product/thumb/VPL01X262.png}" alt="베지밀병"/><span class="count05">89</span>	</div>	
							<p class="f16 fw400 glay04">간단요리사</p>
							</a>
						</li>
					</ul><br class="clear">
					<p class="f23 fw500 f_pp mt50">All Category</p>
					<ul class="f_ul_middle">
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate01.png}" alt=""/><p class="f14 gray04 mt10 center">두유</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate02.png}" alt=""/><p class="f14 gray04 mt10 center">임산부영양식</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate03.png}" alt=""/><p class="f14 gray04 mt10 center">영&middot;유아식</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate04.png}" alt=""/><p class="f14 gray04 mt10 center">특수영양식</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate05.png}" alt=""/><p class="f14 gray04 mt10 center">건강식품</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate06.png}" alt=""/><p class="f14 gray04 mt10 center">식재료</p></a></li>
						<li><a href="#"><img class="mt10" th:src="@{/img/ico/ico_all_cate07.png}" alt=""/><p class="f14 gray04 mt10 center">식물성음료</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate08.png}" alt=""/><p class="f14 gray04 mt10 center">음료</p></a></li>
						<li><a href="#"><img th:src="@{/img/ico/ico_all_cate09.png}" alt=""/><p class="f14 gray04 mt10 center">생수</p></a></li>
					</ul>
				</div>
			</div><!-- //floting-right -->
		</div><!-- //flotingPage -->
		<br class="clear">
		
	</div><!-- //contant1760 -->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- //main > 자주묻는질문+SNS -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
<script>
/*================================
 * 	 main > 자주묻는질문+SNS
 *================================ */
$(".verticalType02").collapse({
	  accordion: true, 
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});
</script>
</body>
</html>