<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 DCF 미디어</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="content100 ">
	   <div class="subTopDcfContest h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Company</p>
				<p class="white f45 fw600">DCF 미디어</p>
			</div>
		</div>
	</div>
	<div class="contant1460">
		<div class="subMenu">
			<p class="btnSubLeft"><a href=""><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/company/media"><span>DCF 미디어</span></a></li>
				<li class="f18 fw500 active"><a href="/company/contest"><span>영상 공모전</span></a></li>
			</ul>
			<p class="btnSubRight"><a href=""><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
        </div>
    </div>
	<div class="contant100 dcfContestBg">
        <div class="row">
            <div class="col-md-12">
                <div class="contant1460 mt20m">
                   <p class="f14 fw400 black mt100 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear">
                    <div class="row pl100 mt80">
                        <div class="col-md-12 white">
                            <p class="f27 fw500">정식품은 여러분의 적극적인 참여를 기다립니다.</p>
                        </div>
                    </div>
                    <div class="row mt20 pl100">
                        <div class="col-md-8 white">
                        <p class="f52 fw600">
                            재미있는 컨텐츠가 가득한<br class="wView">
                            대학생 여러분의 공모전 영상입니다.
                        </p>
                        </div>
                        <div class="col-md-4 mt50m">
                            <ul class="dcfContestBtn">
                                <li>
                                    <a href="#">
                                        <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/ico_youtube.png" alt="유튜브아이콘"> 
                                        <p class="f16 white">&emsp;정식품 유튜브에서 보기</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/ico_insta.png" alt="인스타아이콘"> 
                                        <p class="f16 white">&emsp;베지밀 인스타그램에서 보기</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/leftRoundBox.png" alt="흰색 박스" class="leftRoundBox">
    </div><!--//contant100-->
    <div class="contant1160 pb100">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="dcfContestBox">
                        <iframe src="https://www.youtube.com/embed/mAYeHR2a2A4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                        <div class="contestAward f16">대상</div>
                        <div class="contestName f16">팀/이정우</div>
                    </div>
                    <p class="mt10 f23">리얼 영상 사진 공모전 대상</p>
                    <p class="f_pp gray04 f13 mt20">2018.10.30</p>
                </div>
                <div class="col-md-4 col-6">
                    <div class="dcfContestBox">
                        <iframe src="https://www.youtube.com/embed/HV7Z8ulPmwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                        <div class="contestAward f16">최우수상</div>
                        <div class="contestName f16">개인/이종민</div>
                    </div>
                    <p class="mt10 f23">리얼 영상 사진 공모전 최우수상</p>
                    <p class="f_pp gray04 f13 mt20">2018.10.30</p>
                </div>
                <div class="col-md-4 col-6 mt50m">
                    <div class="dcfContestBox">
                        <iframe src="https://www.youtube.com/embed/FlbJf7BPgMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                        <div class="contestAward">최우수상</div>
                        <div class="contestName f16">팀/유명우</div>
                    </div>
                    <p class="mt10 f23">리얼 영상 사진 공모전 최우수상</p>
                    <p class="f_pp gray04 f13 mt20">2018.10.30</p>
                </div>
                <div class="col-md-4 col-6 mt100">
                    <div class="dcfContestBox">
                        <iframe src="https://www.youtube.com/embed/IeoYt-MLNCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                        <div class="contestAward">우수상</div>
                        <div class="contestName f16">팀/김주연</div>
                    </div>
                    <p class="mt10 f23">리얼 영상 사진 공모전 최우수상</p>
                    <p class="f_pp gray04 f13 mt20">2018.10.30</p>
                </div>
                <div class="col-md-4 col-6 mt100">
                    <div class="dcfContestBox">
                        <iframe src="https://www.youtube.com/embed/2DibElqGAZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                        <div class="contestAward">우수상</div>
                        <div class="contestName f16">팀/문대명</div>
                    </div>
                    <p class="mt10 f23">리얼 영상 사진 공모전 최우수상 </p>
                    <p class="f_pp gray04 f13 mt20">2018.10.30</p>
                </div>
            </div>
        </div>
    </div><!--//contant1160-->
    <div class="contant1460">
        <div class="row topLineG">
            <ul class="dcfMdiaBox02 mt120 ">
                <li>
                    <iframe src="https://www.youtube.com/embed/2Cvw3_oPEkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">What 두유 Pick?</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/xdXaV7J4b-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">당신의 원픽은? 최애 하나만 골라!</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/9bfAAudVIKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">베지밀 답정너 물리친 썰</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/z_DOaHmnyRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">마음에서 마음으로</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/1R7AYWq81F8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">VEGEMIL is VEGEMEAL !</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/-_HFSGzicWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">리얼 간편해, 리얼 코코넛</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/-IeWREQrJcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">프로지각러가 살아가는 법, 리얼 아몬드</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/6XgGro9X8_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="round20"></iframe>
                    <p class="mt10">리얼 충전, 리얼 월넛</p>
                    <p class="f_pp gray04 f13 mt20">2019.11</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>