<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 비젼</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
	<!-- ================================ Header ================================ -->
	<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
	<!-- ================================ // Header ================================ -->
	<!-- ================================ 
		Content
================================ -->
	<div id="content" class="pb100">
		<div class="content100 ">
			<div class="subTopESG h440 mt90h">
				<div class="centerH">
					<p class="f_pp white f18 fw400">Company</p>
					<p class="white f45 fw600">ESG</p>
				</div>
			</div>
		</div>
		<div class="contant1460">
			<div class="subMenu">
				<p class="btnSubLeft">
					<a href="/company/media"><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_grayLeft.png" alt="왼쪽" /><span class="f13 fw400 gray04">Back</span></a>
				</p>
				<!-- 해리 수정 -->
				<ul class="submenuUL">
					<li class="f18 fw500 active" ><a href="javascript:void(0);"><span>비젼</span></a></li>
					<li class="f18 fw500"><a href="/company/ems"><span>환경경영</span></a></li>
					<li class="f18 fw500"><a href="/company/csr"><span>사회공헌활동</span></a></li>
					<li class="f18 fw500"><a href="/company/cem"><span>윤리경영</span></a></li>
					
					
				</ul>
				<p class="btnSubRight">
					<a href="/company/ems"><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_grayRight.png" alt="왼쪽" /></a>
				</p>
				<!-- 해리 수정 -->
			</div>
			<p class="f14 fw400 black mt70 float-right btnType03">
				<a href="#"><img class="mr5" src="https://image.edaymall.com/images/mail/news/dcf/dcf2022/html/img/ico/ico_share.png" alt="공유" />공유</a>
			</p>
			<br class="clear">
		</div>
		<div class="contant1100 esg">
			<div class="row mb100">
				<div class="col-md-12 center ">
					<p class="vs_title  fw500 f38 ">
						ESG <span class="gold">Vision</span>
					</p>
					<br>
					<div class="gsg_gra f45 fw600 mt50 ">
						인류의 건강<span class="est_color01">과</span><br class="mView"> 지속가능한 미래 <span class="est_color01">추구</span>
					</div>
				</div>
				<div class="col-md-12 center  mt100 ">
					<p class="vs_title fw500 f38 mt50">
						ESG <span class="gold">전략방향</span>
					</p>
					<br>
				</div>
				<div class="col-4 mt50  center">
					<p class="esgImg ">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg01.jpg" alt="Environment" />
					</p>
					<div class="egs-arrow">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg_arrow.png" alt="" />
					</div>
					<ul class="esg-list">
						<li class="f20">지속 가능한 <br class="mView">원재료 확보
						</li>
						<li class="f20">친환경 <br class="mView">포장재 사용
						</li>
						<li class="f20">탄소 발자국 감소</li>
						<ul>
				</div>
				<div class="col-4 mt50  center">
					<p class="esgImg ">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg02.jpg" alt="Social" />
					</p>
					<div class="egs-arrow">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg_arrow.png" alt="" />
					</div>
					<ul class="esg-list ">
						<li class="f20">안전한 일터 조성</li>
						<li class="f20">소비자 건강 증진</li>
						<li class="f20">사회공헌 활동</li>
					</ul>
				</div>
				<div class="col-4 mt50  center">
					<p class="esgImg ">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg03.jpg" alt="Governance" />
					</p>
					<div class="egs-arrow">
						<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/esg_arrow.png" alt="" />
					</div>
					<ul class="esg-list ">
						<li class="f20">윤리적 경영 실천</li>
						<li class="f20">리스크 관리 강화</li>
						<li class="f20">이해관계자 참여</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="contant1760" style="display: none">
			<div class="row mt90h mt180">
				<div class="col-md-12 center">
					<img src="img/company/csr_01.jpg" alt="I love you">
					<p class="f66 fw600 mt80">
						<span class="gold">사회</span>와 함께 <span class="gold">성장</span>하는 기업
					</p>
					<p class="f23 mt50">
						유능한 인재를 양성함으로서 국가발전에 기여하고 기업의 사회적 책임을 다하고 있습니다.<br class="none"> 앞으로도 정식품은 모두가 함께 행복한 세상을 만들어 가겠습니다.
					</p>
				</div>
			</div>
			<ul class="row mt180 csrInfo">
				<li class="col-md-3 col-6">
					<div>
						<p class="f38 fw600">혜춘장학회</p>
						<p class="f18 mt40">정식품의 창업자이신 정재원 회장께서 유능한 인재를 양성하여 기업의 사회적 책임을 다하기 위해 설립하였습니다.</p>
						<p class="btnType24 mt70">
							<a href="https://hcsf.co.kr/" target="_blank"> <!-- 2022-12-29 링크1 --> <span class="f_pp">View More</span>
							</a>
						</p>
					</div>
				</li>
				<li class="col-md-3 col-6">
					<div>
						<p class="f38 fw600">굿네이버스</p>
						<p class="f18 mt40">정식품은 2009년 5월부터 굿네이버스의 저소득 결식아동을 후원하는 '굿바이캠페인'에 참가하고 있습니다.</p>
						<p class="btnType24 mt70">
							<a href="https://www.goodneighbors.kr/" target="_blank"> <!-- 2022-12-29 링크2 --> <span class="f_pp">View More</span>
							</a>
						</p>
					</div>
				</li>
				<li class="col-md-6"><img src="img/company/csr_02.jpg" alt="가족이미지"></li>
				<li class="col-md-3 col-6"><img src="img/company/csr_03.jpg" alt="유액 이미지"></li>
				<li class="col-md-3 col-6">
					<div>
						<p class="f38 fw600">한국심장재단</p>
						<p class="f18 mt40">정식품은 사회복지법인 한국심장재단에 정기 후원사로서 매월 일정액을 기부하고 있습니다.</p>
						<p class="btnType24 mt70">
							<a href="https://www.heart.or.kr/" arget="_blank"> <!-- 2022-12-29 링크3 --> <span class="f_pp">View More</span>
							</a>
						</p>
					</div>
				</li>
				<li class="col-md-3 col-6">
					<div>
						<p class="f38 fw600">혈액암협회</p>
						<p class="f18 mt40">정식품은 사단법인 한국혈액암협회에 정기 후원사로서 매월 일정액을 기부하고 있습니다.</p>
						<p class="btnType24 mt70">
							<a href="https://www.kbdca.or.kr/index.php" target="_blank"> <!-- 2022-12-29 링크4 --> <span class="f_pp">View More</span>
							</a>
						</p>
					</div>
				</li>
			</ul>
			<br class="clear">
		</div>
		<!-- //contant1460 -->
	</div>

	<!-- ================================  
		// Content
================================ -->


	<!-- ================================ Footer ================================ -->
	<footer th:replace="fragments/mainFooter :: footerFragment"></footer>
	<!-- ================================ // Footer ================================ -->
</body>
</html>