<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 창업주기념관</title>
   <head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="contant1760 mt90h">
		<div class="center mt250 ">            
            <p class="f45 fw600 mt50 lh140">창업주 기념관</p>
			 <p class="f18 fw400 gray04 mt20 lh140">정식품 창업주 정재원 명예회장 1917.01 ~ 2017.10</p>
        </div>
	   <div class="subTopHeri h600 mt100">
			<div class="centerL text-left">
				<p class="f_pp white f18 fw400">Dr.CHUNG'S  FOOD  Heritage</p>
				<p class="white f66 fw600">인류건강문화에 <br class="mView">이 몸 바치고저</p>
			</div>
		</div>
	</div>
	<div class="contant1460 whiteRound" >
		
		<p class="f14 fw400 black mt30 mr30 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear">
        <div class="center mt50">            
			<p class="f52 fw600  lh140"><span class="gold">의사로서의 사명감</span>으로 시작된<br>베지밀의 아버지,</p>
			<p class="f34 fw600 lh140 mt50">[ 혜춘 정재원 ]</p>
			<p class="mt50 f18 fw400 gray04 lh170">1937년, 가난한 급사에서 독학으로 시작된 소아과 의사 생활<br class="wView">그리고 치료받지 못하고 보내야 했던 아이들을 살리기 위해 바친 30년의 청춘</p>

			<p class="mt20 f18 fw400 gray04 lh170">유당불내증.<br>오랜 유학의 끝에 규명한 원인을 극복하기 위해 베지밀이라는 치유식을 개발했습니다.<br class="wView">겉으론 평범한 음료 한 병.</p>

			<p class="mt20 f18 fw400 gray04 lh170">그러나 그 안에는 죽어가는 아이를 살리기 위한 의사의 사명이 한 평생이 담겨있습니다.<br class="wView">
그 곧고 바른 마음에서 치유로, 제품에서 사랑으로 이어져 오늘의 정식품을 만들었습니다.</p>
			<div class="mt100">
				<iframe class="vegemilstory" src="https://www.youtube.com/embed/IfIpAiAGwPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

        </div>
    </div><!--//contant1460-->

    <div class="contant100 mt250">
	    <div class="row">
            <div class="col-md-12 ">
               <!-- 탭 시작 -->
			   <!-- tab -->
				<div class="heriTab ">
					<div class="contant1460">
						<ul class="tabs5 menu3 f14">
							<li class="fw400"><a href="#history01">유소년기</a></li>
							<li class="fw400"><a href="#history02">청장년기</a></li>
							<li class="fw400"><a href="#history03">노년기</a></li>
						</ul>
					</div>
					<div class="tab_content5 ">
						<div id="history01">
							<div class="row">
								<div class="subMiddleHeri01 h540">
									<div class="centerH">
										<p class="f23 fw600 white lh150">幼少年期</p>
										<p class="f45 fw600 white center lh150">유소년기</p>
										<p class="mt100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/year01.png" ></p>
									</div>
								</div>
								<div class="contant1460 whiteRound">
									<div class="heriBox">
										<div class="row">
											<div class="col-md-6">
												<p class="f52 fw600 lh130">유소년기</p>
												<p class="f23 fw500 mt10 lh130">1917~1937</p>
												<table border="0" summary="유소년기" class="heirT mt50">
													<tr>
														<th class="f23 f_pp  black">1917.01</th>
														<td class="f16  gray04">황해도 은율 출생</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1932.</th>
														<td class="f16  gray04">평양 기성의학강습소 재직</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1937.06</th>
														<td class="f16  gray04">의사검정고시 합격</td>
													</tr>
												</table>
												<p class="img100 mt120 "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri01.jpg" /></p>
												<p class="mt10 gray04 f16">견습의사 시절</p>
											</div>
											<div class="col-md-6 ">
												<div class="img100 w410 text-right"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri02.jpg" />
													<p class="mt10 gray04 text-right f16">정재원명예회장의 어머니</p>
												</div>
											</div>
										</div>
									</div>
								</div><!--//contant1460-->
							</div>
						</div>
						<div id="history02">
							<div class="row">
								<div class="subMiddleHeri02 h540">
									<div class="centerH">
										<p class="f23 fw600 white lh150">幼少年期</p>
										<p class="f45 fw600 white center lh150">청장년기</p>
										<p class="mt100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/year02.png" ></p>
									</div>
								</div>
								<div class="contant1460 whiteRound">
									<div class="heriBox">
										<div class="row">
											<div class="col-md-6">
												<p class="f52 fw600 lh130">청장년기</p>
												<p class="f23 fw500 mt10 lh130">1937~1967</p>
												<table border="0" summary="유소년기" class="heirT mt50">
												
													<tr>
														<th class="f23 f_pp  black">1937.</th>
														<td class="f16  gray03 f16">명동성모병원 의사 활동 시작</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1939.</th>
														<td class="f16  gray03 f16">인천 해성병원 원장 역임</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1940.</th>
														<td class="f16  gray03 f16">황해도 태탄 안당의원 개원</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1942. 04.</th>
														<td class="f16  gray03 f16">결혼</td>
													</tr>
												</table>
												<p class="img100 mt120 "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri04.jpg" /></p>
												<p class="mt10 gray04 f16">인천해성병원</p>

												<table border="0" summary="유소년기" class="heirT mt100">
													<colgroup>
														<col width="30%">
														<col width="70%">
													</colgroup>
													<tr>
														<th class="f23 f_pp  black">1966.</th>
														<td class="f16  gray03">베지밀 개발 완료 및 발명특허</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1966.</th>
														<td class="f16  gray03">국제무역박람회 대법원장상 수상</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1966.</th>
														<td class="f16  gray03">연세대학교 외래교수</td>
													</tr>
												</table>
												<p class="img100 mt120 "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri06.jpg" alt=""/></p>
												<p class="mt10 gray04 f16">서울 회현동 정소아과</p>

											</div>
											<div class="col-md-6 ">
												<div class="img100 w410 text-right "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri03.jpg" alt="율리아 여사와 결혼"/>
													<p class="mt10 gray04 text-right f16">율리아 여사와 결혼</p>
												</div>
												<div class="img100 w410 text-right mt150"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri05.jpg" alt="소아불치병 연구를 위해 유학 중"/>
													<p class="mt10 gray04 text-right f16">소아불치병 연구를 위해 유학 중</p>
												</div>
												<div class="img100 w410 text-right mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri07.jpg" alt="소아불치병 해답을 찾고 귀국"/>
													<p class="mt10 gray04 text-right f16">소아불치병 해답을 찾고 귀국</p>
												</div>
											</div>
										</div>
									</div>
								</div><!--//contant1460-->
							</div>
						</div>
						<div id="history03">
							<div class="row">
								<div class="subMiddleHeri02 h540">
									<div class="centerH">
										<p class="f23 fw600 white lh150">老年期</p>
										<p class="f45 fw600 white center lh150">노년기</p>
										<p class="mt100"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/year03.png" ></p>
									</div>
								</div>
								<div class="contant1460 whiteRound">
									<div class="heriBox">
										<div class="row">
											<div class="col-md-6">
												<p class="f52 fw600 lh130">노년기</p>
												<p class="f23 fw500 mt10 lh130">1972~2017</p>
												<table border="0" summary="유소년기" class="heirT mt50">
													<tr>
														<th class="f23 f_pp  black">1972.</th>
														<td class="f16  gray03">재단법인 정건강관리소 정식 개업</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1973. 09.</th>
														<td class="f16  gray03">주식회사 정식품 설립. 베지밀 제조공장 준공(신갈)</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1984. 07.</th>
														<td class="f16  gray03">베지밀 제2 제조공장 준공(청주)</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1984. 12.</th>
														<td class="f16  gray03">재단법인 혜춘장학회 설립 및 이사장 취임</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1993. 01.</th>
														<td class="f16  gray03">베지밀C 한국발명특허 (No. 093635) 획득</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1995. 02.</th>
														<td class="f16  gray03">베지밀C 호주발명특허 (No. 654241) 획득</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">1995. 05.</th>
														<td class="f16  gray03">베지밀C 미국발명특허 (U.S. Patent No. 5413803) 획득</td>
													</tr>
												</table>
												<p class="img100 mt120 "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri09.jpg" alt="" /></p>
												<p class="mt10 gray04">최초의 1966 베지밀</p>
												<p class="img100 mt120 "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri11.jpg" alt="" /></p>
												<p class="mt10 gray04">신갈 제조공장 </p>

												<table border="0" summary="노년기" class="heirT mt100">
													<colgroup>
														<col width="30%">
														<col width="70%">
													</colgroup>
													<tr>
														<th class="f23 f_pp  black">1998. 07.</th>
														<td class="f16  gray03">국제 콩 심포지엄 개최</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">2002. 03.</th>
														<td class="f16  gray03">명예회장</td>
													</tr>
													<tr>
														<th class="f23 f_pp  black">2017.10.</th>
														<td class="f16  gray03">별세</td>
													</tr>
												</table>
											
											</div>
											<div class="col-md-6 ">
												<div class="img100 w410 text-right "><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri08.jpg" alt="병원 지하에서 완성된 베지밀 개발"/>
													<p class="mt10 gray04 text-right">병원 지하에서 완성된 베지밀 개발</p>
												</div>
												<div class="img100 w410 text-right mt150"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri10.jpg" alt="베지밀 발명 특허상 수상"/>
													<p class="mt10 gray04 text-right">베지밀 발명 특허상 수상</p>
												</div>
												<div class="img100 w410 text-right mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/heri12.jpg" alt="명예회장 역임"/>
													<p class="mt10 gray04 text-right">명예회장 역임</p>
												</div>
											</div>
										</div>
									</div>
								</div><!--//contant1460-->
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('.heriTab').basicTabs5();
					});
				</script>
			   <!-- //탭 시작 -->
            </div>
		</div>
	</div><!--//contant1460-->
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>