<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 창업주기념관</title>
   <head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="starHeader" >
<div id="skipNav">
	<a href="#content">본문 바로가기</a>
</div>
<div id="header" class="white">
	<div class="bg"></div>
	<div class="wView" >
		<h1 class="logo"><a href="/" title="정식품 CI"></a></h1>
		<nav id="gnb" >
			<ul>
				<li><a href="/company/heritige" id="gnbTarget" onclick="oneDepMenu()" class="f_pp">Company</a>
				<div class="depth02_menu_wrap">
					<div class="inner">
						<ul class="gnb_depth2">
							<li><a href="/company/heritige">창업주 기념관</a></li>
							<li><a href="/company/greetings">기업 정보</a>
								<ul class="gnb_depth3">
									<li><a href="/company/greetings">대표이사 인사말</a></li>
									<li><a href="/company/profile">프로필</a></li>
									<li><a href="/company/history">연혁</a></li>
									<li><a href="/company/nnp">관련사</a></li>
									<li><a href="/company/finance">공시</a></li>
								</ul>
							</li>
							<li><a href="/company/media">홍보센터</a>
								<ul class="gnb_depth3">
									<li><a href="/company/mediaNews">보도자료</a></li>
									<li><a href="/company/media">미디어</a></li>
									<!--<li><a href="/company/contest">영상 공모전</a></li>-->
								</ul>
							</li>
							<li><a href="/company/csr">사회공헌활동</a></li>
							<!--
							<li><a href="/company/mediaNews">PR PRESS</a>
								<ul class="gnb_depth3">
									
									<li><a href="/company/notice">공지사항</a></li>
								</ul>
							</li>
							-->
							<li><a href="/rnd/factory">청주공장</a>
								<ul class="gnb_depth3">
									<li><a href="/rnd/factory">청주공장 소개</a></li>
									<li><a href="/rnd/factoryTour">견학 신청</a></li>
									<li><a href="/rnd/tourReview">견학 후기</a></li>
								</ul>
							</li>
							
							<li><a href="/company/agency">전국 영업소</a></li>

						</ul>
					</div>
				</div>
				</li>
				<li><a href="/brandStory/vegemil" onclick="oneDepMenu()" class="f_pp">Product</a>
				<div class="depth02_menu_wrap">
					<div class="inner">
						<ul class="gnb_depth2">
							<li><a href="/brandStory/vegemil">브랜드 스토리</a>
								<ul class="gnb_depth3">
									<li><a href="/brandStory/vegemil">베지밀</a></li>
									<li><a href="/brandStory/greenbia">그린비아</a></li>
									<li><a href="/brandStory/recipe">간단요리사</a></li>
									<li><a href="/brandStory/simcheonsoo">심천수</a></li>
								</ul>
							</li>
							<li><a href="/product/list">제품 소개</a></li>
							<li><a href="/product/cook">쿡앤쿡 레시피</a>
								<ul class="gnb_depth3">
									<li><a href="/product/cook">베지밀 레시피</a></li>
									<li><a href="/beanSoup/list" target="_blacnk">간단요리사 레시피 <span class="ico_arrow_gray"></span></a></li>
									<li><a href="/beanSoupRecipe/index" target="_blacnk">콩국물 레시피 <span class="ico_arrow_gray"></span></a></li>
								</ul>
							</li>
							<li><a href="https://www.edaymall.com" target="_blacnk">공식 쇼핑몰 </a>
								<ul class="gnb_depth3">
									<li><a href="https://www.edaymall.com" target="_blacnk">이데이몰 <span class="ico_arrow_gray"></span></a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				</li>
				<li><a href="/rnd/introduce" id="gnbTarget" onclick="oneDepMenu()" class="f_pp">R&D</a>
				<div class="depth02_menu_wrap" >
					<div class="inner" >
						<ul class="gnb_depth2">
							<li><a href="/rnd/phd">중앙연구소</a>
								<ul class="gnb_depth3">
									<li><a href="/rnd/phd">연구소장 인사말</a></li>
									<li><a href="/rnd/introduce">연구소 소개</a></li>
									<li><a href="/rnd/devWork">R&D 활동</a></li>
								</ul>
							</li>
							<li><a href="/rnd/patent">특허 및 연구논문</a>
							</li>
							<li><a href="/rnd/haccp">식품안전인증현황</a>
								<ul class="gnb_depth3">
									<li><a href="/rnd/haccp">HACCP 인증</a></li>
									<li><a href="/rnd/fssc">FSSC 22000 인증</a></li>
									<li><a href="/rnd/halal">HALAL 인증</a></li>
								</ul>
							</li>
							<li><a href="/rnd/ccm">일반인증현황</a>
								<ul class="gnb_depth3">
									<li><a href="/rnd/ccm">CCM 인증</a></li>
									<li><a href="/rnd/epd">환경성적표지 인증</a></li>
									<li><a href="/rnd/iso">ISO 45001 인증</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				</li>
				<li><a href="/communication/voc" onclick="oneDepMenu()" class="f_pp">Communication</a>
					<div class="depth02_menu_wrap">
						<div class="inner">				
							<ul class="gnb_depth2">
								<li><a href="/webzine">정식품 웹진</a>
									<ul class="gnb_depth3">
										<li><a href="/webzine">웹진 바로가기</a></li>
										<li><a href="/webzine/subscribe">웹진 신청</a></li>
									</ul>
								</li>
								<li><a href="https://www.instagram.com/vegemil.official/">SNS</a>
									<ul class="gnb_depth3">
										<li><a href="https://www.instagram.com/vegemil.official/" target="_blank">정식품 인스타그램 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.instagram.com/vegemil_baby/" target="_blank">영&middot;유아식 인스타그램 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.facebook.com/vegemilgood" target="_blank">정식품 페이스북 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://blog.naver.com/vegemilstory" target="_blank">정식품 블로그 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.youtube.com/user/vegemilgood" target="_blank">정식품 유튜브 <span class="ico_arrow_gray"></span></a></li>
									</ul>
								</li>
								<li><a href="/event/list">이벤트</a></li>
								<li><a href="/vegemilBaby/index">베지밀 영&middot;유아식</a>
									<ul class="gnb_depth3">
										<li><a href="/vegemilBaby/sample" target="_blank">샘플신청 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="/vegemilBaby/event_review_best" target="_blank">후기 이벤트 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="/vegemilBaby/event/model" target="_blank">아기달력모델 <span class="ico_arrow_gray"></span></a></li>
									</ul>
								</li>
								<li><a href="/communication/cp">공정거래(CP)</a>
								</li>
								<li><a href="/communication/voc">고객문의</a>
									<ul class="gnb_depth3">
										<li><a href="/communication/voc">고객의 소리</a></li>
										<li><a href="/faq/list">자주 묻는 질문</a></li>
										<li><a href="/communication/ask">1:1문의</a></li>
									</ul>
								</li>
								
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<div class="header-right">
			<ul class="sub_area">
				<li sec:authorize="isAnonymous()"><a href="/member/login">로그인</a></li>
				<li sec:authorize="isAnonymous()"><a href="/member/join">회원가입</a></li>
				<li sec:authorize="hasAuthority('USER')"><span class="level-01">[일반회원]</span></li>
				<li sec:authorize="hasAuthority('COMP')"><span class="level-01">[법인회원]</span></li>
				<li sec:authorize="hasAuthority('ADMIN')"><span class="level-01">[관리자]</span></li>
			    <li sec:authorize="isAuthenticated()"><a sec:authorize="isAuthenticated()" href="/mypage/list">마이페이지</a></li>
			    <li sec:authorize="isAuthenticated()"><a href="/member/logout" >로그아웃</a></li>
			    <li>
					<!-- fullMenu -->
					<!-- 수정 --> <span class="btn_fullMenu" onclick="openNav()" ></span><!-- //수정 -->
					<div id="myNav" class="overlay">
						
						<div class="overlay-content">
							<dl class="full_box">
								<dd>
									<p class="full_logo"><a href="/"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/logo_w.png" alt="정식품 CI" /></a></p>
									<ul class="full-header-right">
										<li sec:authorize="isAnonymous()"><a href="/member/login">로그인</a></li>
										<li sec:authorize="isAnonymous()"><a href="/member/join">회원가입</a></li>
									    <li sec:authorize="isAuthenticated()"><a href="/mypage/list">마이페이지</a></li>
									    <li sec:authorize="isAuthenticated()"><a href="/member/logout" >로그아웃</a></li>
										 <!-- 
										<li>
											<div class="custom-sel gray">
											  <select>
												<option value="KOR">KOR</option>
												<option value="ENG" >ENG</option>
											  </select>
											</div>
										</li>
										 -->
										<li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btn_fullMenu_close.png" alt="닫기버튼" /></a></li>
									</ul>
								</dd>
								<dd class="full_dep">
									<div class="fd_title">
										<li class="f30 f_pp white lh100">Company</li>
									</div>
									<ul>
										<li><a href="/company/heritige">창업주 기념관</a></li>
									</ul>
									<ul>
										<li><a href="/company/greetings">기업 정보</a></li>
										<li><a href="/company/greetings">대표이사 인사말</a></li>
										<li><a href="/company/profile">프로필</a></li>
										<li><a href="/company/history">연혁</a></li>
										<li><a href="/company/nnp">관련사</a></li>
										<li><a href="/company/finance">공시</a></li>
									</ul>
									<ul>
										<li><a href="/company/media">홍보센터</a></li>
										<li><a href="/company/mediaNews">보도자료</a></li>
										<li><a href="/company/media">미디어</a></li>
									</ul>
									<!--
									<ul>
										<li><a href="/company/mediaNews">PR PRESS</a></li>
										<li><a href="/company/notice">공지사항</a></li>
									</ul>
									-->
									<ul>
										<li><a href="/company/csr">사회공헌활동</a></li>
									</ul>
									<ul>
										<li><a href="/rnd/factory">청주공장</a></li>
										<li><a href="/rnd/factory">청주공장 소개</a></li>
										<li><a href="/rnd/factoryTour">견학 신청</a></li>
										<li><a href="/rnd/tourReview">견학 후기</a></li>
									</ul>
									<ul>
										<li><a href="/company/agency">전국 영업소</a></li>
									</ul>
								</dd>
								<dd class="full_dep">
									<div class="fd_title">
										<li class="f30 f_pp white lh100">Product</li>
									</div>
									<ul>
										<li><a href="/brandStory/vegemil">브랜드 스토리</a></li>
										<li><a href="/brandStory/vegemil">베지밀</a></li>
										<li><a href="/brandStory/greenbia">그린비아</a></li>
										<li><a href="/brandStory/recipe">간단요리사</a></li>
										<li><a href="/brandStory/simcheonsoo">심천수</a></li>
									</ul>
									<ul>
										<li><a href="/product/list">제품 소개</a></li>
									</ul>
									<ul>
										<li><a href="/product/cook">쿡앤쿡 레시피</a></li>
										<li><a href="/product/cook">베지밀 레시피 </a></li>
										<li><a href="/beanSoup/list" target="_blank">간단요리사 레시피 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="/beanSoupRecipe/index" target="_blank">콩국물 레시피 <span class="ico_arrow_gray"></span></a></li>
									</ul>
									<ul>
										<li><a href="https://www.edaymall.com" target="_blacnk">공식 쇼핑몰</a></li>
										<li><a href="https://www.edaymall.com" target="_blacnk">이데이몰 <span class="ico_arrow_gray"></span></a></li>
									</ul>
									
								</dd>
								<dd class="full_dep">
									<div class="fd_title">
										<li class="f30 f_pp white lh100">R&D</li>
									</div>
									<ul>
										<li><a href="/rnd/phd">중앙연구소</a></li>
										<li><a href="/rnd/phd">연구소장 인사말</a></li>
										<li><a href="/rnd/introduce">연구소 소개</a></li>
										<li><a href="/rnd/devWork">R&D 활동</a></li>
									</ul>
									
									<ul>
										<li><a href="/rnd/patent">특허 및 연구논문</a></li>
										<!-- 
										<li><a href="/rnd/patent">연구논문</a></li>
										<li><a href="/rnd/patent">특허현황</a></li>
										<li><a href="/rnd/patent">공동 연구현황</a></li>
										 -->
									</ul>
									<ul>
										<li><a href="/rnd/haccp">식품안전인증현황</a></li>
										<li><a href="/rnd/haccp">HACCP 인증</a></li>
										<li><a href="/rnd/fssc">FSSC 22000 인증</a></li>
										<li><a href="/rnd/halal">HALAL 인증</a></li>
									</ul>

									<ul>
										<li><a href="/rnd/ccm">일반인증현황</a></li>
										<li><a href="/communication/ccm">CCM 인증</a></li>
										<li><a href="/rnd/epd">환경성적표지 인증</a></li>
										<li><a href="/rnd/iso">ISO 45001 인증</a></li>
									</ul>
								</dd>
								<dd class="full_dep">
									<div class="fd_title">
										<li class="f30 f_pp white lh100">Communication</li>
									</div>
									<ul>
										<li><a href="/webzine">정식품 웹진</a></li>
										<li><a href="/webzine">웹진 바로가기</a></li>
										<li><a href="/webzine/subscribe">웹진 신청</a></li>
									</ul>
									<ul>
										<li><a href="https://www.instagram.com/vegemil.official/" target="_blank">SNS </a></li>
										<li><a href="https://www.instagram.com/vegemil.official/" target="_blank">정식품 인스타그램 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.instagram.com/vegemil_baby/" target="_blank">영&middot;유아식 인스타그램 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.facebook.com/vegemilgood" target="_blank">정식품 페이스북 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://blog.naver.com/vegemilstory" target="_blank">정식품 블로그 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="https://www.youtube.com/user/vegemilgood" target="_blank">정식품 유튜브 <span class="ico_arrow_gray"></span></a></li>
									</ul>
									<ul>
										<li><a href="/event/list">이벤트</a></li>
									</ul>
									<ul>
										<li><a href="/vegemilBaby/index">베지밀 영&middot;유아식</a></li>
										<li><a href="/vegemilBaby/sample" target="_blank">샘플신청 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="/vegemilBaby/event_review_best" target="_blank">후기 이벤트 <span class="ico_arrow_gray"></span></a></li>
										<li><a href="/vegemilBaby/event/model" target="_blank">아기달력모델 <span class="ico_arrow_gray"></span></a></li>
									</ul>
									<ul>
										<li><a href="/communication/cp">공정거래(CP)</a></li>
									</ul>
									<ul>
										<li><a href="/communication/voc">고객문의</a></li>
										<li><a href="/communication/voc">고객의 소리</a></li>
										<li><a href="/faq/list">자주 묻는 질문</a></li>
										<li><a href="/communication/ask">1:1문의</a></li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
					<!-- //fullMenu -->
				</li>
				
			</ul>
		</div>
	</div><!-- //wView -->
</div><!-- //header -->
<div class="mView">
	<div class="m_header">
		<!-- 수정 -->
		<div class="m_h_left"><a href="/"><span></span></a></div>
		<ul class="m_h_right">
			<!-- 검색기능 추후 개발 -->
			<!-- <li class="btn_m_search"><a href="#"><span></span></a></li> -->
			<li class="btn_m_edaymall"><a href="https://m.edaymall.com"><span></span></a></li>	
			<li class="btnOpen"><span style="cursor:pointer" onclick="openAside()"></span></li>	
		</ul>
		<!-- //수정 -->
	</div>

	<div id="mobileAside" class="mAside scrollNone" >
		<ul class="maTop">
			<!-- <li><span class="active">KOR</span> <span>EN</span></li> -->
			<li><a href="javascript:void(0)" class="m_closebtn" onclick="closeAside()"><img src="https://image.edaymall.com/images/dcf/vegemil/img/btn/btn_fullMenu_close.png" alt="모바일 닫기버튼"/></a></li>
		</ul>
		
		<div class="mAside-content">
			<!-- vertical -->
			<div id="verticalType01" >
				<div class="ver-title01"><p>Company</p></div>
				<div>
					<div class="v_content">
						<ul class="v_con_ul">
							<li><a href="/company/heritige">창업주 기념관</a></li>
							<li><a href="/company/info">기업정보</a>
								<dl class="v_con_dl">
									<dd><a href="/company/greetings">대표이사 인사말</a></dd>
									<dd><a href="/company/profile">프로필</a></dd>
									<dd><a href="/company/history">연혁</a></dd>
									<dd><a href="/company/nnp">관련사</a></dd>
									<dd><a href="/company/finance">공시</a></dd>
								</dl>
							</li>
							<li><a href="/company/info">홍보센터</a>
								<dl class="v_con_dl">
									<dd><a href="/company/mediaNews">보도자료</a></dd>
									<dd><a href="/company/media">미디어</a></dd>
								</dl>
							</li>
							<li><a href="/company/csr">사회공헌활동</a></li>
							<li><a href="/rnd/factory">청주공장</a>
								<dl class="v_con_dl">
									<dd><a href="/rnd/factory">청주공장 소개</a></dd>
									<dd><a href="/rnd/factoryTour">견학 신청</a></dd>
									<dd><a href="/rnd/tourReview">견학 후기</a></dd>
								</dl>
							</li>
							<li><a href="/company/agency">전국 영업소</a></li>
						</ul>
					</div>
				</div>
				<div class="ver-title01"><p>Product</p></div>
				<div>
					<div class="v_content">
						<ul class="v_con_ul">
							<li><a href="/brandStory/vegemil">브랜드 스토리</a>
								<dl class="v_con_dl">
									<dd><a href="/brandStory/vegemil">베지밀</a></dd>
									<dd><a href="/brandStory/greenbia">그린비아</a></dd>
									<dd><a href="/brandStory/recipe">간단요리사</a></dd>
									<dd><a href="/brandStory/simcheonsoo">심천수</a></dd>
								</dl>
							</li>
							<li><a href="/product/list">제품 소개</a></li>
							<li><a href="/product/cook">쿡앤쿡 레시피</a>
								<dl class="v_con_dl">
									<dd><a href="/product/cook">베지밀 레시피</a></dd>
									<dd><a href="/beanSoup/list" target="_blank">간단요리사레시피 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="/beanSoupRecipe/index" target="_blank">콩국물 레시피 <span class="ico_arrow_gray"></span></a></dd>
								</dl>
							</li>
							<li><a href="https://www.edaymall.com" target="_blanck">공식 쇼핑몰</a>
								<dl class="v_con_dl">
									<dd><a href="/product/cook" target="_blank">이데이몰 <span class="ico_arrow_gray"></span></a></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="ver-title01"><p>R&D</p></div>
				<div>
					<div class="v_content" >
						<ul class="v_con_ul">
							<li><a href="/rnd/phd">중앙연구소</a>
								<dl class="v_con_dl">
									<dd><a href="/rnd/phd">연구소장 인사말</a></dd>
									<dd><a href="/rnd/introduce">연구소 소개</a></dd>
									<dd><a href="/rnd/devWork">R&D 활동</a></dd>
								</dl>
							</li>
							<li><a href="/rnd/patent">특허 및 연구논문</a>
							<li><a href="/rnd/haccp">식품안전인증현황</a>
								<dl class="v_con_dl">
									<dd><a href="/rnd/haccp">HACCP 인증</a></dd>
									<dd><a href="/rnd/fssc">FSSC 22000 인증</a></dd>
									<dd><a href="/rnd/halal">HALAL 인증</a></dd>
								</dl>
							</li>
							<li><a href="/rnd/ccm">일반인증현황</a>
								<dl class="v_con_dl">
									<dd><a href="/rnd/ccm">CCM 인증</a></dd>
									<dd><a href="/rnd/epd">환경성적표지 인증</a></dd>
									<dd><a href="/rnd/iso">ISO 45001 인증</a></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="ver-title01"><p>Communication</p></div>
				<div>
					<div class="v_content">
						<ul class="v_con_ul">
							<li><a href="/webzine">정식품 웹진</a>
								<dl class="v_con_dl">
									<dd><a href="/webzine">웹진 바로가기</a></dd>
									<dd><a href="/webzine/subscribe">웹진 신청</a></dd>
								</dl>
							</li>
							<li><a href="https://www.instagram.com/vegemil.official/">SNS</a>
								<dl class="v_con_dl">
									<dd><a href="https://www.instagram.com/vegemil.official/" target="_blank">정식품 인스타그램 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="https://www.instagram.com/vegemil_baby/" target="_blank">영&middot;유아식 인스타그램 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="https://www.facebook.com/vegemilgood" target="_blank">정식품 페이스북 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="https://blog.naver.com/vegemilstory" target="_blank">정식품 블로그 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="https://www.youtube.com/user/vegemilgood" target="_blank">정식품 유튜브 <span class="ico_arrow_gray"></span></a></dd>
								</dl>
							</li>
							<li><a href="/event/list">이벤트</a></li>
							<li><a href="/vegemilBaby/index">베지밀 영&middot;유아식</a>
								<dl class="v_con_dl">
									<dd><a href="/vegemilBaby/sample" target="_blank">샘플신청 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="/vegemilBaby/event_review_best" target="_blank">후기 이벤트 <span class="ico_arrow_gray"></span></a></dd>
									<dd><a href="/vegemilBaby/event/model" target="_blank">아기달력모델 <span class="ico_arrow_gray"></span></a></dd>
								</dl>
							</li>
							<li><a href="/communication/cp">공정거래(CP)</a></li>
							<li><a href="/communication/voc">고객문의</a>
								<dl class="v_con_dl">
									<dd><a href="/communication/voc">고객의 소리</a></dd>
									<dd><a href="/faq/list">자주 묻는 질문</a></dd>
									<dd><a href="/communication/ask">1:1문의</a></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //vertical -->
		</div>
		<ul class="maBotton">
			<li><span><a sec:authorize="isAnonymous()" href="/member/login">로그인</a></span></li>
			<li><span><a sec:authorize="isAnonymous()" href="/member/join">회원가입</a></span></li>
			<li><span sec:authorize="hasAuthority('USER')" class="level-01">[일반회원]</span></li>
			<li><span sec:authorize="hasAuthority('COMP')" class="level-01">[법인회원]</span></li>
			<li><span sec:authorize="hasAuthority('ADMIN')" class="level-01">[관리자]</span></li>
		    <li><span sec:authorize="isAuthenticated()"><a href="/mypage/list">마이페이지</a></span></li>
		    <li><span><a sec:authorize="isAuthenticated()" href="/member/logout" >로그아웃</a></span></li>
		</ul>
	</div>
	
</div>
<script>
/*---------------------------------------------------------------------------------------------------------------------------
 * 	 PC Menu
 *--------------------------------------------------------------------------------------------------------------------------*/
	$('#gnb > ul > li > a').on("mouseenter focusin",function(e){
		$('#gnb > ul > li').removeClass('on');

		$(this).parent('li').addClass('on')
		$('#header').addClass('open');
		
		var hd = $(this).next('.depth02_menu_wrap').stop().innerHeight();
		var num = hd + 91;
		
		$('#header').stop().animate({height: num}, 340);
		e.preventDefault();
	})

	$('.gnb_depth2').find('a').on("focusin",function(e){
		$('#gnb > ul > li').removeClass('on');

		$(this).parents('#gnb > ul > li').addClass('on')
		$('#header').addClass('open');
		
		var hd = $(this).parents('.depth02_menu_wrap').stop().innerHeight();
		var num = hd + 101;
		
		$('#header').stop().animate({height: num}, 340);
	})

	// 
	if (matchMedia("screen and (min-width: 800px)").matches) {
		$('#header, .all_search_pop').on("mouseleave",function(){
			gnb_close();
		})
	}
	
	$('#gnb').find("a").last().on("focusout",function(){
		gnb_close();
	});

	function gnb_close(){
		$('#header ').stop().css({height: 90});//웹에서 90으로 변경필요, 
		$('#gnb > ul > li').removeClass('on');
		$('#header').removeClass('open');
	}


	
	
	/*================================
	 * 	 FullMenu
	*================================*/
	/* Open */
	function openNav() {
	  document.getElementById("myNav").style.height = "100%";
	}
	/* Close */
	function closeNav() {
	  document.getElementById("myNav").style.height = "0%";
	}
	/*================================
	 * 	 모바일 FullMenu
	*================================*/
	/* mobileAside Open */
	function openAside() {
	  document.getElementById("mobileAside").style.width = "70%";
	}

	/* mobileAside Close */
	function closeAside() {
	  document.getElementById("mobileAside").style.width = "0%";
	}


	// 모바일메뉴 vertical
	$("#verticalType01").collapse({
	  accordion: true, //다열리고 싶을때
	  open: function() {
		this.addClass("open");
		this.css({ height: this.children().outerHeight() });
	  },
	  close: function() {
		this.css({ height: "0px" });
		this.removeClass("open");
	  }
	});


	/*================================
	 * 	 Main > Floating
	 *================================*/
	// jQuery Load
	(function($){
		$(document).ready(function() {
			
			//
			if (!$('#flotingPage').length){return false}; //#contents -> wrap으로 변경 
			var limit =  $(window).height() - ($('.floting').height()+00);
			//alert(limit);
			if (limit > 0){
				$('.floting').addFloating({  
					targetRight: 10,  
					targetTop: 40,  //스크롤시 높이설정 
					snap: true  
				});  
			} else {
				$('.floting').addFloating({  
					targetRight: 10,  
					targetTop: 40,  
					snap: true  
				});  
			}	// end - 2022-02-18 주문 > 결제금액 계산기


		});
	})(jQuery);
	 
</script>
</header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content">
	<div class="content100 mt-60 bgBlack">
		
		<!-- smooth-scrolling -->
		<nav class="Quick-navigation f_pp">
			<a href="#star-page01" class="Quick-navigation-item">Home</a>
			<a href="#star-page02" class="Quick-navigation-item">Belief</a>
			<!-- <a href="#star-page03" class="Quick-navigation-item">History</a> -->
			<a href="#star-page04" class="Quick-navigation-item">History </a>
			<a href="#star-page05" class="Quick-navigation-item">Vegemil Story</a>
			<div class="Scroll-progress-indicator"></div>
		</nav>
		<div id="container-star" >
			<div class="bgStar01" >
				<section id="star-page01" class="js-scroll-step starbg01">
					<!-- shooting star -->
					<div class="starBox">
						<span class="star"></span>
						<span class="star pink"></span>
						<span class="star blue"></span>
						<span class="star yellow"></span>
						<span class="star yellow2"></span>
					</div>
					<!-- //shooting star -->
					<div class="centerH starZindex center f_sf">
						<p class="f_pp letter10 " >Dr.CHUNG'S  FOOD  Heritage</p>
						<p class="f66 fw400 mt50 lh130 f_sf" >인류건강문화에</p>
						<p class="f66 fw400  lh130" >이 몸 바치고저</p>
						<p class="f27 fw200 mt40" >혜춘 정재원</p>
					</div>
					<p class="btn_scroll_bottom" ><a href="#star-page02"><span class="f_pp f16 white ">Scroll</span><img class="mt10" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/btn_scroll.png" /></a></p>
				</section>

				<section id="star-page02"  class="js-scroll-step starbg02">
					<div class="centerH2 starZindex  f_sf text-left" >
						<div class="row">
							<div class="col-md-6">
								<div class="wView">
									<div class="f23 fw500" >의사로서의 사명감으로 시작된<br>베지밀의 아버지,</div>
									<p class="f45 fw500 mt20" >[ 혜춘 정재원 ]</p>
									<p class="f18 fw200 lh160 mt50 gray03" >
										1937년, 가난한 급사에서 독학으로 시작된 소아과 의사 생활<br>
										그리고 치료받지 못하고 보내야 했던 아이들을 살리기 위해 바친 30년의 청춘
										<br><br><br>
										유당불내증.<br>
										오랜 유학의 끝에 규명한 원인을 극복하기 위해 베지밀이라는 치유식을 개발했습니다.<br>
										
										<br><br>
										겉으론 평범한 음료 한 병.<br>
										그러나 그 안에는 죽어가는 아이를 살리기 위한 의사의 사명이 한 평생이 담겨있습니다.<br>
										그 곧고 바른 마음에서 치유로, 제품에서 사랑으로 이어져 오늘의 정식품을 만들었습니다.
									</p>
								</div>
								<div class="mView" >
									<div class="f23 fw500" ><div style="height:100px"></div>의사로서의 사명감으로 시작된<br>베지밀의 아버지,</div>
									<p class="f45 fw500 mt20">[ 혜춘 정재원 ]</p>
									<p class="f18 fw200 lh160 mt50 gray03" >
										1937년, 가난한 급사에서 독학으로 시작된 소아과 의사 생활<br>
										그리고 치료받지 못하고 보내야 했던 아이들을 살리기 위해 바친 30년의 청춘
										<br><br><br>
										유당불내증.<br>
										오랜 유학의 끝에 규명한 원인을 극복하기 위해 베지밀이라는 치유식을 개발했습니다.<br>
										
										<br><br>
										겉으론 평범한 음료 한 병.<br>
										그러나 그 안에는 죽어가는 아이를 살리기 위한 의사의 사명이 한 평생이 담겨있습니다.<br>
										그 곧고 바른 마음에서 치유로, 제품에서 사랑으로 이어져 오늘의 정식품을 만들었습니다.
									</p>
								</div>
							</div>
							<div class="col-md-6" >
								<div class="img_jjw " >
									<img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_jjw.png" />
								</div>
							</div>
						</div>
						
					</div>
				</section>
			</div>
			<div id="star-page04" class="js-scroll-step f_sf">
				<div class="starZindex">
					<div class="contant1310">
						<div class="row">
							<div class="col-md-6 pt100 star-photo-box"  >
								<p class="f45 white gbBar">1917~1937</p>
								<ul class="gray03 star-photo-txt mt60" >
									<li>
										<dl>
											<dd class="f18">1917. 01</dd>
											<dd class="f18">황해도 은율 출생</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1932.</dd>
											<dd class="f18">평양 기성의학강습소 재직</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1937. 06</dd>
											<dd class="f18">의사검정고시 합격</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pt100 star-photo-box" >
								<div class="w410"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_01.png" alt=""/>
									<p class="fw400 f18 gray03 mt20">홀로 삼남매를 키워주신 모친</p>
								</div>
							</div>
							<div class="col-md-6  star-photo-box" >
								<div class="mt50 w560"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_02.png" alt=""/>
									<p class="fw400 f18 gray03 mt20">견습 의사 시절</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6  star-photo-box" >
								<div class="w560 mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_03.png" />
									<p class="fw400 f18 gray03 mt20">인천 혜성 병원</p>
								</div>
								<ul class="gray03 star-photo-txt mt130" >
									<li>
										<dl>
											<dd class="f18">1947.</dd>
											<dd class="f18">서울 회현동 '정소아과' 개원</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1959.</dd>
											<dd class="f18">수도의과대학(현 고려대학병원)<br class="mView"> 박사과정 수료 (병리학)</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1960.</dd>
											<dd class="f18">소아 불치병을 연구하기 위해 영국 유학</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1961.</dd>
											<dd class="f18">일본 동경 소화의과대학 박사학위 취득</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1963.</dd>
											<dd class="f18">영국 런던대학교 <br class="mView">소아과대학원 전기코스 수료</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1963.</dd>
											<dd class="f18">미국 유학-알러지 전공 <br class="mView">(샌프란시스코 유씨 메디컬센터)</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1965.</dd>
											<dd class="f18">국내 유당불내증 치료식 연구 시작</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="col-md-6 mt50 mt100m star-photo-box" >
								<p class="f45 white gbBar">1937~1967</p>
								<ul class="gray03 star-photo-txt mt60" >
									<li>
										<dl>
											<dd class="f18">1937. 01</dd>
											<dd class="f18">명동성모병원 의사 활동 시작</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1939.</dd>
											<dd class="f18">인천 해성병원 원장</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1940.</dd>
											<dd class="f18">황해도 태탄 안당의원 개원</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1942.04</dd>
											<dd class="f18">결혼</dd>
										</dl>
									</li>
								</ul>
								<div class="mt100 w410"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_04.png" />
									<p class="fw400 f18 gray03 mt20">율리아 여사와 결혼</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 pt100 star-photo-box" >
								
							</div>
							<div class="col-md-6 pt100 star-photo-box" >
								
							</div>
						</div>




						<div class="row">
							<div class="col-md-6  mt50 star-photo-box" >
								<div class="w410"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_05.png" />
									<p class="fw400 f18 gray03 mt20">소아불치병 연구를 위해 유학 중</p>
								</div>
							</div>
							<div class="col-md-6 mt70 star-photo-box" >
								<div class="mt50 w560"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_06.png" />
									<p class="fw400 f18 gray03 mt20">서울 회현동 정소아과</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6  mt100 star-photo-box" >
								<ul class="gray03 star-photo-txt mt40" >
									<li>
										<dl>
											<dd class="f18">1966.</dd>
											<dd class="f18">베지밀 개발 완료 및 발명특허</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1966.</dd>
											<dd class="f18">국제무역박람회 대법원장상 수상</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1966.</dd>
											<dd class="f18">연세대학교 외래교수</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="col-md-6  mt50 star-photo-box" >
								<div class=" w560"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_07.png" />
									<p class="fw400 f18 gray03 mt20">병원 지하에서 개발한 최초의 베지밀</p>
								</div>
							</div>
						</div>


					</div>
					
				</div>
			</div>
			<div class="js-scroll-step f_sf">
				<div class="starZindex bgStar03 h700">
					<!-- shooting star -->
					<div class="wView">
						<span class="star"></span>
						<span class="star pink" ></span>
						<span class="star blue2"></span>
						<span class="star yellow" ></span>
						<span class="star yellow2" ></span>
					</div>
					<!-- //shooting star -->
				</div>
			</div>

			<div id="star-page05" class="js-scroll-step f_sf ">
				<div class="starZindex bgStar04"  style="border-bottom:1px solid #000">
					<div class="contant1310">
						
						<div class="row ">
							<div class="col-md-12  star-photo-box"  >
								<p class="f23 white mt60 fw200" >만약 그 일을 겪지 않았다면, 두유 개발에<br>인생을 걸어야 할 내 인연은 없었을지도 모른다.</p>
								<p class="f52 white mt20 fw200" >베지밀 탄생</p>
								<p class="f18 white mt40 fw200" >
								베지밀은 혜춘 정재원 박사가 의사로서의 소명의식을 바탕으로 30년간의 연구활동과 경험을 통해 <br>콩의 영양적 가치를 발견하고 콩으로 만든 식품개발에 시간과 열성을 바쳐 탄생시킨 건강 식품입니다.</p>
							</div>
							
						</div>
					</div>
					<!-- timeline -->
					<div class="timeline-carousel mt250 mb700" >
						<div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
							<!--Timeline item-->
							<div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick01.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">01</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">소아과 의사로서의 시작 </span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						   
							<!--Timeline item-->
							<div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick02.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">02</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">아이들을 살리기 위한 노력 </span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						   
						   <!--Timeline item-->
						   <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick03.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">03</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">유당 불내증 연구 </span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->

						   <!--Timeline item-->
						   <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick04.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">04</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">영유아 치료 목적의 베지밀 개발 </span></p>
									</div>
								</div>
							</div>


							
						   <!--/Timeline item-->
						   
						   <!--Timeline item-->
						    <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick05.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">05</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">베지밀 발명 특허상 수상</span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						   
						   <!--Timeline item-->
						   <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick06.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">06</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">(주)정&middot;식품 설립</span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						   <!--Timeline item-->
						   <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick07.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">07</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">국민 건강을 위한 베지밀 생산</span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						   <!--Timeline item-->
						    <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick08.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">08</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">청주 제2공장 준공</span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						    <!--Timeline item-->
							 <div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick09.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">09</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">혜춘장학회 설립</span></p>
									</div>
								</div>
							</div>

							
						   <!--/Timeline item-->
						    <!--Timeline item-->
							<div class="timeline-carousel__item">
								<div class="timeline-carousel__image ">
									<div class="media-wrapper media-wrapper--overlay" style="background: url('https://image.edaymall.com/images/dcf/vegemil/img/company/star_slick10.jpg') center center; background-size:cover;">
									<p class="photo-number f_pp f18">10</p>
									<p class="photo-title"><span class="f45 fw500 f_sf white">대한민국 오리지널 두유 베지밀</span></p>
									</div>
								</div>
							</div>
						   <!--/Timeline item-->
						</div>
					</div>
					<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js'></script>
					<script>
					$.js = function (el) {
						return $('[data-js=' + el + ']')
						};
						function carousel() {
						  $.js('timeline-carousel').slick({
							infinite: false,
							arrows: false,
							dots: true,
							autoplay: false,
							speed: 1100,
							slidesToShow: 2,
							slidesToScroll: 2,
							responsive: [
							  {
								breakpoint: 800,
								settings: {
								  slidesToShow: 1,
								  slidesToScroll: 1
								}
							  }]
						  });
						}
						carousel();
					</script>
					<!-- //timeline -->
				</div><!-- // starZindex bgStar04 -->
				<div class="starZindex  star-mt-520">
					<div class="contant1310 pt200">
						<div class="row flex">
							<div class="col-md-5 star-photo-box mt50m" >
								<div class="w410"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_08.png" alt=""/>
									<p class="fw400 f18 gray03 mt20">재단법인 정건강관리소</p>
								</div>
							</div>
							<div class="col-md-7  star-photo-box"  >
								<p class="f45 white gbBar">1972~2017</p>
								<ul class="gray03 star-photo-txt mt40 " >
									<li>
										<dl>
											<dd class="f18">1972.</dd>
											<dd class="f18">재단법인 정건강관리소 정식 개업</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1973. 09.</dd>
											<dd class="f18">주식회사 정식품 설립.<br class="mView">베지밀 제조공장 준공(신갈)</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1984. 07.</dd>
											<dd class="f18">베지밀 제2 제조공장 준공(청주)</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1984. 12.</dd>
											<dd class="f18">재단법인 혜춘장학회 설립 및 <br class="mView">이사장 취임</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1993. 01.</dd>
											<dd class="f18">베지밀C 한국발명특허 <br class="mView">(No. 093635) 획득</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1995. 02.</dd>
											<dd class="f18">베지밀C 호주발명특허 <br class="mView">(No. 654241) 획득</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">1995. 05.</dd>
											<dd class="f18">베지밀C 미국발명특허 <br class="mView">(U.S. Patent No. 5413803) 획득</dd>
										</dl>
									</li>
								</ul>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-6  star-photo-box " >
								<div class="w410 mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_09.png" />
									<p class="fw400 f18 gray03 mt20">1980년대의 베지밀</p>
								</div>
							
							</div>
							<div class="col-md-6  star-photo-box" >
								<div class="w410 mt50"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_10.png" />
									<p class="fw400 f18 gray03 mt20">베지밀 제조공장 준공</p>
								</div>
							</div>
							<div class="col-md-6  star-photo-box" >
								<div class="w510 mt250"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_11.png" />
									<p class="fw400 f18 gray03 mt20">베지밀 신문광고</p>
								</div>
							
							</div>
							<div class="col-md-6  star-photo-box mt50m" >
								<div class="w410"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_12.png" />
									<p class="fw400 f18 gray03 mt20">60대의 정재원 박사와 율리아여사</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-5 pt200 star-photo-box" >
								<ul class="gray03 star-photo-txt mt40" >
									<li>
										<dl>
											<dd class="f18">1998. 07.</dd>
											<dd class="f18">국제 콩 심포지엄 개최</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">2002. 03.</dd>
											<dd class="f18">명예회장</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dd class="f18">2017. 10</dd>
											<dd class="f18">별세</dd>
										</dl>
									</li>
								</ul>
								<div class=" mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_14.png" />
									<p class="fw400 f18 gray03 mt20">연구에 매진하는 정재원 박사</p>
								</div>
							</div>
							<div class="col-md-7  star-photo-box" >
								<div class=" pt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/starPhoto_13.png" />
									<p class="fw400 f18 gray03 mt20">국제 콩 심포지엄 개최</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 pt200 star-photo-box" >
								<ul class="mt40 star-foot-ul" >
									<li>
										<div class="f_pp letter10 white f80 fw700" >Right <span class="txt01">Food</span><br>Right <span class="txt02">Person</span></div>
										<div class="mt50 f18 white lh170" >
										정식품 임직원 일동은 "인류건강문화에 이 몸 바치고저"라는<br>
										정재원 명예회장님의 생명존중 정신 이념 실현을 위해,<br>
										글로벌 종합 식품 기업으로<br>
										성장해 갈 것을 약속드립니다.
										</div>
									</li>
									<li>
										<div><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/star_foot_jjy.png" /></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12  star-photo-box">
								<div class="star_foot_bg h600">
									<p class="centerH "><span class="f_pp  white" >Dr.CHUNG'S  FOOD  Heritage</span></p>
								</div>
							</div>
							<div class="col-md-12  star-photo-box" >
								<ul class="star-p">
									<li ><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/star-p01.png" alt="베지밀 에이"/>
										<p class="f_ss f16 gray03 fw300">순수 콩의 담백한 맛을 담은 정통 두유</p>
										<p class="f_ss f23 white fw500 mt10">담백한 베지밀 에이</p>
									</li>
									<li ><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/star-p02.png" alt="인펀트 우리콩 1단계"/>
										<p class="f_ss f16 gray03 fw300">100% 우리콩에 기능성분이 강화된 영&middot;유아식</p>
										<p class="f_ss f23 white fw500 mt10">베지밀 영유아식 우리콩</p>
									</li>
									<li ><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/star-p03.png" alt="그린비아 키즈"/>
										<p class="f_ss f16 gray03 fw300">영양불량 소아 환자를 위한 어린이 균형 영양식</p>
										<p class="f_ss f23 white fw500 mt10">그린비아 키즈</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-12 star_foot ">
								<div class="pb300 mt200">
									<div class="center star-youtube" ><iframe  height="470" src="https://www.youtube.com/embed/IfIpAiAGwPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
									</div>
									<div class="center">
										<p class="mt200"><img src="https://image.edaymall.com/images/dcf/vegemil/img/company/star_foot_txt.png" alt="dr.chung's food"/></p>
									</div>
									<ul class="star_foot_link ">
										<li class="f_pp f55 fw600" ><div><a href="/company/greetings">Company</a></div></li>
										<li class="f_pp f55 fw600" ><div><a href="/rnd/introduce">R&D</a></div></li>
										<li class="f_pp f55 fw600" ><div><a href="/product/list">Product</a></div></li>
										<li class="f_pp f55 fw600" ><div><a href="/communication/voc">Communication</a></div></li>
									</ul>
								</div>
								<div class="center btn_star_top"><a href="#"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/btn_star_top.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="Scroll-to-top">Scroll To Top</button>
		
		 <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
		 <script type="text/javascript" src="/common/js/smooth-scrolling.js"></script>
		 
		<!-- //smooth-scrolling -->
	</div>
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>