<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 미디어</title>
<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100">
	<div class="content100 ">
	   <div class="subTopDcfMedia h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Company</p>
				<p class="white f45 fw600">미디어</p>
			</div>
		</div>
	</div>
	<div class="contant1460" >
		<div class="subMenu">
			<p class="btnSubLeft"><a href="/company/mediaNews"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/company/mediaNews"><span>보도자료</span></a></li>
				<li class="f18 fw500 active"><a href="/company/media"><span>미디어</span></a></li>
			</ul>
			<p class="btnSubRight"><a href="/company/csr"><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
<!-- 		<p class="f14 fw400 black mt70 float-right btnType03"><a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a></p><br class="clear"> -->
    </div>
	<div class="contant1460 tabs6" >
		<div class="mt50">
			<div class="row media">
			    <div class="col-md-4 mt10">
                   <div class="pr100">
                        <p class="f60 fw600 black f_pp lh110">미디어</p>
                        <p class="f27 fw500 mt60 black">
                            건강하고 올바른 먹거리를 위해
                            사람과 진심이 함께합니다.
                        </p>
                        <p class="mt80 f18 fw400">
                            고객 건강을 위해 걸어온 신뢰할 수 있는 기업, <br >
                            (주)정식품의 홍보동영상입니다.
                        </p>
                        <p class="btnType21 mt60">
                            <a href="https://www.youtube.com/@vegemilgood" class="f16" target="_blank">정식품 유튜브 바로가기</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 mt50m">
                   <iframe width="100%" class="youtube-8" src="https://www.youtube.com/embed/kHWZhJt9mxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
			</div>
			<!-- TVCF -->
			<div class="row mt200 cfWrap">
			    <div class="col-md-12">
			        <p class="f_pp f30 fw600  ">TV CF <span class="countGold f14">35</span></p>
			    </div>
				<div class="col-md-6 mt40 " >
					<ul class="videoList force-overflow scrollbar-3  menu-style01" >
						<li class="hvr-float-shadow " >
							<a href="#cf38">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf38.jpg" data-id="M9RY0KW61SA" alt="">
							<p class="f14 fw400 gray04" >New 베지밀 프리미엄 3종 TVCF(15s ver)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf37">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf37.jpg" data-id="GXhKj-fgZ-A" alt="">
							<p class="f14 fw400 gray04">정식품 간단요리사 TVCF</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf36">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf36.jpg" data-id="W8lFbWZWS70" alt="">
							<p class="f14 fw400 gray04">2021 베지밀 영유아식CF(안현모)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf35">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf35.jpg" data-id="iLEWidHMPxI" alt="">
							<p class="f14 fw400 gray04">정식품 라잇미닛 TVCF(15s ver)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf33">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf33.jpg" data-id="mnnLgf7bwSo" alt="">
							<p class="f14 fw400 gray04">베지밀 프리미엄 3종 TVCF(new 30s ver)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf32">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf32.jpg" data-id="PK-6YyIm10Q" alt="">
							<p class="f14 fw400 gray04">2019 리얼 아몬드 CF ver1 (15s)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf31">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf31.jpg" data-id="cMPWWSvNi74" alt="">
							<p class="f14 fw400 gray04">2019 베지밀 영유아식CF(허양임)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf30">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf30.jpg" data-id="a3Gzat2QsMI" alt="">
							<p class="f14 fw400 gray04">2018 베지밀 CF (5060시니어두유 강석우 가족_자전거 가을 ver)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf29">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf29.jpg" data-id="hBdqtwOd6jU" alt="">
							<p class="f14 fw400 gray04">2018 베지밀 CF (5060시니어두유 강석우 가족_달리기 ver2)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf28">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf28.jpg" data-id="hFEslgPNJ9o" alt="">
							<p class="f14 fw400 gray04">2017년 베지밀 CF(5060 시니어두유_강석우 ver)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf25">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf25.jpg" data-id="U6RYpKmdepc" alt="">
							<p class="f14 fw400 gray04">2017년 정식품 리얼코코넛밀크, 호두밀크 TV CF</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf24">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf24.jpg" data-id="69zX_3pRRrU" alt="">
							<p class="f14 fw400 gray04">2017년 베지밀 유아식, 베지밀 건강맘 TV CF</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf22">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf22.jpg" data-id="iq_rILscatA" alt="정식품 리얼 코코넛밀크 CF(설인아)">
							<p class="f14 fw400 gray04">정식품 리얼 코코넛밀크 CF(설인아)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf21">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf21.jpg" data-id="k9ezH6-LL24" alt="2015년 베지밀 CF (하석진 15초_한팩의 과학)">
							<p class="f14 fw400 gray04">2015년 베지밀 CF (하석진 15초_한팩의 과학)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf20">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf20.jpg" data-id="G1uYYnYyJvg" alt="베지밀 CF (2015년 마신대로 이루리라 하석진)">
							<p class="f14 fw400 gray04">베지밀 CF (2015년 마신대로 이루리라 하석진)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf19">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf19.jpg" data-id="3C8l2I9fQH4" alt="베지밀 콩유아식 CF (2015년 인펀트, 토들러 베지밀 콩유아식 꿀팁 1탄_15초)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2015년 인펀트, 토들러 베지밀 콩유아식 꿀팁 1탄_15초)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf18">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf18.jpg" data-id="UXviQCZSJns" alt="베지밀 CF (2014년 베지밀B 박신혜)">
							<p class="f14 fw400 gray04">베지밀 CF (2014년 베지밀B 박신혜)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf17">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf17.jpg" data-id="vseuzBxTfA8" alt="베지밀 콩유아식 CF (2014년 베지밀 인펀트, 토들러 박신혜)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2014년 베지밀 인펀트, 토들러 박신혜)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf16">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf16.jpg" data-id="Mkfvs2ABICI" alt="베지밀 CF (2014년 베지밀A 박신혜)">
							<p class="f14 fw400 gray04">베지밀 CF (2014년 베지밀A 박신혜)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf15">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf15.jpg" data-id="J3EQ4SdVi_k" alt="베지밀 CF (2013년 베지밀 그린티 두유라떼 박신혜)">
							<p class="f14 fw400 gray04">베지밀 CF (2013년 베지밀 그린티 두유라떼 박신혜)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf14">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf14.jpg" data-id="qEJwFYIcneQ" alt="베지밀 콩유아식 CF (2012년 베지밀 인펀트, 토들러)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2012년 베지밀 인펀트, 토들러)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf13">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf13.jpg" data-id="LF-0IaGmBDc" alt="베지밀 CF (2012년 오리지날 두유 베지밀 윤승아)">
							<p class="f14 fw400 gray04">베지밀 CF (2012년 오리지날 두유 베지밀 윤승아)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf12">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf12.jpg" data-id="xujGAO3z2Wo" alt="베지밀 CF (2011년 베지밀 에이스 김상중)">
							<p class="f14 fw400 gray04">베지밀 CF (2011년 베지밀 에이스 김상중)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf11">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf11.jpg" data-id="duY9Lu3Vai4" alt="썬몬드 CF (2011년 정식품 썬몬드 정다래)">
							<p class="f14 fw400 gray04">썬몬드 CF (2011년 정식품 썬몬드 정다래)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf10">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf10.jpg" data-id="PVac13jgeTo" alt="베지밀 콩유아식 CF (2010년 베지밀 토들러 달리기편)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2010년 베지밀 토들러 달리기편)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf09">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf09.jpg" data-id="5KQhk_gLNaU" alt="베지밀 콩유아식 CF (2010년 베지밀 토들러 블럭쌓기편)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2010년 베지밀 토들러 블럭쌓기편)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf08">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf08.jpg" data-id="Sq_Jx2DjWWA" alt="베지밀 CF (2010년 녹차베지밀 프레쉬 2탄 포미닛)">
							<p class="f14 fw400 gray04">베지밀 CF (2010년 녹차베지밀 프레쉬 2탄 포미닛)</p>
							</a>
						</li>
						
						<li class="hvr-float-shadow">
							<a href="#cf06">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf06.jpg" data-id="roS3jKMfJP0" alt="베지밀 CF (2010년 녹차베지밀 프레쉬 1탄 포미닛)">
							<p class="f14 fw400 gray04">베지밀 CF (2010년 녹차베지밀 프레쉬 1탄 포미닛)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf07">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf07.jpg" data-id="DUditYi-V6k" alt="썬몬드 CF (2009년 정식품 썬몬드)">
							<p class="f14 fw400 gray04">썬몬드 CF (2009년 정식품 썬몬드)</p>
							</a>
						</li>
						
						<li class="hvr-float-shadow">
							<a href="#cf03">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf03.jpg" data-id="Hs_kQq8Mizs" alt="베지밀 CF (2008년도 녹차베지밀 프레쉬)">
							<p class="f14 fw400 gray04">베지밀 CF (2008년도 녹차베지밀 프레쉬)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf04">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf04.jpg" data-id="rw8pjFU-YJU" alt="베지밀 CF (2004년 녹차베지밀)">
							<p class="f14 fw400 gray04">베지밀 CF (2004년 녹차베지밀)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf02">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf02.jpg" data-id="FgAbIbgpO9c" alt="베지밀 콩유아식 CF (2003년 베지밀 인펀트 토들러 하희라)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2003년 베지밀 인펀트 토들러 하희라)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf01">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf01.jpg" data-id="tnHgiDy5a_s" alt="베지밀 콩유아식 CF (2003년 베지밀 콩유아식 하희라 육아일기)">
							<p class="f14 fw400 gray04">베지밀 콩유아식 CF (2003년 베지밀 콩유아식 하희라 육아일기)</p>
							</a>
						</li>
						<li class="hvr-float-shadow">
							<a href="#cf00">
							<img class="imge " src="https://image.edaymall.com/images/dcf/vegemil/upload/CF/cf00.jpg" data-id="1U7IAmyjBXs" alt="베지밀 CF (2002년 녹차베지밀 권해효)">
							<p class="f14 fw400 gray04">베지밀 CF (2002년 녹차베지밀 권해효)</p>
							</a>
						</li>
					</ul>
			    </div>
				<div class="col-md-6 mt40 mt50m">
					<div class="player-copy tab_content6 content-style01 ">
						<div id="cf38">
							<p class="f27 fw500" >New 베지밀 프리미엄 3종 TVCF(15s ver)</p>
							<p class="f13 fw500 mt10 gray04">2022.11</p>
						</div>
						<div id="cf37">
							<p class="f27 fw500" >정식품 간단요리사 TVCF</p>
							<p class="f13 fw500 mt10 gray04">2021.05</p>
						</div>
						<div id="cf36">
							<p class="f27 fw500" >2021 베지밀 영유아식CF(안현모)</p>
							<p class="f13 fw500 mt10 gray04">2021.09</p>
						</div>
						<div id="cf35">
							<p class="f27 fw500" >정식품 라잇미닛 TVCF(15s ver)</p>
							<p class="f13 fw500 mt10 gray04">2021</p>
						</div>
						<div id="cf33">
							<p class="f27 fw500" >베지밀 프리미엄 3종 TVCF(new 30s ver)</p>
							<p class="f13 fw500 mt10 gray04">2021</p>
						</div>
						<div id="cf32">
							<p class="f27 fw500" >2019 리얼 아몬드 CF ver1 (15s)</p>
							<p class="f13 fw500 mt10 gray04">2019.05</p>
						</div>
						<div id="cf31">
							<p class="f27 fw500" >2019 베지밀 영유아식CF(허양임)</p>
							<p class="f13 fw500 mt10 gray04">2019</p>
						</div>
						<div id="cf30">
							<p class="f27 fw500" >2018 베지밀 CF (5060시니어두유 강석우 가족_자전거 가을 ver)</p>
							<p class="f13 fw500 mt10 gray04">2018</p>
						</div>
					
						<div id="cf29">
							<p class="f27 fw500" >2018 베지밀 CF (5060시니어두유 강석우 가족_달리기 ver2)</p>
							<p class="f13 fw500 mt10 gray04">2018</p>
						</div>
						<div id="cf28">
							<p class="f27 fw500" >2017년 베지밀 CF(5060 시니어두유_강석우 ver)</p>
							<p class="f13 fw500 mt10 gray04">2017</p>
						</div>
						<div id="cf25">
							<p class="f27 fw500" >2017년 정식품 리얼코코넛밀크, 호두밀크 TV CF</p>
							<p class="f13 fw500 mt10 gray04">2017</p>
						</div>
						<div id="cf24">
							<p class="f27 fw500" >2017년 베지밀 유아식, 베지밀 건강맘 TV CF</p>
							<p class="f13 fw500 mt10 gray04">2017</p>
						</div>
						<div id="cf22">
							<p class="f27 fw500" >정식품 리얼 코코넛밀크 CF(설인아)</p>
							<p class="f13 fw500 mt10 gray04">2015</p>
						</div>
						<div id="cf21">
							<p class="f27 fw500" >2015년 베지밀 CF (하석진 15초_한팩의 과학)</p>
							<p class="f13 fw500 mt10 gray04">2015</p>
						</div>
						<div id="cf20">
							<p class="f27 fw500" >베지밀 CF (2015년 마신대로 이루리라 하석진)</p>
							<p class="f13 fw500 mt10 gray04">2015</p>
						</div>
						<div id="cf19">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2015년 인펀트, 토들러 베지밀 콩유아식 꿀팁 1탄_15초)</p>
							<p class="f13 fw500 mt10 gray04">2015</p>
						</div>
						<div id="cf18">
							<p class="f27 fw500" >베지밀 CF (2014년 베지밀B 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2014</p>
						</div>
						<div id="cf17">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2014년 베지밀 인펀트, 토들러 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2014</p>
						</div>
						<div id="cf16">
							<p class="f27 fw500" >베지밀 CF (2014년 베지밀A 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2014</p>
						</div>
						<div id="cf15">
							<p class="f27 fw500" >베지밀 CF (2013년 베지밀 그린티 두유라떼 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2013</p>
						</div>
						<div id="cf14">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2012년 베지밀 인펀트, 토들러)</p>
							<p class="f13 fw500 mt10 gray04">2012</p>
						</div>
						<div id="cf13">
							<p class="f27 fw500" >베지밀 CF (2012년 오리지날 두유 베지밀 윤승아)</p>
							<p class="f13 fw500 mt10 gray04">2012</p>
						</div>
						<div id="cf12">
							<p class="f27 fw500" >베지밀 CF (2011년 베지밀 에이스 김상중)</p>
							<p class="f13 fw500 mt10 gray04">2011</p>
						</div>
						<div id="cf11">
							<p class="f27 fw500" >썬몬드 CF (2011년 정식품 썬몬드 정다래)</p>
							<p class="f13 fw500 mt10 gray04">2011</p>
						</div>
						<div id="cf10">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2010년 베지밀 토들러 달리기편)</p>
							<p class="f13 fw500 mt10 gray04">2010</p>
						</div>
						<div id="cf09">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2010년 베지밀 토들러 블럭쌓기편)</p>
							<p class="f13 fw500 mt10 gray04">2010</p>
						</div>
						<div id="cf08">
							<p class="f27 fw500" >베지밀 CF (2010년 녹차베지밀 프레쉬 2탄 포미닛)</p>
							<p class="f13 fw500 mt10 gray04">2010</p>
						</div>
						
						<div id="cf07">
							<p class="f27 fw500" >썬몬드 CF (2009년 정식품 썬몬드)</p>
							<p class="f13 fw500 mt10 gray04">2009</p>
						</div>
						<div id="cf06">
							<p class="f27 fw500" >베지밀 CF (2010년 녹차베지밀 프레쉬 1탄 포미닛)</p>
							<p class="f13 fw500 mt10 gray04">2010</p>
						</div>
						
						<div id="cf03">
							<p class="f27 fw500" >베지밀 CF (2008년도 녹차베지밀 프레쉬)</p>
							<p class="f13 fw500 mt10 gray04">2008</p>
						</div>
						<div id="cf04">
							<p class="f27 fw500" >베지밀 CF (2004년 녹차베지밀)</p>
							<p class="f13 fw500 mt10 gray04">2004</p>
						</div>
						<div id="cf02">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2003년 베지밀 인펀트 토들러 하희라)</p>
							<p class="f13 fw500 mt10 gray04">2003</p>
						</div>
						<div id="cf01">
							<p class="f27 fw500" >베지밀 콩유아식 CF (2003년 베지밀 콩유아식 하희라 육아일기)</p>
							<p class="f13 fw500 mt10 gray04">2003</p>
						</div>
						<div id="cf00">
							<p class="f27 fw500" >베지밀 CF (2002년 녹차베지밀 권해효)</p>
							<p class="f13 fw500 mt10 gray04">2002</p>
						</div>
					</div>
					<div id="player" class="youtube-7 mt25">
						
					</div>
				
			    </div>
			</div>
			<!-- //TVCF -->


			<!-- Radio -->
			<div class="row mt200 cfWrap" >
			    <div class="col-md-12">
			        <p class="f_pp f30 fw600">Radio CM <span class="countGold f14">14</span></p>
			    </div>
				<div class="col-md-6 mt40 " >
					<ul class="radioList force-overflow scrollbar-3 menu-style01" >
						<li class="imge2 hvr-float-shadow" data-id="Xf3nXHwMeLY">
							<a href="#cm14">
								<div class="radioDay">2022.11</div>
								<div class="f14 fw400 gray04">정식품 라디오 CM (2022 베지밀 프리미엄 3종)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="eWRmHBE7zxs">
							<a href="#cm13">
							<div class="radioDay">2020.03</div>
							<div class="f14 fw400 gray04">정식품 라디오 CM (2020 프리미엄 3종)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="HZ4-vf2BFJg">
							<a href="#cm12">
							<div class="radioDay">2018.03</div>
							<div class="f14 fw400 gray04">정식품 라디오 CM(2018년 시니어두유 강석우 자전거편)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="KoOFmvVPqiw">
							<a href="#cm11">
							<div class="radioDay">2017.03</div>
							<div class="f14 fw400 gray04">정식품 라디오 CM (2017년 시니어두유 강석우)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="MKLdtyWSdYw">
							<a href="#cm10">
							<div class="radioDay">2015.05</div>
							<div class="f14 fw400 gray04">정식품 라디오 CM (2015년 마신대로 이루리라 하석진)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="Pq1t3cnGoi4">
							<a href="#cm09">
							<div class="radioDay">2014.09</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2014년 베지밀A,B 박신혜)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="-PI4xR6nmRc">
							<a href="#cm08">
							<div class="radioDay">2013.08</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2013년 베지밀 그린티라떼 박신혜)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="ah1k_-W6rhs">
							<a href="#cm07">
							<div class="radioDay">2012.07</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2012년 오리지날 두유 베지밀 윤승아)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="WjmY-ytbpeU">
							<a href="#cm06">
							<div class="radioDay">2011.06</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2011년 썬몬드)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="4c-anla_NY4">
							<a href="#cm05">
							<div class="radioDay">2011.05</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2011년 헛개두유 김상중)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="ze4VdzOjjIs">
							<a href="#cm04">
							<div class="radioDay">2011.05</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2011년 베지밀에이스 김상중)</div>
							</a>
						</li>
						<li class="imge2 hvr-float-shadow" data-id="drPBzm7lmT8">
							<a href="#cm03">
							<div class="radioDay">2010.03</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2010년 녹차베지밀 포미닛)</div>
							</a>
						</li>
						
						<li class="imge2 hvr-float-shadow" data-id="jhR2ldwby6U">
							<a href="#cm01">
							<div class="radioDay">2007.01</div>
							<div class="f14 fw400 gray04">정식품 라디오CM (2007년 썬몬드)</div>
							</a>
						</li>
					</ul>
			    </div>
				<div class="col-md-6 mt40 mt50m">
					<div class="player-copy tab_content6 content-style01">
						<div id="cm14">
							<p class="f27 fw500" >정식품 라디오 CM (2022 베지밀 프리미엄 3종)</p>
							<p class="f13 fw500 mt10 gray04">2022.11</p>
						</div>
						<div id="cm13">
							<p class="f27 fw500" >정식품 라디오 CM (2020 프리미엄 3종)</p>
							<p class="f13 fw500 mt10 gray04">2020.03</p>
						</div>
						<div id="cm12">
							<p class="f27 fw500" >정식품 라디오 CM(2018년 시니어두유 강석우 자전거편)</p>
							<p class="f13 fw500 mt10 gray04">2018.03</p>
						</div>
						<div id="cm11">
							<p class="f27 fw500" >정식품 라디오 CM (2017년 시니어두유 강석우)</p>
							<p class="f13 fw500 mt10 gray04">2017.03</p>
						</div>
						<div id="cm10">
							<p class="f27 fw500" >정식품 라디오 CM (2015년 마신대로 이루리라 하석진)</p>
							<p class="f13 fw500 mt10 gray04">2015.05</p>
						</div>
						<div id="cm09">
							<p class="f27 fw500" >정식품 라디오CM (2014년 베지밀A,B 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2014.09</p>
						</div>
						<div id="cm08">
							<p class="f27 fw500" >정식품 라디오CM (2013년 베지밀 그린티라떼 박신혜)</p>
							<p class="f13 fw500 mt10 gray04">2013.08</p>
						</div>


						
						<div id="cm07">
							<p class="f27 fw500" >정식품 라디오CM (2012년 오리지날 두유 베지밀 윤승아)</p>
							<p class="f13 fw500 mt10 gray04">2012.07</p>
						</div>




						<div id="cm06">
							<p class="f27 fw500" >정식품 라디오CM (2011년 썬몬드)</p>
							<p class="f13 fw500 mt10 gray04">2011.06</p>
						</div>

						<div id="cm05">
							<p class="f27 fw500" >정식품 라디오CM (2011년 헛개두유 김상중)</p>
							<p class="f13 fw500 mt10 gray04">2011.05</p>
						</div>
						<div id="cm04">
							<p class="f27 fw500" >정식품 라디오CM (2011년 베지밀에이스 김상중)</p>
							<p class="f13 fw500 mt10 gray04">2011.03</p>
						</div>
						<div id="cm03">
							<p class="f27 fw500" >정식품 라디오CM (2010년 녹차베지밀 포미닛)</p>
							<p class="f13 fw500 mt10 gray04">2010.03</p>
						</div>
						
						<div id="cm01">
							<p class="f27 fw500" >정식품 라디오CM (2007년 썬몬드)</p>
							<p class="f13 fw500 mt10 gray04">2007.01</p>
						</div>

					</div>
					<div id="player2" class="youtube-7 mt25">
					</div>
					
			    </div>
			</div>
			<!-- //Radio -->

			
			<!-- print -->
			<div class="row mt200 prWrap" id="pr">
			    <div class="col-md-12" >
			        <p class="f_pp f30 fw600">Print AD <span class="countGold f14">04</span></p>
			    </div>
				<div class="col-md-2 mt40 hvr-float-shadow" >
					<a href="#popup-pr01 ">
						<p class="f20 fw500">2023 설 명절 인쇄광고</p>
						<p class="mt10 pr-img"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2023_newyear_poster.jpg" alt="2023 설 명절 인쇄광고"/></p>
					</a>
			    </div>
				<div class="col-md-2 mt40 hvr-float-shadow" >
					<a href="#popup-pr02">
						<p class="f20 fw500">2022 추석 명절 인쇄광고</p>
						<p class="mt10 pr-img"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_ch_news.jpg" alt="2022 추석 명절 인쇄광고"/></p>
					</a>
			    </div>
				<div class="col-md-2 mt40 hvr-float-shadow" >
					<a href="#popup-pr03">
						<p class="f20 fw500">2022 그린비아 인쇄광고</p>
						<p class="mt10 pr-img"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_greenbia.jpg" alt="2022 그린비아 인쇄광고"/></p>
					</a>
			    </div>
				<div class="col-md-2 mt40 hvr-float-shadow" >
					<a href="#popup-pr04">
						<p class="f20 fw500">2022 영유아식 인쇄광고</p>
						<p class="mt10 pr-img"><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_baby.jpg" alt="2022 그린비아 인쇄광고"/></p>
					</a>
			    </div>
			</div>
			<div class="col-md-12">
				<div id="popup-pr01" class="overlay-pr">
					<div class="popup-pr">
						<p class="f18 fw500 ">2023 설 명절 인쇄광고</p>
						<a class="close" href="#pr">&times;</a>
						<div class="content mt10"><p><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2023_newyear_poster.jpg" alt="2022 추석 명절 인쇄광고"/></p></div>
					</div>
				</div>
				<div id="popup-pr02" class="overlay-pr">
					<a class="cancel" href="#"></a>
					<div class="popup-pr">
						<p class="f18 fw500 ">2022 추석 명절 인쇄광고</p>
						<a class="close" href="#pr">&times;</a>
						<div class="content mt10"><p><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_ch_news.jpg" alt="2022 추석 명절 인쇄광고"/></p></div>
					</div>
				</div>
				<div id="popup-pr03" class="overlay-pr">
					<a class="cancel" href="#"></a>
					<div class="popup-pr">
						<p class="f18 fw500 ">2022 그린비아 인쇄광고</p>
						<a class="close" href="#pr">&times;</a>
						<div class="content mt10"><p><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_greenbia.jpg" alt="2022 그린비아 인쇄광고"/></p></div>
					</div>
				</div>
				<div id="popup-pr04" class="overlay-pr">
					<a class="cancel" href="#"></a>
					<div class="popup-pr">
						<p class="f18 fw500 ">2022 영유아식 인쇄광고</p>
						<a class="close" href="#pr">&times;</a>
						<div class="content mt10"><p><img src="https://image.edaymall.com/images/dcf/vegemil/upload/PR/2022_baby.jpg" alt="2022 그린비아 인쇄광고"/></p></div>
					</div>
				</div>
			</div>
			<!-- //print -->
			<!-- etc -->
			<div class="row mt200 cfWrap">
			    <div class="col-md-12">
			        <p class="f_pp f30 fw600  ">Etc <span class="countGold f14">35</span></p>
			    </div>
				<div class="col-md-6 mt40 " >
					<ul class="videoList force-overflow scrollbar-3  menu-style01" >
						<li class="hvr-float-shadow  " >
							<a href="#om48">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om48.jpg" data-id="sskZWJ-pSnw" alt="두유의 진실 - 금나나 교수">
								<p class="f14 fw400 gray04" >나나스무디 레시피 영상(with 베지밀 무첨가 두유)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#om47">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om47.jpg" data-id="QOpoiqQfxm0" alt="두유의 진실 - 금나나 교수">
								<p class="f14 fw400 gray04" >오이 곤약 콩국수(with 정식품 진한콩국물)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#om46">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om46.jpg" data-id="VPLl-NInCig" alt="두유의 진실 - 금나나 교수">
								<p class="f14 fw400 gray04" >두유의 진실 - 금나나 교수</p>
							</a>
						</li>




						<li class="hvr-float-shadow  " >
							<a href="#om53">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om53.jpg" data-id="2SqMxB2P4TI" alt="박솔미 간단요리사 TVCF 메이킹필름">
								<p class="f14 fw400 gray04" >박솔미 간단요리사 TVCF 메이킹필름</p>
							</a>
						</li>
						<li class="hvr-float-shadow  " >
							<a href="#om52">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om52.jpg" data-id="RsHbf_wOkPw" alt="베지밀 영유아식 TVCF 비하인드 스토리">
								<p class="f14 fw400 gray04" >베지밀 영유아식 TVCF 비하인드 스토리</p>
							</a>
						</li>
						<li class="hvr-float-shadow  " >
							<a href="#om51">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om51.jpg" data-id="uLy7RNXI8eY" alt="라잇미닛 TVCF 비하인드 스토리">
								<p class="f14 fw400 gray04" >라잇미닛 TVCF 비하인드 스토리</p>
							</a>
						</li>
						<li class="hvr-float-shadow  " >
							<a href="#om50">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om50.jpg" data-id="1k2vEZ8v5F8" alt="베지밀 프리미엄 3종 TVCF 비하인드 스토리">
								<p class="f14 fw400 gray04" >베지밀 프리미엄 3종 TVCF 비하인드 스토리</p>
							</a>
						</li>
						<li class="hvr-float-shadow  " >
							<a href="#om49">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/OM/om49.jpg" data-id="lz38Lb3PWJg" alt="리얼시리즈 CF(It's Real!) 메이킹필름">
								<p class="f14 fw400 gray04" >리얼시리즈 CF(It's Real!) 메이킹필름</p>
							</a>
						</li>




						<li class="hvr-float-shadow  ">
							<a href="#vc06">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc06.jpg" data-id="2Cvw3_oPEkI" alt="What 두유 Pick?">
								<p class="f14 fw400 gray04" >What 두유 Pick?</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc07">
								<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc07.jpg" data-id="xdXaV7J4b-k" alt="당신의 원픽은? 최애 하나만 골라!">
								<p class="f14 fw400 gray04" >당신의 원픽은? 최애 하나만 골라!</p>
								</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc08">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc08.jpg" data-id="9bfAAudVIKk" alt="베지밀 답정너 물리친 썰">
							<p class="f14 fw400 gray04" >베지밀 답정너 물리친 썰</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc09">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc09.jpg" data-id="z_DOaHmnyRU" alt="마음에서 마음으로">
							<p class="f14 fw400 gray04" >마음에서 마음으로</p>
							</a>
						</li>

						<li class="hvr-float-shadow  ">
							<a href="#vc10">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc10.jpg" data-id="1R7AYWq81F8" alt="VEGEMIL is VEGEMEAL !">
							<p class="f14 fw400 gray04" >VEGEMIL is VEGEMEAL !</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc11">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc11.jpg" data-id="-_HFSGzicWs" alt="리얼 간편해, 리얼 코코넛">
							<p class="f14 fw400 gray04" >리얼 간편해, 리얼 코코넛</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc12">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc12.jpg" data-id="-IeWREQrJcQ" alt="프로지각러가 살아가는 법, 리얼 아몬드">
							<p class="f14 fw400 gray04" >리프로지각러가 살아가는 법, 리얼 아몬드</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc13">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc13.jpg" data-id="6XgGro9X8_o" alt="리얼 충전, 리얼 월넛">
							<p class="f14 fw400 gray04" >리얼 충전, 리얼 월넛</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc05">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc05.jpg" data-id="mAYeHR2a2A4" alt="리리얼 영상 사진 공모전 대상 수상작 (팀 이정우)">
							<p class="f14 fw400 gray04" >리얼 영상 사진 공모전 대상 수상작 (팀 이정우)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc04">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc04.jpg" data-id="HV7Z8ulPmwM" alt="리얼 영상 사진 공모전 최우수상 수상작 (개인 이종민)">
							<p class="f14 fw400 gray04" >리얼 영상 사진 공모전 최우수상 수상작 (개인 이종민)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc03">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc03.jpg" data-id="FlbJf7BPgMk" alt="리얼 영상 사진 공모전 최우수상 수상작 (팀 유명우)">
							<p class="f14 fw400 gray04" >리얼 영상 사진 공모전 최우수상 수상작 (팀 유명우)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  " >
							<a href="#vc02">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc02.jpg" data-id="IeoYt-MLNCk" alt="리얼 영상 사진 공모전 우수상 수상작 (팀 김주연)">
							<p class="f14 fw400 gray04" >리얼 영상 사진 공모전 우수상 수상작 (팀 김주연)</p>
							</a>
						</li>
						<li class="hvr-float-shadow  ">
							<a href="#vc01">
							<img class="imge3" src="https://image.edaymall.com/images/dcf/vegemil/upload/VC/vc01.jpg" data-id="2DibElqGAZ8" alt=" 리얼 영상 사진 공모전 우수상 수상작 (팀 문대명)">
							<p class="f14 fw400 gray04" >리얼 영상 사진 공모전 우수상 수상작 (팀 문대명)</p>
							</a>
						</li>
					
						
					</ul>
			    </div>
				<div class="col-md-6 mt40 mt50m">
					<div class="player-copy tab_content6 content-style01 ">
						<div id="om48">
							<p class="f27 fw500" >나나스무디 레시피 영상(with 베지밀 무첨가 두유)</p>
							<p class="f13 fw500 mt10 gray04">2022.05</p>
						</div>
						<div id="om47">
							<p class="f27 fw500" >오이 곤약 콩국수(with 정식품 진한콩국물)</p>
							<p class="f13 fw500 mt10 gray04">2022.05</p>
						</div>
						<div id="om46">
							<p class="f27 fw500" >두유의 진실 - 금나나 교수</p>
							<p class="f13 fw500 mt10 gray04">2022.05</p>
						</div>



						<div id="om53">
							<p class="f27 fw500" >박솔미 간단요리사 TVCF 메이킹필름</p>
							<p class="f13 fw500 mt10 gray04">2022.10</p>
						</div>
						<div id="om52">
							<p class="f27 fw500" >베지밀 영유아식 TVCF 비하인드 스토리</p>
							<p class="f13 fw500 mt10 gray04">2021.09</p>
						</div>
						
						<div id="om50">
							<p class="f27 fw500" >베지밀 프리미엄 3종 TVCF 비하인드 스토리</p>
							<p class="f13 fw500 mt10 gray04">2021.01</p>
						</div>
						<div id="om51">
							<p class="f27 fw500" >라잇미닛 TVCF 비하인드 스토리</p>
							<p class="f13 fw500 mt10 gray04">2019.01</p>
						</div>
						<div id="om49">
							<p class="f27 fw500" >리얼시리즈 CF(It's Real!) 메이킹필름</p>
							<p class="f13 fw500 mt10 gray04">2021.01</p>
						</div>






						<div id="vc06">
							<p class="f27 fw500" >What 두유 Pick?</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc07">
							<p class="f27 fw500" >당신의 원픽은? 최애 하나만 골라!</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc08">
							<p class="f27 fw500" >베지밀 답정너 물리친 썰</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc09">
							<p class="f27 fw500" >마음에서 마음으로</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc10">
							<p class="f27 fw500" >VEGEMIL is VEGEMEAL !</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc11">
							<p class="f27 fw500" >리얼 간편해, 리얼 코코넛</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc12">
							<p class="f27 fw500" >리프로지각러가 살아가는 법, 리얼 아몬드</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc13">
							<p class="f27 fw500" >리얼 충전, 리얼 월넛</p>
							<p class="f13 fw500 mt10 gray04">2019.11</p>
						</div>
						<div id="vc05">
							<p class="f27 fw500" >리얼 영상 사진 공모전 대상 수상작 (팀 이정우)</p>
							<p class="f13 fw500 mt10 gray04">2018.10.30</p>
						</div>
						<div id="vc04">
							<p class="f27 fw500" >리얼 영상 사진 공모전 최우수상 수상작 (개인 이종민)</p>
							<p class="f13 fw500 mt10 gray04">2018.10.30</p>
						</div>
						<div id="vc03">
							<p class="f27 fw500" >리얼 영상 사진 공모전 최우수상 수상작 (팀 유명우)</p>
							<p class="f13 fw500 mt10 gray04">2018.10.30</p>
						</div>
						<div id="vc02">
							<p class="f27 fw500" >리얼 영상 사진 공모전 우수상 수상작 (팀 김주연)</p>
							<p class="f13 fw500 mt10 gray04">2018.10.30</p>
						</div>
						<div id="vc01">
							<p class="f27 fw500" >리얼 영상 사진 공모전 우수상 수상작 (팀 문대명)</p>
							<p class="f13 fw500 mt10 gray04">2018.10.30</p>
						</div>

					</div>
					<div id="player3" class="youtube-7 mt25">
					</div>
			    </div>
			</div>
			<!-- //etc -->
		
			<script type="text/javascript">
				$(document).ready(function(){
					$('.cfWrap').basicTabs6();
				});
			</script>
			<script  src="/common/js/videoTab.js"></script>


		</div>
    </div>
</div>
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>