<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>정식품 관련사</title>
<head th:replace="fragments/head :: headFragment"></head>
<script src="/common/js/swiper-bundle.min.js"></script><!-- swiper(카테고리별제품 메뉴) -->
<script src="/common/js/swiper.js"></script><!-- swiper(카테고리별제품 메뉴) -->
<body>
<!-- ================================ Header ================================ -->
<header class="white" th:replace="fragments/mainHeader :: headerFragment"></header>
<!-- ================================ // Header ================================ -->
<!-- ================================ 
		Content
================================ -->
<div id="content" class="pb100 subCategoryBg">
	<div class="content100 ">
	   <div class="subTopRelatedCompany h440 mt90h">
			<div class="centerH">
				<p class="f_pp white f18 fw400">Company</p>
				<p class="white f45 fw600">관련사</p>
			</div>
		</div>
	</div>
	<div class="contant1460">
		<div class="subMenu">
			<p class="btnSubLeft"><a href="/company/history"><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayLeft.png" alt="왼쪽"/><span class="f13 fw400 gray04">Back</span></a></p>
			<ul class="submenuUL">
				<li class="f18 fw500"><a href="/company/greetings"><span>대표이사 인사말</span></a></li>
				<li class="f18 fw500"><a href="/company/profile"><span>프로필</span></a></li>
				<li class="f18 fw500"><a href="/company/history"><span>연혁</span></a></li>
				<li class="f18 fw500 active"><a href="/company/nnp"><span>관련사</span></a></li>
				<li class="f18 fw500"><a href="/company/finance"><span>공시</span></a></li>
			</ul>
			<p class="btnSubRight"><a href="/company/finance"><span class="f13 fw400 gray04">Next</span><img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_grayRight.png" alt="왼쪽"/></a></p>
		</div>
    </div>
    <div class="contant100_01">
        <div class="contant1460">
    		<div class="row">
                <div class="col-md-12 subCategory mt70">
                    <ul class=" float-left">
                        <li>
                            <a href="/company/nnp">(주)자연과사람들</a>
                        </li>
                        <li class="active">
                            <a href="/company/osse">(주)오쎄</a>
                        </li>
                        <li>
                            <a href="/company/hcf">(재)혜춘장학회</a>
                        </li>
                    </ul>
<!--                     <p class="f14 fw400 black float-right btnType03"> -->
<!--                         <a href="#"><img class="mr5" src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_share.png" alt="공유"/>공유</a> -->
<!--                     </p><br class="clear"> -->
                </div>
            </div>
		</div>
    </div>
    <div class="contant100_01 whiteBg">
        <div class="contant1460">
            <div class="row mt160">
                <div class="col-md-4">
                   <div class="companyLeftInfo01">
                        <ul>
                            <li>
                               <a href="/company/nnp">
                                   <img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_arrowPrev.jpg" alt="이전버튼">
                               </a>
                            </li>
                            <li>
                               <a href="/company/hcf">
                                   <img src="https://image.edaymall.com/images/dcf/vegemil/img/ico/ico_arrowNext.jpg" alt="다음버튼">
                               </a>
                            </li>
                       </ul>
                        <p class="f45 fw600 black mt80">
                            아름답고 건강한<br class="none">
                            생활문화 기업,<br>
                            오쎄
                        </p>
                        <p class="f18 fw300 mt50 black">
                            오쎄는 차별화 된 상품과 서비스로 고객들에게 <br class="none">
                            아름답고 건강한 라이프스타일을 제안하는 <br class="none">
                            생활 문화기업 입니다.
                        </p>
                        <p class="btnType21 mt100">
                            <a href="https://www.osse.co.kr/main/kr/default.aspx" class="f16" target="_blank">사이트 바로가기</a>
                        </p>
                    </div>
                    <div class="companyLeftInfo02 mt150">
                        <p class="f23 fw500">본사</p>
                        <div class="mt30">
                            <p class="f18">
                                <span class="f16 gray04">주소</span><br>
                                서울 성동구 아차산로 121
                            </p>
                            <p class="f18 mt30">
                                <span class="f16 gray04">전화/팩스</span><br>
                                02-318-3217~9/02-318-3216
                            </p>
                        </div>
                    </div>
                    <div class="companyLeftInfo02 mt70">
                        <p class="f23 fw500">종합온라인쇼핑몰</p>
                        <div class="mt30 center">
                            <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/edayLogo.png" alt="이데이몰 로고">
                            <p class="btnType22 mt30 f16">
                                <a href="https://www.edaymall.com/" target="_blank">사이트 바로가기</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 centerMo">
                    <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osse_01.jpg" alt="오쎄이미지" class="mt60m">
                    <div class="mt160">
                        <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osseLogo.jpg" alt="오쎄 로고">
                        <p class="f18 mt70">
							㈜오쎄는 “차별화된 전문성과 서비스로 고객의 삶을 아름답고 건강하게 만든다”는 미션 (Mission) 아래, <br class="none">
							자체 제작 화장품 및 생활용품을 포함한 뷰티 / 헬스 상품을 주력 판매하는 온라인 유통부문, 각종 식품첨가물 및 <br class="none">
							세척제를 공급하는 원료사업부문, 전문성과 창의성을 바탕으로 온 &middot; 오프라인디자인을 담당하는 <br class="none">기획디자인 부문으로 구성된 생활문화 기업입니다.
                        </p>
                    </div>
                    <ul class="mt100 companyRightInfo02">
                       <li class="col-md-3">
                            <p class="f18">종합온라인쇼핑몰 운영</p>
                            <p class="mt15">
                                <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osseIcon_01.png" alt="종합온라인쇼핑몰">
                            </p>
                            <p class="f16 gray04 mt20">
                                정직과 신뢰를 바탕으로<br>
                                하는 E-커머스 기업
                            </p>
                        </li>
                        <li class="col-md-3">
                            <p class="f18">화장품/생활용품 생산</p>
                            <p class="mt15">
                                <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osseIcon_02.png" alt="화장품/생활용품 생산">
                            </p>
                            <p class="f16 gray04 mt20">
                                고객 지향적인 천연 화장품과<br>
                                생활용품 생산의 선도 기업
                            </p>
                        </li>
                        <li class="col-md-3">
                            <p class="f18">원료 자재 공급</p>
                            <p class="mt15">
                                <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osseIcon_03.png" alt="원료 자재 공급">
                            </p>
                            <p class="f16 gray04 mt20">
                                각종 식품첨가물 및 세척제를<br>
                                공급하는 유통 전문 사업 운영
                            </p>
                        </li>
                        <li class="col-md-3">
                            <p class="f18">기획디자인</p>
                            <p class="mt15">
                                <img src="https://image.edaymall.com/images/dcf/vegemil/img/company/osseIcon_04.png" alt="기획디자인">
                            </p>
                            <p class="f16 gray04 mt20">
                                온&middot;오프라인 영역을 아우르는<br>
                                종합 브랜딩 디자인 기업
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--1460 끝-->
    </div>
    <br class="clear">
		
	</div><!-- //contant1760 -->
<!-- ================================ 
		// Content
================================ -->
<!-- ================================ Footer ================================ -->
<footer  th:replace="fragments/mainFooter :: footerFragment"></footer>
<!-- ================================ // Footer ================================ -->
</body>
</html>