<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- 2023-07-24 -->
	<title>베지밀 영유아식 인펀트 토들러</title>
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="Keywords" content="베지밀 유아식,베지밀 영유아식,베지밀 인펀트,베지밀 토들러,베지밀 인펀트 우리콩,베지밀 토들러 우리콩,베지밀 인펀트 프리미엄,베지밀 토들러 프리미엄,베지밀 아기두유,베지밀 1단계,베지밀 2단계,베지밀 3단계" />
	<meta name="description" content="정식품 영유아식에서 식물성 균형영양식 정보와 유용한 컨텐츠를 만나 보세요"/>
	<meta property="og:type" content="website" /> 
	<meta property="og:title" content="정식품 영유아식 브랜드사이트" />
	<meta property="og:url" content="https://www.vegemil.co.kr/vegemilBaby/index" />
	<meta property="og:image" content="https://image.edaymall.com/images/dcf/vegemil/vegemilBaby/mainTop_banner01.jpg" />
	<meta property="og:description" content="정식품 영유아식에서 식물성 균형영양식 정보와 유용한 컨텐츠를 만나 보세요"/>
	<!-- //2023-07-24 -->
	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/><!-- 파비콘 추가 -->
	
	<!-- ========== CSS ========== -->
	<link href="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/css/reset.css" rel="stylesheet">
	<link href="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/css/style.css" rel="stylesheet">	
	<link href="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/css/modality.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	
	
	<!-- ========== JS ========== -->
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jquery.1.11.1.min.js" type="text/javascript"></script>	
	<!-- slider -->
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jquery.touchSwipe.1.6.min.js" type="text/javascript"></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/prrple.slider.js" type="text/javascript"></script>
	<!-- circular -->
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jquery.rotating-slider.js" type="text/javascript"></script> 
	<!-- nav -->
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jquery.slicknav.min.js" type="text/javascript"></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/script.js" type="text/javascript"></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/modality.js" type="text/javascript"></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jptab.js" type="text/javascript" ></script>
	<script src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/js/jquery.collapse.js" type="text/javascript" ></script>

	<!-- Google tag (gtag.js) 구버전-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141294099-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-141294099-1');
	</script>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1YK5SP1WL"></script> 
	<script> 
	    window.dataLayer = window.dataLayer || []; 
	    function gtag(){dataLayer.push(arguments);} 
	    gtag('js', new Date()); gtag('config', 'G-S1YK5SP1WL'); 
	</script>
	<!-- // Google tag (gtag.js)-->
	
	<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "Person",
     "name": "정식품",
     "url": "https://www.vegemil.co.kr/",
     "sameAs": [
            "https://www.facebook.com/vegemilgood",
            "https://www.instagram.com/vegemil.official/",
            "https://www.youtube.com/user/vegemilgood/",
            "https://blog.naver.com/vegemilstory",
            "https://smartstore.naver.com/dcfwithedaymall"
     ]
    }
    </script>

</head>
</html>