<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<header th:fragment="headerFragment">
<!-- include적용시 스크립트영역 노출안되는 부분때문에 mainHeader.html에서 스크립트적용. 개발시 삭제할것  -->
<!-- <script>
$(document).ready(function(){
    // Slicknav menu
    $('.navbar-nav').slicknav({
        allowParentLinks: true,
        label: "",
        closedSymbol: '<i class="fa fa-chevron-down" aria-hidden="true"></i>',
        openedSymbol :'<i class="fa fa-chevron-up" aria-hidden="true"></i>'
    });
  
  // menu click event
  $('.slicknav_btn').click(function() {
    $(this).toggleClass('act');
      if($(this).hasClass('act')) {
        $('.slicknav_menu').addClass('act');
      }
      else {
        $('.slicknav_menu').removeClass('act');
      }
  });
});
</script>

<script>
$(function(){
	var duration = 300;
	var $aside = $('.page-main > aside');
	var $asideButton = $aside.find('button')
		.on('click', function(){
			$aside.toggleClass('open');
			if($aside.hasClass('open')) {
				$aside.stop(true).animate({left:'-70px'}, duration, 'swing');
				$asideButton.find('img').attr('src','img/btn_close.png');
			} else{
				$aside.stop(true).animate({left:'-350px'}, duration, 'swing');
				$asideButton.find('img').attr('src','img/btn_open.png');
			};

		});
});
</script>

 -->

<div class="navbar-wrapper">
		<!-- nav -->
		<nav id="primary-navigation">
		<div class="container-fluid_">
			<div class="navbar-header">
				<a th:href="@{/vegemilBaby/index}"  class="site-title yellow-text"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/logo.gif" alt="베지밀 영유아식"/></a>
			</div>
			<!-- 2024-07-09 -->
			<div class="page-main mView" >
				<div id="myNav" class="overlay">
				  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				  <div class="overlay-content">
					<a href="#">About</a>
					<a href="#">Services</a>
					<a href="#">Clients</a>
					<a href="#">Contact</a>
				  </div>
				</div><!-- //myNav -->
				<span class="myNav_ham" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
			</div>

			<script>
				function openNav() {
				  document.getElementById("myNav").style.width = "100%";
				}

				function closeNav() {
				  document.getElementById("myNav").style.width = "0%";
				}
			</script>
			<!-- //2024-07-09 -->
			
			<div class="main-menu" id="perfect-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active dropdown">
						<a href="#" class="dropdown-toggle">Brand <i class="fa hidden-xs" aria-hidden="true"></i></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/vegemilBaby/brand}">브랜드소개</a></li>
							<li><a th:href="@{/vegemilBaby/nutrition}">영양</a></li>
							<li><a th:href="@{/vegemilBaby/safe}">안심플러스</a></li>
							<li><a th:href="@{/vegemilBaby/tv}">TV 광고</a></li>
						</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Product<i class="fa hidden-xs" aria-hidden="true"></i></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/vegemilBaby/premium}">프리미엄</a></li>
						<li><a th:href="@{/vegemilBaby/belief}">우리콩</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Event<i class="fa hidden-xs" aria-hidden="true"></i></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/vegemilBaby/bv_event}">진행 중 이벤트</a></li>
						<li><a th:href="@{/vegemilBaby/event_review_best}">후기 이벤트</a></li>
						<li><a th:href="@{/vegemilBaby/event/model}">아기 달력모델 선발대회</a></li>
						<li><a th:href="@{/vegemilBaby/sample}">샘플신청</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Community<i class="fa hidden-xs" aria-hidden="true"></i></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/vegemilBaby/magazine?category=all}">육아정보</a></li>
						<li><a th:href="@{/vegemilBaby/qna}">육아상담 Q&amp;A</a></li>
						<li><a th:href="@{/vegemilBaby/recipe}">영&middot;유아식 레시피</a></li>		
					</ul>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Support<i class="fa hidden-xs" aria-hidden="true"></i></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/vegemilBaby/faq}">제품 FAQ</a></li>
						<li><a th:href="@{/vegemilBaby/lactation}">수유법</a></li>		
					</ul>
					</li>
				</ul>
			
				<!-- sns-menu -->
				<!-- <img src="./html/img/ico_log2.png" class="hvr-float"/>		-->
				<ul class="tools" id="buttons2">
						
					<li class="shop" ><a href="http://www.edaymall.com/display/specialBrandViewDetail.do?brandCodeYn=10&level=5&cateCode=20000029&pCateCode=20000002" class="hvr-float"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/ico_shop2.png" alt="샵"/><p class="mt5">SHOP</p></a></li>
					<li class="login"><a href="#pop_Login" class="hvr-float"><img class="wView" src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/2024/ico_log2.png" alternatetext="로그인"><p class="mt5">LOGIN</p></a></li>
					<li>
						<a href="http://www.vegemil.co.kr/main/member/terms.aspx" class="hvr-float">
							<img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/ico_love2.png" alt="조인"/>
							<p class="mt5">JOIN</p>
						</a>
					</li>
					<li class="sns"><a href="https://www.instagram.com/vegemil.official/?hl=ko" class="hvr-bounce-to-top"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/snsBtn_05_off.png" alt="인스타"/></a></li>
					<li class="sns"><a href="https://www.facebook.com/vegemilgood" class="hvr-bounce-to-top"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/snsBtn_01_off.png" alt="페이스북"/></a></li>
					<li class="sns"><a href="https://blog.naver.com/PostList.nhn?blogId=vegemilstory" class="hvr-bounce-to-top"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/snsBtn_02_off.png" alt="블로그"/></a></li>
					<li class="sns"><a href="https://www.youtube.com/channel/UCq8X6Ll0ZjacC4-M-vicVpw" class="hvr-bounce-to-top"><img src="https://image.edaymall.com/images/mail/news/dcf/baby2024/html/img/snsBtn_03_off.png" alt="유튜브"/></a></li>
					
					
				</ul>
				<!-- //sns-menu -->

			</div>
		</div>
	</nav>
	<!-- //nav-->
</div>

</header>
</html>
	